{#
/**
 * @file
 * Default theme implementation for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldeset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
		 of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see template_preprocess_fieldset()
 *
 * @ingroup themeable
 */
#}
{%- set fieldset_name = legend.title['#markup'] | lower | replace({' ': '-'}) -%}
{%-
	set classes = [
		'js-form-item',
		'form-item',
		'js-form-wrapper',
		'form-wrapper',
		'fieldset--' ~ fieldset_name,
	]
-%}
<fieldset{{ attributes.addClass(classes) }}>
	{%-
		set legend_span_classes = [
			'fieldset-legend-text',
			required ? 'js-form-required',
			required ? 'form-required',
		]
	-%}
	{#  Always wrap fieldset legends in a <span> for CSS positioning. #}
	<legend{{ legend.attributes }}><span class="fieldset-legend"><span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span><span class="counter"></span></span></legend>
	<div class="fieldset-wrapper">
	{%- if errors -%}
		<div>{{ errors }}</div>
	{%- endif -%}
	{%- if prefix -%}
		<span class="field-prefix">{{ prefix }}</span>
	{%- endif -%}
	{{ children }}
	{%- if 'filter' in fieldset_name -%}
		<div class="fieldset-actions">
			<button class="btn btn-small btn-primary btn-solid btn--apply" data-apply="{{ 'fieldset--' ~ fieldset_name }}">Apply Filters</button>
			<button class="btn btn-small btn-primary btn--reset" data-reset="{{ 'fieldset--' ~ fieldset_name }}">Reset Filters</button>
		</div>
	{%- endif -%}
	{%- if suffix -%}
		<span class="field-suffix">{{ suffix }}</span>
	{%- endif -%}
	{%- if description.content -%}
		<div{{ description.attributes.addClass('description') }}>{{ description.content }}</div>
	{%- endif -%}
	</div>
</fieldset>
