/**
	* Webfonts
	*
	* Imports local webfonts
	* Note: External fonts (Typekit/Proxima Nova) are imported in `<theme>/loyola.libraries.yml`
	*
*/

/*
	This font software is the property of Commercial Type.
	You may not modify the font software, use it on another website, or install it on a computer.
	License information is available at http://commercialtype.com/eula
	For more information please visit Commercial Type at http://commercialtype.com or email us at info[at]commercialtype.com

	Copyright (C) 2018 Schwartzco Inc.
	License: 1803-EIIDVY
*/

@font-face {
	font-family: 'Duplicate Ionic Web';
	src: local("Duplicate Ionic Light"), local("DuplicateIonic-Light-Web");
	src: url('../assets/fonts/DuplicateIonic-Light-Web.woff2') format('woff2'),
		url('../assets/fonts/DuplicateIonic-Light-Web.woff') format('woff'),
		url('../assets/fonts/DuplicateIonic-Light-Web.eot') format('embedded-opentype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Duplicate Ionic Web';
	src: local('Duplicate Ionic'), local('DuplicateIonic-Regular-Web');
	src: url('../assets/fonts/DuplicateIonic-Regular-Web.woff2') format('woff2'),
		url('../assets/fonts/DuplicateIonic-Regular-Web.woff') format('woff'),
		url('../assets/fonts/DuplicateIonic-Regular-Web.eot') format('embedded-opentype');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Duplicate Ionic Web';
	src: local('Duplicate Ionic Regular Italic'), local('DuplicateIonic-Regular-Web');
	src: url('../assets/fonts/DuplicateIonic-RegularItalic-Web.woff2') format('woff2'),
		url('../assets/fonts/DuplicateIonic-RegularItalic-Web.woff') format('woff'),
		url('../assets/fonts/DuplicateIonic-RegularItalic-Web.eot') format('embedded-opentype');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Duplicate Ionic Web';
	src: local('Duplicate Ionic Bold'), local('DuplicateIonic-Bold-Web');
	src: url('../assets/fonts/DuplicateIonic-Bold-Web.woff2') format('woff2'),
		url('../assets/fonts/DuplicateIonic-Bold-Web.woff') format('woff'),
		url('../assets/fonts/DuplicateIonic-Bold-Web.eot') format('embedded-opentype');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}


/*
Font: 		Faith And Glory One
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T5815/faith-and-glory
Foundry: 	Set Sail Studios
Foundry: 	https://www.youworkforthem.com/designer/527/set-sail-studios
Copyright:	Copyright (c) 2015 by Set Sail Studios. All rights reserved.
Version: 	17
Created:	October 20, 2016
License: 	https://www.youworkforthem.com/font-license
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted
			from using the WebFonts(s) listed without a purchased license.
			All details above must always remain unaltered and visible in your CSS.
*/

// Faith and Glory
@font-face {
    font-family: 'Faith And Glory One';
    src: local('Faith And Glory One'), local('faith-and-glory-one');
	src: url('../assets/fonts/faith-and-glory-one.woff2') format('woff2'),
        url('../assets/fonts/faith-and-glory-one.woff') format('woff'),
        url('../assets/fonts/faith-and-glory-one.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: 'Faith And Glory Two';
    src: local('Faith And Glory Two'), local('faith-and-glory-two');
	src: url('../assets/fonts/faith-and-glory-two.woff2') format('woff2'),
        url('../assets/fonts/faith-and-glory-two.woff') format('woff'),
        url('../assets/fonts/faith-and-glory-two.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}


// Proxima Nova
/*
This CSS resource incorporates links to font software which is the valuable copyrighted
property of Monotype Imaging and/or its suppliers. You may not attempt to copy, install,
redistribute, convert, modify or reverse engineer this font software. Please contact Monotype
Imaging with any questions regarding Web Fonts:  http://www.fonts.com
*/
@font-face{
	font-family: "Proxima Nova";
	src: local('ProximaNova-Light'), local('Proxima N W01 Light'),
		url("../assets/fonts/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix") format("eot"),
		url("../assets/fonts/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"),
		url("../assets/fonts/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),
		url("../assets/fonts/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype"),
		url("../assets/fonts/2a961063-ea56-4a4b-8cea-bdae32edb0e2.svg#2a961063-ea56-4a4b-8cea-bdae32edb0e2") format("svg");
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

// @font-face{
// 	font-family: "Proxima Nova";
// 	src: local('Proxima Nova'), local('ProximaNova-Regular'),
// 		url("../assets/fonts/Proxima Nova Alt Regular-webfont.woff") format("woff"),
// 		url("../assets/fonts/Proxima Nova Alt Regular-webfont.ttf") format("truetype");
// 	font-weight: 400;
// 	font-style: normal;
// 	font-display: swap;
// }

@font-face{
	font-family: "Proxima Nova";
	src: local('Proxima Nova Semibold'), local('Proxima N W01 Smbd'),
		url("../assets/fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix") format("eot"),
		url("../assets/fonts/ae47a7f5-89da-4879-b934-29722c3dd451.woff2") format("woff2"),
		url("../assets/fonts/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),
		url("../assets/fonts/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype"),
		url("../assets/fonts/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c") format("svg");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

