/**
  * Module Overrides
  *
  * Affects third-party module styling
  *
*/

// drupal admin bar
#toolbar-administration {
	position: relative;
	z-index: 1;
}
.toolbar .toolbar-tray-vertical.is-active,
body.toolbar-fixed .toolbar .toolbar-tray-vertical {
	height: 100vh;
	position: absolute;
}

input.cke_dialog_ui_checkbox_input,
input.cke_dialog_ui_radio_input {
	&:focus,
	&:active {
		outline: 1px dotted $gray-light;
	}
}


.eu-cookie-compliance-banner {
	background-color: $brand-secondary;

	.eu-cookie-compliance-content {
		@extend .container;
		color: #fff;
		font-size: 0.875rem;
		max-width: none;
		padding: ($padding-base-horizontal * 2);

		.eu-cookie-compliance-message {
			max-width: none;
			float: none;

			button {
				font-size: inherit;
				font-weight: inherit;
			}
		}

		h2, h3 {
			font-family: $font-family-sans-serif;
			font-weight: bold;
			font-size: 1.125rem;
			letter-spacing: 0.03125rem;
			line-height: 1.3;
			margin: 0 0 0.5rem;
		}

		p {
			color: inherit;
			display: inline-block;
			font-size: inherit;
			margin-bottom: 0;

			a {
				color: #fff;
				display: block;
				font-family: $font-family-serif;
				font-weight: bold;
				margin-top: 0.5rem;
				text-decoration: none;

				+ p {
					margin-top: 0.5rem;
				}

				&::after {
					content: '\f105';
					display: inline-block;
					vertical-align: baseline;
					font-family: $icon-font-name;
					font-weight: normal;
					line-height: 1;
					padding-left: 0.125em;
					transition: transform 0.15s $ease, color 0.15s $ease;
					transform: translateY(1px);
					font-size: 1.25em;
				}

				&:hover {
					&::after {
						transform: translate3d(3px, 1px, 0);
					}
				}
			}
		}

		button {
			appearance: none;
			background: transparent;
			border: none;
			box-shadow: none;
			color: inherit;
			display: inline-block;
			font-size: 0.75rem;
			line-height: 1;
			padding: 0;
			text-shadow: none;
			text-decoration: underline;
		}

		.eu-cookie-compliance-buttons {
			float: none;
			display: flex;
			justify-content: space-between;
			margin-top: 1.25rem;
			margin-bottom: 0;
			max-width: none;

			button {
				margin: 0;

				+ button {
					margin-left: 1em;
				}
			}

			.agree-button {
				background-color: $yellow;
				border: 2px solid $yellow;
				border-radius: 0;
				color: $gray-med;
				text-transform: uppercase;
				text-decoration: none;
				box-shadow: none;
				font-size: 0.875rem;
				font-weight: bold;
				line-height: 1;
				letter-spacing: 0.0625em;
				padding: 0.9375em 2.25em 0.875em;
				min-width: 12.5rem;
				transition: background-color 0.15s $ease, border 0.15s $ease, color 0.15s $ease;

				&:hover {
					background-color: $gold;
					border-color: $gold;
					color: $gray-dark;
				}
			}
		}
	}
}

// bootstrap paragraphs
.paragraph {
	&.paragraph--type--bp-simple {
		> .paragraph__column {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.juicer-feed {
	font-family: inherit;
	list-style-type: none;

	.j-paginate {
		font-family: inherit;
	}

	.j-stacker-wrapper {
		.j-stacker {
			.j-stack {
				display: flex !important;
				flex-wrap: wrap;

				.feed-item {
					background-color: transparent;
					margin: 0;
					flex-basis: 20%;
					flex-shrink: 0;
					flex-grow: 1;

					> a {
						display: block;
						width: 100%;
						height: 0;
						padding-bottom: 100%;
						position: relative;
						z-index: 0;
					}

					img {
						object-fit: cover;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100% !important;
						z-index: 0;
					}

					.j-message {
						font-size: 0.875rem;

						p {
							font-size: inherit;
						}
					}

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}

}



//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-sm) {
	.eu-cookie-compliance-banner {
		.eu-cookie-compliance-content {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: ($padding-base-horizontal * 4) $padding-base-horizontal;

			p {
				display: inline-block;
			}

			.eu-cookie-compliance-message {
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 75%;
				text-align: left;
			}

			.eu-cookie-compliance-buttons {
				flex-grow: 0;
				flex-shrink: 1;
				flex-basis: 25%;
				justify-content: flex-end;
				margin-top: 0;
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.eu-cookie-compliance-banner {
		.eu-cookie-compliance-content {
			font-size: 0.9375rem;
			padding-top: ($padding-base-horizontal * 5);
			padding-bottom: ($padding-base-horizontal * 5);

			h2, h3 {
				font-size: 1.375rem;
			}
		}
	}
}