{%-
	set classes = [
		'view',
		'view--peoplelisting',
		'view-' ~ id|clean_class,
		'view-id-' ~ id,
		'view-display-id-' ~ display_id,
		dom_id ? 'js-view-dom-id-' ~ dom_id,
	]
-%}
<div{{ attributes.addClass(classes) }}>
	{{ title_prefix }}
	{% if title %}
		{{ title }}
	{% endif %}
	{{ title_suffix }}
	<div class="peoplelisting__intro">
		{% if header %}
		<div class="view-header">
			{{ header }}
		</div>
		{% endif %}
		{% if exposed %}
		<div class="view-filters form-group">
			{{ exposed }}
		</div>
		{% endif %}
	</div><!-- .peoplelisting__intro -->
	{% if attachment_before %}
		<div class="attachment attachment-before">
			{{ attachment_before }}
		</div>
	{% endif %}

	{% if rows %}
		<div class="card-view view-content views-infinite-scroll-content-wrapper" data-drupal-views-infinite-scroll-content-wrapper>
		{% include '@loyola/partials/peopleview-card.html.twig' %}
		</div><!-- .card-view -->
	{% elseif empty %}
		<div class="view-empty">
			{{ empty }}
		</div>
	{% endif %}

	{% if pager %}
		{{ pager }}
	{% endif %}
	{% if attachment_after %}
		<div class="attachment attachment-after">
			{{ attachment_after }}
		</div>
	{% endif %}
	{% if more %}
		<div class="eventslisting__more">
		{{ more }}
		</div>
	{% endif %}
	{% if footer %}
		<div class="view-footer">
			{{ footer }}
		</div>
	{% endif %}
</div>
