{%-
	set classes = [
		'view-display-id-' ~ display_id,
		dom_id ? 'js-view-dom-id-' ~ dom_id,
	]
-%}
<div{{ attributes.addClass(classes) }}>
	<div class="finder-view__intro">
		{%- if header %}
		<div class="finder-view__header">
		{{ header }}
		</div>
		{%- endif %}

		{%- if exposed %}
		<div class="finder-view__filters form-group">
		{{ exposed }}
		</div>
		{%- endif -%}
	</div><!-- .finder-view__intro -->

	{%- if rows -%}
	<div class="finder-view__results">
		<div class="finder__grid card-view views-infinite-scroll-content-wrapper" data-drupal-views-infinite-scroll-content-wrapper>
		{% include '@loyola/partials/programview-card.html.twig' %}
		</div>
	</div><!-- .finder-view__results -->
	{%- elseif empty -%}
	<div class="finder-view__empty view-empty">
	{{ empty }}
		<button class="btn btn-small btn-primary btn--reset">Reset search</button>
	</div><!-- .finder-view__empty -->
	{%- endif -%}

	{%- if pager -%}
	{{ pager }}
	{%- endif -%}

	{%- if more -%}
	<div class="finder-view__more">
	{{ more }}
	</div>
	{%- endif -%}

	{%- if footer -%}
	<div class="finder-view__footer">
	{{ footer }}
	</div>
	{%- endif -%}
</div><!-- {{ 'view-display-id-' ~ display_id }} -->
