/**
  * Events view and content type
  *
  * Templates:
  * `<theme>/templates/views/views-view--events-listing-view.html.twig`
  * `<theme>/templates/views/views-view-list--events-listing-view.html.twig`
  * `<theme>/templates/node/node--events.html.twig`
  *
*/

.path-events-listing-view,
.paragraph--type--event-listing {  // events view
	.view--eventslisting {
		.masonry-view {
			height: auto !important;
		}
	}

	// filters and search
	.eventslisting__intro {
		padding: ($padding-base-horizontal * 2) $padding-base-horizontal $padding-base-horizontal;
		position: relative;
		z-index: 2;

		&::after {
			background-color: $gray-lighter;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: -($padding-base-horizontal);
			right: -($padding-base-horizontal);
			height: 100%;
			z-index: -1;
		}

		.form-inline,
		.form--inline {
			display: flex;
			flex-direction: column-reverse;

			.form-item {
				float: none;
				width: 100%;

				.control-label {
					color: $gray-med;
					display: block;
					font-size: 0.75rem;
					margin-bottom: 0.5rem;
				}

				.input-group {
					border: 1px solid $gray-light;
					border-radius: $border-radius-base;
					transition: border 0.15s $ease;

					.form-text {
						border-color: transparent;
					}

					.input-group-addon {
						background-color: #fff;
						border: none;
						border-radius: $border-radius-base;
						font-size: 1rem;

						&::before {
							color: $brand-secondary;
							font-family: $icon-font-name;
							content: '\f002';
							pointer-events: none;
						}

						.icon {
							display: none;
						}
					}

					&:focus-within {
						border-color: #a3a3a3;
					}
				}
			}

			.select-wrapper {
				width: 100%;

				> select {
					&.form-control {
						background-color: #fff;
					}
				}
			}
		}
	}

	// view
	.event-view {
		list-style-type: none;
		margin-top: ($padding-base-horizontal * 2);
		margin-bottom: ($padding-base-horizontal * 2);
		padding: 0;

		.card-item {
			font-family: $font-family-base;
			flex-direction: column;
			overflow: visible;
			padding: 0;
			margin: 0 0 ($padding-base-horizontal * 2);
			position: relative;
			width: 100%;

			&__wrapper {
				position: relative;
				z-index: 0;
			}

			&__title {
				color: $gray-dark;
				font-family: $font-family-serif;
				font-size: 1rem;
				font-weight: normal;
				margin-top: 1rem;
				margin-bottom: 0.5rem;
				padding: 0;
			}

			&__image {
				object-fit: cover;
				width: 100%;
				z-index: -1;
				display: inline-block;
				height: 0;
				border-bottom: 5px solid $gold;
				padding-bottom: 56.25%;
				position: relative;
				z-index: 0;

				.img-responsive {
					object-fit: cover;
					height: 100%;
					width: 100%;
					position: absolute;
					top: 0;
					left: 0;
				}

				+ .card-item__title {
					margin-top: $padding-base-vertical;
				}
			}

			&__body {  // description
				font-size: 0.875rem;
				padding: 0 $padding-large-vertical;

				p, li, dt, dd, td {
					font-size: inherit;
					margin-bottom: 0;

					+ p, li, dt, dd, td {
						margin-top: $padding-large-vertical;
					}
				}
			}

			&__meta,
			&__category {  // tag elements
				margin: 0;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
			}

			&__meta {
				color: #fff;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: stretch;
				font-family: inherit;
				font-size: 1rem;
				font-weight: bold;
				top: 0;
				pointer-events: none;

				span {
					background-color: $brand-secondary;
					color: #fff;
					display: block;
					font-size: inherit;
					font-family: inherit;
					line-height: 1;
					padding: $padding-base-vertical 0;
				}

				time {
					background-color: $brand-secondary;
					color: #fff;
					display: block;
					font-size: inherit;
					font-family: inherit;
					line-height: 1;
					margin-right: 0;
					padding: $padding-base-vertical;
					text-align: center;

					&:first-of-type {
						padding-left: $padding-large-vertical;
					}
				}
			}

			&__category {
				color: #fff;
				display: flex;
				font-size: 0.75rem;
				font-weight: bold;
				letter-spacing: 0.01875rem;
				pointer-events: none;
				user-select: none;
				top: 1.5625rem;
				width: 100%;

				.category-item {
					background-color: $brand-secondary;
					color: inherit;
					display: inline-block;
					font-size: inherit;
					line-height: 1;
					max-width: 15em;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					padding: 4px $padding-base-vertical;
					padding-left: 0;

					&:first-of-type {
						padding-left: $padding-large-vertical;
					}
				}

				&:empty {
					display: none;
					padding: 0;
				}
			}

			&__atc {  // add to calendar link
				display: block;
				font-family: $font-family-serif;
				font-size: 0.75rem;
				padding: $padding-large-vertical;
				position: relative;
				z-index: 3;
			}
		}

		.card--noimage {
			background-color: $brand-secondary;
			color: #fff;
			height: 100%;
			width: 100%;
			z-index: 0;

			.noimage {
				display: block;
				padding-bottom: 56.25%;
			}

			.card-item__title,
			.card-item__body {
				color: inherit;
				position: relative;
				z-index: 1;

				a {
					&:hover {
						color: #fff;
					}
				}
			}

			.card-item__body {
				padding: $padding-large-vertical;
			}

			.card-item__title {
				font-family: $font-family-base;
				font-size: 1.375rem;
				font-weight: bold;
				border: none;
				border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
				padding: 0 0 0.5rem;
				transition: border-bottom 0.2s $ease;

				a {
					display: block;

					&:focus {
						color: currentColor;
						text-decoration: underline;
					}
				}

				&:hover {
					border-bottom: 1px solid currentColor;
				}
			}

			.card-item__atc {
				color: inherit;
				padding-left: $padding-large-vertical;

				.atcb-link {
					color: inherit;
				}
			}
		}

		.card-item {
			&:nth-child(2n) {
				.card--noimage {
					background-color: $yellow;
					color: $gray-dark;

					.card-item__meta time,
					.card-item__meta span,
					.card-item__category .category-item {
						background-color: $yellow;
						color: $gray-dark;
					}

					.card-item__body {
						a {
							&:hover {
								color: inherit;
							}
						}
					}

					.card-item__title {
						border-bottom-color: rgba(0, 0, 0, 0.2);

						&:hover {
							border-bottom-color: currentColor;
						}
					}
				}
			}

			&:nth-child(3n) {
				.card--noimage {
					background-color: $teal;
					color: #fff;

					.card-item__meta time,
					.card-item__meta span,
					.card-item__category .category-item {
						background-color: $teal;
						color: #fff;
					}
				}
			}
		}
	}
}

.addtocalendar {
	.placeholder {
		color: inherit;
		display: inline-block;
		font-style: normal;
		font-weight: bold;
		padding: $padding-base-vertical 0;
		user-select: none;

		&::before {
			content: '+\00a0';
			display: inline-block;
		}
	}

	.atcb-link {
		&:focus,
		&:hover {
			color: $brand-primary;
		}
	}

	.atcb-list {
		background-color: $yellow;
		box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.1);
		color: #fff;
		margin: 0;
		padding: 0;
	}

	.atcb-item {
		background-color: transparent;
		font-size: 0.875rem;
		padding-left: 0;

		&::before {
			content: none;
		}
	}

	.atcb-item-link {
		color: $gray-dark;
		font-size: 0.8125rem;
		line-height: 1;
		padding: $padding-large-vertical $padding-base-horizontal;
		transition: background-color 0.15s $ease;

		&:hover {
			background-color: $gold;
		}
	}
}

.event-item {  // event content type
	&__wrapper {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-top: ($padding-base-horizontal * 3);

		h2 {  // event subheading
			font-size: 1.125rem;
			line-height: 1.444;
			line-height: calc(13/9);
		}
	}

	.page-header {
		color: $brand-secondary;
		border-bottom: 0;
		margin-top: $padding-base-horizontal;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.page-subhead {
		font-family: $font-family-base;
		font-weight: bold;
		margin-top: $padding-base-horizontal;
	}

	&__details {  // detail table structure
		margin-top: $padding-large-horizontal;
		margin-bottom: ($padding-base-horizontal * 2);

		.detail-row {
			display: flex;
			flex-wrap: wrap;
		}

		.detail-item {
			flex-basis: 100%;
			font-size: 0.875rem;
			flex-shrink: 0;
			flex-grow: 0;
			padding: $padding-large-vertical 0 $padding-base-horizontal;
			position: relative;

			.detail-inline {
				time {
					display: inline-block;
				}
			}

			p {
				font-size: inherit;
				margin-bottom: 0;

				> a {
					font-weight: bold;
				}
			}

			li, dt, dd, td {
				font-size: inherit;
				margin-bottom: 0;
			}

			time {
				display: block;
			}

			.field--type-text-long {
				@include overflow-scroll;
				max-height: 15rem;
			}
		}

		&.primary {
			.detail-row {
				background-color: $gray-lighter;
				border-top: 1px solid $gray-light;
				border-right: 1px solid $gray-light;

				+ .detail-row {
					border-top: 0;
				}
			}

			.detail-item {
				border-left: 1px solid $gray-light;
				border-bottom: 1px solid $gray-light;
				padding-left: $padding-large-horizontal;
				padding-right: $padding-large-horizontal;

				.ticket-link {
					display: inline-flex;
					align-items: center;
					line-height: 1;
					font-weight: bold;
					margin-left: 1.25rem;

					.fa {
						color: inherit;
						font-size: 0.6875rem;
						margin-left: 0.25rem;
						margin-top: -0.06875rem;
					}
				}
			}
		}

		h3, h4 {
			font-family: $font-family-base;
			font-weight: bold;
			line-height: 1;
			margin-top: $padding-base-vertical;
		}

		h3 {  // main detail heading
			font-size: 1rem;
		}

		h4 {  // secondary detail heading
			font-size: 0.8125rem;
			border-bottom: 1px solid $gray-light;
			margin-top: 0;
			padding-bottom: $padding-base-vertical;
		}

		.platforms {
			display: flex;
			list-style-type: none;
			margin-bottom: 0;

			li {
				margin-bottom: 0;

				+ li {
					margin-left: 1.5rem;
				}

				.fa {
					font-size: inherit;
				}
			}
		}

		.detail-third,
		.detail-two-third,
		.detail-fullwidth {
			font-size: 0.75rem;
		}

		.detail-half {
			&::after {
				content: '';
				background: transparent linear-gradient(
					to bottom,
					rgba(247, 247, 247, 0.33) 0%,
					rgba(247, 247, 247, 1) 40%
				);
				background-repeat: repeat-x;
				display: block;
				position: absolute;
				pointer-events: none;
				bottom: 0;
				left: 0;
				width: 100%;
				height: $padding-large-horizontal;
			}
		}
	}

	&__social {
		visibility: hidden;
		position: absolute;
		z-index: -1;
	}

	&__cta {
		margin: ($padding-base-horizontal * 2) 0;

		a {
			@extend .btn;
			@extend .btn-secondary;
			width: 100%;
		}
	}

	.sidebar-block {
		font-size: 0.875rem;
		margin: $padding-large-horizontal 0;
		width: 100%;

		&.block--primary {
			background-color: $brand-primary;
			color: #fff;
			padding: $padding-large-vertical $padding-large-horizontal;
		}

		&__item {
			font-size: inherit;
			margin: $padding-large-vertical 0 $padding-large-horizontal;

			p, li, dt, dd, td {
				font-size: inherit;
			}

			a {
				color: inherit;

				&:hover {
					color: $yellow;
				}
			}
		}

		&__headline,
		&__subheading {
			font-family: $font-family-base;
			font-weight: bold;
			line-height: 1;
		}

		&__headline {
			border-bottom: 1px solid rgba(255,255,255,0.6);
			font-size: 1.125rem;
			padding-bottom: $padding-large-vertical;
			margin-top: $padding-large-vertical;
			margin-bottom: $padding-large-horizontal;
		}

		&__subheading {
			font-size: 0.875rem;
			margin-bottom: $padding-base-vertical;
			margin-top: 0;
		}

		&__content {
			.field {
				a {
					@include textlink-underline;
					color: #fff;

					&:hover {
						color: $yellow;
					}
				}
			}

			&.content--overflow {
				position: relative;

				&::after {
					background: linear-gradient(
						to bottom,
						rgba(102, 0, 0, 0) 0%,
						rgba(102, 0, 0, 0.8) 75%
					);
					content: '';
					display: block;
					position: absolute;
					bottom: 0;
					left: 0;
					height: ($padding-base-horizontal * 2);
					width: 100%;
				}

				.field {
					@include overflow-scroll;
					max-height: 22rem;
					padding-bottom: $padding-large-horizontal;
				}
			}
		}
	}

	.field--type-image {
		margin-top: $padding-large-horizontal;
		margin-bottom: $padding-large-horizontal;
	}
}



//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-sm) {  // 768px
	.path-events-listing-view,
	.paragraph--type--event-listing {  // events view
		.eventslisting__intro {
			&::after {
				left: 0;
				right: 0;
			}

			.form-inline {
				.form-item {
					+ .form-item {
						margin-bottom: 1rem;
					}

					.form-control {
						width: 100%;
					}
				}
			}
		}
	}

	.event-item {  // event content type
		&__details {
			.platforms {
				li {
					+ li {
						margin-left: 0.75rem;
					}
				}
			}

			.detail-half,
			.detail-third,
			.detail-two-third {
				flex-basis: 50%;
				flex-grow: 1;
				flex-shrink: 1;
			}

			.detail-third {
				padding-left: ($padding-large-horizontal * 2);
				word-break: break-all;
			}
		}
	}
}


@media screen and (min-width: $screen-md) {  // 992px
	.path-events-listing-view,
	.paragraph--type--event-listing {  // events view
		.eventslisting__intro {
			padding: 0;

			.form-inline {
				flex-direction: row;
				justify-content: space-between;


				.form-item {
					padding-top: $padding-large-horizontal;
					padding-left: $padding-large-vertical;
					padding-right: $padding-large-vertical;
					padding-bottom: ($padding-base-horizontal * 2);
					width: auto;
					flex-basis: auto;
					flex-shrink: 1;
					flex-grow: 0;

					+ .form-item {
						// padding-left: ($padding-base-horizontal * 2);
						margin-bottom: 0;
					}

					&.form-item-field-event-type-target-id {
						order: 1;
						padding-left: ($padding-base-horizontal * 2);
					}

					&.form-item-field-event-departments-target-id {
						order: 2;
					}

					&.form-item-sort-bef-combine {
						order: 3;
						padding-right: ($padding-base-horizontal * 2);
					}

					&.form-autocomplete {
						flex-basis: 25%;
						border-left: 1px solid $gray-light;
						padding-left: ($padding-base-horizontal * 2);
						padding-right: ($padding-base-horizontal * 2);
						order: 4;
						flex-grow: 1;

						.input-group {
							width: 100%;
						}
					}
				}
			}
		}

		.event-view {
			display: flex;
			flex-wrap: wrap;

			.card-item {
				&__title {
					font-size: 1.125rem;
					margin-top: $padding-large-vertical;
				}

				&__atc {
					font-size: 0.875rem;
				}
			}

			.card--noimage {
				~ .card-item__title {
					padding-top: 56.25%;
				}
			}

			.card-item {
				width: calc(25% - #{$padding-large-horizontal});
				margin-right: 0;

				&:nth-of-type(1) {
					width: 50%;
				}

				+ .card-item {
					margin-left: $padding-large-horizontal;
					width: calc(25% - (#{$padding-base-horizontal} * 1.5));
				}
			}
		}

		@supports (display: grid) {
			.event-view {
				display: grid;
				grid-gap: $padding-large-horizontal;
				grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
				font-size: 1rem;
				margin-top: $padding-large-horizontal;
				margin-bottom: $padding-large-horizontal;

				.card-item {
					justify-content: space-between;
					margin-bottom: 0;
					margin-left: 0;
					width: 100%;

					+ .card-item {
						margin-left: 0;
						width: 100%;
					}

					&:nth-of-type(1) {
						justify-content: flex-end;
						width: 100%;
						grid-column: auto / span 2;
						grid-row: auto / span 2;

						> a {
							padding-bottom: 75%;
							flex-basis: 100%;
						}

						.card-item__meta {
							left: 0;

							&.date-end {
								left: 4.25rem;
							}
						}
					}

				}
			}
		}
	}

	.event-item {  // event content type
		margin-bottom: ($padding-large-horizontal * 3);

		.page-header {
			margin-top: 0;
			margin-bottom: ($padding-large-horizontal * 2);
		}

		.page-subhead {
			font-size: 1.375rem;
			margin-bottom: ($padding-base-horizontal * 2);
		}

		&__wrapper {
			display: flex;
			align-items: flex-start;
			flex-direction: row;
			flex-wrap: nowrap;
		}

		&__main {
			flex-basis: 67%;
			flex-basis: calc(100% * 2/3);
			margin-bottom: ($padding-base-horizontal * 2);
		}

		&__sidebar {
			flex-basis: 33%;
			flex-basis: calc(100% / 3);
			padding-left: ($padding-large-horizontal * 2);
			margin-bottom: ($padding-base-horizontal * 2);
		}

		&__details {
			.detail-row {
				flex-wrap: nowrap;
			}

			.detail-third {
				flex-basis: 33%;
				flex-basis: calc(100% / 3);
				padding-left: ($padding-large-horizontal * 3);
			}

			.detail-two-third {
				flex-basis: 67%;
				flex-basis: calc(100% * 2/3);
			}
		}

		&__social {
			display: block;
			position: fixed;
			visibility: visible;
			top: 16rem;
			left: 0;
			z-index: 1;
		}

		&__cta {
			a {
				width: auto;
			}
		}
	}

	.sidebar-block {
		margin-top: 0;
	}
}

@media screen and (min-width: $screen-md) and (min-device-height: 801px) {
	@supports (position: sticky) {
		.event-item__sidebar {
			position: sticky;
			top: $sticky-sidebar-desktop;
		}
	}
}


@media screen and (min-width: 1260px) {
	.event-item {  // event content type
		&__social {
			top: 16.5rem;
		}
	}
}


@media screen and (min-width: 1600px) {
	.event-item {  // event content type
		&__main {
			position: relative;
		}

		&__social {
			position: absolute;
			top: 0.75rem;
			left: 0;
			transform: translateX(-5rem);
		}
	}
}
