/**
  * Home page template
  *
  * Templates:
  * `<theme>/templates/system/page--front.html.twig`
  *
*/

.path-frontpage {  // custom styles for homepage components

	.hero {
		&__title {
			color: $brand-primary;

			h1, h2, h3 {
				font-size: 1.375rem;
				margin-bottom: $padding-large-vertical;
				text-shadow: none;

				span, i, em {
					display: inline-block;
					font-size: 1.545em;
					vertical-align: text-bottom;
				}
			}
		}

		&__subhead {
			color: $brand-primary;
			margin-left: 0;
			max-width: 40rem;
			font-size: 1.2rem;
		}

		&__content {
			@include pad-x-base;
			background-color: #fff;
			color: $gray-med;
			padding-top: ($padding-base-horizontal * 2);
			padding-bottom: ($padding-base-horizontal * 2);
			position: relative;
			left: auto;
			top: auto;
			margin-left: 0;
			margin-right: 5%;
			margin-top: -3rem;
			text-align: left;
			transform: none;
		}

		&__image {

		}

		&__cta {
			color: inherit;

			.btn {
				font-size: 0.875rem;
			}

			.arrow-circle-before,
			.arrow-circle-after {
				color: inherit;
				font-size: 1.2rem;

				span {
					color: inherit;
				}

				&:hover {
					color: $brand-secondary;

					span {
						color: inherit;
					}
				}
			}
		}
	}

	.component {
		.gallery-tout__wrapper {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}




//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-xs) {  // 480px
	.path-frontpage {
		.hero {
			&__title {
				h1, h2, h3 {
					font-size: 2.125rem;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-sm) {  // 768px
	.path-frontpage {
		.hero {
			&__image {
				img {
					object-position: center center;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.path-frontpage {
		.hero {
			&__title {
				h1, h2, h3 {
					font-size: 3rem;
				}
			}

			&__subhead {
				margin-left: auto;
			}

			&__image {
				min-height: 40vh;
				padding-bottom: 56.25%;
			}

			&__content {
				background-color: transparent;
				color: $gray-med;
				padding-top: 0;
				padding-bottom: 0;
				position: absolute;
				left: 50%;
				top: 10%;
				margin: 0 auto;
				text-align: center;
				transform: translate3d(-50%, -10%, 0);
			}
		}
	}
}

@media screen and (min-width: $screen-xxl) {  // xl desktop
	.path-frontpage {
		.hero {
			&__image {
				min-height: 0;
				padding-bottom: 37.5%;
			}
		}
	}
}