/**
  * News view and content type
  *
  * Templates:
  * `<theme>/templates/views/views-view--news-listing.html.twig`
  * `<theme>/templates/node/node--news.html.twig`
  *
*/

.view--newslisting {  // news view
	background-color: $gray-lighter;

	.newslisting {
		&__intro {
			text-align: center;

			h1, h2, h3 {
				color: $gray-med;
				font-family: $font-family-base;
				font-size: 1.5rem;
				font-weight: bold;
				line-height: 1.25;
				margin: ($padding-base-horizontal * 2) 0;
			}

			.form-inline {
				display: flex;
				justify-content: center;
				align-items: center;

				.form-group {
					flex-basis: 50%;

					+ .form-group {
						flex-basis: auto;
					}

					.control-label {
						@include sr-only;
						visibility: hidden;
					}

					.select-wrapper {
						> select {
							font-size: 1rem;
							line-height: 1;
							height: 2.25rem;
							padding-top: 0.25rem;
							padding-bottom: 0.25rem;
						}
					}
				}

				.btn {
					border: 3px solid currentColor;
					font-weight: bold;
					padding-top: 0.625rem;
					padding-bottom: 0.5rem;
					text-transform: uppercase;
					min-width: 0;
					width: 100%;

					&:hover {
						background-color: $brand-secondary;
						border-color: $brand-secondary;
						color: #fff;
					}
				}
			}
		}

		&__more {
			margin: ($padding-base-horizontal * 3) 0;
			text-align: center;

			a {
				@extend .btn;
				border-color: $brand-secondary;
				font-weight: bold;
				margin: 0 auto;
				text-transform: uppercase;

				&:hover {
					background-color: $brand-secondary;
					border-color: $brand-secondary;
					color: #fff;
				}
			}
		}
	}

	.news-view {
		margin-bottom: ($padding-base-horizontal * 3);
	}
}


.page-node-type-news {  // news content type
	.field--name-field-featured-image {
		height: 0;
		padding-bottom: 56.25%;
		position: relative;

		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
			object-position: top center;
		}
	}

	.page-header {
		color: $brand-secondary;
		border-bottom: 0;
		padding-bottom: 0;
		margin-bottom: $padding-base-horizontal;
	}

	.page-subhead {
		font-family: $font-family-base;
		font-weight: bold;
		font-size: 1.25rem;
		line-height: 1.4;
		margin-bottom: $padding-large-horizontal;
	}

	.page-meta {
		display: block;
		margin-bottom: $padding-large-horizontal;

		span {
			display: inline-block;
		}

		.page-author {
			font-family: $font-family-serif;
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;

			a {
				font-weight: bold;
			}
		}

		.article-tag {
			margin-right: 0.5rem;
			margin-bottom: 0.5rem;
		}
	}

	.sidebar-block {
		font-size: 0.875rem;
		margin: $padding-large-horizontal 0;

		&.block--primary {
			background-color: $brand-primary;
			color: #fff;
			padding: $padding-large-vertical $padding-large-horizontal;
		}

		&__item {
			font-size: inherit;
			margin: $padding-large-vertical 0 $padding-large-horizontal;

			p, li, dt, dd, td {
				font-size: inherit;
			}

			a {
				color: inherit;

				&:hover {
					color: $yellow;
				}
			}
		}

		&__headline,
		&__subheading {
			font-family: $font-family-base;
			font-weight: bold;
			line-height: 1;
		}

		&__headline {
			border-bottom: 1px solid rgba(255,255,255,0.6);
			font-size: 1.125rem;
			padding-bottom: $padding-large-vertical;
			margin-top: $padding-large-vertical;
			margin-bottom: $padding-large-horizontal;
		}

		&__subheading {
			font-size: 0.875rem;
			margin-bottom: $padding-base-vertical;
			margin-top: 0;
		}
	}

	.block--default {
		padding: 0;

		&__title {
			background-color: $brand-primary;
			color: #fff;
			font-family: $font-family-base;
			border-top-left-radius: $border-radius-small;
			border-top-right-radius: $border-radius-small;
			padding: $padding-large-vertical $padding-large-horizontal;

			h3 {
				font-family: inherit;
				font-size: 1rem;
				font-weight: bold;
				line-height: 1;
				margin: 0;
				padding: 0;
			}
		}

		&__content {
			border: 1px solid $gray-light;
			border-top: 0;
			border-bottom-left-radius: $border-radius-small;
			border-bottom-right-radius: $border-radius-small;
			padding: $padding-base-horizontal $padding-large-horizontal $padding-large-vertical;

			.view-content {
				@include pad-x-large;
				padding-bottom: $padding-large-vertical;
			}

			.views-row {
				display: flex;
				flex-wrap: wrap;

				.views-field {
					color: $gray-med;
					flex-shrink: 1;

					a {
						color: inherit;
					}
				}

				.views-field-created {
					flex-basis: auto;
					font-size: 0.75rem;
					font-weight: bold;
					padding-right: 0.5rem;
					text-transform: uppercase;
				}

				.views-field-field-event-start-date {
					font-size: 0.75rem;
					font-weight: bold;
					text-transform: uppercase;
				}

				.views-field-field-news-type {
					display: flex;
					flex-basis: 80%;
					font-size: 0.75rem;
					font-weight: bold;
					text-transform: uppercase;
					position: relative;

					&::before {
						content: '|';
						display: inline-block;
						padding-right: 0.5em;
					}
				}

				.views-field-field-featured-image {
					flex-grow: 0;
					flex-basis: 30%;

					img {
						padding-right: 5%;
						margin-top: $padding-base-vertical;
					}

					&:empty {
						display: none;
					}
				}

				.views-field-title {
					flex-basis: 65%;
					flex-grow: 2;
					margin-top: $padding-base-vertical;
				}
			}

			.more-link {
				border-top: 1px solid $gray-light;
				color: $gray-border;
				font-size: 0.625rem;
				font-weight: bold;
				padding: $padding-large-vertical $padding-large-horizontal;
				text-align: center;
				text-transform: uppercase;

				a {
					color: inherit;
					display: inline-block;
					font-size: inherit;
					line-height: 1;
					padding-left: 1.5em;
					position: relative;

					&::before {
						content: '\f021';
						display: block;
						font-family: $icon-font-name;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}

					&:hover {
						&::before {
							color: $brand-secondary;
						}
					}
				}
			}

			.article-tag {
				margin-right: 0.25rem;
				margin-bottom: $padding-large-vertical;

				&:only-child {
					margin-bottom: $padding-base-vertical;
				}
			}
		}
	}
}


.news-item {
	margin-bottom: ($padding-base-horizontal * 2);

	&__description {
		h3, h4, h5, h6 {
			font-family: $font-family-base;
			font-weight: bold;
		}

		blockquote {
			margin-bottom: 0;
		}

		.lead-in {
			line-height: 1.4;
		}
	}

	&__social {
		visibility: hidden;
		position: absolute;
		z-index: -1;
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-sm) {  // 768px
	.view--newslisting {  // news view
		.newslisting {
			&__intro {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-top: ($padding-base-horizontal * 2);
				text-align: left;

				h1, h2, h3 {
					font-size: 3.125rem;
					margin: $padding-base-horizontal 0;
					text-align: left;
				}

				.view-header {
					flex-basis: 65%;
					justify-content: flex-start;
				}

				.view-filters {
					flex-basis: 35%;
				}

				.form-inline {
					display: flex;
					justify-content: flex-end;
					align-items: center;

					.select-wrapper {
						> select {
							font-size: 0.875rem;
						}
					}
				}
			}

			&__more {
				margin: ($padding-base-horizontal * 4) 0;
			}
		}
 	}

	.page-node-type-news {  // news content type
		.page-subhead {
			font-size: 1.375rem;
		}

		.field--name-field-featured-image {
			padding-bottom: 56.25%;
		}

		.page-meta {
			.page-author {
				margin-bottom: 0;
			}

			.article-tag {
				margin-bottom: 0;
			}
		}
	}

	.news-item {
		&__description {
			blockquote {
				float: left;
				margin-top: 1.375em;
				margin-bottom: $padding-large-vertical;
				padding-right: 1rem;
				width: 50%;

				&:nth-of-type(even) {
					float: right;
					margin-left: 1.5rem;
					padding-right: 0;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // 992px
	.page-node-type-news {  // news content type
		.page-header {
			margin-top: $padding-large-horizontal;
		}
		.sidebar-block {
			margin-top: ($padding-large-horizontal * 2);
		}
	}

	.news-item {
		margin-bottom: ($padding-large-horizontal * 3);

		&__wrapper {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
		}

		&__main {
			flex-basis: 66.7%;
			flex-basis: calc(100% * 2/3);
			margin-bottom: ($padding-base-horizontal * 2);
		}

		&__social {
			display: block;
			position: fixed;
			visibility: visible;
			top: 16rem;
			left: 0;
			z-index: 1;
		}

		&__sidebar {
			flex-basis: 33.3%;
			flex-basis: calc(100% / 3);
			padding-left: ($padding-large-horizontal * 2);
			margin-bottom: ($padding-base-horizontal * 2);
		}
	}
}


@media screen and (min-width: $screen-md) and (min-device-height: 801px) {
	@supports (position: sticky) {
		.news-item__sidebar {
			position: sticky;
			top: 9.25rem;
		}
	}
}


@media screen and (min-width: $screen-lg) {  // 1200px
	.page-node-type-news {  // news content type
		.field--name-field-featured-image {
			padding-bottom: 28.125%;

			img {
				object-position: center;
			}
		}
	}
}


@media screen and (min-width: 1260px) {
	.news-item {  // news content type
		&__social {
			top: 16.5rem;
		}
	}
}


@media screen and (min-width: 1600px) {
	.news-item {  // news content type
		&__main {
			position: relative;
		}

		&__social {
			position: absolute;
			top: 0.75rem;
			left: 0;
			transform: translateX(-5rem);
		}
	}
}


@media screen and (min-width: $screen-xxl) {  // xl desktop
	.page-node-type-news {  // news content type
		.field--name-field-featured-image {
			max-width: $container-xxl;
			margin-left: auto;
			margin-right: auto;
		}
	}
}