/**
  * Page and content templates
  *
  *
*/

.loyola__content__wrapper {
	&.has-gutter {  // page with sidebar
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		> header,
		.sidebar--left,
		.sidebar--right {
			@include pad-x-reset;
			min-width: 100%;
		}

		.sidebar--left {
			order: 2;
		}

		.sidebar--right {
			order: 3;
		}

		.loyola__content {
			order: 4;
			width: 100%;
		}
	}

	&.container {  // remove double padding
		> .container {
			@include pad-x-reset;
		}
	}
}

.loyola__content {
	.arrow-angle-after,
	.arrow-angle-before {
		color: $brand-secondary;
	}
}

.page-node-type-events,
.page-node-type-news {
	.social-media-sharing {
		ul {
			display: flex;
			flex-direction: column;
			list-style: none;
			padding: 0;
			margin: 0;
		}

		li {
			background-color: $gray-lighter;
			display: flex;
			flex-direction: column;
			margin-bottom: 1px;
			height: 3rem;
			padding: 0;
			width: 3rem;
			transform: scale(0.75) translate3d(0, 0, 0);
			transform-origin: center left;
			transition: transform 0.15s $ease, margin 0.15s $ease;

			+ li {
				margin-top: -0.875rem;
			}

			a {
				color: $gray-border;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 100%;
				width: 100%;

				&::before {
					content: '';
					color: inherit;
					font-family: $icon-font-name;
					font-size: 1rem;
				}

				span {
					font-size: 1rem;
					color: inherit;
				}

				img {
					display: none;
				}

				&.facebook-share {
					&::before {
						content: '\f09a';
					}
				}

				&.twitter {
					&::before {
						content: '\f099';
					}
				}

				&.email {
					&::before {
						content: '\f0e0';
					}
				}

				&:hover {
					color: $gray-dark;
				}
			}
		}

		&:hover {
			li {
				transform: scale(1) translate3d(0, 0, 0);

				+ li {
					margin-top: 0;
				}
			}
		}
	}
}

.page-node-type-page,
.page-node-type-article,
.page-node-type-event,
.page-node-type-person {
	.loyola__content {
		.region {
			.content {
				.field {
					// remove set widths on nested content containers
					&.container:not(:first-of-type) {
						@include pad-x-reset;
						width: auto;
					}

					&.field--name-body {
						margin-bottom: ($padding-base-horizontal * 3);
					}
				}
			}
		}
	}
}

// basic pages
.page-node-type-page {
	.page-title {
		color: $brand-secondary;
		margin-top: 0;
		margin-bottom: $padding-large-horizontal;
	}

	.field--name-field-featured-image {
		margin-bottom: $padding-base-horizontal;
	}
}

// landing pages
.page-node-type-landing-page {
	.field--name-body {
		.lead-in {
			line-height: 1.5;
		}

		+ .component {
			margin-top: ($padding-base-horizontal * 3);
		}
	}

	.page-header {
		color: $brand-secondary;
		border-bottom: 0;
		padding-bottom: 0;
		margin: ($padding-base-horizontal * 3) 0 ($padding-base-horizontal * 2);
	}

	.views-element-container {
		.view {
			.view-content {
				width: auto;
			}
		}
	}

	.accordion-base__wrapper {
		@extend .container;
	}

	.icon-tout {
		+ .content-card--focal-image {
			.component__wrapper {
				border-top: 0;
			}
		}
	}
}

// user login page
.path-user {
	.user-login-form {
		@extend .container;
		max-width: 40rem;
		padding-top: ($padding-large-horizontal * 2);
		padding-bottom: ($padding-large-horizontal * 2);
		margin-bottom: ($padding-large-horizontal * 2);

		.form-submit {
			width: 100%;
		}
	}
}


// sitemap page
.path-sitemap {
	.sitemap-box-front {
		display: none;
	}

	.sitemap-box-menu {
		@extend .container;

		> h2 {
			display: none;
		}

		.content {
			> ul {
				display: flex;
				flex-wrap: wrap;
				padding-left: 0;

				> li  {
					flex-basis: 100%;
					list-style: none;
					margin-bottom: ($padding-base-horizontal * 2);

					> a {
						color: $gray-base;
						font-family: $font-family-serif;
						font-weight: bold;
						font-size: 1.1875rem;
					}
				}
			}
		}
	}
}


// lock page scroll
.scroll-lock {
	height: 100%;
	overflow: hidden;

	> body {
		height: 100%;
		overflow: hidden;
	}

	.back-to-top {
		opacity: 0;
		pointer-events: none;
		transform: translate3d(36px, -50%, 0);
	}
}



//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-sm) {  // med desktop 768
	.path-sitemap {  // sitemap page
		.sitemap-box-menu {
			.content {
				> ul {
					> li {
						flex-basis: 50%;
						flex-grow: 1;
						flex-shrink: 1;
						margin-bottom: ($padding-base-vertical * 3);

						&.leaf {
							flex-basis: 10%;
							flex-grow: 1;
							text-align: center;
						}

						> a {
							font-size: 1.25rem;
						}
					}
				}
			}
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.loyola__content__wrapper {
		&.has-gutter {
			flex-direction: row;
			align-items: flex-start;
			justify-content: space-between;

			> header,
			.sidebar--left,
			.sidebar--right,
			.loyola__content {
				order: 1;
			}

			> header,
			.sidebar--left,
			.sidebar--right {
				min-width: 0;
			}

			.sidebar--left {
				margin-top: $padding-large-vertical;
				padding-right: ($padding-base-horizontal * 2);
			}
		}

		&.gutter--left,
		&.gutter--right {
			.loyola__content {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: 75%;
				width: 75%;
			}
		}

		.sidebar {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 25%;
			width: 25%;
		}
	}

	.page-node-type-landing-page {
		.field--name-body {
			.lead-in {
				line-height: 1.3181818182;
				line-height: calc(29/22);
			}

			+ .component {
				margin-top: ($padding-large-horizontal * 3);
			}
		}

		.landing_page {
			.component {
				&:first-of-type {
					.headline-block__wrapper {
						margin-top: 0;
						margin-bottom: ($padding-base-horizontal * 3);
					}
				}
			}
		}

		.page-header {
			margin-top: ($padding-large-horizontal * 3);
		}

		.has-gutter {
			.loyola__content {
				width: 75%;
			}
		}
	}

	// user login page
	.path-user {
		.user-login-form {
			.form-submit {
				width: auto;
			}
		}
	}

	// sitemap page
	.path-sitemap {
		.sitemap-box-menu {
			.content {
				> ul {
					> li {
						flex-basis: 33.3%;
						flex-basis: calc(100% / 3);
					}
				}
			}
		}
	}

	.mobilenav--open {
		height: auto;
		overflow: visible;

		> body {
			height: auto;
			overflow: visible;
		}
	}

	.ie {  // IE11 specific
		.loyola__content__wrapper {
			&.gutter--left,
			&.gutter--right {
				.loyola__content {
					flex-basis: 67%;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-md) and (min-device-height: 801px) {
	@supports (position: sticky) {
		.sidebar--left {
			position: sticky;
			top: $sticky-sidebar-desktop;
		}
	}
}
