/**
  * People finder view
  *
  *
*/

.view-staff-finder,
.view-student-finder {
  padding-top: 2em;
  padding-bottom: 2em;

  li.list-group-item {
    border-radius: 0;
    border-left: none;
    border-right: none;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }

    .views-label {
      font-weight: bold;
    }
  }
}

#block-exposedformstaff-finderpage-1,
#block-exposedformstudent-finderpage-1 {
  background-color: $gray-lighter;
  padding: 1.5em;
  border-top: 1px solid $gray-border-light;
  border-bottom: 1px solid $gray-border-light;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  .form-item {
    padding-right: 2em;
  }

  @media screen and (min-width: $screen-md) {
    text-align: center;
  }

  .btn-primary.btn {
    background-color: $yellow;
    border-color: $yellow;
    color: $gray-dark;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      background-color: $gold;
      border-color: $gold;
      color: $gray-dark;
    }

    &:active {
      color: #b67f00;
    }
  }

  .input-group {
    input {
      -webkit-border-bottom-right-radius: 6px;
      border-bottom-right-radius: 6px;
      -webkit-border-top-right-radius: 6px;
      border-top-right-radius: 6px;
    }

  }

  .input-group-addon {
    display: none;
  }
}

#block-studentfinderheadertext,
#block-stafffinderheadertext {
  h1 {
    color: $coral;
  }
}
