/**
  * People view and person content type
  *
  * Templates:
  * `<theme>/templates/views/views-view--peoples-listing.html.twig`
  * `<theme>/templates/node/node--person.html.twig`
  *
*/


// NOTE: requires base forms component for active field border variable

// people view
.paragraph--type--faculty-listing {
	.page-title {
		color: $brand-secondary;
		font-family: $font-family-serif;
		font-size: 1.875rem;
		line-height: 1;
		margin-top: 0;
		margin-bottom: $padding-large-vertical;
	}

	.page-subhead {
		font-family: $font-family-base;
		font-size: 1rem;
		line-height: 1.375;

		a {
			color: $brand-secondary;

			&:hover {
				color: $gray-dark;
			}
		}
	}
}

.view--peoplelisting {  // listing view
	.peoplelisting__intro {
		.form-inline,
		.form--inline {
			display: flex;
			flex-direction: column-reverse;

			.form-item {
				float: none;
				width: 100%;

				.control-label {
					color: $gray-med;
					display: block;
					font-size: 0.75rem;
					margin-bottom: 0.5rem;
				}
			}

			.select-wrapper {
				border-radius: $border-radius-small;
				border-color: $gray-border-light;
				width: 100%;

				> select {
					&.form-control {
						border-color: inherit;
						background-color: #fff;
						width: 100%;

						&:focus,
						&:active {
							border-color: $active-field-border;
						}

						&:empty,
						&:required:valid,
						&:required:invalid:not(:empty) {
							background-color: transparent;
							border-color: $gray-light;
							box-shadow: none;
						}
					}
				}
			}
		}
	}

	.view-filters {
		@include pad-x-base;
		background-color: $gray-lighter;
		margin-top: ($padding-base-horizontal * 2);

		.form-inline {
			padding: ($padding-base-horizontal * 2) 0;
			display: flex;
			flex-wrap: wrap;
			margin: 0 auto;
		}

		.form-item {
			flex-basis: 100%;
		}

		.form-actions {
			flex-basis: 1.875rem;
			flex-grow: 0;
			flex-shrink: 0;
			display: none;
			align-items: center;
			margin: $padding-base-horizontal 0;

			.btn {
				background-color: #fff;
				border-top-right-radius: $border-radius-small;
				border-bottom-right-radius: $border-radius-small;
				border: 1px solid $gray-border-light;
				border-left: 0;
				color: #fff;
				height: 2.875rem;
				margin: 1.6875rem 0 0;
				min-width: 0;
				padding: 0;
				position: relative;
				transition: border 0.15s $ease;

				&::before,
				&::after {
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					z-index: 0;
				}

				&::before {
					color: $brand-secondary;
					content: '\f002';
					font-family: $icon-font-name;
					font-size: 0.875rem;
					top: 50%;
					left: 50%;
					z-index: 1;
					transform: translate3d(-50%, -50%, 0);
					transition: color 0.15s $ease;
				}

				&::after {
					background-color: #fff;
					border-top-right-radius: $border-radius-small;
					border-bottom-right-radius: $border-radius-small;
					height: 100%;
					width: 100%;
					transition: background-color 0.15s $ease;
				}

				&:hover,
				&:focus {
					border-color: $brand-secondary;

					&::before {
						color: #fff;
					}

					&::after {
						background-color: $brand-secondary;
					}
				}
			}
		}

		.form-autocomplete {
			flex-basis: 92%;
			flex-basis: calc(100% - 2.25rem);
			flex-grow: 0;
			flex-shrink: 1;
			float: none;

			.input-group {
				border: 1px solid $gray-border-light;
				transition: border-color 0.15s $ease;

				.form-control {
					border: 0;
					width: 100%;
					flex-basis: auto;
				}
			}

			.input-group-addon {
				display: none;
				width: 0;
			}

			&:focus,
			&:active {
				.input-group {
					border-color: $active-field-border;
				}

				~ .form-actions {
					.btn {
						border-color: $active-field-border;
					}
				}
			}

			&:focus-within {
				.input-group {
					border-color: $active-field-border;
				}

				~ .form-actions {
					.btn {
						border-color: $active-field-border;
					}
				}
			}
		}

		.input-group {
			background-color: #fff;
			border-radius: $border-radius-small;
			display: flex;
			align-items: center;
			justify-content: space-between;
			position: relative;

			.form-control {
				border-radius: inherit;
				width: 100%;
			}
		}
	}

	.view-content {
		display: flex;
		flex-wrap: wrap;
	}

	.card-item {
		border: 0;
		margin-bottom: $padding-base-horizontal;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		overflow: visible;

		&__wrapper {
			background-color: #fff;
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
			height: 100%;
			display: flex;
			flex-direction: column;
		}

		&__image {
			border: 0;
			display: block;
			padding: 0;
			position: relative;
			padding-bottom: 75%;
		}

		&__title {
			color: $gray-dark;
			font-size: 1.375rem;
		}

		&__body {
			flex-basis: 100%;
			flex-grow: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			color: $gray-base;
			font-family: $font-family-base;
			font-size: 0.875rem;
			font-weight: normal;

			p {
				font-size: inherit;
				margin-bottom: 0;

				+ p {
					margin-top: $padding-base-horizontal;
				}
			}
		}

		&__subheading {
			color: inherit;
			font-family: $font-family-base;
			font-size: inherit;
			font-weight: bold;
		}

		&__contact {
			background-color: $gray-lighter;
			color: inherit;
			margin-left: -$padding-base-horizontal;
			margin-right: -$padding-base-horizontal;
			padding: $padding-base-horizontal;

			h3,
			.field-label {
				@include sr-only;
			}
		}

		&__text {
			color: inherit;
		}

		&__link {
			display: block;
			margin-top: $padding-base-horizontal;
			text-align: center;

			a {
				display: block;
			}
		}

		&__expertise {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			background-color: $brand-secondary;
			color: #fff;
			font-size: 0.6875rem;
			line-height: 1.25;
			letter-spacing: 0.02125rem;
			padding: $padding-large-vertical $padding-base-horizontal;

			&::before {
				content: '\f005';
				display: inline-block;
				font-family: $icon-font-name;
				padding-right: 0.5em;
				transition: color 0.15s $ease;
			}

			.expertise-item {
				color: inherit;
				display: inline-block;
				font-weight: bold;
				text-transform: uppercase;
				white-space: nowrap;

				&::after {
					content: ', ';
					display: inline-block;
					padding-right: 0.25em;
				}

				&:first-child {
					&::before {
						content: 'Expert:';
						display: inline-block;
						padding-right: 0.25em;
					}
				}

				&:last-child,
				&:only-child {
					&::after {
						content: none;
					}
				}
			}
		}

		&--noimage {
			background-color: transparent;
			border: 0;

			.noimage {
				background: $gray-lighter url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNCAxMyI+PHBhdGggZmlsbD0iI2U3ZTdlNyIgZD0iTTcsMEM0LjgsMCwzLjEsMS43LDMuMSwzLjlDMy4xLDYsNC44LDcuNyw3LDcuN2wwLDBjMi4xLDAsMy44LTEuNywzLjgtMy45QzEwLjgsMS43LDkuMSwwLDcsMEw3LDB6IE0zLjMsNy41QzIuMyw3LjcsMS41LDguNywxLjUsOS44VjEzaDExVjkuOGMwLTEuMS0wLjgtMi4xLTEuOC0yLjNjLTEuNiwyLTQuNCwyLjQtNi41LDAuOEMzLjksOCwzLjYsNy44LDMuMyw3LjVMMy4zLDcuNXoiLz48L3N2Zz4=') no-repeat center bottom;
				background-size: 60% auto;
				display: block;
				padding-bottom: 75%;
			}
		}
	}

	.views-field {
		@include pad-x-base;
		color: $gray-med;
		font-size: 0.875rem;
		line-height: 1;

		a {
			color: $brand-secondary;
			display: inline-block;

			&:hover {
				color: $gray-base;
			}
		}

		.field-content {
			p {
				font-size: inherit;

				&:last-child {
					margin-bottom: $padding-large-vertical;
				}

				&:only-child {
					margin-bottom: 0;
				}
			}
		}

		&-title {
			color: $gray-base;
			font-family: $font-family-serif;
			font-size: 1.375rem;
			margin-bottom: 0.8125rem;

			a {
				color: $gray-base;
			}
		}

		&-field-office-address,
		&-field-person-email,
		&-field-person-phone {
			background-color: $gray-lighter;

			.field-content {
				padding-top: $padding-large-vertical;

				&:empty {
					padding-top: 0;
				}
			}
		}

		&-field-person-phone {

			a {
				color: inherit;
			}
		}

		&-field-person-email {

			.field-content {
				padding-bottom: $padding-large-vertical;

				&:empty {
					padding-bottom: 0;
				}
			}
		}

		&-field-person-designation {
			font-weight: bold;
			margin-bottom: $padding-base-vertical;

			.field-content {
				word-break: break-all;
			}
		}

		&-field-person-related-department {
			margin-bottom: $padding-base-horizontal;

			.field-content {
				word-break: break-all;
			}
		}

		&-field-person-office-location-address-line1 {
			@include pad-x-base;
			background-color: $gray-lighter;
		}

		&-view-node {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: auto;

			.field-content {
				display: block;
				text-align: center;
				width: 100%;
			}

			a {
				display: inline-block;
				font-family: $font-family-serif;
				font-weight: bold;
				padding-top: $padding-base-horizontal;
				padding-bottom: $padding-base-horizontal;
				position: relative;
				text-transform: capitalize;

				&::after {
					content: '\f105';
					display: inline-block;
					font-family: $icon-font-name;
					font-weight: normal;
					padding-left: 0.5rem;
				}
			}
		}
	}

	.inline-list {
		padding: 0;
		margin: 0;

		li {
			background-color: #fff;
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
			display: inline-flex;
			flex-direction: column;
			margin-bottom: ($padding-base-horizontal * 2);
			padding-left: 0;
			width: 100%;
		}
	}
}


// person content type
.page-node-type-person {
	.page-title {
		color: $brand-secondary;
		line-height: 1;
		margin-top: 0;
		margin-bottom: $padding-base-horizontal;
	}

	.profile {
		&__designation {
			font-family: $font-family-base;
			font-size: 1.1875rem;
			font-weight: bold;
			margin-top: 0;
			margin-bottom: ($padding-base-horizontal * 2);
		}

		&__sidebar {
			.field--type-image {
				height: 0;
				padding-bottom: 75%;
				margin-bottom: $padding-base-horizontal;
				position: relative;

				img {
					width: 100%;
					object-fit: cover;
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
				}
			}

			.field--type-file {
				.file {
					display: flex;
					font-size: inherit;
					font-weight: inherit;
					justify-content: space-between;

					> span {
						background: transparent;
						border: 0;
						color: inherit;
						font-size: inherit;
						display: inline-block;
						width: auto;
					}

					.file-icon {
						padding: 0 $padding-base-vertical 0 0;

						.glyphicon {
							color: inherit;
						}
					}

					.file-link {
						flex-basis: 60%;
					}

					.file-size {
						font-size: 0.8em;
						padding: 0 0 0 $padding-base-vertical;
					}
				}
			}
		}

		&__main {
			margin-bottom: ($padding-large-horizontal * 3);
		}
	}

	.profile-block {
		&__headline {
			border-bottom: 1px solid $gray-light;
			font-size: 1.6875rem;
			padding-bottom: $padding-base-vertical;

			// @supports(position: sticky) {
			// 	position: sticky;
			// 	top: 0;
			// 	background-color: #fff;
			// }
		}

		&__item {
			.profile-list {
				list-style-type: none;
				padding: 0;
			}
		}

		&.profile--education {
			.profile-block__headline {
				@include lhCrop(1.13333);
				margin-top: 0;
			}
		}
	}

	.sidebar-block {
		font-size: 0.875rem;
		margin-top: $padding-base-horizontal;

		&.block--primary {
			background-color: $brand-primary;
			color: #fff;
			padding: $padding-large-vertical $padding-large-horizontal;
		}

		&.block--related {
			display: none;
		}

		&__item {
			font-size: inherit;
			margin: $padding-large-vertical 0 $padding-large-horizontal;

			p, li, dt, dd, td {
				font-size: inherit;
			}

			a {
				color: inherit;

				&:hover {
					color: $yellow;
				}
			}
		}

		&__headline,
		&__subheading {
			font-family: $font-family-base;
			font-weight: bold;
			line-height: 1;
		}

		&__headline {
			border-bottom: 1px solid rgba(255,255,255,0.6);
			font-size: 1.125rem;
			padding-bottom: $padding-large-vertical;
			margin-top: $padding-large-vertical;
			margin-bottom: $padding-large-horizontal;
		}

		&__subheading {
			font-size: 0.875rem;
			margin-bottom: $padding-base-vertical;
			margin-top: 0;
		}
	}

	.block--related {
		padding: 0;

		&__title {
			background-color: $brand-primary;
			color: #fff;
			font-family: $font-family-base;
			border-top-left-radius: $border-radius-small;
			border-top-right-radius: $border-radius-small;
			padding: $padding-large-vertical $padding-large-horizontal;

			h3 {
				font-family: inherit;
				font-size: 1rem;
				font-weight: bold;
				line-height: 1;
				margin: 0;
				padding: 0;
			}
		}

		&__content {
			border: 1px solid $gray-light;
			border-top: 0;
			border-bottom-left-radius: $border-radius-small;
			border-bottom-right-radius: $border-radius-small;
			padding: $padding-large-vertical 0 0;

			.view-content {
				@include pad-x-large;
				padding-bottom: $padding-large-vertical;
			}

			.views-row {
				display: flex;
				flex-wrap: wrap;

				.views-field {
					color: $gray-med;
					flex-shrink: 1;

					a {
						color: inherit;
					}
				}

				.views-field-created {
					flex-basis: 20%;
					font-size: 0.75rem;
					font-weight: bold;
					text-transform: uppercase;
				}

				.views-field-field-event-start-date {
					font-size: 0.75rem;
					font-weight: bold;
					text-transform: uppercase;
				}

				.views-field-field-news-type {
					display: flex;
					flex-basis: 80%;
					font-size: 0.75rem;
					font-weight: bold;
					text-transform: uppercase;
					position: relative;

					&::before {
						content: '|';
						display: inline-block;
						padding-right: 0.5em;
					}
				}

				.views-field-field-featured-image {
					flex-grow: 0;
					flex-basis: 30%;

					img {
						padding-right: 5%;
						margin-top: $padding-base-vertical;
					}

					&:empty {
						display: none;
					}
				}

				.views-field-title {
					flex-basis: 65%;
					flex-grow: 2;
					margin-top: $padding-base-vertical;
				}
			}

			.more-link {
				border-top: 1px solid $gray-light;
				color: $gray-border;
				font-size: 0.625rem;
				font-weight: bold;
				padding: $padding-large-vertical $padding-large-horizontal;
				text-align: center;
				text-transform: uppercase;

				a {
					color: inherit;
					display: inline-block;
					font-size: inherit;
					line-height: 1;
					padding-left: 1.5em;
					position: relative;

					&::before {
						content: '\f021';
						display: block;
						font-family: $icon-font-name;
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}

					&:hover {
						&::before {
							color: $brand-secondary;
						}
					}
				}
			}
		}
	}
}


.no-csspositionsticky {
	.page-node-type-person {
		.profile__sidebar {
			position: static !important;
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-sm) {  // 768px
	.view--peoplelisting {  // listing view
		.view-filters {
			.form-inline {
				max-width: $container-sm;

				.form-group {
					margin-bottom: $padding-base-horizontal;
				}
			}

			.form-actions {
				.btn {
					margin-top: 1.5625rem;
				}
			}
		}

		.views-view-grid {
			.views-row,
			.view-row {
				flex-direction: row;
				justify-content: space-between;
			}

			.views-col,
			.view-column {
				flex-basis: calc(33% - #{$padding-base-horizontal});
				margin-bottom: ($padding-large-horizontal);
			}
		}

		.inline-list {
			display: inline;
			font-size: 0;

			li {
				font-size: 1rem;
				margin-right: $padding-base-horizontal;
				padding-left: 0;
				width: 23.75%;
				width: calc(50% - #{$padding-large-vertical});
				vertical-align: top;

				&:nth-child(2n) {
					margin-right: 0;
				}
			}
		}

		@supports (display: grid) {
			.inline-list {
				display: grid;
				grid-gap: ($padding-base-horizontal * 2);
				grid-template-columns: repeat(auto-fill, minmax(33%, 1fr));
				margin-bottom: ($padding-base-horizontal * 2);

				li {
					margin-right: 0;
					margin-bottom: $padding-base-horizontal;
					width: 100%;

					&:nth-child(2n) {
						margin-right: 0;
					}
				}
			}
		}
	}

	// person content type
	.page-node-type-person {
		.profile-block {

			&__item {
				.profile-list {
					&.list--split {
						columns: 2;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.paragraph--type--faculty-listing {
		.page-title {
			font-size: 3.75rem;
			line-height: 1.0666666667;
			line-height: calc(16/15);
		}

		.page-subhead {
			font-size: 1.3752rem;
			line-height: 1.3181818182;
			line-height: calc(29/22);
		}
	}

	.view--peoplelisting {  // listing view
		.view-filters {
			margin-bottom: ($padding-base-horizontal * 3);

			.form-item {
				@include pad-x-base;
				float: none;
				flex-grow: 0;
				flex-shrink: 1;
				flex-basis: 25%;
				margin-top: 0;
				padding-top: $padding-base-horizontal * 2;
				padding-bottom: $padding-base-horizontal * 2;

				//&:nth-child(2) {
				//	padding-right: $padding-base-horizontal * 2;
				//}

				//&:nth-child(3) {
				//	border-left: 1px solid $gray-light;
				//	padding-left: $padding-base-horizontal * 2;
				//}
			}

			.form-inline {
				flex-direction: row;
				align-items: flex-start;
				padding-top: 0;
				padding-bottom: 0;
				padding-right: $padding-base-horizontal;

				.form-group {
					margin-bottom: 0;
				}
			}

			.form-autocomplete {
				flex-basis: 48%;
				flex-basis: calc(50% - 2.5rem);
				padding-right: 0;

				.input-group {
					border-right: 0;
					border-top-right-radius: 0;
					border-bottom-right-radius: 0;

					.form-control {
						flex-basis: auto;
						height: 2.125rem;
						padding-left: $padding-base-horizontal;
						width: auto;
					}
				}
			}

			.form-actions {
				display: flex;
				margin: 0;
				padding-top: $padding-base-horizontal * 2;

				.btn {
					height: 2.25rem;
				}
			}

			.form-control {
				font-size: 0.75rem;
				height: 2.25rem;
				width: 100%;
			}

			.input-group-addon {
				right: 0.75rem;

				.icon.glyphicon {
					font-size: 1rem;
				}
			}

			.select-wrapper {
				> select,
				.chosen-container {
					font-size: 0.75rem;
					height: 2.25rem;
				}
			}
		}

		.view-content {
			margin-left: -$padding-base-horizontal;
			margin-right: -$padding-base-horizontal;

			.card {
				margin-top: 0;
				margin-left: $padding-base-horizontal;
				margin-right: $padding-base-horizontal;
				width: 31.75%;
				width: calc((100% / 3) - (#{$padding-base-horizontal} * 2));
			}
		}

		.card-item {
			&__body {
				p + p {
					margin-top: $padding-base-vertical;
				}
			}

			&__contact {
				a {
					&[href*=tel] {
						pointer-events: none;
						color: inherit;
					}
				}
			}
		}
	}

	// person content type
	.page-node-type-person {
		.page-title {
			margin-bottom: $padding-large-horizontal;
		}

		.profile {
			&__wrapper {
				display: flex;
				align-items: flex-start;
			}

			&__sidebar {
				width: 40%;
				padding-right: ($padding-large-horizontal * 2);
				margin-bottom: ($padding-base-horizontal * 2);

				.field--type-image {
					margin-bottom: ($padding-large-horizontal * 2);
					padding-bottom: 0;
					height: auto;

					img {
						position: relative;
						height: auto;
						top: auto;
						left: auto;

					}
				}
			}

			&__main {
				width: 60%;
				margin-bottom: ($padding-base-horizontal * 2);
			}

			&__designation {
				font-size: 1.375rem;
				margin-bottom: ($padding-base-horizontal * 3);
			}
		}

		.profile-block {
			&__headline {
				position: static;
				top: auto;
			}

			&.split-column {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
			}

			.profile-column {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: calc(50% - #{$padding-large-horizontal});
				padding-right: $padding-base-horizontal;

				+ .profile-column {
					padding-right: 0;
					padding-left: $padding-base-horizontal;
				}
			}
		}

		.sidebar-block {
			&__item {
				a[href^="tel"] {
					pointer-events: none;
				}
			}

			&.block--related {
				display: block;
				margin-top: ($padding-large-horizontal * 2);
			}
		}
	}
}




@media screen and (min-width: $screen-md) and (min-height: 801px) {
	.page-node-type-person {
		.profile__sidebar {
			position: sticky;
			z-index: 1;
			top: $sticky-sidebar-desktop;

			.field--type-image {
				transition: opacity 0.15s $ease, max-height 0.25s $ease;
			}

			&.js-is-sticky,
			&.js-is-stuck {
				.field--type-image {
					margin: 0;
					max-height: 0;
					opacity: 0;

					img {
						height: auto;
						position: absolute;
					}
				}
			}
		}
	}

	.no-csspositionsticky {
		.page-node-type-person {
			.profile__sidebar {
				&.js-is-sticky,
				&.js-is-stuck {
					.field--type-image {
						margin-bottom: ($padding-large-horizontal * 2);
						max-height: none;
						opacity: 1;

						img {
							position: static;
						}
					}
				}
			}
		}
	}
}


@media screen and (min-width: $screen-lg) {  // 1200px
	.paragraph--type--faculty-listing {
		.field--name-field-title {
			font-size: 3.75rem;
		}

		.field--name-field-subhead {
			font-size: 1.375rem;
		}
	}

	.view--peoplelisting {  // listing view
		.view-filters {
			.form-inline {
				max-width: none;
			}
		}
	}

	// person content type
	.page-node-type-person {
		.profile {
			&__sidebar {
				flex-basis: 33.3%;
				flex-basis: calc(100% / 3);
			}

			&__main {
				flex-basis: 66.7%;
				flex-basis: calc(100% * 2/3);
			}
		}
	}
}