/**
  * Program content type
  *
  *
*/

.page-node-type-programs {
	.loyola__content {
		h1 {
			color: $brand-secondary;
			margin-top: 0;
		}
	}

	.program__content {
		margin-bottom: 0; //($padding-base-horizontal * 2);
	}

	.program__main {  // primary content
		margin-bottom: 0; //($padding-base-horizontal * 3);
	}

	.sidebar--left {
		margin-top: $padding-large-horizontal;
	}
}

.program__secondary {  // primary content column layout
	&.has-gutter {
		.loyola__content {
			order: initial;
		}

		.sidebar--right {
			order: initial;
		}
	}
}



//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-md) {  // med desktop 992
	.page-node-type-programs {
		.program__content {
			margin-top: ($padding-base-horizontal * 3);
		}

		.program__main {
			flex-basis: 75%;
		}

		.sidebar--left {
			flex-basis: 25%;
			margin-top: $padding-large-vertical;
			order: initial;

			.region {
				nav:not(.sidebar__menu) {
					.navlevel--1 {
						> .dropdown-menu {
							display: block;
							max-height: none;
							opacity: 1;
							pointer-events: all;
						}
					}

					.navlevel--2 {
						visibility: visible;
					}
				}
			}

			@supports (position: sticky) {
				max-height: 60vmin;
				position: sticky;
				top: $sticky-sidebar-desktop;

				&::before {
					background: linear-gradient(
						to bottom,
						rgba(255, 255, 255, 0) 0%,
						rgba(255, 255, 255, 0.8) 100%
					);
					content: '';
					display: block;
					position: absolute;
					bottom: $padding-base-horizontal;
					left: 0;
					height: 1rem;
					width: 100%;
					z-index: 1;
				}

				.region {
					@include overflow-scroll;
					max-height: 22.5rem;

					> nav {
						margin-bottom: $padding-large-vertical;
					}
				}

				.sidebar__block {
					@include overflow-scroll;
					max-height: 22.5rem;
				}
			}
		}

		.sidebar--right {
			margin-top: $padding-large-vertical;

			.sidebar__menu {
				margin-bottom: $padding-large-vertical;

				&:empty {
					display: none;
				}

				.sidebar__block__content {
					color: $gray-base;
					font-size: 0.875rem;

					li {
						font-size: inherit;
						margin-bottom: 0.25rem;
					}

					a {
						color: inherit;
						font-size: inherit;
						font-weight: bold;

						&:focus,
						&:hover {
							color: $brand-primary;
						}
					}
				}
			}

			.block[class*="block-views-blockrelated"],
			.block[class*="block-views-blockupcoming"] {
				margin-top: 0;
			}
		}
	}

	.program__secondary {
		&.has-gutter {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			> .loyola__content {
				padding-left: ($padding-base-horizontal * 2);
				padding-right: ($padding-base-horizontal * 2);
			}
		}
	}
}

@media screen and (min-height: $screen-md) {  // 992 tall screens
	.page-node-type-programs {
		.program__content {
			.sidebar--left {
				@supports (position: sticky) {
					max-height: none;
				}
			}
		}
	}
}