/**
  * Search page
  *
  *
*/

.path-search {
	.loyola__content {
		@extend .container;
	}

	.region-content {
		> .google-cse {
			display: none;
		}

		ol {
			list-style-type: none;
			padding: 0;
			margin: 0;
			font-family: $font-family-base;

			li {
				margin: 0;
				padding: 0;
			}
		}
	}

	.gsc-search-box-tools {
		border-radius: $border-radius-small;
		border: 1px solid $gray-light;
		margin: 0 0 $padding-base-horizontal;

		> .gsc-search-box {
			border: 0;
			height: 1.75rem;
			margin: 0;
			padding-left: $padding-base-horizontal;
		}

		tr {
			border: none;
		}

		.gsc-input-box {
			border: none;
			padding-left: $padding-large-vertical;

			&.gsc-input-box-hover,
			&.gsc-input-box-focus {
				box-shadow: none;
			}
		}

		.gsc-input {
			border: none;
			height: 1.75rem;
			font-size: 1rem;
		}

		.gsc-search-button {
			border: none;
			background: transparent;

			svg {
				fill: $brand-secondary;
				height: 1rem;
				width: 1rem;
			}
		}

		.gsst_a {
			.gscb_a {
				color: $gray-border;

				&:hover {
					color: $gray-base;
				}
			}
		}
	}

	.gsc-tabsArea {
		margin-top: $padding-base-horizontal;
		display: flex;
		height: auto;

		> .gsc-tabHeader {
			font-family: $font-family-base;
			font-size: 0.875rem;
			border-top-left-radius: $border-radius-small;
			border-top-right-radius: $border-radius-small;
			color: $gray-med;
			height: auto;
			line-height: 1;
			padding: $padding-large-vertical $padding-large-horizontal $padding-base-vertical;
			text-transform: none;
			border: 0;

			&:focus {
				outline: 1px dotted $gray-light;
			}
		}

		.gsc-tabHeader.gsc-tabhInactive,
		.gsc-tabHeader.gsc-tabhInactive {
			background-color: $gray-lighter;
		}

		.gsc-tabHeader.gsc-tabhActive,
		.gsc-tabHeader.gsc-tabhActive {
			background-color: $gray-light;
		}
	}

	.gsc-refinementsArea {
		padding: 0;
		margin: 0;
		border: 0;
	}

	.gsc-control-cse {
		padding: 0;
		border: 0;

		table {
			td {
				padding: 0;
			}
		}

		.cse table.gsc-search-box td.gsc-input,
		table.gsc-search-box td.gsc-input,
		.gsc-table-result,
		.gsc-thumbnail-inside,
		.gsc-url-top {
			padding: 0;
		}

		.gsc-results {
			padding: 0;
			width: 100%;
		}
	}

	.gsc-webResult {  // search results
		.gsc-result {
			padding: ($padding-large-horizontal * 2) 0;
			border: 0;
			border-bottom: 0.0625rem solid rgba(102, 0, 0, 0.3);

			&:last-of-type {
				border-bottom: 0;
			}

			.gs-title {
				color: $brand-primary;
				font-family: $font-family-serif;
				font-size: 1.25rem;
				height: auto;

				a {
					color: inherit !important;

					b, strong, em, i {
						color: currentColor !important;
						font-size: inherit;
						border-bottom: 1px dotted currentColor;
					}

					&:hover {
						color: $brand-secondary !important;

						b, strong, em, i {
							border-bottom-style: solid;
						}
					}
				}
			}

			.gs-snippet {
				line-height: 1.55;
			}

			a.gs-visibleUrl,
			.gs-visibleUrl {
				color: $brand-secondary;
				font-family: $font-family-base;
				padding: 0;
				margin: $padding-large-vertical 0;
			}
		}
	}

	.gsc-results .gsc-cursor-box {  // pagination
		margin: -0.0625rem 0 $padding-base-horizontal;
		background-color: $gray-lighter;
		border: 0;
		padding: $padding-base-horizontal 0;

		.gsc-cursor {
			@include pad-x-base;
			display: flex;
			font-family: $font-family-base;
		}

		.gsc-cursor-page {
			color: $gray-base;
			border-radius: 50%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			font-size: 0.75rem;
			height: 1.5rem;
			width: 1.5rem;
			padding: 0;

			&:focus {
				outline: 1px dotted $gray-light;
			}

			&:hover {
				background-color: $gray-light;
				text-decoration: none;
			}

			&.gsc-cursor-current-page {
				background-color: $brand-secondary;
				color: #fff;
				font-weight: bold;
			}
		}
	}
}




//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-sm) {  // 768px
	.path-search {
		.gsc-webResult {
			.gsc-result {
				border-bottom-width: 0.125rem;

				.gs-title {
					font-size: 1.5rem;
				}

				.gs-snippet {
					font-size: 1.125rem;
				}
			}
		}

		.gsc-results .gsc-cursor-box {
			margin-top: -0.125rem;

			.gsc-cursor-page {
				font-size: 0.875rem;
			}
		}
	}
}