/**
  * View template defaults
  *
  *
*/

.views-element-container {  // default view container
	pointer-events: all;
	transition: opacity 0.3s $ease;

	.pager {
		.pager__item {
			list-style-type: none;
			padding: 0;

			&::before {
				content: none;
			}

			.button {
				@extend .btn;
				@extend .btn-primary;
			}
		}
	}

	&.loading {
		@include spinner;
		position: relative;
		z-index: 0;
		pointer-events: none;

		&::after {
			content: '';
			background-color: rgba(247, 247, 247, 0.5);
			pointer-events: none;
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		&::before {
			border-top-color: $brand-secondary;
			border-bottom-color: $brand-secondary;
			top: 45%;
			top: calc(50% - 2rem);
			z-index: 5;
		}
	}

	&:not(.block) {
		.view {
			.view-content:not(.masonry-view) {
				.inline-list {
					> li {
						position: relative;
					}
				}
			}

			.masonry-view {
				display: block;
				opacity: 1;
				margin-bottom: $padding-large-horizontal;
				transition: opacity 0.3s $ease;

				+ .pager {
					margin-top: ($padding-base-horizontal * 2);
					margin-bottom: ($padding-base-horizontal * 2);
				}
			}
		}

		.more-link {
			text-align: center;

			> a {
				@extend %btn;
				@extend %btn-primary;
			}
		}
	}
}

// empty view listing
.view-empty {
	padding: $padding-base-horizontal;
	text-align: center;
}




//  -----------------------------
//  Breakpoints
//  -----------------------------
