{#
	Event view card item
#}
{%- for key, item in rows.0['#rows'] -%}
	{%- set article = item['#row']._entity -%}
	{%- set body = article.body.0.value -%}
	{%- set image = article.field_featured_image -%}
	{%- set image_url = image.0.entity.fileuri -%}
	{%- set card_text = (article.body.value | length > 80 ? article.body.value | slice(0, 81) ~ '…' : article.body.value) | striptags('<br>') | raw -%}
	{%- set news_cat = article.field_news_type.0.entity.name.value -%}
	{# determine date and time ranges #}
		{%- set single_day_event = false -%}
		{%- if article.field_event_start_date.0.value -%}
			{%- set date_start = article.field_event_start_date.0.date | date('M j') -%}
		{%- endif -%}
		{%- if article.field_event_end_date.0.value -%}
			{%- set date_end = article.field_event_end_date.0.date | date('M j') -%}
		{%- endif -%}
		{%- if (not date_end or date_start == date_end) -%}
			{% set single_day_event = true %}
		{%- endif -%}
	{%- set event_type = article.field_event_type -%}
	{%- set event_atc = article.field_add_to_calendar -%}
	<article class="card card-item">
		<div class="card-item__wrapper{% if not image.value %} card--noimage{% endif %}">
			{%- if image.value -%}
			<a href="{{ path('entity.node.canonical', {'node': article.nid.0.value}) }}" class="card-item__image">
				<img class="lazyload img-responsive" data-src="{{ file_url(image_url) }}" alt="{{ article.field_featured_image.0.alt }}">
			</a><!-- .card-item__image -->
			{% else -%}
			<span class="noimage"></span>
			{%- endif -%}
			{%- if date_start or date_end -%}
			<div class="card-item__meta"><time datetime="{{ article.field_event_start_date.0.date }}">{{- date_start }}</time>{% if not single_day_event %} <span>&ndash;</span> <time datetime="{{ article.field_event_end_date.0.date }}">{{ date_end -}}</time>{%- endif -%}
			</div>
			{%- endif -%}
			{%- if event_type.0.value -%}
			<div class="card-item__category">
			{% for item in event_type %}
				<span class="category-item">{{ item.entity.name.value }}{% if not loop.last %}, {% endif %}</span>
			{% endfor %}
			</div>
			{%- endif -%}
			<div class="card-item__body">
				<h3 class="card-item__title"><a href="{{ path('entity.node.canonical', {'node': article.nid.0.value}) }}">{{ article.title[0].value }}</a></h3>
				<p class="card-item__text">{{ card_text }}</p>
			</div><!-- .card-item__body -->
		</div>
	</article><!-- .card-item -->
{%- endfor -%}