{#
	Event detail content type template
#}
{%- set image = content.field_featured_image -%}
{%- set subhead = content.field_subhead -%}
{# determine date and time ranges #}
	{%- set single_day_event = true -%}
	{%- set multidate = content.field_date_schedule -%}
	{%- if content.field_event_start_date.0['#text'] -%}
		{%- set date_start = content.field_event_start_date.0['#attributes'].datetime | date('l, M jS, Y') -%}
		{%- set date_start_short = content.field_event_start_date.0['#attributes'].datetime | date('F j') -%}
		{%- set time_start = content.field_event_start_date.0['#attributes'].datetime | date('g:i A') -%}
	{%- endif -%}
	{%- if content.field_event_end_date.0['#text'] -%}
		{%- set date_end = content.field_event_end_date.0['#attributes'].datetime | date('l, M jS, Y') -%}
		{%- set date_end_short = content.field_event_end_date.0['#attributes'].datetime | date('F j') -%}
		{%- set time_end = content.field_event_end_date.0['#attributes'].datetime | date('g:i A') -%}
	{%- endif -%}
	{%- if date_end and date_start != date_end -%}
		{% set single_day_event = false %}
	{%- endif -%}
	{%- if multidate.0['#text'] -%}
		{% set single_day_event = false %}
	{%- endif -%}
{# event details list #}
	{%- set event_type = content.field_event_type -%}
	{%- set event_dept = content.field_event_departments -%}
	{%- set event_location = content.field_event_event_location -%}
	{%- set event_cost = content.field_event_cost -%}
	{%- set event_cost_amount = (content.field_event_cost.0['#markup'] == '0' or content.field_event_cost.0['#markup'] is null ? 'Free' : '$' ~ content.field_event_cost.0['#markup'] | number_format(2, '.', ',')) -%}
	{%- set event_ticket = content.field_cta -%}
	{%- set event_contact = content.field_event_contact_person -%}
	{%- set event_audience = content.field_event_audience -%}
	{%- set event_atc = content.field_add_to_calendar -%}
	{%- set event_url = content.field_event_website -%}
<div class="event-item__main">
	<h1 class="page-header">{{ label }}</h1>
	<h2 class="page-subhead">{{ date_start_short }}{% if content.field_event_end_date.0['#text'] and not single_day_event %}&ndash;{{ date_end_short }}{% endif %}{%- if subhead['#title'] %} &bull; {{ subhead.0['#context'].value -}}{%- endif -%}</h2>
	<div class="event-item__social">
	{{ drupal_block(sidebar_items.social_share) }}
	</div><!-- .event-item__social -->
	{%- if date_start or date_end or event_location or event_cost_amount -%}
	<div class="event-item__details primary">
		<div class="detail-row">
			<div class="detail-item detail-half">
				<h3><i class="fa fa-calendar"></i> Date{% if not single_day_event -%}s{%- endif -%}</h3>
			{% if date_start or date_end %}
				<span class="detail-inline"><time datetime="{{ content.field_event_start_date.0['#attributes'].datetime }}">{{- date_start }}</time>{% if not single_day_event %} to <time datetime="{{ content.field_event_end_date.0['#attributes'].datetime }}">{{ date_end -}}</time>{%- endif -%}</span>
			{% endif %}
			{%- if event_atc.0['#markup'] != null -%}
				{{ event_atc }}
			{%- endif -%}
			</div>
		{% if event_location['#title'] %}
			<div class="detail-item detail-half">
				<h3><i class="fa fa-map-marker"></i> Address</h3>
				{{ event_location }}
			</div>
		{% endif %}
		</div>
		<div class="detail-row">
			<div class="detail-item detail-half">
				<h3><i class="fa fa-clock"></i> Time{% if not single_day_event -%}s{%- endif -%}</h3>
			{%- if time_start or time_end -%}
				{%- if not single_day_event -%}
				{%- for key, item in multidate -%}
					{%- if item['#text'] -%}
					{% set itemdate = item['#text'] %}
				<time datetime="{{ itemdate }}">{{ itemdate | date('l, M jS, Y – g:i A') }}</time>
					{%- endif -%}
				{%- endfor -%}
				{%- else -%}
					{%- if not time_end or time_start == time_end -%}
				<time datetime="{{ content.field_event_start_date.0['#attributes'].datetime }}">{{ time_start }}</time>
					{%- else -%}
				<time datetime="{{ content.field_event_start_date.0['#attributes'].datetime }}">{{ time_start ~ ' – ' ~ time_end }}</time>
					{%- endif -%}
				{%- endif -%}
			{%- endif -%}
			</div>
			<div class="detail-item detail-half">
				<h3><i class="fa fa-usd"></i> Cost</h3>
				{{ event_cost_amount }}
				{%- if event_ticket.0 -%}
				<span class="ticket-link"><a href="{{ event_ticket.0['#url'] }}"{% if event_ticket.0['#options'].external == true %} target="_blank" rel="nofollow"{%- endif -%}>{{ event_ticket.0['#title'] }}</a></span>
				{%- endif -%}
			</div>
		</div>
	</div><!-- .event-item__details primary -->
	{%- endif -%}
	<div class="event-item__description">
	{{ content.body }}
	</div><!-- .event-item__description -->

	{%- if image -%}
	<div class="event-item__image">
	{{ image }}
	</div><!-- .event-item__image -->
	{%- endif -%}

	{%- if event_ticket.0 -%}
	<div class="event-item__cta">
		<a href="{{ event_ticket.0['#url'] }}" class="btn btn-small btn-secondary"{% if event_ticket.0['#options'].external == true %} target="_blank" rel="nofollow"{%- endif -%}>{{ event_ticket.0['#title'] }}</a>
	</div>
	{%- endif -%}
	{%- if event_type or event_dept or event_url or event_audience -%}
	<div class="event-item__details secondary">
		<div class="detail-row">
			<div class="detail-item detail-two-third">
				<h4>Event Type</h4>
			{% if event_type['#title'] %}
				{{ event_type }}
			{% endif %}
			</div>
		{%- if event_atc.0['#markup'] != null -%}
			<div class="detail-item detail-third">
				<h4>Subscribe</h4>
				{{ event_atc }}
			</div>
		{%- endif -%}
		</div>
		<div class="detail-row">
			<div class="detail-item detail-two-third">
				<h4>Departments</h4>
			{% if event_dept['#title'] %}
				{{ event_dept }}
			{% endif %}
			</div>
		{%- if event_url['#entity_type'] != null -%}
			<div class="detail-item detail-third">
				<h4>Website</h4>
				{{ event_url }}
			</div>
		{%- endif -%}
		</div>
		{%- if event_audience['#entity_type'] != null -%}
		<div class="detail-row">
			<div class="detail-item detail-two-third">
				<h4>Audience</h4>
				{{ event_audience }}
			</div>
		</div>
		{%- endif -%}
	</div><!-- .event-item__details secondary -->
	{%- endif -%}
</div><!-- .event-item__main -->
<aside class="event-item__sidebar">
	{%- if event_contact['#title'] -%}
	<div class="sidebar-block block--primary">
		<h3 class="sidebar-block__headline">Event organizer</h3>
		<div class="sidebar-block__content content--overflow">
		{{ event_contact }}
		</div>
	</div>
	{%- endif -%}
	{{ render_block(sidebar_items.upcoming_events) }}
</aside><!-- .event-item__sidebar -->

