{% if page.footer %}
	<footer class="footer footer__main">
		<div class="footer__wrap container-fluid">
		{% block footer %}
			{% spaceless %}
		{{ page.footer }}
			{% endspaceless %}
		{% endblock %}
	{% if page.footer_two %}
		{% block footer_two %}
			{% spaceless %}
		{{ page.footer_two }}
			{% endspaceless %}
		{% endblock %}
	{% endif %}
	{% if page.footer_three %}
		{% block footer_three %}
			{% spaceless %}
		{{ page.footer_three }}
			{% endspaceless %}
		{% endblock %}
	{% endif %}
	{% if page.footer_four %}
		{% block footer_four %}
			{% spaceless %}
		{{ page.footer_four }}
			{% endspaceless %}
		{% endblock %}
	{% endif %}
		</div>
		<div class="footer__wrap container-fluid">
	{% if page.footer_five %}
		{% block footer_five %}
			{% spaceless %}
		{{ page.footer_five }}
			{% endspaceless %}
		{% endblock %}
	{% endif %}
		</div>
	</footer>
{% endif %}
{% if page.disabled_blocks %}
	{{page.disabled_blocks}}
{% endif %}