
{# Navbar #}
{% if page.navigation or page.navigation_collapsible %}
	{% if page.mobile %}
		{% block mobile %}
<div class="header__mobile" role="banner">
	{# Site Alert Banner Mobile #}
	{%- if page.site_banner -%}
		{%- block site_banner -%}
		{%- include '@loyola/partials/alertbanner.html.twig' -%}
		{%- endblock -%}
	{%- endif -%}
	<div class="header__mobile__wrap container-fluid">
		<div class="header__mobile__logo">
		{{ page.mobile }}
		</div>
		<button id="mobilenav-button" class="header__mobile__btn" aria-hidden="true"><span class="sr-only">Toggle Mobile Menu</span><span class="button-bar"></span><span class="button-bar"></span><span class="button-bar"></span></button>
	</div>
</div>
		{% endblock %}
	{% endif %}
<header class="header__main">
	{# Site Alert Banner Desktop #}
	{%- if page.site_banner -%}
		{%- include '@loyola/partials/alertbanner.html.twig' -%}
	{%- endif -%}
	{% block navbar %}
		{%
			set navbar_classes = [
				'header__navbar',
				theme.settings.navbar_inverse ? 'navbar-inverse' : 'navbar-default',
			]
		%}
	{% if page.utility %}
		{% block utility %}
	<div class="header__utility" role="banner">
		<div class="header__utility__wrapper container-fluid">
		{{ page.utility }}
		</div>
	</div>
		{% endblock %}
	{% endif %}

	<div{{ navbar_attributes.addClass(navbar_classes) }} id="navbar" role="navigation">
		{% if not navbar_attributes.hasClass(container) %}
		<div class="header__navbar__wrapper container-fluid">
		{% endif %}
			<div class="header__navigation navbar-header">
			{{ page.navigation }}
			</div>

			{# Navigation (collapsible) #}
			{% if page.navigation_collapsible %}
			<div id="header__search" class="header__search">
				{{ page.navigation_collapsible }}
			</div>
			{% endif %}
		{% if not navbar_attributes.hasClass(container) %}
		</div>
		{% endif %}
	</div>

	{% if page.mobile_utility %}
		{% block mobile_utility %}
	<div class="header__mobileutility">
		<div class="header__mobileutility__wrapper">
		{{ page.mobile_utility }}
		</div>
	</div>
		{% endblock %}
	{% endif %}

	{% endblock %}
</header>
<div class="header__underlay"></div>
{% endif %}