{#
	News article content type template
	** Requires defined layout regions 'primary' and 'secondary' assigned in node--news.html.twig
#}
{%- set subhead = primary.field_subhead -%}
{%- set news_tags = primary.field_meta_tags -%}
{%- set news_interest = secondary.field_interest -%}
{%- set news_relatedperson = secondary.field_selected_person -%}
{%- set news_relatedarticles = secondary.field_related_articles -%}
{%- set news_author = primary.field_author_name.0['#context'].value ? primary.field_author_name.0['#context'].value : "Loyola University" -%}
<div class="news-item__main">
	<h1 class="page-header">{{ label }}</h1>
	<p class="page-meta">
		<span class="page-author">{%- trans -%}By <strong>{{ news_author }}</strong> on {{ date | date('l, M jS, Y') }}{%- endtrans -%}</span>
	{% for tag in news_types -%}
		{%- if tag['#url'] -%}<span class="article-tag">{{ tag['#title'] }}</span>{%- endif -%}
	{%- endfor -%}
	</p>
	{%- if subhead['#title'] %}
	<h2 class="page-subhead">{{ subhead.0['#context'].value }}</h2>
	{%- endif -%}
	<div class="news-item__social">
	{{ drupal_block(sidebar_items.social_share) }}
	</div><!-- .event-item__social -->
	<div class="news-item__description">
	{{ primary.body }}
	</div>
</div><!-- .news-item__main -->

<aside class="sidebar news-item__sidebar">
	{%- if news_interest.0['#plain_text'] -%}
	<div class="sidebar-block block--default">
		<div class="block--default__title">
			<h3>Interests</h3>
		</div>
		<div class="block--default__content">
			{%- for tag in news_interest -%}
				{%- if tag['#plain_text'] -%}
			<span class="article-tag tag--square">{{ tag['#plain_text'] }}</span>
				{%- endif -%}
			{%- endfor -%}
		</div>
	</div>
	{%- endif -%}

	{{ render_block(sidebar_items.news_block) }}
</aside>


