{% for key, item in rows.0['#rows'] %}
	{% set article = item['#row']._entity %}
	{% set body = article.body.0.value %}
	{% set image = article.field_featured_image %}
	{% set image_url = image.0.entity.fileuri %}
	{% set card_text = (body | length > 80 ? body | slice(0, 81) : body) | striptags('<br>') | raw %}
	{% set news_cat = article.field_news_type.0.entity.name.value %}
	<article class="card card-item{% if not image.value %} card-item--noimage{% endif %}">
		<div class="card-item__wrapper">
			{% if image.value %}
			<a href="{{ path('entity.node.canonical', {'node': article.nid.0.value}) }}" class="card-item__image">
				<img src="{{ file_url(image_url) }}" alt="{{ article.field_featured_image.0.alt }}">
			</a><!-- .card-item__image -->
			{% endif %}
			<div class="card-item__body">
				<h3 class="card-item__title"><a href="{{ path('entity.node.canonical', {'node': article.nid.0.value}) }}">{{ article.title[0].value }}</a></h3>
				<div class="card-item__meta"><time datetime="{{ article.created.0.entity.created.value | date('Y-m-d') }}">{{ article.created.0.entity.created.value | date('F d, Y') }}</time>{% if news_cat %}<span class="article-tag"><span>{{ news_cat }}</span></span>{% endif %}</div>
				<p class="card-item__text">{{ card_text }}</p>
				<a href="{{ path('entity.node.canonical', {'node': article.nid.0.value}) }}" class="card-item__link arrow-angle-after" title="Read more about {{ article.title[0].value }}">Read more</a>
			</div><!-- .card-item__body -->
		</div>
	</article><!-- .card-item -->
{% endfor %}