<div class="newsitems{% if loop.first and not loop.last %} active{% endif %}">
	{% for key, item in batch %}
{%- include '@loyola/partials/news-tab--card.html.twig' -%}
	{% endfor %}
{% if loop.parent.loop.index == groupSize %}
</div>
<div class="newsitems">
{% endif %}
</div><!-- .newsitems -->