{%- set item_text = item.body.value|render|striptags -%}
{%- set single_day_event = false -%}
{%- if entity_type == 'news' -%}
	{%- set subtype = item.field_news_type.entity.name.value -%}
{%- else -%}
	{%- if item.field_event_start_date.0.value -%}
		{%- set date_start = item.field_event_start_date.0.date | date('M j') -%}
	{%- endif -%}
	{%- if item.field_event_end_date.0.value -%}
		{%- set date_end = item.field_event_end_date.0.date | date('M j') -%}
	{%- endif -%}
	{%- if (not date_end or date_start == date_end) -%}
		{% set single_day_event = true %}
	{%- endif -%}
	{%- set subtype = item.field_event_event_type.entity.name.value -%}
{%- endif -%}
{%- if loop.first -%}
	{%- set news_excerpt = item_text | length > feature_length ? item_text | slice(0, feature_length) ~ '…' : item_text -%}
{%- else -%}
	{%- set news_excerpt = item_text | length > excerpt_length ? item_text | slice(0, excerpt_length) ~ '…' : item_text -%}
{%- endif -%}
<div class="newsitem__wrapper grid-item {% if loop.first %} featured{% endif %}{% if not item.field_featured_image.value %} image--placeholder{% endif %}">
	<div class="newsitem__image">
		<span class="newsitem__info">
			{%- if date_start or date_end -%}
			<span class="date-field">{{- date_start }}{% if not single_day_event %} &ndash; {{ date_end -}}{%- endif -%}</span>
			{% endif %}
			{{ subtype }}
		</span>
		{% if item.field_featured_image.value %}
		<a href="{{ path('entity.node.canonical', {'node': item.id}) }}"><img class="lazyload" data-object-fit data-src="{{ file_url(item.field_featured_image.entity.fileuri) }}" alt="{{ item.title.value }}"></a>
		{% endif %}
	</div><!-- .newsitem__image -->
	<h3 class="item-title"><a href="{{ path('entity.node.canonical', {'node': item.id}) }}" title="{{ item.title.value }}">{{ item.title.value|length > 50 ? item.title.value|slice(0, 40) ~ '...' : item.title.value
	 }}</a></h3>
	<p>{{ news_excerpt }}</p>
	<a href="{{ path('entity.node.canonical', {'node': item.id}) }}" class="newsitem__link" title="{{ item.title.value }}">Read More</a>
</div><!-- .newsitem__wrapper -->