{%- set link_item = paragraph.bp_link.value ? paragraph.bp_link : item.entity.bp_link -%}
{%- set link_type = button_type.value ? button_type.value : 'arrow-circle-before' -%}
{%- if link_item.value -%}
<div class="component__cta">
	{%- if link_item.0.url.external -%}
	<a href="{{ link_item.uri }}" class="{{ link_type }}">{{ link_item.title }}</a>
	{%- else -%}
		{%- set node_id = link_item.uri|split('/') -%}
		{%- if node_id[1] -%}
			{%- set more_link = path('entity.node.canonical', {'node': node_id[1] }) -%}
		{%- endif -%}
		{%- if more_link -%}
	<a href="{{ more_link }}" class="{{ link_type }}">{{ link_item.title }}</a>
		{%- endif -%}
	{%- endif -%}
</div><!-- .component__cta -->
{%- endif -%}
