{%- for key, item in rows.0['#rows'] -%}
	{%- set article = item['#row']._entity -%}
	{%- set body = article.body.0.value -%}
	{%- set image = article.field_image -%}
	{%- set image_url = image.0.entity.fileuri -%}

	{%- set expertise = article.field_person_expertise -%}
	{%- set prefix = article.field_person_prefix.0.value -%}
	{%- set suffix = article.field_person_suffix.0.value -%}
	{%- set fname = article.field_person_first_name -%}
	{%- set lname = article.field_person_last_name -%}

	{%- set tags = article.field_meta_tags -%}
	{%- set address = article.field_office_address.0.value -%}
	{%- set phone = article.field_person_phone.0.value -%}
	{%- set email = article.field_person_email.0.value -%}
	{%- set website = article.field_person_website -%}
	{%- set link = article.field_program_link -%}
	{%- set officehours = article.field_person_office_hours.0.value -%}
	{%- set designation = article.field_person_designation.0.value -%}
	{%- set education = article.field_person_education_overview -%}
	{%- set honors = article.field_person_honors -%}
	{%- set dept_name = article.field_person_related_department -%}
	{%- set dept_link = article.field_department_link -%}
	{%- set program = article.field_person_related_program -%}
	{%- set links = article.field_person_links -%}
<article class="card card-item{% if not image.value %} card-item--noimage{% endif -%}">
	<div class="card-item__wrapper">
		<div class="card-item__image">
			<a href="{{ path('entity.node.canonical', {'node': article.nid.0.value}) }}" class="card-image">
			{%- if image.value -%}
				<img class="lazyload" data-src="{{ image_url | image_style('large') }}" alt="{{ image.0.alt }}">
			{%- else -%}
				<span class="noimage"><span class="sr-only">No image to display</span></span>
			{%- endif -%}
			</a>
		</div><!-- .card-item__image -->
		{% if expertise.0 %}
		<div class="card-item__expertise">
			<div class="overflow-wrap">
		{%- for key, item in expertise -%}
			<span class="expertise-item">{{ item.entity.name.value }}</span>
		{%- endfor -%}
			</div>
		</div>
		{% endif %}
		<div class="card-item__body">
			<h3 class="card-item__title">
				<a href="{{ path('entity.node.canonical', {'node': article.nid.0.value}) }}">{%- if prefix -%}{{ prefix }} {% endif %}{{ article.title[0].value }}{%- if suffix %} {{ suffix }}{%- endif -%}</a>
			</h3>
			{% if designation %}
			<h4 class="card-item__subheading">{{ designation }}</h4>
			{% endif %}
			{% if address or phone or email %}
			<div class="card-item__contact">
				{% if address %}
					{{ address|raw }}
				{% endif %}
				{% if phone %}
					<p><a href="tel:{{ phone | replace({'ext': ',', 'ext:' : ',', 'ext.' : ',', ' ': ''}) }}">{{ phone|raw }}</a></p>
				{% endif %}
				{% if email %}
					<p><a href="mailto:{{ email|raw }}">{{ email|raw }}</a></p>
				{% endif %}
			</div>
			{% endif %}

			<div class="card-item__link">
				<a class="arrow-angle-after serif" href="{{ path('entity.node.canonical', {'node': article.nid.0.value}) }}">View Bio</a>
			</div>
		</div><!-- .card-item__body -->
	</div>
</article><!-- .card-item -->
{%- endfor -%}