{# main #}
	{%- set education = primary.field_person_education_overview -%}
	{%- set college = primary.group_specializations.field_college -%}
	{%- set deptnames = primary.group_specializations.field_person_related_department -%}
	{%- set department_link = content.field_department_link -%}
	{%- set program_link = content.field_program_link -%}
	{%- set expertises = primary.group_specializations.field_person_expertise -%}
	{%- set programs = primary.field_person_related_program -%}
	{%- set publications = primary.field_person_publications -%}
	{%- set honors = primary.field_person_honors -%}
	{%- set projects = primary.field_person_projects -%}
	{%- set affiliations = primary.field_person_affiliations -%}
	{%- set activities = primary.field_person_activities -%}
	{%- set links = primary.field_person_links -%}
{# sidebar #}
	{%- set image = secondary.field_image -%}
	{%- set contact = secondary.group_contact_details -%}
		{%- set contact_address = contact.field_office_address -%}
		{%- set contact_phone = contact.field_person_phone -%}
		{%- set contact_email = contact.field_person_email -%}
		{%- set contact_officehours = contact.field_person_office_hours -%}
		{%- set contact_website = contact.field_person_website -%}
		{%- set contact_cv = contact.field_person_cv -%}
{# begin content #}
	<aside class="profile__sidebar">
		{{ image }}

		<div class="sidebar-block block--primary">
			{% if contact_address or contact_phone or contact_email %}
			<div class="sidebar-block__group">
				<h3 class="sidebar-block__headline">Contact</h3>
				{% if contact_address['#title'] %}
				<div class="sidebar-block__item">
					<h4 class="sidebar-block__subheading"><i class="fa fa-map-marker"></i> Address</h4>
					{{ contact_address.0['#text'] | raw }}
				</div>
				{% endif %}
				{% if contact_phone['#title'] %}
				<div class="sidebar-block__item">
					<h4 class="sidebar-block__subheading"><i class="fa fa-phone"></i> Phone</h4>
					<p><a href="tel:{{ contact_phone.0['#title'] | replace({'ext': ',', 'ext:' : ',', 'ext.' : ',', ' ': ''}) }}">{{ contact_phone.0['#title'] }}</a></p>
				</div>
				{% endif %}
				{% if contact_email['#title'] %}
				<div class="sidebar-block__item">
					<h4 class="sidebar-block__subheading"><i class="fa fa-envelope-o"></i> Email</h4>
					<p><a href="mailto: {{ contact_email.0['#context'].value }}"><span>{{ contact_email.0['#context'].value }}</span></a></p>
				</div>
				{% endif %}
			</div><!-- .sidebar-block__group -->
			{% endif %}
			{% if contact_officehours['#title'] %}
			<div class="sidebar-block__group">
				<h3 class="sidebar-block__headline">Office hours</h3>
				<div class="sidebar-block__item">{{ contact_officehours.0['#text'] | raw }}</div>
			</div><!-- .sidebar-block__group -->
			{% endif %}

			{% if contact_website['#title'] %}
			<div class="sidebar-block__group">
				<h3 class="sidebar-block__headline">Website</h3>
				<div class="sidebar-block__item">
					{{ contact_website }}
				</div>
			</div><!-- .sidebar-block__group -->
			{% endif %}

			{% if contact_cv['#title'] %}
			<div class="sidebar-block__group">
				<h3 class="sidebar-block__headline">CV</h3>
				<div class="sidebar-block__item">
					{{ contact_cv }}
				</div>
			</div><!-- .sidebar-block__group -->
			{% endif %}

		</div><!-- .sidebar-block -->

		{{ render_block(sidebar_items.related_news) }}
		{{ render_block(sidebar_items.related_events) }}

	</aside><!-- .profile__sidebar -->
	<div class="profile__main">
		<div class="profile__description">
			{%- if education.0['#text'] -%}
			<div class="profile-block profile--education">
				<h3 class="profile-block__headline">Education</h3>
				<div class="profile-block__item">
				{{ education.0['#text'] | striptags(safe_html) | raw }}
				</div>
			</div>
			{%- endif -%}

			{% if (deptnames.0['#title']) or (college.0['#title']) %}
			<div class="profile-block split-column">
				<div class="profile-column">
					<h3 class="profile-block__headline">Departments</h3>
					<div class="profile-block__item">
						<ul class="profile-list">

						{% for key, item in college %}
							{% if item['#title'] %}
							<li>{{ item['#title'] }}</li>
							{% endif %}
						{% endfor %}

						{% for key, item in deptnames %}
							{% if item['#title'] %}
							<li>{{ item['#title'] }}</li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
				{% endif %}
				</div>

				{% if expertises.0['#title'] %}
				<div class="profile-column">
					<h3 class="profile-block__headline">Expertise</h3>
					<div class="profile-block__item">
						<ul class="profile-list">
						{% for key, item in expertises %}
							{% if item['#title'] %}
							<li>{{ item['#title'] }}</li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
				</div>
				{% endif %}
			</div>

			{% if program_link.0['#title'] %}
			<div class="profile-block profile--programs">
				<h3 class="profile-block__headline">Programs</h3>
				<div class="profile-block__item">
					<ul class="profile-list list--split">
					{% for key, item in program_link %}
						{% if item['#title'] %}
							<strong><li><a class="arrow-angle-after serif" href="{{ item['#url'] }}"> {{ item['#title'] }} </a></li></strong>
						{% endif %}
					{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}

			{% if primary.body %}
			<div class="profile-block profile--bio">
				<h3 class="profile-block__headline">Bio</h3>
				<div class="profile-block__item">
				{{ node.body.0.value | striptags(safe_html) | raw }}
				</div>
			</div>
			{% endif %}

			{% if publications.0['#text'] %}
			<div class="profile-block profile--publications">
				<h3 class="profile-block__headline">Publications</h3>
				<div class="profile-block__item">
				{{ publications.0['#text'] | striptags(safe_html) | raw }}
				</div>
			</div>
			{% endif %}

			{% if activities.0['#text']  %}
            <div class="profile-block profile--publications">
                <h3 class="profile-block__headline">Activities</h3>
                <div class="profile-block__item">
                {{ activities.0['#text'] | striptags(safe_html) | raw }}
                </div>
            </div>
            {% endif %}

            {% if affiliations.0['#text']  %}
            <div class="profile-block profile--publications">
                <h3 class="profile-block__headline">Affiliations</h3>
                <div class="profile-block__item">
                {{ affiliations.0['#text'] | striptags(safe_html) | raw }}
                </div>
            </div>
            {% endif %} 
		</div>
	</div><!-- .profile__main -->
