{%- for key, item in rows.0['#rows'] -%}
	{%- set article = item['#row']._entity -%}
	{%- set title = article.title.value -%}
	{%- set body = article.body -%}
	{%- set subhead = article.field_subhead -%}

	{%- if article.field_college.value -%}
		{%- set college = article.field_college.entity.name.value|escape|trim|lower -%}
	{%- endif -%}

	{%- if article.field_department.value -%}
		{%- set department = article.field_department.entity.name.value|escape|trim|lower -%}
	{%- endif -%}

	{%- set concentrations = false -%}
	{%- if article.field_child_program.value -%}
		{%- set concentrations = true -%}
		{%- set child_programs = article.field_child_program -%}
	{%- endif -%}

	{%- set redirect = article.field_redirect_select.0.value ? true : false -%}
	{%- set hidden = article.field_display_in_program_finder.0.value ? true : false -%}

	{%- if not hidden -%}
	<article class="card card-item{% if redirect %} card--redirect{%- endif -%}" data-program-level="{%- for key, item in article.field_program_level -%}{{ item.entity.name.value|escape|trim|lower }}{%- if not loop.first and not loop.last -%}, {%- endif -%}{%- endfor -%}">
	{%- if redirect -%}
		{%- set link_item = article.field_redirect_link -%}
		{%- set program_link = '' -%}
		{%- for item in link_item -%}
			{%- if item.uri -%}
				{%- set program_link = item.url -%}
			{%- endif -%}
		{%- endfor -%}
	{%- else -%}
		{%- set program_link = path('entity.node.canonical', {'node': article.id}) -%}
	{%- endif -%}
		<a href="{{ program_link }}" class="card-item__link">
			<span class="card-item__title">{{ title }}</span>
			{% if concentrations %}
			<ul class="card-item__concentrations">
			{% for item in child_programs %}
				<li class="concentration-item">{{ item.entity.title.value }}</li>
			{% endfor %}
			</ul>
			{% endif %}
		</a>
	</article><!-- .card-item -->
	{%- endif -%}
{%- endfor -%}