<nav>
	<h2 class="sidebar__block__title">Popular destinations</h2>
	<ul class="sidebar__block__content">
	{%- for item in links -%}
		{%- set url = item.url.external or 'internal:' in item.uri ? item.uri|replace({'internal:': ''}) : path(item.url.routeName, item.url.routeParameters) -%}
		<li><a href="{{ url }}" class="serif arrow-angle-after">{{ item.title }}</a></li>
	{%- endfor -%}
	</ul>
</nav>