{%- set vidmodule_ID = 0 -%}
{%- for key, details in hero_banner.field_hero_banner -%}
	{%- set text_color = 'text--' ~ details.getFieldCollectionItem().field_text_color.value -%}

	{%- set video_url = details.getFieldCollectionItem().field_banner_video -%}
	{%- set video_file = details.getFieldCollectionItem().field_banner_video_file -%}
	{%- set autoplay = details.getFieldCollectionItem().field_video_autoplay.value -%}

	{%- set heading_text = details.getFieldCollectionItem().field_banner_title.value -%}
	{%- set heading_text_img = details.getFieldCollectionItem().field_banner_svg_title.entity.fileuri -%}
	{%- set subheading_text = details.getFieldCollectionItem().field_banner_subhead.value -%}

	{%- set banner_button_title = details.getFieldCollectionItem().field_banner_button.title -%}
	{%- set banner_width = details.getFieldCollectionItem().field_banner_width.value == 'twelve_col' ? 'container component--twelvecol' : 'component--fullwidth' -%}
	{%- set banner_overlay = details.getFieldCollectionItem().field_banner_overlay.value ? 'component__overlay overlay--' ~ details.getFieldCollectionItem().field_banner_overlay.value : null -%}

	{%- set cta_style = details.getFieldCollectionItem().field_cta_button_style.value == 'button' ? 'btn btn-small btn-secondary' : 'arrow-circle-before' -%}
	{%- set cta_link = details.getFieldCollectionItem().field_banner_button -%}

	{%- set desktop_img = details.getFieldCollectionItem().field_desktop_image.entity.fileuri -%}
	{%- set mobile_img = details.getFieldCollectionItem().field_mobile_image.entity.fileuri -%}

	{%- set align_x = details.getFieldCollectionItem().field_align_x.value -%}
	{%- set align_y = details.getFieldCollectionItem().field_align_y.value -%}

	{%- set local_video = false -%}
	{%- set video_type = null -%}

	{%- set vidmodule_ID = vidmodule_ID + 1 -%}

	{%- if video_url is not empty -%}
		{%- if 'youtube' in video_url.uri -%}
			{{ attach_library('loyola/youtube-scripts') }}
			{%- set video_type = 'video--youtube' -%}
		{%- elseif 'vimeo' in video_url.uri -%}
			{{ attach_library('loyola/vimeo-scripts') }}
			{%- set video_type = 'video--vimeo' -%}
		{%- endif -%}
	{%- elseif video_file is not empty -%}
		{%- set local_video = true -%}
		{%- set video_type = 'video--local' -%}
		{%- set local_video_url = file_url(video_file[0].entity.uri[0].value) -%}
	{%- endif -%}

	{%- set classes = [
			'component',
			'hero',
			is_front ? 'hero--home' : null,
			banner_overlay,
			banner_width,
			text_color,
			align_x,
			align_y,
		]
	-%}
{%- if (desktop_img is not empty) or (video_url is not empty) -%}
<div{{ attributes.addClass(classes) }}>
	<div class="component__wrapper hero__wrapper">
		{%- if desktop_img is not empty and not (local_video and autoplay) -%}
		<div class="hero__media hero__image">
			{% if mobile_img is not empty %}
			<img class="lazyload" data-object-fit data-src="{{ file_url(desktop_img) }}" sizes="100vw" data-srcset="{{ file_url(mobile_img) }} 992w, {{ file_url(desktop_img) }} 1200w" alt="{{ details.getFieldCollectionItem().field_desktop_image.alt }}">
			{% else %}
			<img class="lazyload" data-object-fit data-src="{{ file_url(desktop_img) }}" alt="{{ details.getFieldCollectionItem().field_desktop_image.alt }}">
			{% endif %}
		</div><!-- .hero__image -->
		{%- endif -%}
		{%- if video_url is not empty or local_video -%}
		<div class="hero__media hero__video {{ video_type }}{% if autoplay %} video--autoplay{% endif %}">
			<button id="pausebutton-{{ vidmodule_ID }}" class="btn btn-primary btn-circle btn-small hero__videoclose video--pause" data-video="{{ videoCode[1] }}" data-videotype="{{ video_type }}"><i class="fa fa-close"></i><span class="sr-only">Close video</span></button>
			{% if 'youtube' in video_url.uri %}
				{% set videoCode = video_url.uri | split('?v=') %}
			<iframe id="{{ videoCode[1] }}" src="//www.youtube.com/embed/{{ videoCode[1] }}?enablejsapi=1&amp;modestbranding=1&amp;controls=0&amp;iv_load_policy=3&amp;playsinline=1&amp;rel=0&amp;showinfo=0&amp;cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
			{% elseif 'vimeo' in video_url.uri %}
				{% set videoCode = video_url.uri | split('/') %}
				{% set vimeoID = videoCode | last %}
			<iframe id="{{ vimeoID }}" src="//player.vimeo.com/video/{{ vimeoID }}?transparent=0&amp;autopause=true&amp;color=e5554f&amp;portrait=false&amp;byline=false&amptitle=false" data-vimeo-id="{{ vimeoID }}" data-vimeo-autopause="true" data-vimeo-playsinline="true" data-vimeo-title="false" data-vimeo-byline="false" width="640" frameborder="0" allowfullscreen></iframe>
			{% else %}
			<video class="embed-responsive-item" src="{{ local_video_url }}" preload="metadata" allowfullscreen playsinline{% if autoplay %} autoplay muted loop{% else %} controls{% endif %}></video>
			{% endif %}
		</div><!-- .hero__video -->
		{%- endif -%}

		<div class="hero__content">
			{%- if heading_text is not empty or heading_text_img is not empty -%}
			<div class="hero__title">
				{%- if heading_text -%}
				<h1 class="display">{{ heading_text | striptags('<br><span><em><i><b><strong>') | raw }}</h1>
				{%- elseif heading_text_img -%}
				<h1 class="display"><img src="{{ file_url(heading_text_img) }}" alt="{{ details.getFieldCollectionItem().field_banner_svg_title.alt }}"></h1>
				{%- endif %}
			</div>
			{% endif %}
			{% if subheading_text is not empty %}
			<div class="hero__subhead">
				<p>{{ subheading_text | striptags('<br><span><em><i><b><strong>') | raw }}</p>
			</div>
			{% endif %}

			{% if video_url is not empty and not (local_video and not autoplay) %}
			<div class="hero__cta">
				<button id="playbutton-{{ vidmodule_ID }}" class="btn btn-small btn-secondary hero__videobutton video--play" data-video="{{ videoCode[1] }}" data-videotype="{{ video_type }}"><i class="fa fa-play-circle"></i> {% if video_url is not empty and video_url.title %}{{ video_url.title }}{% else %}Watch video{% endif %}</button>
			</div><!-- hero__cta -->
			{% elseif (banner_button_title is not empty) or (banner_button_title is not empty and local_video and autoplay) %}
			<div class="hero__cta">
				{%- if cta_link.0.url.external -%}
				<a href="{{ cta_link.uri }}" class="{{ cta_style }}" rel="noopener"><span>{{ banner_button_title }}</span></a>
				{%- else -%}
				{%- set node_id = cta_link.uri|split('/') -%}
					{%- if node_id[1] -%}
						{% set more_link = cta_link.0.url %}
					{%- endif -%}
					{%- if more_link -%}
				<a href="{{ more_link }}" class="{{ cta_style }}"><span>{{ banner_button_title }}</span></a>
					{%- endif -%}
				{% endif %}
			</div><!-- .hero__cta -->
			{%- endif -%}
		</div><!-- .hero__content -->
	</div><!-- .hero__wrapper -->
</div><!-- .hero -->
	{%- if video_url is not empty -%}
<script>
	var playButton = document.getElementById('playbutton-{{ vidmodule_ID }}'),
		pauseButton = document.getElementById('pausebutton-{{ vidmodule_ID }}'),
		vidContainer = pauseButton.parentElement.classList;

	{%- if 'youtube' in video_url.uri -%}
	function onYouTubeIframeAPIReady() {
		var youtubeIframe__{{ vidmodule_ID }} = new YT.Player('{{ videoCode[1] }}', {
			videoId: '{{ videoCode[1] }}',
			events: {
				'onStateChange': playerReset
			}
		});

		playButton.addEventListener('click', function() {
			youtubeIframe__{{ vidmodule_ID }}.playVideo().unMute();
		}, false);
		pauseButton.addEventListener('click', function() {
			youtubeIframe__{{ vidmodule_ID }}.pauseVideo().mute();
		}, false);

		function playerReset(event) {
			if (event.data == YT.PlayerState.ENDED) {
				pauseButton.click();
				youtubeIframe__{{ vidmodule_ID }}.seekTo(0, false);
			}
		}
	}
	{%- elseif 'vimeo' in video_url.uri -%}
	document.addEventListener('DOMContentLoaded', vimeoFunctions);
	function vimeoFunctions() {
		var vimeoIframe__{{ vidmodule_ID }} = document.getElementById('{{ vimeoID }}'),
			playerOptions = {
				id: '{{ vimeoID }}',
			},
			vimeoVid__{{ vidmodule_ID }} = new Vimeo.Player(vimeoIframe__{{ vidmodule_ID }}, playerOptions);

		playButton.addEventListener('click', function() {
			vimeoVid__{{ vidmodule_ID }}.play();
		}, false);
		pauseButton.addEventListener('click', function() {
			vimeoVid__{{ vidmodule_ID }}.pause();
		}, false);
	}
	{%- endif -%}
	document.addEventListener('keydown', function(e) {
		var keyNum = 'which' in e ? e.which : e.keyCode;
		(keyNum === 27 && vidContainer.contains('active') ? pauseButton.click() : null);
	});
</script>
	{%- endif -%}
{%- endif -%}
{%- endfor -%}