{%- set headline = paragraph.field_title.value -%}
{%- set linkList = paragraph.field_popular_destination -%}
{%- set classes = [
		'component',
		'headline-block',
		'container',
	]
-%}
<div{{ attributes.addClass(classes) }}>
	<div class="headline-block__wrapper">
		{%- if linkList.0 -%}
		<aside class="headline-block__sidebar sidebar">
			<div class="sidebar__menu">
			{%- include '@loyola/partials/sidebar-links-block.html.twig' with { links: linkList } -%}
			</div>
		</aside>
		{%- endif -%}
		<div class="headline-block__main{% if linkList.0 %} has-sidebar{%- endif -%}">
			<h2 class="headline-block__headline">{{ headline }}</h2>
			{{ paragraph.bp_text.value|raw }}
		</div>
	</div>
</div>