{%- set excerpt_length = 130 -%}
{%-
	set classes = [
		'component',
        'content-card',
		'content-card--news',
	]
-%}
<div{{ attributes.addClass(classes)}}>
    <div class="component__wrapper container">
        <div class="component__grid">
        {{ entity_type }}
            {%- for key, item in entities -%}
                {%- set card_image = item.field_featured_image -%}
                {%- set tags = item.field_news_type -%}
            <article class="card-item news-card {% if loop.first %} featured {% endif %}{% if not card_image[0] %}card--noimage{%- endif -%}">
                {%- if card_image[0] -%}
                <div class="card-item__image">
                    <a href="{{ path('entity.node.canonical', {'node': item.id}) }}"><img class="lazyload" data-src="{{ file_url(card_image[0].entity.fileuri) }}" alt="{{ card_image[0].alt }}"></a>
                </div>
                {%- endif -%}
                <div class="card-item__content">
                    <div class="card-item__headline">
                        <h3><a href="{{ path('entity.node.canonical', {'node': item.id}) }}">{{ item.title.value }}</a></h3>
                    </div>
                    <div class="card-item__meta">
                        <span class="card-item__date">
                        {% if item.type.entity.label == 'News' %}
                            {{ item.created.value | date('l, M jS, Y') }}
                        {% elseif item.type.entity.label == "Events" %}
                            {{ item.field_event_start_date.0.value | date('l, M jS, Y') }}
                        {% else %}
                        {% endif %}
                        </span>
                        {%- if tags.0 %}
                        <span class="card-item__tags">
                            {%- for tag in tags -%}
                            <span class="article-tag">{{ tag.entity.name.value }}</span>
                            {%- endfor -%}
                        </span>
                        {%- endif -%}
                    </div>
                    <div class="card-item__description">
                    {% if item.body.value|length > excerpt_length %}
                        {% set body_text = item.body.value|render|striptags|slice(0, excerpt_length) ~ '…' %}
                    {% else %}
                        {% set body_text = item.body.value|render|striptags %}
                    {% endif %}
                        <p>{{ body_text }}</p>
                    </div>
                    <div class="card-item__cta">
                        <a class="arrow-angle-after serif" href="{{ path('entity.node.canonical', {'node': item.id}) }}">Read More</a>
                    </div>
                </div><!-- .card-item__content -->
            </article><!-- .card-item -->
            {%- endfor -%}
        </div><!-- .component__grid -->
    </div><!-- .component__wrapper -->
</div><!-- .content-card--news -->