{#
/**
* @file
* Bootstrap Paragraphs template for displaying Bootstrap Tabs.
*
* Available variables:
* - paragraph: Full paragraph entity.
*   - id: The paragraph ID.
*   - bundle: The type of the paragraph, for example, "image" or "text".
*   - authorid: The user ID of the paragraph author.
*   - createdtime: Formatted creation date. Preprocess functions can
*     reformat it by calling format_date() with the desired parameters on
*     $variables['paragraph']->getCreatedTime().
* - content: All paragraph items. Use {{ content }} to print them all,
*   or print a subset such as {{ content.field_example }}. Use
*   {{ content|without('field_example') }} to temporarily suppress the printing
*   of a given child element.
* - attributes: HTML attributes for the containing element.
*   The attributes.class element may contain one or more of the following
*   classes:
*   - paragraphs: The current template type (also known as a "theming hook").
*   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
*     "Image" it would result in "paragraphs--type--image". Note that the machine
*     name will often be in a short form of the human readable label.
*   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
*     preview would result in: "paragraphs--view-mode--preview", and
*     default: "paragraphs--view-mode--default".
* - view_mode: View mode; for example, "preview" or "full".
* - logged_in: Flag for authenticated user status. Will be true when the
*   current user is a logged-in member.
* - is_admin: Flag for admin user status. Will be true when the current user
*   is an administrator.
*
* @see template_preprocess_paragraph()
*
* @ingroup themeable
*/
#}
{% set classes = [
		'component',
        'container',
		'program-view',
	]
%}
{# {% set headline = paragraph.bp_link.value %}
   <div class=''> <h3>{{ headline }}</h3> </div> #}


<div{{ attributes.addClass(classes) }}>
   <div class='program_view__headline'> <h3>{{ content.field_college.0['#title']}}</h3> </div>
    {%- set grid_type = (undergraduates|length > 0 ? ' grid--2' : '') -%}
    <div class="program-view__wrapper component__grid">
        {% if undergraduates|length > 0 %}
        <div class="grid__item undergrad{{ grid_type }}">
            <h3 class="program-view__title">Undergraduate Programs</h3>
            <ul class="program-view__list">
                {% for key, item in undergraduates %}
                {% include '@loyola/partials/program-list-item.html.twig' %}
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% if minors|length > 0 or graduates|length > 0 %}
        <div class="grid__item">
            {% if minors|length > 0 %}
            <h3 class="program-view__title">Minors</h3>
            <ul class="program-view__list">
                {% for key, item in minors %}
                {% include '@loyola/partials/program-list-item.html.twig' %}
                {% endfor %}
            </ul>
            {% endif %}
            {% if minors|length > 0 and graduates|length > 0 %}
            <hr>
            {% endif %}
            {% if graduates|length > 0 %}
            <h3 class="program-view__title">Graduate Programs</h3>
            <ul class="program-view__list">
                {% for key, item in graduates %}
                {% include '@loyola/partials/program-list-item.html.twig' %}
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
    </div><!-- .component__grid -->
</div><!-- .program-view -->