{%- set header = paragraph.field_title.value -%}
{%- set subhead = paragraph.field_subhead.value -%}
{%- set slideritems = paragraph.field_carousel_section -%}
{%- set showDots = paragraph.field_show_dots.value -%}
{%- if not showDots -%}
	{%- set slideNavLabel = paragraph.field_slide_label.value ? paragraph.field_slide_label.value : 'Slide' -%}
{%- endif -%}
{%- set classes = [
		'component',
		'slider',
	]
-%}
<section{{ attributes.addClass(classes) }}>
    <div class="component__wrapper slider__wrapper">
	{%- if header or subhead -%}
		<div class="slider__intro">
	{%- endif -%}
		{%- if header -%}
			<h3 class="component__headline">{{ header }}</h4>
		{%- endif -%}
		{%- if subhead -%}
			<div class="component__subheading">{{ subhead | raw }}</div>
		{%- endif -%}
	{%- if header or subhead -%}
		</div>
	{%- endif -%}
	{%- if slideritems -%}
		<div class="component__grid carousel" data-slider-wrap="false"{% if not showDots %} data-slider-dots="false"{% endif %}>
		{%- for key, item in slideritems -%}
			{%- set desktop_image = item.entity.bp_image_field -%}
			{%- set mobile_image = item.entity.field_mobileimage -%}
			{%- if desktop_image.value or mobile_image.value -%}
			<div class="grid__item slider-item">
				<div class="slider-item__wrapper">
				{%- if desktop_image.value and mobile_image.value -%}
					{%- set desktop_width = desktop_image.0.width -%}
					{%- set mobile_width = mobile_image.0.width -%}
					<div class="slider-item__image"><img src="{{ file_url(desktop_image.entity.fileuri) }}" data-object-fit srcset="{{ file_url(mobile_image.entity.fileuri) }} {{ mobile_width }}w, {{ file_url(desktop_image.entity.fileuri) }} {{ desktop_width }}w" sizes="(max-width: 768px) 512px, 770px" alt="{{ desktop_image.alt }}"></div>
				{%- elseif desktop_image.value -%}
					<div class="slider-item__image"><img src="{{ file_url(desktop_image.entity.fileuri) }}" data-object-fit alt="{{ desktop_image.alt }}"></div>
				{%- endif -%}
				{%- if item.entity.bp_text.value -%}
					<div class="slider-item__text">{{ item.entity.bp_text.value | raw }}</div>
				{%- endif -%}
				</div><!-- .slider-item__wrapper -->
			</div>
			{%- endif -%}
		{%- endfor -%}
		</div><!-- .carousel -->
		{%- if not showDots -%}
		<div class="slider__controls container">
			<button class="slider__button prev"><span class="sr-only">Previous slide</span></button>
			<div class="slider__count">{{ slideNavLabel }} <span class="slide--current"></span> / <span class="slide--total"></div>
			<button class="slider__button next"><span class="sr-only">Next slide</span></button>
		</div>
		{%- endif -%}
	{%- endif -%}
	</div><!-- .slider__wrapper -->
</section><!-- .slider -->