{% set left_bg_color = paragraph.field_background_color.value ? paragraph.field_background_color.value : null %}
{% set right_bg_color = paragraph.field_right_background_color.value != 'white' ? 'texture' : null %}
{% set header = paragraph.field_title.value %}
{% set subhead = paragraph.field_subhead.value %}
{% set classes = [
		'component',
		'component--fullwidth',
		'steps',
		'steps__count',
		left_bg_color,
		right_bg_color,
	]
%}
<section{{ attributes.addClass(classes) }}>
	<div class="component__wrapper steps__wrapper container">
		<header class="steps__header {{ left_bg_color }}">
			{% if header %}
			<h2 class="component__headline"><span>{{ header }}</span></h2>
			{% endif %}
			{% if subhead %}
			<p class="component__subheading">{{ subhead }}</p>
			{% endif %}
		</header>

		<div class="steps__body {{ right_bg_color }}">
			<div>{{ paragraph.bp_text.value | raw }}</div>
		</div>
	</div><!--.steps__wrapper -->
</section><!-- .steps -->