{%- set headline = paragraph.field_title.value -%}
{%- set subheading = paragraph.bp_text.value -%}
{%- set video = file_url(paragraph.field_video_upload[0].entity.uri[0].value) -%}
{# {%- set autoplay = details.getFieldCollectionItem().field_video_autoplay.value -%} #}
{%- set image = paragraph.bp_image_field.value -%}
{%- set bg_value = paragraph.field_add_texture == true ? 'bg--texture' : null -%}
{%- set classes = [
		'component',
		'wysiwyg',
		'wysiwyg-twocol',
        bg_value,
	]
-%}
<div{{ attributes.addClass(classes) }}>
    <div class="wysiwyg-twocol__wrapper container">
        <div class="row">
            {%- if headline or subheading -%}
            <div class="col-sm-6">
                <div class="wysiwyg-twocol__text">
                {%- if headline -%}
                    <h3 class="component__headline">{{ headline }}</h3>
                {%- endif -%}
                {%- if subheading -%}
                    <div class="component__subheading">{{ subheading|raw }}</div>
                {%- endif -%}
                {%- if paragraph.bp_link.0.url.external -%}
                    <a class="wysiwyg-twocol__link arrow-circle-before serif" href="{{ item.entity.bp_link.uri }}">
                        {{ paragraph.bp_link.title }}
                    </a>
                {% else -%}
                    {%- set node_id = paragraph.bp_link.uri|split('/') -%}
                    {%- if node_id[1] -%}
                        {%- set more_link = path('entity.node.canonical', {'node': node_id[1] }) -%}
                    {%- else -%}
                    {%- endif -%}
                    {%- if more_link -%}
                    <a href="{{ more_link }}" class="wysiwyg-twocol__link arrow-circle-before serif">{{paragraph.bp_link.title}}</a>
                    {%- endif -%}
                {%- endif -%}
                </div>
            </div>
            {%- endif -%}
            {%- if video or image -%}
            <div class="col-sm-6">
                {%- if video and video != "/" -%}
                <div class="wysiwyg-twocol__video video__inline">
                    <button class="video__inline--button"><i class="fa fa-play-circle"></i></button>
                    <video class="wysiwyg-twocol__video embed-responsive-item" src="{{ video }}" preload="metadata" allowfullscreen playsinline></video>
                </div>
                {%- elseif image -%}
                <div class="wysiwyg-twocol__image">
                    <img class="lazyload" data-object-fit data-src="{{ file_url(paragraph.bp_image_field.entity.fileuri) }}" alt="{{ paragraph.bp_image_field.alt }}">
                </div>
                {%- endif -%}
            </div>
            {%- endif -%}
        </div>
    </div>
</div><!-- .wysiwyg-twocol -->