{%- set title = paragraph.field_title.value -%}
{%- set subheading = paragraph.bp_text.value -%}
{%- set feature_color = paragraph.field_intro_text_color.value == 'text--light' ? 'text--light' : 'text--dark' -%}
{%- set overlay_type = paragraph.field_overlay.value ? 'component__overlay ' ~ paragraph.field_overlay.value : null -%}
{%- set bg_image = paragraph.bp_image_field.value -%}
{%- set no_intro = true -%}
{%- if title or subheading -%}
	{%- set no_intro = false -%}
{%- endif -%}
{%- set classes = [
		'component',
		'component--fullwidth',
		'content-card',
		feature_color,
		no_intro == true ? 'collapsed' : null,
	]
-%}
<div{{ attributes.addClass(classes) }}>
	{%- if bg_image -%}
	<div class="component__background {{ overlay_type }}">
		<img class="lazyload" data-src="{{ file_url(paragraph.bp_image_field.entity.fileuri) }}" alt="{{ paragraph.bp_image_field.alt }}">
	</div>
	{%- endif -%}

	<div class="component__wrapper container">
		{%- if title or subheading -%}
		<div class="component__intro">
			{% if title %}
			<h2 class="component__headline">{{ title }}</h2>
			{% endif %}
			{% if subheading %}
			<div class="component__subheading">{{ subheading | raw }}</div>
			{% endif %}
		</div><!-- .component__intro -->
		{%- endif -%}

		{% if paragraph.field_content_card_ctas_section %}
		<div class="component__grid{%- if no_intro %} grid--nointro{%- endif -%}">
		{%- for key, item in paragraph.field_content_card_ctas_section -%}
			{%- set card_headline = item.entity.field_content_cta_section_title.value -%}
			{%- set card_subheading = item.entity.bp_text.value -%}
			{%- set cta_color = feature_color == 'text--dark' ? 'btn-secondary btn-ghost' : 'btn-secondary' -%}
			<div class="card-item">
				<div class="card-item__wrapper">
					{% if card_headline %}
					<h4 class="card-item__headline">{{ card_headline }}</h4>
					{% endif %}

					{% if card_subheading %}
					<div class="card-item__subheading">{{ card_subheading | raw }}</div>
					{% endif %}
					<div class="card-item__cta">
					{% if item.entity.bp_link.0.url.external %}
						<a class="btn btn-small {{ cta_color }}" href="{{ item.entity.bp_link.uri }}">{{ item.entity.bp_link.title }}</a>
					{% else %}
						{% set node_id = item.entity.bp_link.uri|split('/') %}
						{% if node_id[1] %}
							{% set more_link = item.entity.bp_link.0.url %}
						{% endif %}
						{% if more_link %}
						<a class="btn btn-small {{ cta_color }}" href="{{ more_link }}">{{item.entity.bp_link.title}}</a>
						{% endif %}
					{% endif %}
					</div><!-- card-item__cta -->
				</div><!-- .card-item__wrapper -->
			</div><!-- .card-item -->
		{%- endfor -%}
		</div><!-- .component__grid -->
		{% endif %}
	</div>
</div>