{% set title = paragraph.field_title.value %}
{% set subhead = paragraph.field_subhead.value %}
{% set cta_button = paragraph.field_cta_button %}
{% set classes = [
		'component',
        'component--fullwidth',
		'icon-tout',
	]
%}
<div{{ attributes.addClass(classes) }}>
    <div class="component__wrapper icon-tout__wrapper container">
        <div class="icon-tout__intro">
            {% if title %}
			<h2 class="component__headline">{{ title }}</h2>
            {% endif %}
            {% if subhead %}
			<p class="component__subheading">{{ subhead }}</p>
            {% endif %}

            <div class="icon-tout__cta">
            {% for key, item in paragraph.field_cta_button %}
                {% if item.entity.field_button.0.url.external %}
                <a class="btn btn-secondary" href="{{ item.entity.field_button.uri }}">{{ item.entity.field_button.title }}</a>
                {% else %}
                    {% set node_id = item.entity.field_button.uri|split('/') %}
                    {% if node_id[1] %}
                        {% set more_link = item.entity.field_button.0.url %}
                    {% endif %}
                    {% if more_link %}
                <a href="{{ more_link }}" class="btn btn-secondary">{{ item.entity.field_button.title }}</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </div><!-- .icon-tout__cta -->
        </div><!-- .icon-tout__intro -->
        <div class="component__grid carousel carousel--mobile text--light" data-slider-wrap="true" data-slider-adaptiveheight="true">
            {% for key, item in paragraph.field_icon_tout %}
                {% set tout_headline = item.entity.field_title.value %}
                {% set tout_image = item.entity.bp_image_field %}
                {% set tout_text = item.entity.bp_unrestricted.value %}
            <div class="grid__item grid--{{ paragraph.field_icon_tout | length }} tout-item">
                <div class="tout-item__wrapper">
                    {% if tout_image.value %}
                    <img class="tout-item__image lazyload" data-src="{{ file_url(tout_image.entity.fileuri) }}" alt="{{ tout_image.alt }}">
                    {% elseif tout_headline %}
                    <h3 class="tout-item__headline">{{ tout_headline }}</h3>
                    {% endif %}
                    {% if tout_text %}
                    <div class="tout-item__text">{{ tout_text | raw }}</div>
                    {% endif %}
                </div><!-- .tout-item__wrapper -->
            </div><!-- .tout-item -->
            {% endfor %}
        </div><!-- .component__grid -->
    </div><!-- icon-tout__wrapper -->
</div><!-- .icon-tout -->

