{%- set tab_headline = paragraph.field_title.value -%}
{%- set tab_subhead = paragraph.field_subhead.value -%}
{%- set tab_cta = paragraph.bp_link -%}
{%- set icon_blocks = paragraph.field_icon_fields -%}
{%-
	set classes = [
		'paragraph',
		'paragraph--type--' ~ paragraph.bundle|clean_class,
		view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
		'icon-touts'
	]
-%}
<div{{ attributes.addClass(classes) }}>
	<div class="icon-touts__wrapper">
		{%- if tab_headline or tab_subhead -%}
		<div class="icon-touts__intro">
		{%- if tab_headline -%}
			<h3 class="component__headline">{{ tab_headline }}</h3>
		{%- endif -%}
		{%- if tab_subhead -%}
			<p class="component__subheading">{{ tab_subhead | raw }}</p>
		{%- endif -%}
		{%- if tab_cta -%}
		{%- include '@loyola/partials/paragraph-circle-link.html.twig' -%}
		{%- endif -%}
		</div><!-- .icon-touts__intro -->
		{%- endif -%}
		{%- if icon_blocks.0 -%}
		<div class="icon-touts__grid component__grid carousel carousel--mobile toutgroup--{{ icon_blocks | length }}">
		{%- for key, icon in icon_blocks -%}
			{%- set tout_image = icon.entity.bp_image_field -%}
			{%- set tout_headline = icon.entity.field_title.value -%}
			{%- set tout_text = icon.entity.bp_unrestricted.value -%}
			<div class="tout-item tout--{{ key }}">
			{% if tout_image.value or tout_headline %}
				<div class="tout-item__wrapper">
					{% if tout_image.value %}
					<img class="tout-item__image lazyload" data-src="{{ file_url(tout_image.entity.fileuri) }}" alt="{{ tout_image.alt }}">
					{% elseif tout_headline %}
					<h3 class="tout-item__headline">{{ tout_headline }}</h3>
					{% endif %}
					{% if tout_text %}
					<div class="tout-item__text">{{ tout_text | raw }}</div>
					{% endif %}
				</div>
			{% endif %}
			</div>
		{%- endfor -%}
		</div><!-- .icon-touts__grid -->
		{%- endif -%}
	</div><!-- .icon-touts__wrapper -->
</div><!-- .icon-touts -->
