{% set overlay = paragraph.field_overlay.value %}
{% set overlay_type = paragraph.field_overlay.value ? 'component__overlay ' ~ paragraph.field_overlay.value : null %}
{% set bg_type = paragraph.field_background_setting.value != 'bkgd_image' ? 'bg__color' : 'bg__image' %}
{% set classes = [
		'component',
		'component--fullwidth',
		'two-col',
		bg_type,
		bg_type == 'bg__image' ? overlay_type : null,
	]
%}
<div{{ attributes.addClass(classes) }}{% if bg_type == 'bg__image' and paragraph.field_two_up_image.value %} style="background-image: url({{ file_url(paragraph.field_two_up_image.entity.fileuri) }});"{% endif %}>
	<div{{ create_attribute({'class':
		[
			'component__wrapper',
			bg_type == 'bg__image' ? 'container' : null,
		]})
	}}>
		<div class="component__grid">
			{% for key, item in paragraph.field_content %}
				{% set item_bkgd = item.entity.field_background_color.value %}
				{% set headline = item.entity.bp_tab_section_title.value %}
				{% set icon = item.entity.field_svg_icon.value %}
				{% set subheading = item.entity.field_subhead.value %}
				{% set button_type = bg_type == 'bg__image' ? 'btn-secondary' : 'btn-ghost' %}
			<div class="grid__item grid--{{ paragraph.field_content | length }}{% if item_bkgd %} bkgd--{{ item_bkgd }}{% endif %}">

				<div class="grid__item__wrapper">
				{% if icon %}
					<div class="component__headline--image">
						<img src="{{ file_url(item.entity.field_svg_icon.entity.fileuri) }}" alt="{{ item.entity.field_svg_icon.alt }}">
					</div>
				{% endif %}
				{% if headline %}
					<h3 class="component__headline">{{ headline }}</h3>
				{% endif %}
				{% if subheading %}
					<p class="component__subheading">{{ subheading }}</p>
				{% endif %}

				{% if item.entity.bp_link.value %}
					<div class="component__cta">
						{% if item.entity.bp_link.0.url.external %}
						<a href="{{ item.entity.bp_link.uri }}" class="btn {{ button_type }}">{{ item.entity.bp_link.title }}</a>
						{% else %}
							{% set node_id = item.entity.bp_link.uri|split('/') %}
							{% if node_id[1] %}
								{% set more_link = item.entity.bp_link.0.url %}
							{% endif %}
							{% if more_link %}
						<a href="{{ more_link }}" class="btn {{ button_type }}">{{item.entity.bp_link.title}}</a>
							{% endif %}
						{% endif %}
					</div><!-- .component__cta -->
				{% endif %}
				</div><!-- .grid__item__wrapper -->

			</div><!-- .grid__item -->
			{% endfor %}

		</div><!-- .component__grid -->

	</div><!-- .component__wrapper -->
</div><!-- .two-col -->