{{ attach_library('bootstrap_paragraphs/bootstrap-paragraphs') }}
{{ attach_library('bootstrap_paragraphs/bp-tabs') }}

{%- set paragraph_id = 'tab-' ~ paragraph.id.value -%}
{%- set bg_color = 'light' in content.bp_background.0['#markup']|lower ? 'light' : null -%}
{%- set tabnav_multi = content.field_tab_section_icontout.1 -%}
{%-
	set classes = [
		'paragraph',
		'paragraph--type--' ~ paragraph.bundle|clean_class,
		view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
		'component',
		'component--fullwidth',
		'tabs',
		'tabs--icon',
		bg_color,
	]
-%}
{# Prints Tabs template. #}
<div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }}>
	<div class="tabs__wrapper container">
		{{ title_suffix }}
		{%- if tabnav_multi -%}
		<div class="tabs__navigation">
			<ul class="nav nav-tabs">
				{# Loops through the tab sections to print the tab section titles. #}
				{%- for key, item in content.field_tab_section_icontout if key|first != '#' -%}
					<li class="tab-nav__item {% if loop.first %}active{% endif %}"><a class="tab-nav__anchor" href="#{{ paragraph_id }}--{{ key }}" aria-controls="{{ item['#paragraph'].bp_tab_section_title.value }} "data-toggle="tab">{{ item['#paragraph'].bp_tab_section_title.value }}</a></li>
				{%- endfor -%}
			</ul><!-- .tabs__navigation -->
		</div>
		{%- endif -%}
		<div class="tab-content tabs__content">
			{# Loops through the tab sections again to print the tab section bodies. #}
			{%- for key, item in content.field_tab_section_icontout if key|first != '#' -%}
				<div class="tab-pane{% if loop.first %} active{% endif %}" id="{{ paragraph_id }}--{{ key }}"{% if not loop.first %} aria-hidden="true"{%- endif %}>
				{%- for body_key, body_item in item['#paragraph'].field_icontout_body -%}
					{# Use the same render array as item and set the '#paragraph'. #}
					{%- set section_body = item -%}
					{# Load the entity for the current translation #}
					{%- set section_body = section_body|merge({'#paragraph': section_body['#paragraph'].field_icontout_body[body_key].entity.getTranslation(section_body['#paragraph'].langcode[0].value)}) -%}
					{# Remove the cache keys so it doesn't repeat the first value. #}
					{%- set section_body = section_body|merge({'#cache': {}}) -%}
					{# Print the compiled section body. #}
					{{ section_body }}
				{%- endfor -%}
				</div><!-- .tab-pane -->
			{%- endfor -%}
		</div><!-- .tabs__content -->
	</div><!-- .tabs__wrapper -->
</div><!-- .tabs--icon -->
