{% set headline = paragraph.field_title.value %}
{% set groupSize = 5 %}{# number of articles per panel #}
{% set excerpt_length = 68 %}{# character limit for article description #}
{% set feature_length = 68 %}{# character limit for article feature description #}
{%
	set classes = [
		'component',
		'tabs',
		'tabs--news',
	]
%}
<div{{ attributes.addClass(classes)}}>
	<div class="tabs__wrapper container">
		{% if headline %}
		<div class="tabs__intro">
			<h3 class="component__headline">{{ headline }}</h3>
		</div>
		{% endif %}
		<ul class="tabs__navigation">
			<li class="tab-nav__item active"><a href="#ne-tab-0" aria-controls="ne-tab-0" data-toggle="tab">All</a></li>
			{%- if category.0 -%}
				{%- for key, item in category | slice(0, 2) -%}
			<li class="tab-nav__item"><a href="#ne-tab-{{ key + 1 }}" aria-controls="ne-tab-{{ key + 1 }}" data-toggle="tab">{{ item }}</a></li>
				{%- endfor -%}
			{%- endif -%}
		</ul>
		<div class="tab-content tabs__content">
			<div class="tab-pane slider__wrapper active" id="ne-tab-0">
				<div class="carousel" data-slider-buttons="true" data-slider-adaptiveheight="true">
					{% for key, batch in entities_all | batch(groupSize) %}
		{%- include '@loyola/partials/news-tab.html.twig' -%}
					{% endfor %}
				</div><!-- .carousel -->
			</div><!-- .tab-pane -->
			{%- if category.0 -%}
			<div class="tab-pane slider__wrapper" id="ne-tab-1">
				<div class="carousel" data-slider-buttons="true" data-slider-adaptiveheight="true">
					{% for key, batch in entities_cat_1 | batch(groupSize) %}
		{%- include '@loyola/partials/news-tab.html.twig' -%}
					{% endfor %}
				</div><!-- .carousel -->
			</div><!-- .tab-pane -->
			{%- endif -%}
			{%- if category.1 -%}
			<div class="tab-pane slider__wrapper" id="ne-tab-2">
				<div class="carousel" data-slider-buttons="true" data-slider-adaptiveheight="true">
					{% for key, batch in entities_cat_2 | batch(groupSize) %}
		{%- include '@loyola/partials/news-tab.html.twig' -%}
					{% endfor %}
				</div><!-- .carousel -->
			</div><!-- .tab-pane -->
			{%- endif -%}
		</div>
		<div class="ne-cta"><a class="btn btn-small btn-secondary btn-ghost" href="/{{entity_type}}">See all {{entity_type}}</a></div>
	</div>
</div>