{% set quicklinks = paragraph.field_quick_link %}
{% if paragraph.field_quick_link.0.uri %}
<div class="quicklinks" role="contentinfo">
	<button class="btn btn-circle btn-primary quicklinks__button" data-text-inactive="Quick Links" data-text-active="Close menu"><span>Quick Links</span></button>
	<div class="quicklinks__wrapper">
		<div class="quicklinks__content">
			<div class="quicklinks__logo">
				<img src="/{{ directory }}/images/loyola-logo-horizontal@2x.png" alt="Loyola University New Orleans">
			</div>
			<nav id="quicklinks__nav" class="quicklinks__items container items--{{ paragraph.field_quick_link | length }}">
			{% for item in paragraph.field_quick_link %}
				{% set url = item.url.external ? item.uri : path(item.url.routeName, item.url.routeParameters) %}
				<a class="arrow-circle-before" href="{{ url }}"><span>{{ item.title }}</span></a>
			{% endfor %}
			</nav>
		</div>
	</div>
</div>
{% endif %}
