{% set title = paragraph.field_title.value %}
{% set subhead = paragraph.field_subhead.value %}
{% set has_cta_link = false %}
{% if paragraph.bp_link.value and paragraph.bp_link.title %}
	{% set has_cta_link = true %}
{% endif %}
{% set classes = [
		'component',
		'component--fullwidth',
		'image-tout',
	]
%}
<section{{ attributes.addClass(classes) }}>
	<div class="component__wrapper image-tout__wrapper{% if has_cta_link %} has__cta{% endif %}">
		<div class="image-tout__intro container">
			<h2 class="component__headline">{{ title }}</h2>
			<p class="component__subheading">{{ subhead }}</p>
		</div>

		<div class="component__grid carousel carousel--mobile text--light" data-slider-wrap="true" data-slider-adaptiveheight="true">

		{% for key, item in paragraph.field_image_tout_section %}
			<div class="grid__item grid--{{ paragraph.field_image_tout_section | length }} tout-item">
				<div class="grid__item__wrapper tout-item__wrapper">
				{% set item_title = item.entity.field_title.value %}
				{% set item_text = item.entity.bp_text.value %}
				{% set badge = item.entity.field_round_text.value %}
				{% set item_image = item.entity.bp_image_field.value %}

				{% if item_image %}
					<div class="tout-item__image">
						{% if badge %}
						<span class="tout-item__badge">{{ badge }}</span>
						{% endif %}
						<img class="lazyload" data-object-fit data-src="{{ file_url(item.entity.bp_image_field.entity.fileuri) }}" alt="{{ item.entity.bp_image_field.alt }}">
					</div>
				{% endif %}

				{% if item_title %}
					<h3 class="tout-item__headline">{{ item_title }}</h3>
				{% endif %}
				{% if item_text %}
					<div class="tout-item__text">{{ item_text | raw }}</div>
				{% endif %}

				{% if item.entity.bp_link.value and item.entity.bp_link.title %}
					<div class="tout-item__link">
					{% if item.entity.bp_link.0.url.external %}
						<a href="{{ item.entity.bp_link.uri }}" class="btn btn-ghost">{{ item.entity.bp_link.title }}</a>
					{% else %}
						{% set node_id = item.entity.bp_link.uri|split('/') %}
						{% if node_id[1] %}
							{% set more_link = item.entity.bp_link.0.url %}
							{% else %}
						{% endif %}
						{% if more_link %}
						<a href="{{ more_link }}" class="btn btn-ghost">{{ item.entity.bp_link.title }}</a>
						{% endif %}
					{% endif %}
					</div><!-- .tout-item__link -->
				{% endif %}
				</div><!-- .tout-item__wrapper -->
			</div><!-- .tout-item -->
		{% endfor %}

		</div><!-- .component__grid -->

		{% if paragraph.bp_link.value and paragraph.bp_link.title %}
		<div class="image-tout__cta">
		{% if paragraph.bp_link.0.url.external %}
			<a class="arrow-circle-before" href="{{ paragraph.bp_link.uri }}">{{ paragraph.bp_link.title }}</a>
		{% else %}
			<a class="arrow-circle-before" href="{{ paragraph.bp_link.0.url }}">{{ paragraph.bp_link.title }}</a>
		{% endif %}
		</div><!-- .image-tout__cta -->
		{% endif %}
	</div><!-- .image-tout__wrapper -->
</section>