{% set headline = paragraph.field_title.value %}
{% set subheading = paragraph.bp_text.value %}
{% set image = paragraph.bp_image_field.value %}
{% set classes = [
		'component',
		'component--fullwidth',
		'content--' ~ paragraph.field_image_align.value,
		'component--' ~ paragraph.field_border_color.value,
		'content-card--focal-image',
	]
%}
<div{{ attributes.addClass(classes) }}>
	<div class="component__wrapper">
		{% if image %}
		<div class="content-card__image">
			<div class="image-wrap">
				<img class="lazyload" data-src="{{ file_url(paragraph.bp_image_field.entity.fileuri) }}" alt="{{ paragraph.bp_image_field.alt }}">
			</div>
		</div><!-- .content-card__image -->
		{% endif %}
		<div class="content-card__text">
			{% if headline %}
			<h3 class="component__headline">{{ headline }}</h3>
			{% endif %}

			{% if subheading %}
			<div class="component__subheading">{{ subheading | raw }}</div>
			{% endif %}

			<div class="component__cta">
			{% for key, item in paragraph.field_cta_button %}
				{% if item.entity.field_button.0.url.external %}
				<a href="{{ item.entity.field_button.uri }}" class="arrow-circle-before">{{ item.entity.field_button.title }}</a>
				{% else %}
					{% set node_id = item.entity.field_button.uri|split('/') %}
					{% if node_id[1] %}
						{% set more_link = item.entity.field_button.0.url %}
					{% endif %}
					{% if more_link %}
				<a href="{{ more_link }}" class="arrow-circle-before">{{ item.entity.field_button.title }}</a>
					{% endif %}
				{% endif %}
			{% endfor %}
			</div>
		</div><!-- .content-card__text -->
	</div><!-- .component__wrapper -->
</div><!-- .content-card--focal-image -->