{#
/**
 * @file
 * Bootstrap Paragraphs template for displaying an Accordion (Collapse).
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - bundle: The type of the paragraph, for example, "image" or "text".
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{{ attach_library('bootstrap_paragraphs/bootstrap-paragraphs') }}
{{ attach_library('bootstrap_paragraphs/bp-accordion') }}

{# The template default set classes. #}
{%-
	set classes = [
		'paragraph',
		'paragraph--type--' ~ paragraph.bundle|clean_class,
		'component',
		'accordion-base',
		view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
		node.gettype == 'landing_page' ? 'container' : null,
	]
-%}

{# Sets Unique ID for Accordion from Paragraph ID. #}
{%- set paragraph_id = 'accordion-' ~ paragraph.id.value -%}

<div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }} role="tablist" aria-multiselectable="true">
	<div class="accordion-base__wrapper">
		{%- for key, item in content.bp_accordion_section if key|first != '#' -%}
		{%- set expanded_item = (item['#paragraph'].bp_show_button.0.value | number_format ? true : false) -%}
		<div class="accordion-base__section">
			<div class="accordion-section__heading" role="tab" id="heading-{{ paragraph_id }}-{{ key + 1 }}">
				<h3 class="accordion-section__title">
					<a data-toggle="collapse" data-parent="{{ paragraph_id }}" href="#collapse-{{ paragraph_id }}-{{ key + 1 }}" aria-expanded="{%- if expanded_item %}true{% else %}false{% endif -%}" aria-controls="collapse-{{ paragraph_id }}-{{ key + 1 }}">
						<span>{{- item['#paragraph'].bp_accordion_section_title.value -}}</span> <i class="fa fa-angle-down"></i>
					</a>
				</h3>
			</div>
			<div id="collapse-{{ paragraph_id }}-{{ key + 1 }}" class="accordion-section__body collapse{% if expanded_item %} in{% endif %}" role="tabpanel" aria-labelledby="heading-{{ paragraph_id }}-{{ key + 1 }}">
				{# Loop through all of the accordion section bodies. #}
				{%- for body_key, body_item in item['#paragraph'].bp_accordion_section_body -%}
					{# Use the same render array as item and set the '#paragraph'. #}
					{%- set section_body = item -%}
					{# Load the entity for the current translation #}
					{%- set section_body = section_body|merge({'#paragraph': section_body['#paragraph'].bp_accordion_section_body[body_key].entity.getTranslation(section_body['#paragraph'].langcode[0].value)}) -%}
					{# Remove the cache keys so it doesn't repeat the first value. #}
					{%- set section_body = section_body|merge({'#cache': {}}) -%}
					{# Print the compiled section body. #}
					{{ section_body }}
				{%- endfor -%}
			</div>
		</div><!-- .accordion-section -->
		{%- endfor -%}
	</div><!-- .accordion-base__wrapper -->
</div><!-- .accordion-base -->
