{% set header = paragraph.field_title.value %}
{% set overlay = paragraph.field_overlay.value %}
{% set subhead = paragraph.field_subhead.value %}
{% set overlay_type = paragraph.field_overlay.value ? 'component__overlay ' ~ paragraph.field_overlay.value : '' %}
{% set type_color = paragraph.field_textcolor.value ? 'text--' ~ paragraph.field_textcolor.value : 'text--light' %}

{% set classes = [
		'component',
		'component--fullwidth',
		'one-col',
		type_color,
		overlay_type,
	]
%}
{% if paragraph.bp_image_field.value %}
<div{{ attributes.addClass(classes) }} style="background-image: url({{ file_url(paragraph.bp_image_field.entity.fileuri) }});">
	<div class="component__wrapper">
		{% if paragraph.field_svg_icon.value %}
		<div class="component__headline--image">
			<img src="{{ file_url(paragraph.field_svg_icon.entity.fileuri) }}" alt="{{ paragraph.field_svg_icon.alt }}">
		</div>
		{% endif %}
		{% if paragraph.field_title.value %}
		<h3 class="component__headline">{{ header }}</h3>
		{% endif %}

		{% if paragraph.field_subhead.value %}
		<p class="component__subheading">{{ subhead }}</p>
		{% endif %}

		<div class="component__cta">
		{% for key, item in paragraph.field_cta_button %}
			{% if item.entity.field_button.0.url.external %}
			<a href="{{ item.entity.field_button.uri }}" class="btn btn-small btn-secondary">{{ item.entity.field_button.title }}</a>
			{% else %}
				{% set node_id = item.entity.field_button.uri|split('/') %}
				{% if node_id[1] %}
					{% set more_link = item.entity.field_button.0.url %}
				{% else %}
				{% endif %}
				{% if more_link %}
			<a href="{{ more_link }}" class="btn btn-small btn-secondary">{{item.entity.field_button.title}}</a>
				{% endif %}
			{% endif %}
		{% endfor %}
		</div>
	</div><!-- .component__wrapper -->
</div>
{% endif %}