{#
/**
* @file
* Bootstrap Paragraphs template for displaying Bootstrap Tabs.
*
* Available variables:
* - paragraph: Full paragraph entity.
*   - id: The paragraph ID.
*   - bundle: The type of the paragraph, for example, "image" or "text".
*   - authorid: The user ID of the paragraph author.
*   - createdtime: Formatted creation date. Preprocess functions can
*     reformat it by calling format_date() with the desired parameters on
*     $variables['paragraph']->getCreatedTime().
* - content: All paragraph items. Use {{ content }} to print them all,
*   or print a subset such as {{ content.field_example }}. Use
*   {{ content|without('field_example') }} to temporarily suppress the printing
*   of a given child element.
* - attributes: HTML attributes for the containing element.
*   The attributes.class element may contain one or more of the following
*   classes:
*   - paragraphs: The current template type (also known as a "theming hook").
*   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
*     "Image" it would result in "paragraphs--type--image". Note that the machine
*     name will often be in a short form of the human readable label.
*   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
*     preview would result in: "paragraphs--view-mode--preview", and
*     default: "paragraphs--view-mode--default".
* - view_mode: View mode; for example, "preview" or "full".
* - logged_in: Flag for authenticated user status. Will be true when the
*   current user is a logged-in member.
* - is_admin: Flag for admin user status. Will be true when the current user
*   is an administrator.
*
* @see template_preprocess_paragraph()
*
* @ingroup themeable
*/
#}
{# Prints Tabs template. #}
<div><h3>{{ paragraph.field_title.value }}</h3></div>
<div role="tablist" aria-multiselectable="true">
    <div class="paragraph__column">
        {{ title_suffix }}
        <ul class="nav nav-tabs" role="tablist">
            {# Loops through the tab sections to print the tab section titles. #}
                {% for key, item in category %}
                <li role="presentation"><a href="#{{ paragraph_id }}-newstab-{{ key }}" aria-controls="{{ item }}" role="tab" data-toggle="tab">{{ item }}</a></li>
                {% endfor %}
        </ul>

        <div class="tab-content">
            {# Loops through the tab sections again to print the tab section bodies. #}
            <div role="tabpanel" class="tab-pane active" id="{{ paragraph_id }}-newstab-0">
                    <div class="row">
                        <div class="col-md-12">
                                {% for key, item in entities_cat_1 %}
                                            <div class="col-xs-4">
                                                <img src="{{ file_url(item.field_featured_image.entity.fileuri) }}" class="img-fluid rounded-circle" alt="{{ item.title.value }}">
                                                <h3>{{ item.title.value}}</h3>
                                                <span class="date_field">{{ item.createdtime|date('F d, Y') }}</span>
                                                {% set text = item.body.value|render|striptags %}
                                                <p>{{ text|length > 200 ? text|slice(0, 200) ~'' : text }}</p>
                                                <a href="{{ path('entity.node.canonical', {'node': item.id}) }}" class="explore-entity" title="{{ item.title.value }}">
                                                    Read More
                                                </a>
                                            </div>
                                {% endfor %}
                         </div>
                    </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="{{ paragraph_id }}-newstab-1">
                    <div class="row">
                        <div class="col-md-12">
                                {% for key, item in entities_cat_2 %}
                                            <div class="col-xs-4">
                                                <img src="{{ file_url(item.field_featured_image.entity.fileuri) }}" class="img-fluid rounded-circle" alt="{{ item.title.value }}">
                                                <h3>{{ item.title.value}}</h3>
                                                <span class="date_field">{{ item.createdtime|date('F d, Y') }}</span>
                                                {% set text = item.body.value|render|striptags %}
                                                <p>{{ text|length > 200 ? text|slice(0, 200) ~'' : text }}</p>
                                                <a href="{{ path('entity.node.canonical', {'node': item.id}) }}" class="explore-entity" title="{{ item.title.value }}">
                                                    Read More
                                                </a>
                                            </div>
                                {% endfor %}
                         </div>
                    </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="{{ paragraph_id }}-newstab-2">
                    <div class="row">
                        <div class="col-md-12">
                                {% for key, item in entities_cat_3 %}
                                            <div class="col-xs-4">
                                                <img src="{{ file_url(item.field_featured_image.entity.fileuri) }}" class="img-fluid rounded-circle" alt="{{ item.title.value }}">
                                                <h3>{{ item.title.value}}</h3>
                                                <span class="date_field">{{ item.createdtime|date('F d, Y') }}</span>
                                                {% set text = item.body.value|render|striptags %}
                                                <p>{{ text|length > 200 ? text|slice(0, 200) ~'' : text }}</p>
                                                <a href="{{ path('entity.node.canonical', {'node': item.id}) }}" class="explore-entity" title="{{ item.title.value }}">
                                                    Read More
                                                </a>
                                            </div>
                                {% endfor %}
                         </div>
                    </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="{{ paragraph_id }}-newstab-3">
                    <div class="row">
                        <div class="col-md-12">
                                {% for key, item in entities_cat_4 %}
                                            <div class="col-xs-4">
                                                <img src="{{ file_url(item.field_featured_image.entity.fileuri) }}" class="img-fluid rounded-circle" alt="{{ item.title.value }}">
                                                <h3>{{ item.title.value}}</h3>
                                                <span class="date_field">{{ item.createdtime|date('F d, Y') }}</span>
                                                {% set text = item.body.value|render|striptags %}
                                                <p>{{ text|length > 200 ? text|slice(0, 200) ~'' : text }}</p>
                                                <a href="{{ path('entity.node.canonical', {'node': item.id}) }}" class="explore-entity" title="{{ item.title.value }}">
                                                    Read More
                                                </a>
                                            </div>
                                {% endfor %}
                         </div>
                    </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="{{ paragraph_id }}-newstab-4">
                    <div class="row">
                        <div class="col-md-12">
                                {% for key, item in entities_cat_5 %}
                                            <div class="col-xs-4">
                                                <img src="{{ file_url(item.field_featured_image.entity.fileuri) }}" class="img-fluid rounded-circle" alt="{{ item.title.value }}">
                                                <h3>{{ item.title.value}}</h3>
                                                <span class="date_field">{{ item.createdtime|date('F d, Y') }}</span>
                                                {% set text = item.body.value|render|striptags %}
                                                <p>{{ text|length > 200 ? text|slice(0, 200) ~'' : text }}</p>
                                                <a href="{{ path('entity.node.canonical', {'node': item.id}) }}" class="explore-entity" title="{{ item.title.value }}">
                                                    Read More
                                                </a>
                                            </div>
                                {% endfor %}
                         </div>
                    </div>
            </div>
        </div>
    </div>
</div>