{% set active_tout_item = (paragraph.field_active_tout.value ? paragraph.field_active_tout.value : 1) %}
{% set classes = [
		'component',
		'gallery-tout',
	]
%}
<div{{ attributes.addClass(classes) }}>
	<div class="gallery-tout__wrapper">
	{% for key, item in paragraph.field_image_tout_section %}
		{% set key = key + 1 %}
		{% set headline = item.entity.field_title.value %}
		{% set subheading = item.entity.bp_text.value %}
		{% set subheading_short = (subheading | length > 160 ? subheading | slice(0, 161) ~ '…' : subheading ) | raw %}
		{% set cta = item.entity.bp_link.value %}
		{% set image_callout = item.entity.field_round_text.value %}
		<div class="tout-item{% if key == active_tout_item %} active{% endif %}" tabindex="0">
			<div class="tout-item__wrapper">
				<div class="tout-item__image">
					{% if image_callout %}<span class="tout-item__callout"><span>{{ image_callout }}</span></span>{% endif %}
					<img{% if key == active_tout_item %} src="{{ file_url(item.entity.bp_image_field.entity.fileuri) }}"{% else %} class="lazyload" data-object-fit data-src="{{ file_url(item.entity.bp_image_field.entity.fileuri) }}"{% endif %} alt="{{ item.entity.bp_image_field.alt }}">
				</div><!-- .tout-item__image -->
				<div class="tout-item__content">
					{% if headline %}
					<h2 class="component__heading tout-item__heading">{{ item.entity.field_title.value }}</h2>
					{% endif %}
					{% if subheading %}
					<div class="component__subheading tout-item__subheading">
					{{ subheading_short | raw }}
					</div>
					{% endif %}
					{% if cta %}
					<div class="tout-item__cta">
						{% if item.entity.bp_link.0.url.external %}
						<a href="{{ item.entity.bp_link.uri }}" class="btn btn-small btn-primary">{{ item.entity.bp_link.title }}</a>
						{% else %}
							{% set node_id = item.entity.bp_link.uri|split('/') %}
							{% if node_id[1] %}
								{% set more_link = item.entity.bp_link.0.url %}
							{% endif %}
							{% if more_link %}
						<a href="{{ more_link }}" class="btn btn-small btn-primary">{{ item.entity.bp_link.title }}</a>
							{% endif %}
						{% endif %}
					</div>
					{% endif %}
				</div><!-- .tout-item__content -->
			</div><!-- .tout-item__wrapper -->
		</div><!-- .tout-item -->
	{% endfor %}
	</div>
</div><!-- .gallery-tout -->