{%- set finderID = random() -%}
{%- set columnGroup = 10 -%}
{%- set finderView = content.field_program_listing_view -%}
{%- set classes = [
		'component',
		'finder',
	]
-%}
<section{{ attributes.addClass(classes) }} id="finder--{{ finderID }}">
    <div class="finder__wrapper container">
        <div class="finder__intro">
            <h2 class="component__headline">{{ paragraph.field_title.value }}</h2>
            <p class="component__subheading">{{ paragraph.field_subhead.value }}</p>
        </div><!-- .finder__intro -->

        <input type="hidden" id="ajax__programs" value="{{ full_site_url ~ base_path }}program-finder/rest">
        <input type="hidden" id="ajax__programlevels" value="{{ full_site_url ~ base_path }}jsonapi/taxonomy_term/program_level">

        <div class="finder-view loading">
        {{ finderView }}
        </div><!-- .finder__view -->

        <div class="finder__scroll-link">
            <a class="btn btn-primary btn-solid scroll-link" href="#finder--{{ finderID }}"><i class="fa fa-angle-up"></i><span>Back to filters</span><i class="fa fa-angle-up"></i></a>
        </div>
        <div class="finder__underlay" hidden></div>
    </div><!-- .finder__wrapper -->
</section><!-- finder -->