{% set header = paragraph.field_title.value %}
{% set subhead = paragraph.field_subhead.value %}
{% set webform = paragraph.bp_webform.value %}
{% set address_info = paragraph.bp_title.value %}

{# {% if paragraph.field_title.0.value %}
    <h2 class="webform-sidebar__heading">
        {{ paragraph.field_title.0.value }}
    </h2>
{% endif %} #}

    <div class="webform-sidebar__content">
		{# {% if paragraph.field_subhead.0.value %}
			<h3 class="webform-sidebar__subhead">
				{{ paragraph.field_subhead.0.value }}
			</h3>
		{% endif %} #}
        <section class="webform-sidebar__form form-dark-background">
            {{ content.bp_webform }}
        </section>
	</div>
 {% if paragraph.bp_text.0.value %}
    <div class="webform-sidebar__item">
        <div class="webform-sidebar__address">
            {{ paragraph.bp_text.0.value|raw }}
        </div>
    </div>
{% endif %}