{% set program = paragraph.field_program_level.value %}
<h3>{{content.field_program_level.0['#title']}}</h3>

 {% for key, item in paragraph.field_degree_section %}
 	{# taxonomy #}
 	<h4>{{ item.field_degree_type.0['#title']}}</h4>
 	{{content.field_degree_type}}
 	{{ content.field_degree_type.0['#title'] }}
 {{  item.entity.field_degree_type.0.value }}
 <h4>{{ item[key].entity.field_degree_type.value}}</h4>
  <h4>{{ item[key].entity.field_degree_type.0['#title']}}</h4>
  <h4>{{ item.entity.field_degree_type.title}}</h4>
<h4>{{ item.entity.field_degree_type.value}}</h4>
  {# body #}
 	<p>{{item.entity.bp_text.value|raw}}</p>
 		{# cta #}
 		{% if item.entity.field_button.0.url.external %}
            <a href="{{ item.entity.field_button.uri }}">
               {{ item.entity.field_cta.title }}
            </a>
        {% else %}
            {% set node_id = item.entity.field_cta.uri|split('/') %}
            {% if node_id[1] %}
                {% set more_link = path('entity.node.canonical', {'node': node_id[1] }) %}
            {% else %}
            {% endif %}
            {% if more_link %}
                <a href="{{ more_link }}" class="button secondary">{{item.entity.field_cta.title}}</a>
            {% endif %}
        {% endif %}
 {% endfor %}       