{%- set title = paragraph.field_title.value -%}
{%- set subhead = paragraph.field_listing_subhead.value -%}
{%- set faculty_list = content.field_faculty_listing_view -%}
{%-
	set classes = [
		'paragraph',
		'paragraph--type--' ~ paragraph.bundle|clean_class,
		'peoplelisting',
		'component',
		'container',
		'has-gutter',
		'gutter-left',
	]
-%}
<div{{ attributes.addClass(classes) }}>
	<aside class="sidebar component__sidebar sidebar--left">
		{{ render_block('expertguide') }}
	</aside>
	<div class="component__main">
	{%- if title -%}
		<h1 class="page-title">{{ title }}</h1>
	{%- endif -%}
	{%- if subhead -%}
		<div class="page-subhead">{{ subhead | raw }}</div>
	{%- endif -%}
	{{ faculty_list }}
	</div>
</div>