{%- set texture = paragraph.field_background_texture.value == true ? 'texture' : null -%}
{%- set col_one = paragraph.field_left_column.value -%}
{%- set col_two = paragraph.field_middle_column.value -%}
{%- set col_three = paragraph.field_right_column.value -%}
{%- set classes = [
		'component',
		'wysiwyg',
		'wysiwyg-threecol',
		texture,
	]
-%}
<div{{ attributes.addClass(classes) }}>
	<div class="wysiwyg-threecol__wrapper container">
		<div class="row">
		{%- if col_one -%}
			<div class="wysiwyg-threecol__column col-sm-4">
			{{ col_one|raw }}
			</div>
		{%- endif -%}
		{%- if col_two -%}
			<div class="wysiwyg-threecol__column col-sm-4">
			{{ col_two|raw }}
			</div>
		{%- endif -%}
		{%- if col_three -%}
			<div class="wysiwyg-threecol__column col-sm-4">
			{{ col_three|raw }}
			</div>
		{%- endif -%}
		</div>
	</div><!-- .three-col__wrapper -->
</div><!-- .three-col -->