/**
  * News Tab component
  *
  * Displays multiple sections of articles in a 'tabbed' interface
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--news_tab_section.html.twig`
  *
*/

.tabs {
	&--news {
		.tabs__intro {
			text-align: center;

			.component__headline {
				font-size: 1.5rem;
				font-family: $font-family-base;
				font-weight: bold;
			}
		}

		.tabs__navigation {
			border-bottom-width: 1px;
			display: flex;
			margin-bottom: ($padding-base-horizontal * 2);

			.tab-nav__item {
				@include pad-x-base;
				color: #777;

				a {
					color: inherit;
					display: block;
					padding-top: $padding-base-vertical;
					padding-bottom: $padding-base-vertical;
					white-space: nowrap;

					&:focus {
						outline: 1px dotted $gray-light;
					}
				}

				&.active {
					border-bottom: 2px solid $brand-secondary;
					color: $brand-secondary;
				}
			}
		}

		.tabs__content {
			margin-bottom: ($padding-base-horizontal * 2);

			.flickity-page-dots {
				bottom: ($padding-base-horizontal * 2);
				left: 50%;
				transform: translateX(-50%);
				margin-left: auto;
				margin-right: auto;
				width: 80%;
				z-index: 0;
			}

			.flickity-button {
				flex-basis: auto;
				flex-grow: 0;
				flex-shrink: 0;
				appearance: none;
				background: transparent;
				border: 2px solid currentColor;
				border-radius: 50%;
				color: $brand-secondary;
				display: flex;
				align-items: center;
				justify-content: center;
				box-shadow: none;
				height: 2.375rem;
				width: 2.375rem;
				position: absolute;
				bottom: 0;
				top: auto;
				transition: transform 0.15s $ease, color 0.15s $ease;
				z-index: 1;

				.flickity-button-icon {
					fill: currentColor;
				}

				&:focus,
				&:active {
					outline: 1px dotted $gray-light;
				}

				&:active {
					color: $gray-border;
				}

				&:disabled {
					opacity: 0.15;
				}
			}

			.flickity-viewport {
				height: 100%;
				min-height: 100%;
			}

			.tab-pane {
				opacity: 0;
				visibility: hidden;
				transition: opacity 0.3s $ease 0.2s;

				&.active {
					opacity: 1;
					visibility: visible;

					.carousel-active {
						height: 100%;
					}
				}
			}
		}

		.newsitems {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			padding-bottom: ($padding-large-horizontal * 4);
		}

		.newsitem {
			&__info {
				background-color: $brand-secondary;
				color: inherit;
				font-size: 0.75rem;
				line-height: 1;
				padding: $padding-base-vertical;
				position: absolute;
				top: 0;
				left: 0;

				.date-field {
					font-size: 0.875rem;
					font-weight: bold;
				}
			}

			&__image {
				color: #fff;
				height: 0;
				padding-bottom: 75%;
				position: relative;
				margin-left: -$padding-base-horizontal;
				margin-right: -$padding-base-horizontal;
				position: relative;
				z-index: 0;

				img {
					object-fit: cover;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					z-index: -1;
				}
			}

			&__wrapper {
				@include pad-x-base;
				background-color: $gray-lighter;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: 47.5%;
				flex-basis: calc(50% - (#{$padding-base-horizontal} * 2));
				margin-left: $padding-base-horizontal;
				margin-right: $padding-base-horizontal;
				margin-bottom: ($padding-base-horizontal * 2);

				.item-title {
					font-family: $font-family-serif;
					font-weight: normal;
					font-size: 1.125rem;
					margin: $padding-large-vertical 0;

					a {
						transition: opacity 0.15s $ease;

						&:hover,
						&:focus {
							color: inherit;
							opacity: 0.8;
						}
					}
				}

				p {
					font-size: 0.875rem;
					flex-grow: 1;

					&:empty {
						display: none;
					}
				}

				&.featured {
					background-color: transparent;
					flex-basis: 100%;
					margin-left: auto;
					margin-right: auto;
				}

				&.image--placeholder {
					@include random-background-color;
					color: #fff;

					.item-title {
						font-family: $font-family-base;
						font-weight: bold;
						border-bottom: 1px solid rgba(255, 255, 255, 0.33);
						padding-bottom: $padding-large-vertical;
					}

					.newsitem__image {
						padding-bottom: 0;
						flex-basis: 56.25%;
						flex-grow: 0;
						flex-shrink: 1;
						min-height: 7rem;
					}

					.newsitem__info {
						background-color: transparent;
						color: #fff;
					}

					.newsitem__link {
						color: #fff;

						&:hover {
							color: $gray-dark;
						}
					}

					&.featured {
						@include pad-x-base;
						height: auto;
						padding-bottom: $padding-base-horizontal;
					}

					&:nth-child(1) {
						background-color: $gold;
					}
					&:nth-child(2n) {
						background-color: $brand-secondary;
					}
					&:nth-child(3n) {
						background-color: $gold;
					}
					&:nth-child(3n + 2) {
						background-color: $teal;
					}
				}
			}

			&__link {
				display: inline-block;
				font-family: $font-family-serif;
				font-weight: bold;
				padding-bottom: $padding-large-vertical;
				transition: color 0.15s $ease;

				&::after {
					content: '\f105';
					font-family: $icon-font-name;
					font-weight: normal;
					display: inline-block;
					padding-left: 0.3125em;
				}

				&:hover {
					color: $brand-primary;
				}
			}
		}
	}
	.ne-cta {
		text-align: center;
		margin-top: -35px;
		margin-bottom: 35px;
	}
}

.ie {
	.tabs--news {
		.newsitem__wrapper {
			flex-basis: calc(50% - (#{$padding-base-horizontal} * 4));

			&.featured {
				flex-basis: calc(100% - (#{$padding-base-horizontal} * 2));
				padding-left: $padding-base-horizontal;
				padding-right: $padding-base-horizontal;
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-md) {  // med desktop 992
	.tabs {
		&--news {
			.tabs__intro {
				.component__headline {
					font-size: 3.125rem;
					margin-top: ($padding-base-horizontal * 3);
					margin-bottom: ($padding-base-horizontal * 2);
				}
			}

			.tabs__navigation {
				border-bottom: 0;
				justify-content: center;

				.tab-nav__item {
					border-bottom: 1px solid $gray-light;
					flex-basis: auto;
					min-width: 10rem;
					text-align: center;
				}
			}

			.tabs__content {
				.flickity-button {
					&.next {
						right: 25%;
					}

					&.previous {
						left: 25%;
					}
				}
			}

			.newsitems {
				justify-content: flex-end;
				align-items: stretch;
				padding-left: calc(50% - (#{$padding-base-horizontal} * 2));
				padding-bottom: ($padding-large-horizontal * 4);
				position: relative;
				width: 100%;
			}

			.newsitem {
				&__image {
					margin-right: 0;
					position: relative;
					width: calc(100% + (#{$padding-base-horizontal} * 2));
					z-index: -1;
				}

				&__wrapper {
					flex-shrink: 0;
					flex-grow: 0;
					flex-basis: 48%;
					flex-basis: calc(50% - (#{$padding-base-horizontal} * 2));
					margin-bottom: $padding-base-horizontal;
					margin-right: 0;
					position: relative;
					z-index: 0;

					&.featured {
						height: 100%;
						width: calc(50% - #{$padding-base-horizontal});
						flex-grow: 1;
						margin-left: 0;
						margin-right: 0;
						padding-left: 0;
						padding-right: 0;
						position: absolute;
						left: 0;
						top: 0;

						.item-title {
							font-size: 1.5rem;
							flex-grow: 1;
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: flex-end;
						}

						.newsitem__image {
							margin-left: 0;
							margin-right: 0;
							position: relative;
							width: calc(100% + #{$padding-base-horizontal});
							z-index: 0;
						}
					}

					&.image--placeholder {
						.item-title {
							font-size: 1.375rem;
						}

						&.featured {
							padding-bottom: $padding-base-horizontal;
							width: 50%;

							.item-title {
								font-size: 1.875rem;
							}

							.newsitem__info {
								padding-left: 0;
								padding-top: $padding-large-vertical;
								padding-bottom: $padding-large-vertical;
							}

							.newsitem__link {
								padding-bottom: 0;
							}

							.newsitem__image {
								padding-bottom: 90%;
								padding-bottom: calc(75% - #{$padding-base-horizontal});
							}
						}
					}
				}
			}

			@supports (display: grid) {
				.newsitems {
					display: grid;
					grid-gap: $padding-base-horizontal;
					grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
					padding-left: 0;
				}

				.newsitem {
					&__wrapper {
						margin: 0;
						width: 100%;

						&.featured {
							grid-column: auto / span 2;
							grid-row: 1 / span 2;
							position: relative;
							left: auto;
							top: auto;
							width: 100%;

							.newsitem__image {
								width: 100%;
							}

							&.image--placeholder {
								width: 100%;
							}
						}
					}
				}
			}
		}
	}

	.ie {
		.tabs--news {
			.newsitem__wrapper {
				flex-basis: 37.5%;
			}
		}
	}
}

@media screen and (min-width: $screen-lg) {  // lg desktop 1200
	.ie {
		.tabs--news {
			.newsitem__wrapper {
				flex-basis: 40%;
			}
		}
	}
}
