/**
  * Tab component base
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--bp-tabs.html.twig`
  *
*/

$icon-tout-border: rgba(255, 255, 255, 0.2);

.tabs {
	&__wrapper {
		@include pad-x-reset;
		overflow: hidden;
	}

	&__navigation {
		list-style-type: none;
		border-bottom: 2px solid $gray-lighter;
		flex-direction: row;
		overflow: hidden;
		overflow-x: auto;
		-webkit-overflow-scrolling: touch;
		padding-left: $padding-base-horizontal;
		padding-right: $padding-base-horizontal;

		&::before,
		&::after {
			content: none;
		}
	}

	.tab-nav {
		&__anchor {
			@include pad-x-reset;
			border-radius: 0;
			color: inherit;
			line-height: inherit;

			&:hover {
				background-color: transparent;
			}

			&:focus,
			&:active {
				background-color: transparent;
				outline: 1px dotted $gray-border;
				outline-offset: -1px;
			}
		}

		&__item {
			color: #707070;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.875rem;
			line-height: 1.2;
			padding-right: ($padding-base-horizontal * 2);

			.active {
				color: $brand-secondary;

				> .tab-nav__anchor {
					border-color: transparent;
					border: 0;
					border-bottom: 4px solid currentColor;
					color: inherit;
				}
			}
		}
	}

	.tab-pane {
		display: block;
		opacity: 0;
		pointer-events: none;
		position: absolute;
		top: 0;
		transform: translate3d(0, 0.625rem, 0);
		transition: opacity 0.2s $ease, transform 0.3s $ease;
		width: 100%;
		z-index: -1;

		&.active {
			opacity: 1;
			pointer-events: all;
			position: relative;
			transform: translate3d(0, 0, 0);
			z-index: 0;
		}
	}

	&__content {
		overflow: hidden;
		position: relative;
		z-index: 0;

		.paragraph {
			display: block;

			> [class^="group-"] {
				float: none;
				padding-top: $padding-base-horizontal;
				padding-bottom: $padding-base-horizontal;
				width: auto;
			}
		}

		.group-left {  // links
			font-size: 0.875rem;
			padding-left: ($padding-base-horizontal * 2);
			padding-right: ($padding-base-horizontal * 2);

			.arrow-angle-after {
				font-weight: bold;
			}

			p, li {
				font-size: inherit;
				line-height: 1.4285714286;
				line-height: calc(10/7);
			}
		}

		.group-middle {  // image
			img {
				display: block;
				margin-bottom: $padding-base-horizontal;
				width: 100%;
			}

			.field--name-field-image-caption {
				font-size: 0.875rem;
				padding-left: ($padding-base-horizontal * 2);
				padding-right: ($padding-base-horizontal * 2);

				p, li {
					font-size: inherit;
					line-height: 1.4285714286;
					line-height: calc(10/7);
				}
			}
		}

		.group-right {  // event list
			.field {
				padding-left: ($padding-base-horizontal * 2);
				padding-right: ($padding-base-horizontal * 2);
			}

			.field--label {
				color: $brand-secondary;
				font-family: $font-family-serif;
				font-size: 0.875rem;
				font-weight: bold;
				margin-bottom: $padding-large-vertical;
				line-height: 1;
			}

			.view-dates-and-deadlines {
				.views-row {
					border-top: 1px solid darken($gray-light, 5%);
					padding-top: $padding-large-vertical;
					padding-bottom: $padding-large-vertical;
					display: flex;
					flex-direction: row-reverse;
					justify-content: flex-end;
					align-items: center;
				}

				.views-field-title {
					color: $gray-base;
					flex-grow: 1;
					flex-shrink: 1;
					flex-basis: auto;
					font-size: 1rem;
					padding-left: $padding-large-vertical;
				}

				.views-field-field-deadline-date {
					background-color: $brand-warning;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					flex-grow: 0;
					flex-shrink: 0;
					flex-basis: 3rem;
					font-family: $font-family-serif;
					font-weight: bold;
				}

				.field-content {
					padding: $padding-base-vertical 0;

					time {
						color: $brand-primary;
						display: flex;
						flex-direction: column;
						justify-content: center;
						align-items: center;
						font-size: 1.5rem;
						font-weight: bold;
						font-family: $font-family-serif;
						line-height: 1;
						margin: 0;
						text-transform: uppercase;

						> span {
							font-size: 0.6875rem;
							display: block;
						}
					}
				}
			}
		}
	}

	&--base {
		.tab-nav {
			&__anchor {
				border: 0;
				border-bottom: 4px solid transparent;
				transition: border-color 0.2s $ease, color 0.2s $ease;

				&:focus,
				&:active {
					outline: 1px dotted $gray-light;
				}
			}

			&__item {
				background-color: transparent;
				font-size: 0.875rem;
				letter-spacing: 0.025em;
				flex-grow: 0;
				flex-shrink: 0;
				padding-right: 0;

				+ .tab-nav__item {
					padding-left: ($padding-base-horizontal * 2);
				}

				&:hover {
					color: $active-field-border;
				}

				&.active {
					color: $brand-secondary;

					.tab-nav__anchor {
						background-color: transparent;
						border: 0;
						border-bottom: 4px solid currentColor;
						color: inherit;
					}
				}
			}
		}

		.tabs__wrapper {
			margin-top: $padding-large-horizontal;
			margin-bottom: $padding-large-horizontal;
		}

		.tabs__content {
			@include pad-x-base;
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.tabs {
		&__content {
			.paragraph {
				display: flex;

				> [class^="group-"] {
					padding-left: $padding-base-horizontal;
					padding-right: $padding-base-horizontal;
				}
			}

			.group-left {
				flex-basis: 25%;
			}

			.group-middle {
				flex-basis: 42%;

				img {
					width: auto;
				}
			}

			.group-right {
				flex-basis: 33%;

				.field {
					padding: 0;
				}
			}
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.tabs {
		&__wrapper {
			@include pad-x-base;
			display: flex;
			flex-direction: column;
		}

		&__navigation {
			@include pad-x-reset;
			justify-content: flex-start;
		}

		.tab-nav {
			&__anchor {
				@include pad-x-base;
			}

			&__item {
				font-size: 1rem;
				flex-grow: 0;
			}
		}

		.tab-pane {
			transform: translateY(-0.5rem);

			&.active {
				transform: translateY(0);
			}
		}

		&__content {
			.paragraph {
				> [class^="group-"] {
					@include pad-x-reset;
				}

				.group-middle {
					padding-left: ($padding-base-horizontal * 2);
					padding-right: ($padding-base-horizontal * 2);
				}
			}

			.group-left {
				font-size: 1rem;
			}

			.group-middle {
				flex-basis: 45%;
			}

			.group-right {
				flex-basis: 30%;
				padding-right: 0;

				.field--label {
					font-size: 1rem;
				}

				.view-dates-and-deadlines {
					.views-row {
						border-top: 0;
						padding-top: $padding-base-horizontal;
						padding-bottom: $padding-base-horizontal;

						+ .views-row {
							border-top: 1px solid darken($gray-light, 5%);
						}
					}
				}
			}
		}
	}
}

@media screen and (min-width: $screen-lg) {  // lg desktop 1200
	.tabs {
		&__content {
			.paragraph {
				.group-middle {
					padding-left: ($padding-large-horizontal * 2);
					padding-right: ($padding-large-horizontal * 2);
				}
			}
		}
	}
}
