/**
  * Tabbed component (with icons)
  *
  * Displays stacked icon sections in a 'tabbed' interface
  *
  * Templates:
  * `<theme>/templates/paragraphs/paragraph--tabbed-icon-tout.html.twig`
  * `<theme>/templates/paragraphs/paragraph--tabbed-icon-tout-section.html.twig`
  *
*/

.tabs {
	&--icon {
		background: url(../images/bkgd--blue@2x.jpg) no-repeat top center;
		background-size: cover;
		border-top: 7px solid $teal;
		border-bottom: 7px solid $teal;
		padding-top: ($padding-base-horizontal * 3);
		padding-bottom: ($padding-base-horizontal * 3);

		.tabs__wrapper {
			@include pad-x-base;
			color: #fff;
			display: block;
		}

		.tabs__navigation {
			@include pad-x-reset;
			overflow: hidden;
			overflow-x: auto;
			border-bottom: 1px solid $gray-border;
			margin-left: auto;
			margin-right: -($padding-base-horizontal);
			position: relative;

			.nav-tabs {
				border-bottom: 0;
				flex-direction: row;
				justify-content: flex-start;
			}
		}

		.tabs__content {
			width: 100%;
		}

		.tab-nav {
			&__anchor {
				border: 0;
				border-bottom: 4px solid transparent;
				transition: border-color 0.2s $ease, color 0.2s $ease;

				&:focus,
				&:active {
					outline: 1px dotted $gray-base;
				}
			}

			&__item {
				background-color: transparent;
				color: #fff;
				font-size: 0.875rem;
				letter-spacing: 0.025em;
				flex-grow: 0;
				flex-shrink: 0;
				padding-right: 0;

				+ .tab-nav__item {
					padding-left: ($padding-base-horizontal * 2);
				}

				&:hover {
					color: $active-field-border;
				}

				&.active {
					color: $yellow;

					.tab-nav__anchor {
						background-color: transparent;
						border: 0;
						border-bottom: 4px solid currentColor;
						color: inherit;
					}
				}
			}
		}

		.icon-touts {
			&__wrapper {
				width: 100%;
			}

			&__intro {
				.component__headline {
					font-size: 1.75rem;
					margin-bottom: $padding-large-horizontal;
				}

				.component__subheading {
					line-height: 1.375;

					p {
						font-size: inherit;
						font-weight: inherit;
						line-height: inherit;
					}
				}

				.component__cta {
					margin-top: $padding-large-horizontal;

					.arrow-circle-after,
					.arrow-circle-before {
						&::before,
						&::after {
							color: $yellow;
						}
					}
				}
			}

			&__grid {
				padding-top: ($padding-base-horizontal * 3);
				padding-bottom: ($padding-base-horizontal * 3);
			}

			.flickity-page-dots {
				color: inherit;
				bottom: 0;
			}
		}

		.tout-item {
			flex-grow: 0;
			flex-shrink: 0;
			width: 100%;

			&__wrapper {
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: $padding-base-horizontal ($padding-large-horizontal * 2);
			}

			&__headline {
				color: $yellow;
				font-family: $font-family-script-alt;
				font-weight: normal;
				font-size: 3.9375rem;
				letter-spacing: 0.025em;
				line-height: 1;
				margin: 0 auto;
				padding: 0;
			}

			&__text {
				font-size: 0.875rem;
				font-weight: bold;
				line-height: 1.2857142857;
				line-height: (9/7);
				margin: $padding-base-vertical auto 0;
				text-align: center;

				p {
					font-size: inherit;
					font-weight: inherit;
					line-height: inherit;
					margin-bottom: 0;
				}
			}
		}

		&.light {
			background-image: none;
			border-color: $brand-secondary;

			.tabs__wrapper {
				color: $gray-base;
			}

			.tabs__navigation {
				border-color: $gray-light;

				.tab-nav__item {
					color: $gray-border;

					&:hover {
						color: $gray-base;
					}

					&.active {
						color: $brand-secondary;
					}
				}
			}

			.icon-touts {
				&__intro {
					.component__headline {
						color: $indigo;
					}

					.component__cta {
						.arrow-circle-after,
						.arrow-circle-before {
							&::before,
							&::after {
								color: $brand-secondary;
							}
						}
					}
				}
			}

			.tout-item {
				&__headline {
					color: $brand-secondary;
				}
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-md) {  // med desktop 992
	.tabs {
		&--icon {
			.tabs {
				&__wrapper {
					align-items: center;
					display: flex;
				}

				&__navigation {
					display: inline-block;
					margin-right: auto;
				}
			}

			.tab-nav {
				&__anchor {
					padding-left: ($padding-base-horizontal * 2);
					padding-right: ($padding-base-horizontal * 2);
				}

				&__item {
					letter-spacing: 0.05em;
				}
			}

			.tout-item {
				border-color: $icon-tout-border;
				flex-basis: 50%;

				&__wrapper {
					flex-wrap: wrap;
					height: 100%;
					align-items: center;
					justify-content: center;
					padding-top: ($padding-large-horizontal * 3);
					padding-bottom: ($padding-large-horizontal * 3);
				}

				&__headline {
					margin-bottom: $padding-large-horizontal;
				}
			}

			.icon-touts {
				&__wrapper {
					display: flex;
					align-items: flex-start;
					justify-content: space-between;
					padding-top: ($padding-base-horizontal * 2);
					position: relative;
				}

				&__intro {
					flex-basis: 50%;
					flex-grow: 1;
					flex-shrink: 1;
					max-width: 31.25rem;
					padding-top: ($padding-base-horizontal * 3);
					padding-right: ($padding-large-horizontal * 3);
					padding-right: 5%;

					.component__headline {
						font-size: 3.25rem;
						line-height: 1.0769230769;
						line-height: calc(14/13);
					}

					.component__subheading {
						line-height: 1.625;
					}
				}

				&__grid {
					flex-basis: 50%;
					justify-content: flex-end;
					align-items: stretch;
					flex-wrap: wrap;
				}
			}

			.toutgroup--1 {
				justify-content: center;
			}

			.toutgroup--2,
			.toutgroup--3,
			.toutgroup--4 {
				.tout-item {
					&:nth-of-type(2) {
						border-left: 1px solid $icon-tout-border;
					}
				}
			}

			.toutgroup--3 {
				.tout-item {
					&:nth-of-type(3) {
						border-top: 1px solid $icon-tout-border;
						flex-basis: 100%;
					}
				}
			}

			.toutgroup--4 {
				.tout-item {
					&:nth-of-type(3),
					&:nth-of-type(4) {
						border-top: 1px solid $icon-tout-border;
						flex-basis: 50%;
					}

					&:nth-of-type(2),
					&:nth-of-type(4) {
						border-left: 1px solid $icon-tout-border;
					}
				}
			}

			&.light {
				.toutgroup--2,
				.toutgroup--3,
				.toutgroup--4 {
					.tout-item {
						&:nth-of-type(2) {
							border-left-color: $gray-border-light;
						}
					}
				}

				.toutgroup--3 {
					.tout-item {
						&:nth-of-type(3) {
							border-top-color: $gray-border-light;
						}
					}
				}

				.toutgroup--4 {
					.tout-item {
						&:nth-of-type(3),
						&:nth-of-type(4) {
							border-top-color: $gray-border-light;
						}

						&:nth-of-type(2),
						&:nth-of-type(4) {
							border-left-color: $gray-border-light;
						}
					}
				}
			}
		}
	}

	.ie {
		.tabs--icon {
			.icon-touts__intro {
				padding-right: 2.5%;
			}

			.tout-item {
				flex-basis: 48% !important;

				&__text {
					width: 100%;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-lg) {  // lg desktop 1200
	.tabs {
		&__content {
			.paragraph {
				.group-middle {
					padding-left: ($padding-large-horizontal * 2);
					padding-right: ($padding-large-horizontal * 2);
				}
			}
		}

		&--icon {
			.icon-touts {
				&__intro {
					flex-basis: 55%;
				}

				&__grid {
					flex-basis: 45%;
				}
			}
		}
	}
}

@media screen and (max-width: 480px) {  
	.tabs {
		&--icon {
			&::before {
				background-image: url(../images/icon-arrow.svg);  // arrow
				background-repeat: no-repeat;
				background-position: right center;
				background-size: 2.25rem auto;
				content: 'Scroll';
				margin-top: 15px;
				color: white;
				font-family: $font-family-serif;
				font-weight: bold;
				font-size: 0.75rem;
				padding-right: 4.75rem;
				opacity: 1;
				position: absolute;
				pointer-events: none;
				top: ($padding-large-vertical);
				right: $padding-base-horizontal;
				width: 4rem;
			}
		}
	}
}