/**
  * Alert base styles
  *
*/

.alert {
	border-color: transparent;
	letter-spacing: 0.0275rem;
	margin-bottom: 0;
	position: relative;

	&.bs-site-alert {  // global alert
		border-radius: 0;
		transition: opacity 0.3s $quick;
	}

	p {
		font-size: 0.75rem;
		color: inherit;
		padding-right: 1.5rem;
	}

	em {
		font-style: normal;
	}

	b,
	strong {
		font-weight: bold;
		text-transform: uppercase;
	}

	a:not(.close) {
		color: inherit;
		text-decoration: underline;
	}

	> .close {
		background: transparent;
		color: inherit;
		font-weight: 100;
		position: absolute;
		right: 1rem;
		height: auto;
		width: auto;
		float: none;
		line-height: 1;
		opacity: 1;
		top: 50%;
		transform: translate3d(0, -50%, 0);

		&:active,
		&:focus,
		&:hover {
			background: transparent;
			color: inherit;
			font-weight: 100;
			opacity: 1;
		}
	}

	&.alert-info,
	&.alert-warning,
	&.alert-success,
	&.alert-danger {
		border-color: transparent;
	}

	// &.alert-info {
	// 	background-color: lighten($brand-info, 10%);
	// }

	// &.alert-success {
	// 	background-color: lighten($brand-success, 10%);
	// }

	&.alert-warning,
	&.alert-danger {
		.container {
			.alert__wrapper {
				padding-left: 60px;
				position: relative;

				&::before {
					content: "\f1cf";
					display: inline-block;
					font-family: $icon-font-name;
					font-size: 2em;
					line-height: 1;
					padding-right: 0.5rem;
					position: absolute;
					top: 0;
					left: 15px;
				}

				h1, h2, h3, h4, h5, h6, p {
					display: inline-block;
				}
			}
		}
	}

	&.alert-danger {
		text-transform: uppercase;
		font-weight: bold;

		&.alert-dismissable {
			padding-right: 15px;
		}

		.close {  // disable close button
			display: none;
			pointer-events: none;
			position: relative;
			z-index: -1;
			visibility: hidden;
		}
	}

	&.hidden {
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		pointer-events: none;
		z-index: -1;
		transform: translateY(-100%);
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------


