/**
	* _alertbanner.scss
	*
	* Global alert banner
	*
*/

.site-alert-banner {
	background-color: $brand-danger;
	color: #fff;
	padding: 0;
	margin: 0;
	transition: opacity 0.25s ease-in-out, transform 0.3s ease-in-out;

	.views-field {
		font-size: 1rem;
		margin: 0;
		margin-top: 0.875rem;

		.field-content {
			display: block;
			font-size: inherit;
		}
	}

	.views-field-title {
		font-size: 0.875rem;
		font-weight: bold;
		text-transform: uppercase;
	}

	.views-field-description {
		@include overflow-scroll;
		font-weight: bold;
		height: auto;
		max-height: 3.5em;
		position: relative;
	}

	.views-field-timestamp {
		font-size: 0.875rem;
		font-style: italic;
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-md) {  // med desktop 992
	.site-alert-banner {
		.views-field-description {
			max-height: none;
			overflow: visible;
		}
	}
}