/**
  * 'Back to Top' link
  *
*/

$back-button-width: 36px;

.back-to-top {
	position: sticky;
	top: 50%;
	margin-left: auto;
	width: $back-button-width;
	opacity: 0;
	padding: 0;
	height: 0;
	overflow: visible;
	pointer-events: none;
	transform: translateY(-50%);
	transition: transform 0.3s $ease, opacity 0.3s $ease;
	z-index: $zindex-navbar;

	&__button {
		background: $gray-lighter url(../images/icon-back-to-top.svg);
		background-size: contain;
		background-position: bottom center;
		background-repeat: no-repeat;
		border-radius: 0.1875rem;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		border-width: 5px;
		color: $gray-dark;
		box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
		font-weight: bold;
		font-size: 0.9375rem;
		left: 0;
		letter-spacing: 0;
		height: 50px;
		min-width: 0;
		padding: 0;
		margin: 0;
		white-space: normal;
		text-align: center;
		width: $back-button-width;
		transition: opacity 0.15s $ease, transform 0.15s $ease;

		&:focus,
		&:active {
			background: $gray-lighter url(../images/icon-back-to-top.svg);
			background-position: bottom center;
			background-repeat: no-repeat;
			box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.2);
			color: $gray-med;
		}
	}

	&.js-is-sticky {
		opacity: 1;
		pointer-events: auto;
		transform: translateY(-50%);

		.back-to-top__button {
			transform: translateX(0);
		}
	}

	.quicklinks--enabled & {
		display: none;
	}
}

.ie {
	.back-to-top {
		left: auto;
		right: 0;

		&__button {
			background-size: auto 24px;
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-md) {  // med desktop 992
	.back-to-top {
		top: calc(50% + 50px);
	}
}