/**
  * Button styles
  *
*/

$button-active: #db2f1c;

.btn,
%btn {
	@extend .btn;
	@include font-alias-smooth;
	background-color: transparent;
	border-color: $brand-secondary;
	color: $brand-secondary;
	border: 3px solid transparent;
	border-radius: 0;
	box-shadow: none;
	font-size: 0.75rem;
	line-height: 1;
	letter-spacing: 0.0625em;
	padding: 0.9375em 2.25em 0.875em;
	min-width: 12.5rem;
	touch-action: auto;
	transition: background-color 0.15s $ease, border 0.15s $ease, color 0.15s $ease;

	.fa {
		font-size: 2em;
		font-weight: normal;
		line-height: 0;
		vertical-align: middle;
		transform: translateY(-3px);
	}

	.text {
		&:empty {
			display: none;
		}
	}

	&:active,
	&:focus,
	&:active:focus {
		box-shadow: none;
		outline: 1px dotted $gray-light;
		outline-offset: 1px;
	}

	&.btn-primary,
	&%btn-primary {
		background-color: transparent;
		border-color: $brand-secondary;
		color: $brand-secondary;
		font-weight: bold;
		text-transform: uppercase;

		&:hover {
			border-color: $brand-secondary;
			background-color: $brand-secondary;
			color: #fff;
		}

		&:active {
			border-color: $button-active;
			background-color: $button-active;
			color: #970808;
		}

		&.btn-solid {
			background-color: $brand-secondary;
			color: #fff;

			&:hover {
				background-color: $yellow;
				border-color: $yellow;
				color: $gray-dark;
			}
		}
	}

	&.btn-secondary,
	&.btn-warning,
	&%btn-secondary {
		background-color: $yellow;
		border-color: $yellow;
		color: $gray-dark;
		font-size: 0.875rem;
		font-weight: bold;
		text-transform: uppercase;

		&:hover {
			background-color: $gold;
			border-color: $gold;
			color: $gray-dark;
		}

		&:active {
			color: #b67f00;
		}
	}

	&.btn-circle {
		box-shadow: 0 2px 3px 1px rgba(20, 20, 20, 0.33);
		line-height: 1;
		min-width: 0;
		border-radius: 50%;
		padding: 0.3125rem;
		display: flex;
		font-size: 0.75rem;
		letter-spacing: normal;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		white-space: normal;
		width: 56px;
		height: 56px;

		.fa {
			font-weight: bold;
			line-height: 1;
			transform: none;
			vertical-align: middle;
		}

		&.btn-primary {
			background-color: $gold;
			border-color: $gold;
			color: #fff;

			&:hover {
				border-color: $yellow;
				background-color: $yellow;
				color: #fff;
			}

			&:active {
				color: #b67f00;
			}
		}

		&.btn-secondary {
			background-color: transparent;
			border-color: $brand-secondary;
			color: $brand-secondary;

			&:hover {
				border-color: $brand-secondary;
				background-color: $brand-secondary;
				color: #fff;
			}

			&:active {
				border-color: $button-active;
				background-color: $button-active;
				color: #970808;
			}
		}

		&.btn-large,
		&.btn-lg {
			min-width: 0;
			width: 5.3125rem;
			height: 5.3125rem;
		}

		&.btn-small,
		&.btn-sm {
			font-size: 0.625rem;
			min-width: 0;
			width: 2.625rem;
			height: 2.625rem;

			.fa {
				font-size: 1.25rem;
			}
		}

		&:active {
			box-shadow: 0 1px 1px 1px rgba(20, 20, 20, 0.2);
		}
	}

	&.btn-ghost,
	&%btn-ghost {  // inherits from parent
		background-color: transparent;
		border-color: currentColor;
		border-width: 2px;
		color: currentColor;
		font-weight: bold;
		text-transform: uppercase;

		&:hover {
			background-color: $coral;
			border-color: $coral;
			color: #fff;
		}

		&:active {
			color: #b67f00;
		}

		&.btn-primary {
			color: $yellow;

			&:hover{
				background-color: $gold;
				border-color: $gold;
				color: #fff;
			}
		}

		&.btn-secondary {
			color: $brand-secondary;

			&:hover {
				background-color: $brand-secondary;
				border-color: $brand-secondary;
				color: #fff;
			}
		}

		&:disabled {
			color: $gray-light;
			background-color: $gray-lighter;
			border-color: $gray-lighter;
		}
	}

	&.btn-inline {
		padding: 0;
		min-width: 0;
	}

	&.icon-only {
		border: 2px solid transparent;

		&:hover {
			border-color: transparent;
		}
	}

	&.btn-small,
	&.btn-sm {
		border-width: 2px;
		font-size: 0.6875rem;
		min-width: 6.25rem;
		padding: 0.75em 1.364em 0.625em;
	}

	&.btn-large,
	&.btn-lg {
		font-size: 0.875rem;
	}

	&:disabled,
	&[disabled] {
		background-color: $gray-light;
		border-color: $gray-light;
		color: #888;
		cursor: not-allowed;
		pointer-events: none;
		transition: none;

		&:hover,
		&:active,
		&:focus {
			background-color: $gray-light;
			border-color: $gray-light;
			color: #888;
			box-shadow: none;
		}
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-sm) {  // 768px
	.btn,
	%btn {
		&.btn-circle {
			font-size: 0.875rem;
			height: 85px;
			width: 85px;

			&.btn-small,
			&.btn-sm {
				font-size: 0.625rem;
				width: 3.75rem;
				height: 3.75rem;

				.fa {
					font-size: 1.25rem;
				}
			}
		}
	}
}
