/**
	* _floating-menu.scss
	*
	* Floating left menu navigation
	*
*/



.floating-left-menu {
	background: $brand-secondary;
	border-bottom: 8px solid $yellow;
	margin: 0;
	padding: 0;
	position: relative;

	.floating-menu {
		.dropdown-menu {
			background-color: $gray-lighter;
			border-radius: 0;
			box-shadow: none;
			display: flex;
			flex-direction: column;
			float: none;
			visibility: hidden;
			height: auto;
			border: 0;
			max-height: 0;
			min-width: 0;
			opacity: 0;
			padding: $padding-base-horizontal 0;
			transform: scaleY(0);
			transition: opacity 0.15s ease-in-out, max-height 0.15s ease-in-out;
		}

		li {
			font-family: $font-family-serif;
			font-size: 0.8125rem;
			font-weight: 700;

			a,
			a.ext {
				background: transparent;
				color: #fff;
				display: block;
				position: relative;

				&:focus,
				&:hover,
				&:active {
					background: transparent;
				}
			}
		}

		.caret {
			border: none;
			font-family: $icon-font-name;
			font-size: 1rem;
			position: absolute;
			right: $padding-base-horizontal;
			top: 50%;
			transform: translateY(-50%);

			&::before {
				content: '\f107';
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate3d(-50%, -50%, 0);
			}
		}

		.navlevel--0 {
			border-bottom: 1px solid lighten($brand-secondary, 7.5%);

			> a {
				padding-left: $padding-base-horizontal;
				padding-right: $padding-base-horizontal;

				&:focus {
					outline: 1px dotted $gray-lighter;
				}

				&:focus:not(:focus-visible) {
					outline: none;
				}

				&:focus-visible {
					outline: 1px dotted $gray-lighter;
				}

				&:hover,
				&:focus,
				&:focus-within {
					background: transparent;
					color: $yellow;
				}
			}

			&.open {
				background: transparent;
				color: $yellow;

				.caret {
					transform: rotate(180deg);
				}

				> .dropdown-menu {
					position: static;
					visibility: visible;
					opacity: 1;
					max-height: 100vh;
					transform: none;
				}
			}

			> a:focus-visible,
			> a:focus-within {
				background: transparent;
				color: $yellow;

				> .dropdown-menu {
					position: static;
					visibility: visible;
					opacity: 1;
					max-height: 100vh;
					transform: none;
				}
			}
		}

		.navlevel--1 {
			font-family: $font-family-base;
			font-size: 0.875rem;

			a, a.ext {
				color: $gray-dark;
				padding-top: $padding-base-vertical;
				padding-bottom: $padding-base-vertical;
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-md) {  // med desktop 992
	.floating-left-menu {
		box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.2);
		max-width: 15.625rem;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 0;
		width: 12vw;
		min-width: 8.5rem;
		transform: translate3d(-0.75rem, -50%, 0);
		transition: transform 0.2s ease-in-out;
		z-index: $zindex-navbar;

		&:hover,
		&:focus-within {
			transform: translate3d(0, -50%, 0);
		}

		.floating-menu {
			.dropdown-menu {
				background-color: $brand-primary;
				box-shadow: 0 0 20px 0 rgba(100, 100, 100, 0.2);
				border: 0;
				margin: 0;
				position: absolute;
				left: 100%;
				top: 0;
				max-height: none;
				transform: none;
				transition: all 0.15s ease-in-out;
			}

			li {
				font-size: 1rem;

				a,
				a.ext {
					color: #fff;
					display: inline-block;
					width: 100%;
					transition: all 0.15s ease-in-out;

					.caret {
						display: none;
					}

					&:hover,
					&:focus {
						color: $yellow;
					}
				}
			}

			.navlevel--0 {
				> a {
					padding-left: 3.5em;
					padding-left: calc(1.8125em + #{$padding-large-horizontal});
					padding-right: 0;

					&::before,
					&::after {
						backface-visibility: hidden;
						border-radius: 100%;
						color: currentColor;
						position: absolute;
						left: $padding-large-horizontal;
						top: 51%;
						display: inline-block;
						font-family: $icon-font-name;
						font-weight: normal;
						line-height: 1;
						transition: transform 0.15s $ease;
						transform: translateY(-50%);
						will-change: transform;
					}

					&::before {  // arrow
						content: '\f105';
						margin-left: 0.5em;
					}

					&::after {  // circle
						content: '' !important;
						border: 2px solid currentColor;
						font-size: inherit !important;
						padding: 0 !important;
						height: 1.25em;
						width: 1.25em;
					}
				}

				&.open {
					> a {
						background: $brand-primary;
						color: $yellow;

						&::before,
						&::after {
							transform: translate3d(4px, -50%, 0);
						}
					}

					> .dropdown-menu {
						visibility: visible;
						max-height: none;
						opacity: 1;
						position: absolute;
					}
				}

				&:focus-within {
					> a {
						background: $brand-primary;
						color: $yellow;

						&::before,
						&::after {
							transform: translate3d(4px, -50%, 0);
						}
					}

					> .dropdown-menu {
						visibility: visible;
						max-height: none;
						opacity: 1;
						position: absolute;
					}
				}
			}

			.navlevel--1 {
				font-size: 0.875rem;

				a,
				a.ext {
					color: #fff;
					font-weight: inherit;

					&::after {
						content: '\f105';
						color: inherit;
						display: inline-block;
						font-family: $icon-font-name;
						font-size: 0.9375em;
						font-weight: normal;
						line-height: 1;
						padding-left: 0.3125em;
						transition: transform 0.15s $ease;
						will-change: transform;
					}

					&:hover,
					&:focus {
						color: $yellow;

						&::after {
							transform: translate3d(2px, 0, 0);
						}
					}

					&:focus-visible {
						text-decoration: underline;
					}
				}
			}
		}
	}
}