/**
  * Footer styles
  *
*/


// footer-specific variable assignments
$footer-mobile-width: 18.75rem; // 300px
$footer-border-color: rgba(255, 255, 255, 0.2);


.footer {
	@include font-alias-default;

	&__logo {
		background-repeat: no-repeat;
		background-position: center center;
		background-size: contain;
		display: block;
		margin: 1rem auto;
		max-width: 14.375rem;
		position: relative;
		text-align: center;

		img {
			display: block;
			margin: 0 auto;
			width: 25vmax;
			height: auto;
		}

		+ .footer__logo {
			margin-top: 2rem;
		}
	}

	&__main {
		background-color: $brand-primary;
		border: none;
		margin: 0 auto;
		padding: 0;
	}

	&__wrap {
		padding: 0;

		&:last-child {
			background-color: #3c0404;
		}
	}

	&__address {
		position: relative;

		&::before {
			display: block;
			font-family: $icon-font-name;
			font-size: 1.75rem;
			line-height: 1;
			position: absolute;
			top: 0.25rem;
			left: -1.625rem;
		}

		&:nth-child(1) {
			&::before {
				content: '\f276';
			}
		}

		&:nth-child(2) {
			&::before {
				content: '\f10b';
			}
		}
	}

	.region {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		color: #fff;
		padding: ($padding-base-horizontal * 2) ($padding-base-horizontal * 4);
		width: 100%;

		+ .region {
			border-top: 1px solid $footer-border-color;
			position: relative;
		}

		> div {
			margin-bottom: 0;
		}

		nav {
			+ nav {
				margin-top: 1.25rem;
			}

			> h2,
			.block-menu-title {
				@include sr-only;
			}
		}

		h6 {
			// @include font-alias-smooth;
			font-family: $font-family-serif;
			font-size: 1.1rem;
			font-weight: 500;
			line-height: 1.2;
			margin-bottom: 0.1875rem;
		}

		p {
			font-size: 0.8125rem;
		}

		li {
			font-size: 0.8125rem;
		}

		a {
			color: #fff;

			&:hover {
				color: $yellow;
			}
		}
	}

	.block-simple-social-icons {
		border-top: 1px solid rgba(255, 255, 255, 0.2);
		margin-top: $padding-base-horizontal;
		padding: ($padding-base-horizontal * 2) ($padding-base-horizontal * 2) 0;
	}

	.nav {
		&::before,
		&::after {
			clear: none;
			content: none;
			display: none;
		}

		> li {
			padding: 0.3125em 0;

			> a {
				display: inline-block;
				padding: 0;
				transition: color 0.15s $ease;

				&:hover {
					background-color: transparent;
					color: $yellow;
				}
			}
		}
	}

	.soc,
	.social-media-links {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;

		li {
			line-height: 1;

			+ li {
				margin-left: 12.5vw;
			}

			a {
				background-color: transparent !important;
				border-radius: 0;
				font-size: 0;
				margin-right: 0;
				width: auto;
				height: auto;
				line-height: 1;
				transition: color 0.15s $ease;

				&::before {
					font-size: 2rem;
					height: auto;
					transform: none;
					position: static;
				}

				&:hover {
					color: $yellow !important;
				}
			}
		}
	}

	// footer logo and social media links
	.region-footer {
		@include pad-x-reset;
		padding-bottom: ($padding-base-horizontal * 2);
		display: block;
	}

	// footer address section
	.region-footer-two {
		section {
			margin-left: auto;
			margin-right: auto;
			width: $footer-mobile-width;
		}
	}

	// footer navigation links
	.region-footer-three {
		flex-direction: column;

		nav {
			li {
				a {
					@include textlink-underline;
				}
			}
		}
	}

	// association links
	.region-footer-four {
		padding-top: $padding-base-horizontal;
		padding-bottom: $padding-base-horizontal;

		.footer__logo {
			a {
				&::after {  // remove external link icon if enabled
					content: none !important;
				}
			}
		}
	}

	// copyright section
	.region-footer-five {
		font-size: 0.5625rem;
		padding: ($padding-base-horizontal * 2);

		p, li {
			font-size: inherit;
			margin-bottom: 0;

			a {
				display: inline-block;
				padding-left: 0.25em;
				padding-right: 0.25em;
			}
		}
	}
}

// IE11 specific styles
.ie {
	.footer {
		&__logo {
			img {
				width: 100%;
			}
		}

		.region-footer-two {
			section {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: 374px) {
	.footer {
		.soc,
		.social-media-links {
			width: auto;
		}
	}
}

@media screen and (min-width: 480px) {
	.footer {
		.region {
			nav {
				margin: 0 auto;
				width: $footer-mobile-width;

				&.block-simple-social-icons {
					width: auto;
				}
			}
		}

		.soc,
		.social-media-links {
			li {
				+ li {
					margin-left: 2.75rem;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-sm) {  // 768px
	.footer {
		&__main {
			padding: ($padding-base-horizontal * 2) 0 0;
		}

		&__logo {
			// max-width: none;

			+ .footer__logo {
				border-top: 1px solid $footer-border-color;
			}
		}

		&__wrap {
			display: flex;
			justify-content: center;
			align-items: stretch;
			margin-bottom: ($padding-base-horizontal * 2);
			max-width: $screen-lg;

			&:last-child {
				display: block;
				margin-bottom: 0;
				max-width: none;
			}
		}

		.region {
			padding: 0 $padding-base-horizontal;
			border-right: 1px solid $footer-border-color;

			+ .region {
				border-top: 0;
			}

			&:last-child {
				border-right: 0;
			}

			nav {
				margin: 0;
				padding-right: 1.5%;
				width: auto;
				flex-grow: 1;
				flex-shrink: 1;
				flex-basis: auto;

				+ nav {
					margin-top: 0;
				}
			}

			a {
				&[href^="tel:"] {
					color: #fff;
					pointer-events: none;

					&:hover {
						color: inherit;
					}
				}
			}
		}

		.block-simple-social-icons {
			@include pad-x-reset;
		}

		.soc,
		.social-media-links {
			border-top: 1px solid $footer-border-color;
			padding-top: $padding-base-horizontal;
			justify-content: flex-start;
			max-width: none;

			li {
				a {
					font-size: 0;

					&::before {
						font-size: 1rem;
					}
				}

				+ li {
					margin-left: 1.33vw;
				}
			}
		}

		.logo {
			&--loyola {
				margin-left: 0;
				width: 6.5625rem;
			}

			&--ajcu,
			&--faithinthefuture {
				margin: 0;
				padding: $padding-large-horizontal $padding-base-horizontal;
			}
		}

		&__address {
			&::before {
				float: left;
				font-size: 1.5rem;
				margin-bottom: 2.5rem;
				padding-right: 0.3125rem;
				position: static;
				top: auto;
				left: auto;
			}
		}

		.region-footer {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 17%;
			padding-right: 0;
			padding-bottom: $padding-base-horizontal;
		}

		.region-footer-two {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 19%;

			section {
				width: auto;
			}
		}

		.region-footer-three {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 45%;
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
		}

		.region-footer-four {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: 19%;
			align-items: center;
			padding-left: 0;

			> section {
				width: 100%;
			}
		}

		.region-footer-five {
			border-right: 0;
			font-size: 0.625rem;
			justify-content: flex-start;
			margin: 0 auto;
			max-width: $screen-lg;
			padding: $padding-base-horizontal;

			> section {
				padding: 0 $padding-base-horizontal;
			}
		}
	}
}

@media screen and (min-width: 860px) {
	.footer {
		.region {
			nav {
				flex: none;
			}
		}

		.region-footer-three {
			justify-content: space-around;
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.footer {
		&__wrap {
			@include pad-x-base;
		}

		.logo {
			&--ajcu,
			&--faithinthefuture {
				padding-left: ($padding-base-horizontal * 2);
				padding-right: ($padding-base-horizontal * 2);
			}
		}

		.region-footer {
			flex-basis: 15%;
		}
	}
}

@media screen and (min-width: $screen-lg) {  // large desktop 1200px
	.footer {
		.soc,
		.social-media-links {
			li + li {
				margin-left: $padding-base-horizontal;
			}
		}
	}
}