/**
  * Header
  *
*/

$logo-image-size: 6.375rem; // 102px
$desktop-nav-height: 5.625rem; // 90px
$mobile-nav-height: 4.6875rem; // 75px
$dropdown-min-height: 34vmin;
$dropdown-shadow: 0 20px 20px 0 rgba(29, 28, 28, 0.15);

%mobile-menu-offscreen {
	backface-visibility: hidden;
	max-height: 0;
	opacity: 0;
	pointer-events: none;
	transition: opacity 0.15s $ease;
}

%mobile-menu-onscreen {
	max-height: none;
	opacity: 1;
	pointer-events: auto;
}

%mobile-nav-block {
	display: block;
}

.header__main {
	background-color: #fff;
	transition: transform 0.3s $ease;
	transform: translate3d(-100vw, 0, 0);
	height: 0;
	width: 0;
	z-index: $zindex-navbar-fixed;

	.container,
	.container-fluid,
	.nav,
	.navbar {
		&::before,
		&::after {  // remove clearfix pseudo elements
			content: none;
		}
	}

	.menu-link-icon {
		border: none;
		display: inline-block;
		font-family: $icon-font-name;
		font-size: 1em;
		margin: 0;
		width: 1em;
		height: 1em;
		position: relative;
		text-align: center;
		transition: transform 0.25s $ease;

		&::before {
			content: '\f107';
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
		}
	}
}

.header {
	&__mobile {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		background-color: #fff;
		border-bottom: 10px solid $gold;
		padding: 0;
		z-index: $zindex-navbar-fixed;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;

		@supports(position: sticky) {
			position: sticky;
			top: 0;
		}

		&__wrap {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
		}

		&__logo {
			flex-basis: auto;
			flex-grow: 1;
			transition: opacity 0.2s $ease;

			.logo {
				display: inline-block;
				float: none !important;
				margin: 0;
				padding: 0;

				> img {
					display: inline-block;
					padding: 0.5rem 0;
					width: auto;
					height: 3.5rem;
				}
			}
		}

		&__btn {
			appearance: none;
			background-color: $brand-primary;
			border: none;
			height: 2.5rem;
			width: 2.5rem;
			padding: 0.625rem 0.5rem;
			border-radius: 0.3125rem;
			color: #fff;
			display: flex;
			flex-direction: column;
			position: relative;
			z-index: $zindex-navbar-fixed;

			.button-bar {
				background-color: #fff;
				display: inline-block;
				height: 3px;
				transform-origin: left center;
				position: absolute;
				width: 1.5rem;
				transition: opacity 0.25s $ease, transform 0.25s $ease;

				&:nth-child(2) {
					transform-origin: left top;
					top: 10px;
				}

				&:nth-child(3) {
					top: 19px;
					transform-origin: center center;
				}

				&:nth-child(4) {
					transform-origin: left top;
					top: 28px;
				}
			}

			&:focus,
			&:active {
				outline: 1px dotted $gray-light;
				outline-offset: 2px;
			}
		}
	}

	&__mobileutility {
		@extend %mobile-menu-offscreen;
		flex-shrink: 1;

		.social-icons {
			&__list {
				display: flex;
				justify-content: center;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			&__item {
				color: #fff;
				font-size: 1.5rem;
				padding: 0;
				margin: 0;

				+ .social-icons__item {
					margin-left: 2rem;
				}

				a {
					color: inherit;

					&:hover {
						color: $gold;
					}
				}
			}
		}
	}

	&__utility {
		@extend %mobile-menu-offscreen;

		&__wrapper {
			@include pad-x-reset;
		}

		.logo {
			display: none;
		}

		h2,
		.block-menu-title {
			@include sr-only;
		}

		.utility-menu-left,
		.utility-menu-right {
			background-color: transparent;
			border: none;
			margin: 0;
			padding: 0;
			width: 100%;

			.menu {
				> li {
					color: $brand-primary;
					display: flex;
					flex-wrap: wrap;
					font-family: $font-family-serif;
					font-size: 1.125rem;
					font-weight: bold;
					border-bottom: 2px solid $gray-light;

					> a {
						color: inherit;
						display: block;
						padding: $padding-base-horizontal ($padding-base-horizontal * 2);
						width: 100%;

						&:active,
						&:hover,
						&:focus {
							background-color: transparent;
							color: $brand-secondary;
						}
					}

					&:focus,
					&:active,
					&:hover {
						background-color: transparent;

						.dropdown-toggle {
							background-color: transparent;
							color: $brand-primary;
						}
					}

					&.dropdown {
						cursor: pointer;

						.dropdown-toggle {
							display: flex;
							align-items: center;
							flex-grow: 0;
							flex-shrink: 1;
							flex-basis: auto;
							color: $brand-primary;
							font-family: $font-family-serif;
							padding-top: $padding-large-vertical;
							padding-bottom: $padding-large-vertical;
							position: relative;
							width: 100%;
							pointer-events: none;

							.menu-link-text {
								display: inline-block;
								flex-grow: 2;
								padding: $padding-base-vertical 0;
								white-space: nowrap;
							}

							&::before {
								font-family: $icon-font-name;
								font-size: 1.2em;
								display: inline-block;
							}

							> .menu-link-icon {
								flex-grow: 0;
								flex-shrink: 0;
								flex-basis: 1em;
							}
						}

						.dropdown-menu {
							border: 0;
							box-shadow: none;
							margin: 0;
							background-color: transparent;
							color: $gray-med;
							font-weight: normal;
							padding: 0 ($padding-base-horizontal * 2) $padding-base-horizontal;
							position: static;
							float: none;
							flex-grow: 1;
							flex-shrink: 0;
							flex-basis: 100%;

							> li {
								border-bottom: 0;
								color: $gray-med;
								display: block;
								font-family: $font-family-base;

								> a {
									color: inherit;
									display: block;
									padding: $padding-base-vertical 0;
								}
							}
						}

						&.open {
							background-color: $gray-lighter;
						}
					}

					&.active,
					&.open {
						background-color: transparent;

						a,
						.dropdown-toggle {
							background-color: transparent;

							> .menu-link-icon {
								transform: rotate(180deg);
							}
						}
					}
				}
			}
		}

		.utility-menu-right {
			.menu {
				> li {
					> a {
						padding: $padding-base-horizontal ($padding-base-horizontal * 2);
					}

					&.dropdown {
						.dropdown-toggle {
							&::before {
								padding-right: 0.625rem;
							}
						}

						&:nth-child(1) {  // resources icon
							.dropdown-toggle {
								&::before {
									content: '\f013';
								}
							}
						}

						&:nth-child(2) {  // login icon
							.dropdown-toggle {
								&::before {
									content: '\f007';
								}
							}
						}
					}
				}
			}
		}
	}

	&__navbar {
		@extend %mobile-menu-offscreen;
		display: flex;
		flex-direction: column;

		&__wrapper {
			@include pad-x-reset;
			margin-left: 0;
			margin-right: 0;
		}
	}

	&__navigation {
		width: 100%;

		.navbar-nav {
			background-color: transparent;
			border: none;
			float: none;
			list-style-type: none;
			margin: 0;
			padding: 0;
			width: 100%;

			.dropdown-menu {
				background-color: transparent;
				border: none;
				box-shadow: none;
				display: block;
				float: none;
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: 100%;
				background-color: transparent;
				color: $gray-med;
				font-weight: normal;
				min-width: 0;
				padding: 0 $padding-base-horizontal $padding-base-horizontal;
				position: absolute;
				pointer-events: none;
				visibility: hidden;
				transition: opacity 0.2s $ease;
				width: 100%;
				z-index: -1;
			}

			.navlevel--0 {
				color: $brand-primary;
				display: block;
				float: none;
				font-family: $font-family-serif;
				font-size: 1.125rem;
				font-weight: bold;

				+ .navlevel--0 {
					border-top: 2px solid $gray-light;
				}

				.parent--anchor {
					color: inherit;
					display: block;
					padding: $padding-base-horizontal ($padding-base-horizontal * 2);

					&:active,
					&:hover,
					&:focus {
						background-color: transparent;
					}
				}

				// dropdown items
				&.dropdown--main {
					.parent--anchor {
						display: flex;
						align-items: center;
						justify-content: space-between;
						flex-grow: 0;
						flex-shrink: 1;
						flex-basis: auto;
						padding-top: $padding-large-vertical;
						padding-bottom: $padding-large-vertical;
						position: relative;
						width: 100%;
						pointer-events: none;

						.menu-link-icon {
							flex-grow: 0;
							flex-shrink: 0;
							flex-basis: 1em;
						}

						.menu-link-text {
							display: inline-block;
							padding: 5px 0;
						}
					}
				}

				&.active-item,
				&:focus,
				&:active,
				&:hover {
					.parent--anchor {
						background-color: transparent;
						color: currentColor;
					}
				}

				&:focus,
				&.focus-nav,
				&.open {
					background-color: $gray-lighter;

					> .dropdown-menu {
						position: static;
						pointer-events: all;
						opacity: 1;
						visibility: visible;
						z-index: 1;
					}

					.parent--anchor {
						background-color: transparent;
						color: currentColor;

						> .menu-link-icon {
							transform: rotate(180deg);
						}
					}
				}

				&:focus-within {  // must be declared separately from :hover for IE11/edge
					background-color: $gray-lighter;

					> .dropdown-menu {
						position: static;
						pointer-events: all;
						opacity: 1;
						visibility: visible;
						z-index: 1;
					}

					.parent--anchor {
						background-color: transparent;
						color: currentColor;

						> .menu-link-icon {
							transform: rotate(180deg);
						}
					}
				}

				&.active-item {
					.parent--anchor {
						color: $brand-secondary;
					}
				}
			}

			.navlevel--1 {
				color: inherit;
				margin-bottom: $padding-large-vertical;

				.menu-link-icon {
					display: none;
				}

				&.active-item {
					> .secondary--link {
						color: $gray-darker;
						font-weight: bold;
					}
				}

				.secondary--link {
					color: inherit;
					position: relative;

					&:hover {
						color: $brand-secondary;
					}
				}
			}
		}
	}

	&__search {
		@extend %mobile-menu-offscreen;
		background-color: $brand-primary;

		.form-group {
			padding: $padding-base-vertical;
			margin-bottom: 0;

			.form-control {
				background: #fff !important;
				border-radius: 0;
			}

			.input-group {
				.btn {
					background-color: $gold;
					color: #fff;
					padding-top: 0.625rem;
					padding-bottom: 0.5625rem;

					&::before {
						content: '\f002';
						font-family: $icon-font-name;
						font-size: 1em;
					}
				}
			}

			&.form-actions {
				padding: 0;
			}
		}

		.help-block {
			@extend %hide-text;
		}
	}
}


.mobilenav--open {
	.header {
		&__main {
			@include overflow-scroll;
			@include overflow-scroll-contain;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			height: auto;
			max-height: 95vmax;
			width: 92vw;
			position: fixed;
			top: 0;
			transform: translate3d(0, 0, 0);
			z-index: $zindex-navbar-base;
		}

		&__underlay {
			@include overflow-scroll-contain;
			background-color: rgba(50, 50, 50, 0.6);
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			z-index: $zindex-navbar;
		}

		&__mobile {
			background-color: transparent;
			border-bottom-color: transparent;
			order: 1;
			pointer-events: none;

			&__logo {
				opacity: 0;
				pointer-events: none;
				z-index: -1;
			}
		}

		&__mobile__btn {
			background-color: $gold;
			box-shadow: 0 2px 3px 0 rgba(50, 50, 50, 0.5);
			pointer-events: all;

			.button-bar {
				&:nth-child(2) {
					transform: rotate(45deg);
					left: 11px;
					top: 9px;
					width: 28px;
				}

				&:nth-child(3) {
					transform: scaleX(0);
				}

				&:nth-child(4) {
					transform: rotate(-45deg);
					left: 9px;
					top: 29px;
					width: 28px;
				}
			}
		}

		&__utility {
			@extend %mobile-menu-onscreen;
			order: 2;
			flex-shrink: 0;
		}

		&__mobileutility {
			@extend %mobile-menu-onscreen;
			order: 4;
			background-color: $brand-primary;
			display: block;
			flex-shrink: 0;

			&__wrapper {
				padding: $padding-large-horizontal;
				width: 100%;
			}
		}

		&__navbar {
			@extend %mobile-menu-onscreen;
			background-color: transparent;
			order: 1;
			flex-shrink: 0;
			width: 100%;
		}

		&__navigation {
			@extend %mobile-nav-block;
			float: none;
			margin: 0;
			width: 100%;
		}

		&__search {
			@extend %mobile-menu-onscreen;
			display: block;
		}
	}

	.site-alert-banner {
		height: 0;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transform: translateY(-2rem);
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-md) {  // med desktop 992
	.header__main {
		background-color: transparent;
		display: block;
		transition-property: none;
		transform: none;
		height: auto;
		max-height: none;
		width: auto;

		@supports(position: sticky) {
			position: sticky;
			top: 0;
		}

		.container-fluid {
			max-width: $container-lg;
		}
	}

	.header {
		&__mobile,
		&__mobileutility,
		&__mobile__btn {
			display: none;
		}

		// utility container
		&__utility {
			background-color: #fff;
			display: block;
			max-height: none;
			opacity: 1;
			pointer-events: auto;
			transform: none;
			position: relative;
			z-index: 3;

			a {
				&:focus {
					outline: 1px dotted $gray-light;
				}
			}

			&__wrapper {
				@include pad-x-base;
			}

			.navbar-default {
				margin-bottom: 0;
				height: $desktop-nav-height;
			}

			.region-utility {  // utility flex wrapper
				display: flex;
				justify-content: space-between;
				align-items: center;

				.logo {
					display: block;
					flex-grow: 0;
					flex-shrink: 1;
					flex-basis: $logo-image-size;
					margin: 0;
					float: none !important;

					img {
						padding: 1rem 0;
					}
				}

				> nav {
					display: flex;
					flex-shrink: 1;
					align-items: stretch;
					height: $desktop-nav-height;

					// utility menu left
					&:first-of-type {
						flex-grow: 1;
						flex-basis: 55%;
						justify-content: center;
					}

					// utility menu right
					&:last-of-type {
						flex-basis: 27.5%;
						justify-content: flex-end;
					}
				}
			}

			.utility-menu-left,
			.utility-menu-right {
				background-color: transparent;
				display: flex;
				align-items: stretch;

				.menu {
					display: flex;
					height: 100%;

					> li {
						border: none;

						a {
							&:hover,
							&:focus {
								background-color: transparent;
							}
						}

						&.dropdown {
							> .dropdown-menu {
								border-radius: 0;
								left: 0;
								top: 100%;
								height: auto;
								width: auto;
								opacity: 0;
								pointer-events: none;
								position: absolute;
								z-index: -1;
								transform: translate3d(0, -0.125rem, 0);
								transition: opacity 0.2s $ease, transform 0.15s $ease;
							}

							&:hover,
							&:focus,
							&.focus-nav {
								z-index: 1;

								> .dropdown-menu {
									opacity: 1;
									pointer-events: all;
									transform: translate3d(0, 0, 0);
									z-index: 1;
								}
							}

							&:focus-within {  // must be declared separately from :hover for IE11/edge
								> .dropdown-menu {
									opacity: 1;
									transform: translate3d(0, 0, 0);
									z-index: 1;
								}
							}
						}
					}
				}
			}

			// utility left nav
			.utility-menu-left {
				border-bottom: none;
				font-family: $font-family-serif;
				height: 100%;

				.menu {
					> li {
						@include font-alias-default;
						color: $gray-med;
						display: flex;
						align-items: center;
						justify-content: center;
						font-family: inherit;
						font-size: 1rem;
						font-weight: $font-light;
						letter-spacing: 0.025em;
						line-height: 1;
						padding: 0 1rem;

						a {
							color: inherit;
							display: inline-block;
							padding: 0;
							line-height: 1;

							&::before {
								background-color: currentColor;
								content: '';
								display: block;
								position: absolute;
								height: 1px;
								width: 100%;
								left: 0;
								bottom: -1px;
								transform: scaleX(0);
								transform-origin: right bottom;
								transition: transform 0.25s $ease;
							}

							&:hover,
							&:focus {
								color: $brand-primary;

								&::before {
									transform: scaleX(1);
									transform-origin: left bottom;
								}
							}

							&:focus {
								outline: 1px dotted $gray-light;
							}
						}

						&.dropdown {
							position: relative;
							z-index: 1;

							.dropdown-toggle {
								color: inherit;

								&::before {
									content: none;
								}
							}

							&::after {  // open menu indicator
								content: '';
								border-bottom: 7px solid $yellow;
								border-left: 7px solid transparent;
								border-right: 7px solid transparent;
								display: block;
								margin: 0;
								padding: 0;
								height: 0;
								width: 0;
								opacity: 0;
								position: absolute;
								pointer-events: none;
								bottom: 0;
								left: 50%;
								transition: opacity 0.15s $ease, transform 0.2s $ease;
								transform: translate3d(-50%, 0.25rem, 0);
							}

							> .dropdown-menu {
								display: block;
								border-radius: 0;
								background-color: $brand-primary;
								color: #fff;
								margin: 0;
								min-width: 100%;
								padding: 0;
								background-color: $yellow;
								box-shadow: 0 2px 5px 0 rgba(10, 10, 10, 0.12);
								flex-direction: column;
								padding: 0;

								> li {
									font-family: $font-family-serif;
									padding: $padding-large-vertical;
									transition: background 0.15s $ease;

									+ li {
										border-top: 1px solid lighten($gold, 5%);
									}

									> a {
										display: inline-block;
										padding: 0;
										position: relative;
										width: auto;

										&:hover {
											color: $brand-primary;
										}
									}

								}
							}

							&.open {
								background-color: transparent;

								.dropdown-toggle {
									.menu-link-icon {
										transform: none;
									}
								}
							}

							&:hover,
							&:focus {
								&::after {
									opacity: 1;
									transform: translate3d(-50%, 0.05625rem, 0);
								}

								.dropdown-toggle {
									color: $brand-primary;

									.menu-link-icon {
										transform: rotate(180deg);
									}
								}
							}

							&:focus-within {  // must be declared separately from :hover for IE11/edge
								&::after {
									opacity: 1;
									transform: translate3d(-50%, 0.05625rem, 0);
								}

								.dropdown-toggle {
									color: $brand-primary;

									.menu-link-icon {
										transform: rotate(180deg);
									}
								}
							}
						}
					}
				}
			}

			// utility right nav
			.utility-menu-right {
				justify-content: flex-end;
				width: 100%;
				height: 100%;

				.menu {
					align-items: center;
					justify-content: stretch;
					padding-left: 0;

					> li {
						color: $brand-primary;
						font-size: 1.125rem;
						font-weight: bold;
						letter-spacing: 0;

						a {
							color: $brand-primary;
							display: flex;
							align-items: center;
							font-size: 0.84rem;
							font-weight: $font-semi;
							height: 100%;
							padding: 0 $padding-base-horizontal;
							letter-spacing: 0.0625rem;
							text-transform: uppercase;

							.menu-link-icon {
								border: none;
								display: inline-block;
								font-size: 1.125em;
								padding-left: 1em;
								width: auto;
								height: auto;
								line-height: 1;
								transition: transform 0.2s $ease;
							}
						}

						&.open {
							background-color: transparent;

							> a {
								background-color: transparent;
							}
						}

						&.dropdown {
							border-left: 1px solid $gray-lighter;
							display: flex;
							align-items: center;
							justify-content: center;
							width: 100%;
							height: 100%;

							&::after {  // open menu indicator
								content: '';
								border-bottom: 7px solid $brand-primary;
								border-left: 7px solid transparent;
								border-right: 7px solid transparent;
								display: block;
								margin: 0;
								padding: 0;
								height: 0;
								width: 0;
								opacity: 0;
								position: absolute;
								bottom: 0;
								left: 50%;
								transition: opacity 0.15s $ease, transform 0.2s $ease;
								transform: translate3d(-50%, 0.25rem, 0);
							}

							.dropdown-toggle {
								font-family: $font-family-base;

								/*&:focus {
									~ .dropdown-menu {
										display: block;
										opacity: 1;
										pointer-events: all;
										z-index: 0;
										transform: translate3d(0, 0, 0);
									}
								}*/
							}

							> .dropdown-menu {
								display: block;
								border-radius: 0;
								background-color: $brand-primary;
								color: #fff;
								margin: 0;
								min-width: 100%;
								padding: 0;

								> li {
									color: #fff;
									font-family: $font-family-serif;
									font-size: 1rem;
									font-weight: bold;
									letter-spacing: 0.025rem;
									margin: 0;
									text-transform: none;

									+ li {
										border-top: 1px solid rgba(255, 255, 255, 0.2);
									}

									> a {
										color: inherit;
										display: block;
										font-weight: inherit;
										font-size: inherit;
										letter-spacing: inherit;
										padding: 0.75rem 1rem;
										text-transform: none;
										width: 100%;

										/*span {
											position: relative;

											&::before {
												content: '';
												display: block;
												position: absolute;
												top: 100%;
												left: 0;
												width: 100%;
												height: 1px;
												background-color: currentColor;
												transform: scaleX(0);
												transform-origin: left bottom;
												transition: transform 0.2s $ease;
											}
										}*/

										&:hover,
										&:focus {
											background-color: transparent;
											color: $gold;

											span {
												&::before {
													transform: scaleX(1);
												}
											}
										}
									}
								}
							}

							&:last-of-type {

								border-right: 1px solid $gray-lighter;


								> .dropdown-menu {
									left: auto;
									right: 0;
								}
							}

							&.open {
								background-color: transparent;

								> a {
									background-color: transparent;
								}

								> .dropdown-menu {
									li.open {
										> a {
											color: $yellow;

											span {
												&::after {
													color: inherit;
													content: '\f105';
													display: inline-block;
													font-family: "FontAwesome";
													font-size: .875em;
													padding-left: 0.25rem;
													transition: transform 0.15s $ease;
												}
											}
										}
									}
								}

								.dropdown-toggle {
									> .menu-link-icon {
										transform: none;
									}
								}
							}

							&:hover {
								.dropdown-toggle {
									.menu-link-icon {
										transform: rotate(180deg);
									}
								}
							}

							&:hover,
							&:focus {
								&::after {
									opacity: 1;
									transform: translate3d(-50%, 0.125rem, 0);
								}
							}

							&:focus-within {  // must be declared separately from :hover for IE11/edge
								.dropdown-toggle {
									.menu-link-icon {
										transform: rotate(180deg);
									}
								}

								&::after {
									opacity: 1;
									transform: translate3d(-50%, 0.125rem, 0);
								}
							}
						}
					}

					.subitem {
						color: inherit;
						font-family: inherit;
						font-size: 1rem;
						font-weight: bold;
						letter-spacing: 0.03125em;
						position: relative;
						width: 100%;

						> a {
							flex-grow: 1;
							flex-shrink: 1;
							flex-basis: 100%;
							border-bottom: 0;
							color: inherit;
							cursor: pointer;
							display: flex;
							justify-content: flex-start;
							padding: 0.75rem 1rem;
							font-family: inherit;
							text-decoration: none;
							transition: color 0.15s $ease;

							&::after {
								color: inherit;
								content: '\f105';
								display: inline-block;
								font-family: "FontAwesome";
								font-size: .875em;
								padding-left: 0.25rem;
								transition: transform 0.15s $ease;
							}
						}
					}
				}
			}

			&:hover,
			&:focus {
				z-index: 3;
			}
		}

		// primary nav wrapper
		&__navbar {
			background-color: $gold;
			flex-direction: row;
			height: 3.625rem;
			line-height: 1;
			max-height: none;
			opacity: 1;
			pointer-events: all;
			transform: none;
			position: relative;
			z-index: 2;

			&__wrapper {
				@include pad-x-base;
				display: flex;
				align-items: center;
				height: 100%;
				margin-left: auto;
				margin-right: auto;
				position: relative;
				width: 100%;

				.contextual-region {  // override admin bar positioning
					position: static;
				}
			}
		}

		// primary nav styles
		&__navigation {
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: calc(100% - 1.5rem);
			display: flex;
			height: 100%;
			float: none;
			align-items: stretch;
			position: static;

			.region-navigation {
				display: flex;
				width: 100%;

				nav {
					display: flex;
				}
			}

			.navbar-default {
				margin-bottom: 0;
				border-radius: 0;
			}

			.secondary--link {
				color: inherit;
				display: block;
				background-color: transparent;
				padding: 0;
				position: relative;

				&:hover,
				&:focus {
					background-color: transparent;
				}
			}

			.secondary--anchor {
				color: inherit;
				display: flex;
				align-items: center;

				&::before {
					color: currentColor;
					content: '\f105';
					font-family: $icon-font-name;
					position: absolute;
					right: $padding-base-horizontal;
					top: 50%;
					transform: translate3d(0, -50%, 0);
					transition: opacity 0.1s $ease, transform 0.2s $ease;
				}

				&::after {
					border-left: 8px solid $brand-primary;
					border-right: 8px solid transparent;
					border-top: 8px solid transparent;
					border-bottom: 8px solid transparent;
					content: '';
					display: block;
					opacity: 0;
					position: absolute;
					top: 50%;
					right: -$padding-base-horizontal;
					transform: translate3d(-0.1875rem, -50%, 0) scaleY(0.25);
					transform-origin: center center;
					transition: color 0.15s $ease, transform 0.15s $ease;
				}
			}

			.navbar-nav {
				display: flex;
				align-items: stretch;
				position: relative;

				.dropdown-menu {
					display: none;
					flex-basis: auto;
					min-height: $dropdown-min-height;
					margin: 0;
					padding: 0;
					pointer-events: all;
					text-transform: none;
					visibility: visible;
					width: auto;
				}

				.navlevel--0 {
					color: $gray-dark;
					display: flex;
					flex-basis: auto;
					flex-grow: 1;
					flex-shrink: 0;
					font-family: $font-family-base;
					font-size: 0.875rem;
					font-weight: bold;
					letter-spacing: 0.05rem;
					padding: 0 1vw;
					position: static;
					transition: background-color 0.15s $ease;
					text-transform: uppercase;
					white-space: nowrap;

					+ .navlevel--0 {
						border-top: 0;
					}

					&:first-of-type {
						margin-left: -1vw;
					}

					.parent--anchor {
						display: flex;
						align-items: center;
						line-height: 1;
						padding: 0 2.5%;
						pointer-events: all;
					}

					&.dropdown--main {
						.parent--anchor {
							padding-top: 0;
							padding-bottom: 0;
							pointer-events: all;

							.menu-link-text {
								display: block;
								padding: 0;
							}

							.menu-link-icon {
								margin-left: 0.25vw;
							}
						}
					}

					> .dropdown-menu {
						top: 100%;
						z-index: 0;

						&::before,
						&::after {
							content: '';
							display: block;
							top: 0;
							height: 100%;
							bottom: 0;
							width: 100vw;
							position: absolute;
							left: -$padding-base-horizontal;
							z-index: -1;
						}

						&::before {
							background-color: $gray-light;
							background-image: url(../images/pattern-full-nav.jpg);
							background-position: right top;
							background-repeat: repeat;
							box-shadow: 0 $padding-large-horizontal $padding-large-horizontal 3px rgba(10, 10, 10, 0.12);
						}

						&::after {
							background-image: linear-gradient(
								to right,
								#fff 0%,
								#fff 50%,
								rgba(255, 255, 255, 0.2) 80%
							);
						}

						.dropdown-wrap {
							display: flex;
							flex-direction: column;
							padding: 0;
							position: relative;
							z-index: 0;
						}
					}

					&:focus,
					&:hover,
					&.focus-nav,
					&.open {
						background-color: lighten($gold, 15%);

						> .dropdown-menu {
							display: block;
							position: absolute;
							visibility: visible;
							z-index: 0;
						}

						.parent--anchor {
							background-color: transparent;
							color: $gray-darker;

							> .menu-link-icon {
								transform: rotate(180deg);
							}
						}
					}

					&.active-item {
						background-color: lighten($gold, 7%);

						.parent--anchor {
							color: $gray-darker;
						}
					}

					&:focus-within {  // must be declared separately from :hover for IE11/edge
						background-color: lighten($gold, 15%);

						> .dropdown-menu {
							display: block;
							position: absolute;
							visibility: visible;
							z-index: 0;
						}

						.parent--anchor {
							> .menu-link-icon {
								transform: rotate(180deg);
							}
						}
					}
				}

				.navlevel--1 {
					color: $gray-base;
					font-size: 0.875rem;
					font-weight: bold;
					margin: 0;
					padding: 0;
					margin-left: -$padding-base-horizontal;
					position: static;
					flex-basis: 34.5%;
					width: 34.5%;
					transition: background 0.15s $ease;

					.menu-link-icon {
						display: none;
					}

					> .secondary--link {
						padding: 1.125rem $padding-base-horizontal;
					}

					.overflow-wrap {
						@include overflow-scroll;
						margin: 0;
						padding: 0;
					}

					&.open {
						color: $brand-primary;

						> .secondary--link {
							background-color: transparent;
						}
					}

					&.active-item {
						> .secondary--link {
							padding-left: $padding-base-horizontal;
						}
					}

					&:hover,
					&:focus,
					&.focus-nav {
						background-color: $brand-primary;
						color: #fff;

						> .secondary--link {
							color: inherit;
						}

						&.open {
							color: #fff;
						}
					}

					&:focus-within {  // must be declared separately from :hover for IE11/edge
						background-color: $brand-primary;
						color: #fff;
					}

					&.dropdown {
						&:hover,
						&:focus,
						&.focus-nav {
							.secondary--anchor {
								&::before {
									color: $brand-primary;
									opacity: 0;
									transform: translate3d(0.1875rem, -50%, 0);
								}

								&::after {
									opacity: 1;
									transform: translate3d(0, -50%, 0) scaleY(1);
								}
							}

							> .dropdown-menu {
								background-color: $gray-lighter;
								flex-basis: 33%;
								display: flex;
								flex-direction: column;
								padding: $padding-large-vertical $padding-base-horizontal;
								position: absolute;
								top: 0;
								visibility: visible;
								left: 33%;
								width: 33%;
								height: 100%;

								&::after {
									background-image: linear-gradient(
										to bottom,
										rgba(255, 255, 255, 0) 0%,
										$gray-lighter 60%
									);
									content: '';
									pointer-events: none;
									position: absolute;
									bottom: 0;
									left: 0;
									width: 90%;
									height: $padding-base-horizontal * 2;
								}
							}
						}

						&:focus-within {  // must be declared separately from :hover for IE11/edge fallback
							.secondary--anchor {

								&::before {
									color: $brand-primary;
									opacity: 0;
									transform: translate3d(0.1875rem, -50%, 0);
								}

								&::after {
									opacity: 1;
									transform: translate3d(0, -50%, 0) scaleY(1);
								}
							}

							> .dropdown-menu {
								background-color: $gray-lighter;
								flex-basis: 33%;
								display: flex;
								flex-direction: column;
								padding: $padding-large-vertical $padding-base-horizontal;
								position: absolute;
								top: 0;
								visibility: visible;
								left: 33%;
								width: 33%;
								height: 100%;

								&::after {
									background-image: linear-gradient(
										to bottom,
										rgba(255, 255, 255, 0) 0%,
										$gray-lighter 70%
									);
									position: absolute;
									bottom: 0;
									height: $padding-base-horizontal * 2;
								}
							}
						}
					}
				}

				.navlevel--2 {  // second level
					padding: $padding-large-vertical $padding-base-horizontal;

					.secondary--link {
						@include textlink-underline;
						font-size: 0.875rem;

						&:hover,
						&:focus {
							color: $brand-primary;
						}
					}

					&.active-item {
						.secondary--link {
							color: $brand-secondary;
							font-weight: bold;
						}
					}
				}
			}
		}

		&__search {
			background: transparent;
			flex-basis: 1.5rem;
			flex-grow: 0;
			flex-shrink: 1;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			padding: 0;
			max-height: none;
			opacity: 1;
			pointer-events: auto;
			transform: none;

			> .region {
				width: 100%;
			}

			.block-search {
				height: 100%;

				> form {
					height: inherit;

					.form-group {
						margin-bottom: 0;
						padding-top: 0;
						padding-bottom: 0;
					}
				}

				.help-block {
					display: none;
				}
			}

			.form-group {
				padding: 0;
				.form-control {
					background: transparent !important;
				}

				.input-group {
					display: flex;
					align-items: center;
					border: 0;
					width: 100%;

					> input {
						font-size: 0.875rem;
						width: inherit;
					}

					.btn {
						background-color: transparent;
					}
				}

				.search__inline {
					background-color: transparent;
					border: 0;
					border-radius: 0;
					display: block;
					padding: 0;
					padding-left: 1.5rem;
					transition: background 0.15s $ease;

					&.form-autocomplete {
						border: 0;
					}

					&::-webkit-input-placeholder {
						color: $gray-dark;
						transition: opacity 0.15s $ease;
					}
					&::placeholder {
						color: $gray-dark;
						transition: opacity 0.15s $ease;
					}
					&:-ms-input-placeholder,
					&::-ms-input-placeholder {
						color: $gray-dark;
						transition: opacity 0.15s $ease;
					}

					+ .input-group-btn {
						color: $gray-dark;
						display: block;
						position: absolute;
						top: 50%;
						left: 0.5rem;
						transform: translateY(-50%);
						z-index: 3;

						.btn {
							border: 0;
							border-radius: 0;
							padding: 0;
							color: inherit;
							min-width: 0;
							margin: 0;

							&:hover {
								background-color: transparent;
								color: $brand-primary;
							}
						}
					}

					&:hover,
					&:focus,
					&:active {
						background-color: $yellow !important;
						color: $gray-darker;

						&::-webkit-input-placeholder {
							opacity: 0;
						}
						&::placeholder {
							opacity: 0;
						}
						&:-ms-input-placeholder,
						&::-ms-input-placeholder {
							opacity: 0;
						}

						&:not(:placeholder-shown) {
							+ .input-group-btn {
								color: $brand-secondary;
							}
						}
					}

					&:focus,
					&:active {
						background-color: $yellow !important;
					}
				}
			}

			&:hover,
			&:focus,
			&:active {
				flex-grow: 1;
				flex-basis: auto;
			}

			&:focus-within {  // must be declared separately from :hover for IE11/edge
				flex-grow: 1;
				flex-basis: auto;
			}
		}
	}

	.mobilenav--open {
		.header {
			&__underlay {
				display: none;
			}
		}
	}

	.ie {
		.header {
			&__utility {
				.utility-menu-right {
					.menu {
						.dropdown-menu {
							right: 0;
							left: auto;
						}

						> li.dropdown {
							&:hover {
								.dropdown-menu {
									right: 0;
									left: auto;
								}
							}
						}
					}
				}
			}

			&__navigation {
				.secondary--link {
					display: flex;
					padding-top: $padding-large-vertical;
					padding-bottom: $padding-large-vertical;
				}

				.navbar-nav {
					.navlevel--1 {
						flex-basis: auto;
						padding-top: 0;
						padding-bottom: 0;

						> a {
							padding-top: $padding-large-vertical;
							padding-bottom: $padding-large-vertical;
						}
					}

					.navlevel--2 {
						.secondary--link {
							padding: 0;
						}
					}
				}
			}
		}
	}
}


@media screen and (min-width: $screen-lg) {  // large desktop 1200px
	.header {
		&__main {
			.container-fluid {
				// max-width: $container-lg;
				margin-left: auto;
				margin-right: auto;
			}

			.site-alert-wrapper {
				max-width: $screen-xl;
			}
		}

		&__navigation {
			flex-basis: auto;
			flex-grow: 0;
			flex-shrink: 1;

			.navbar-nav {
				.navlevel--0 {
					padding-left: $padding-base-horizontal;
					padding-right: $padding-base-horizontal;

					&:first-of-type {
						margin-left: -$padding-base-horizontal;
					}

					> .dropdown-menu {
						&::before,
						&::after {
							left: calc(50% - #{$padding-base-horizontal});
							right: 50%;
							margin-left: -50vw;
							margin-right: -50vw;
						}
					}
				}
			}
		}

		&__utility {
			.region {
				> nav {
					&:first-of-type {
						justify-content: flex-start;
						padding-left: 4.5rem;
					}
				}
			}
		}

		&__search {
			flex-basis: auto;
			flex-grow: 1;

			.form-group {
				.input-group {
					width: auto;
				}
			}
		}
	}
}
