/**
  * Link styling
  *
  *
*/


a {
	transition: color 0.15s $ease;

	&.serif {
		font-family: $font-family-serif;
	}

	&.arrow-circle-before,
	&.arrow-circle-after {
		color: inherit;
		font-family: $font-family-serif;
		font-weight: bold;
		position: relative;

		// uses pseudo elements to display circle and arrow
		&::before,
		&::after {
			backface-visibility: hidden;
			border-radius: 100%;
			color: $brand-secondary;
			position: absolute;
			top: 50%;
			display: inline-block;
			font-family: $icon-font-name;
			font-weight: normal;
			line-height: 1;
			transition: transform 0.15s $ease, color 0.15s $ease;
			transform: translateY(-50%);
			will-change: transform;
		}

		&::before {  // arrow
			content: '\f105';
		}

		&::after {  // circle
			content: '';
			border: 2px solid currentColor;
			height: 1.25em;
			width: 1.25em;
		}

		&:focus,
		&:hover {
			&::before,
			&::after {
				transform: translate3d(0.125rem, -50%, 0);
			}
		}
	}

	&.arrow-circle-before {
		padding-left: 1.8125em;

		&::before,
		&::after {
			left: 0;
		}

		&::before {
			margin-left: 0.5em;
		}
	}

	&.arrow-circle-after {
		padding-right: 1.6875em;

		&::before,
		&::after {
			right: 0;
		}

		&::before {
			margin-right: 0.4375em;
		}
	}

	&.arrow-angle-after {
		color: inherit;
		position: relative;

		&::after {  // uses pseudo element to display arrow
			color: inherit;
			content: '\f105';
			display: inline-block;;
			font-family: $icon-font-name;
			font-size: 0.9375em;
			font-weight: normal;
			line-height: 1;
			padding-left: 0.3125em;
			transition: transform 0.15s $ease;
			will-change: transform;
		}

		&:focus,
		&:hover {
			color: $brand-secondary;

			&::after {
				transform: translate3d(2px, 0, 0);
			}
		}
	}

	&.ext {  // styling for external links
		&:not(.arrow-circle-before):not(.arrow-circle-after):not(.arrow-angle-after):not(.share):not(.fa):not(.j-image):not(.social-icons__link) {
			overflow: visible;
			position: relative;

			&::after {
				content: '\f08e';
				display: inline-block;
				font-family: $icon-font-name;
				font-size: 0.6875em;
				line-height: inherit;
				padding-left: 0.25em;
				padding-right: 0.25em;
				pointer-events: none;
			}
		}
	}

	&:focus {
		outline: 1px dotted $gray-border-light;
		outline-offset: 1px;
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	a {
		&.arrow-circle-before,
		&.arrow-circle-after {
			&::before {
				margin-top: -0.05625em;
			}
		}
	}
}