/**
  * Navigation
  *
*/

nav {
	ul, ol {
		li {
			list-style: none;

			&::before {
				content: none;
			}
		}
	}
}

.nav {
	&-tabs {  // also used on tab panel components
		display: flex;
		flex-direction: column;

		> li {
			background-color: transparent;
			border: none;
			flex-grow: 1;
			flex-shrink: 1;
			flex-basis: auto;
			float: none;
			font-size: 0.8125rem;

			a {
				background-color: transparent;
				color: $gray;
				line-height: 1;
				margin-right: 1px;
				text-align: center;
				transition: background 0.2s $ease, color 0.2s $ease;

				&:hover {
					background-color: #eee;
					border-color: transparent;
				}
			}

			&:last-child {
				a {
					margin-right: 0;
				}
			}
		}
	}

	&-pills {  // multi-select items
		> li {
			> a {
				background-color: transparent;
				border: 1px solid currentColor;
				border-radius: $border-radius-large;
				color: $gray;

				&:hover {
					background-color: transparent;
				}
			}

			&.active {
				> a {
					color: $brand-secondary;
				}
			}
		}
	}
}

.breadcrumb-list {
	margin-left: -$padding-base-horizontal;
	margin-right: -$padding-base-horizontal;
}

.breadcrumb {
	background-color: transparent;
	padding: $padding-large-vertical $padding-base-horizontal;
	margin: 0;
	position: relative;

	li {
		color: $gray;
		font-size: 0.75rem;
		font-weight: normal;

		a {
			color: inherit;
			position: relative;
			text-transform: capitalize;

			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				background-color: currentColor;
				height: 1px;
				transform: scaleX(0);
				transition: transform 0.2s $ease;
				transform-origin: bottom right;
			}

			&:hover {
				&::after {
					transform: scaleX(1);
					transform-origin: bottom left;
				}
			}
		}

		&.active {
			color: $brand-secondary;
		}

		+ li {
			&::before {
				color: $gray;
				content: '\203A';
				display: inline-block;
				font-size: 1.3125em;
				line-height: inherit;
				padding: 0 0.375rem;
				vertical-align: baseline;
			}
		}
	}
}

.loader {
	color: $brand-secondary;
	font-size: 20px;
	margin: 100px auto;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	animation: loader_bloom 1.3s infinite linear;
	transform: translateZ(0);
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.nav {
		&-tabs {
			flex-direction: row;
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.breadcrumb {
		padding-top: $padding-base-horizontal;
		padding-bottom: $padding-base-horizontal;

		li {
			font-size: 1rem;
		}
	}
}
