/**
  * Pagination
  *
*/

.pager-nav {
	.pagination {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		margin-left: auto;
		margin-right: auto;

		> li {
			&::before {
				content: none;
			}

			&:first-child {
				> span {
					float: none;
					padding: inherit;
					border: none;
					border-radius: 0;
					background-color: transparent;
					line-height: inherit;

					&:hover {
						color: inherit;
						z-index: initial;
					}
				}
			}
		}

		.pager {
			&__label {
				display: block;
				font-size: 0.75rem;
				font-weight: bold;
				line-height: 1;
				margin-bottom: 1rem;
				text-align: center;
				text-transform: uppercase;
				width: 100%;

				&__current,
				&__total {
					float: none;
					padding: inherit;
					border: none;
					border-radius: 0;
					background-color: transparent;
					line-height: inherit;
				}
			}

			&__item {
				font-size: 0.875rem;

				> a {
					background-color: transparent;
					border-radius: 50%;
					border-color: transparent;
					color: $gray;
					display: flex;
					height: 2rem;
					width: 2rem;
					line-height: 1;
					padding: 0.5rem 0.3125rem;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					transition: background-color 0.15s $ease, color 0.2s $ease;

					span {
						@extend %hide-text;
					}

					&:hover {
						background-color: #fff;
						color: $brand-secondary;
					}
				}

				+ .pager__item {
					margin-left: 1.5vw;
				}

				&.active {
					font-weight: bold;

					> a {
						background-color: $brand-secondary;
						color: #fff;
						pointer-events: none;

						&:hover {
							color: #fff;
						}
					}
				}

				&--previous,
				&--next,
				&--first,
				&--last {
					a {
						background-color: transparent;
						padding-left: 0.125rem;
						padding-right: 0.125rem;
						width: 2rem;

						&::before {
							display: block;
							font-family: $icon-font-name;
							font-size: 1.375em;
							line-height: 1;
							margin-top: -0.25em;
						}

						&:hover {
							background-color: darken($gray-lighter, 2.5%);
						}
					}
				}

				&--previous {
					a {
						&::before {
							content: '\2039';
						}
					}
				}

				&--next {
					a {
						&::before {
							content: '\203A';
						}
					}
				}

				&--first {
					a {
						&::before {
							content: '\00ab';
						}
					}
				}

				&--last {
					a {
						&::before {
							content: '\00bb';
						}
					}
				}
			}
		}
	}
}

.pager {
	list-style-type: none;

	li {
		padding-left: 0;

		&::before {
			content: none;
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.pager-nav {
		.pagination {
			flex-wrap: nowrap;
			position: relative;

			.pager {
				&__label {
					margin-bottom: 0;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					text-align: left;
					width: auto;
				}

				&__item {
					+ .pager__item {
						margin-left: 1vw;
					}

					&__first,
					&__last {
						display: none;
					}
				}
			}
		}
	}
}


