/**
  * Specific styles for print
  *
*/


// variable assignments for print-specific defaults
$print-border-style: 3pt solid $brand-secondary;
$print-font-size-h1: 30pt;
$print-font-size-h2: 20pt;
$print-font-size-h3: 14pt;
$print-font-size-base: 12pt;
$print-font-size-small: 10pt;
$print-padding-base: 11.25pt; // ~15px equivalent


// display link URL as pseudo-element text
@mixin print-link-style {
	content: " [link: " attr(href) "]";
	border: none;
	border-radius: 0;
	height: auto;
	width: auto;
	font-family: inherit;
	font-weight: normal;
	font-size: 0.875em;
	font-style: italic;
	letter-spacing: 0.0125em;
	padding: 0;
	padding-left: 0.375em;
	position: static;
	top: auto;
	left: auto;
	right: auto;
	bottom: auto;
	display: inline-block;
	transform: none;
	transition: none;
	animation: none;
}


@media print {
	@page {
		margin: $padding-large-horizontal;
	}

	// text and links
	a[href] {
		&::after {
			@include print-link-style();
			display: inline-block;
		}

		&.btn {
			&::after {
				content: none;
				display: none;
			}
		}

		&.arrow-circle-before,
		&.arrow-circle-after,
		&.arrow-angle-after {
			padding: inherit;

			&::before {
				content: none;
				display: none;
			}

			&::after {
				@include print-link-style;
				padding-left: 0.5em;
			}
		}
	}

	h1, h2, h3 {
		&.display {
			font-family: $font-family-serif !important;
			font-size: inherit;
			font-weight: inherit;
			line-height: inherit;

			span {
				font-family: inherit;
				font-size: inherit !important;
				font-weight: bold;
				line-height: inherit !important;
				display: inline !important;
				vertical-align: baseline !important;
			}
		}

		&.subhead {
			font-size: $print-font-size-h3 !important;
		}
	}

	h1 {
		font-size: $print-font-size-h1 !important;
		line-height: 1.2;
	}

	h2 {
		font-size: $print-font-size-h2 !important;
		line-height: 1.2;
	}

	p {
		font-size: $print-font-size-base !important;
		line-height: 1.42857;
		line-height: calc(10/7);
	}

	hr {
		border-color: $gray-base;
		opacity: 0.4;
	}

	.btn {
		&.btn-secondary {
			border-color: $gray-base;
		}
	}

	// admin items
	nav.tabs,
	.article__details {
		display: none;
	}

	// header
	.header {
		&__main {
			display: none;
		}

		&__mobile {
			height: auto;
			top: auto;
			position: static;

			.logo {
				&::after {
					content: none;
				}
			}
		}

		&__mobile__btn {
			display: none;
		}
	}

	// footer
	.footer {
		border-top: 2pt solid $gray-dark;

		.region {
			justify-content: flex-start;
		}

		.region-footer,
		.region-footer-two,
		.region-footer-three,
		.region-footer-four {
			display: none;
		}

		.region-footer-five {
			font-size: $print-font-size-small;
			padding: 11.25pt;

			p a {
				&::after {
					content: none;
				}
			}
		}
	}

	// breadcrumb
	.breadcrumb {
		li {
			font-size: $print-font-size-small;

			&.active {
				font-weight: bold;
			}
		}
	}

	// global
	.back-to-top,
	.quicklinks {
		display: none;
	}

	.container {
		width: auto;
	}

	.field--item {
		ul {
			list-style-type: disc;
			margin-left: $print-padding-base;
			width: auto;

			li {
				padding-left: 0;
			}
		}
	}

	.field--name-body {
		ul {
			list-style-type: disc;
			margin-left: $print-padding-base;
			padding-left: 0;

			li {
				padding-left: 0;
			}
		}
	}

	// sidebar
	.sidebar {
		.region {
			nav:not(.sidebar__menu) {
				display: none;
			}
		}

		.block[class*="block-views-blockrelated"],
		.block[class*="block-views-blockupcoming"] {
			.block-title {
				@include pad-x-reset;
			}
		}
	}

	.event-item {
		.sidebar-block.block--primary {
			@include pad-x-reset;
		}
	}


	// components
	.component {
		border-bottom: $print-border-style;
		border-top: 0;

		.carousel {
			opacity: 1;
		}

		.component__wrapper {
			padding-bottom: $print-padding-base;
			padding-top: $print-padding-base;
		}

		.component__grid {
			display: block;
			font-size: 0;
			text-align: center;

			> div {
				font-size: $print-font-size-base;
				display: inline-block;
				text-align: left;
				width: auto;
			}
		}

		.flickity-viewport {
			cursor: default !important;
			height: auto !important;
			overflow: visible;
			touch-action: auto !important;

			.flickity-slider {
				height: auto;
				font-size: 0;
				text-align: center;
				transform: none !important;
				position: static;
				width: auto;

				> div {
					font-size: $print-font-size-base;
					position: static !important;
					display: inline-block;
					text-align: left;
					vertical-align: top;
					width: 48.5% !important;
				}
			}
		}

		.flickity-page-dots,
		.flickity-button {
			display: none;
		}
	}

	.headline-block {
		.sidebar__menu {
			display: none;
		}
	}

	.hero {
		border-bottom: 0;

		&__wrapper {
			display: flex;
			flex-direction: column-reverse;
		}

		&__media {
			height: auto;
			margin-top: $print-padding-base;
			position: static;
			top: auto;
			left: auto;
			padding: 0;
			transform: none;
		}

		&__image {
			height: auto;
			padding-bottom: 0;

			img {
				position: static;
			}
		}

		&__video,
		&__cta {
			display: none;
		}

		&__title {
			max-width: none;
		}

		&__content {
			transform: none;
			position: relative;
			top: auto;
			left: auto;
		}
	}

	.content-card {
		.component__wrapper {
			padding-bottom: $print-padding-base;
			padding-top: $print-padding-base;
		}

		.card-item {
			&__wrapper {
				padding: $print-padding-base $print-padding-base * 2;
			}
		}
	}

	.icon-tout {
		.component__grid {
			padding-bottom: 0;
		}

		.tout-item {
			display: inline-block;
			padding: 0;
			vertical-align: bottom;
			width: auto;

			&__wrapper {
				border-radius: 0;
				width: auto;
				height: auto;
				padding: $print-padding-base;
			}

			&__image {
				width: 48pt;
				max-height: none;
				height: auto;
				padding: 1pt;
				position: relative;
			}
		}
	}

	.content-card {
		.component__background {
			display: none;
		}

		.component__grid {
			flex-direction: row;
		}

		.card-item {
			width: 50%;
		}
	}

	.content-card--focal-image {
		.component__wrapper {
			border: none;
		}

		.content-card__image {
			border: none;

			.image-wrap {
				padding: 0;

				> img {
					display: none;
				}
			}
		}

		.content-card__text {
			border: none;
			margin: auto;
			padding: $print-padding-base;
			transform: none;
		}
	}

	.tabs--base {
		.tabs__navigation {
			display: none;
		}

		.tabs__content {
			overflow: visible;

			.tab-pane {
				position: static;
				opacity: 1;
				transform: none;
			}
		}
	}

	.tabs--news {
		.newsitem__wrapper {
			@include pad-x-reset;
			font-family: $font-family-serif;

			.item-title {
				font-weight: normal;

				a {
					&::after {
						display: block;
					}
				}
			}

			&.image--placeholder {
				.item-title {
					font-family: inherit;
					font-weight: inherit;
				}
			}
		}

		.newsitem__info {
			position: static;
		}
		.newsitem__image {
			display: none;
			padding-bottom: 0 !important;
		}

		.newsitem__link {
			&::after {
				@include print-link-style;
				padding-left: 0.5em;
			}
		}

		.tabs__navigation {
			display: none;
		}

		.tabs__content {
			.tab-pane {
				height: auto !important;
			}
			.flickity-button {
				display: none;
			}
		}
	}

	.ckeditor-col-container {
		padding: 0;
	}

	// page specific
	.landing_page {
		.component--fullwidth {
			width: auto;
			position: relative;
			left: auto;
			right: auto;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.path-frontpage {
		.hero__content {
			margin-top: 0;
		}
	}
}