/**
  * Quick Links
  *
*/

$quicklink-mobile-size: 85px;
$quicklink-desktop-size: 85px;

.quicklinks {
	position: fixed;
	bottom: 3vmax;
	right: 10vmin;
	width: $quicklink-mobile-size;
	height: $quicklink-mobile-size;
	opacity: 0;
	overflow: hidden;
	pointer-events: none;
	transition: transform 0.3s $ease, opacity 0.4s $ease;
	z-index: $zindex-navbar-fixed;

	&__logo {
		margin: ($padding-base-horizontal * 2) auto 12.5%;
		text-align: center;
		width: 90%;

		img {
			margin: auto;
			max-height: 25px;
		}
	}

	&__button {
		position: absolute;
		width: $quicklink-mobile-size !important; // Needed important for some reason
		height: $quicklink-mobile-size !important; // Needed important for some reason
		color: $gray-dark !important;

		> span {
			white-space: normal;
			width: 100%;
		}

		&::before,
		&::after {
			content: '';
			display: inline-block;
			pointer-events: none;
			position: absolute;
			opacity: 0;
		}

		&::before {
			background: $brand-primary url(../images/icon-close.svg) no-repeat center center;
			background-size: 1rem;
			top: 50%;
			left: 50%;
			transform: scale(0.1) translate3d(-50%, -50%, 0);
			transform-origin: top left;
			border: 3px solid transparent;
			border-radius: 50%;
			height: calc(100% + 7px);
			width: calc(100% + 7px);
			transition: opacity 0.2s $ease, transform 0.15s $quick;
		}

		&::after {
			color: $gray-dark;
			top: 0;
			left: 50%;
			transform: translate3d(-50%, 0, 0);
			transition: opacity 0.25s $ease;
		}
	}

	&__wrapper {
		display: flex;
		align-items: stretch;
		justify-content: center;
		position: fixed;
		left: 50%;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0;
		overflow: hidden;
		pointer-events: none;
		visibility: hidden;
		transform: translateX(-50%);
		transition: opacity 0.4s $ease;

		&::after {
			background: $gold;
			backface-visibility: hidden;
			border-radius: 50%;
			content: '';
			display: block;
			position: absolute;
			right: -25vmax;
			bottom: -25vmax;
			width: 150vmax;
			height: 150vmax;
			opacity: 0.95;
			transition: transform 0.3s ease-in;
			transform-origin: bottom right;
			transform: scale(0.01);
			z-index: -1;
		}
	}

	&__content {
		display: flex;
		align-items: center;
		flex-direction: column;
		opacity: 0;
		position: relative;
		transition: opacity 0.5s $ease 0.2s;
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		a {
			color: #fff;
			font-size: 1.5625rem;
			font-weight: bold;
			line-height: 0.96;
			margin: 0 auto 1.5em;
			width: 100%;

			> span {
				color: $gray-dark;
			}

			&:hover {
				> span {
					color: $brand-primary;
				}
			}
		}
	}
}

.quicklinks--enabled {
	.quicklinks {
		opacity: 1;
		pointer-events: auto;
		overflow: visible;
	}
}

.quicklinks--open {
	.quicklinks {
		&__button {
			z-index: 1;

			&::before,
			&::after {
				opacity: 1;
				pointer-events: auto;
			}

			&::before {
				border-color: $brand-primary;
				transform: scale(1) translate3d(-50%, -50%, 0);
				transition: transform 0.1s $ease;
			}

			&::after {
				content: attr(data-text-active);
				transform: translate3d(-50%, calc(#{$quicklink-desktop-size} / -2), 0);
			}

			&:hover {
				&::before {
					transform: scale(1.1) translate3d(-50%, -50%, 0);
				}
			}
		}

		&__wrapper {
			opacity: 1;
			pointer-events: auto;
			visibility: visible;
			z-index: 0;

			&::after {
				transform: scale(1);
			}
		}

		&__content {
			opacity: 1;
		}
	}
}

.mobilenav--open {
	.quicklinks {
		opacity: 0;
		pointer-events: none;
	}
}

.ie {
	.quicklinks {
		&__items {
			a {
				&::before {
					font-size: 1.75em;
					left: 0.5em;
					margin-top: -0.1875em;
				}

				&::after {
					font-size: 1.5em;
					margin-top: -0.2875em;
				}
			}
		}
	}

	//&.quicklinks--open {
	//	.quicklinks {
	//		&__button {
	//			&::after {
	//				transform: translate3d(-50%, -42px, 0);
	//			}
	//		}
	//	}
	//}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-sm) {  // 768px
	.quicklinks {
		width: $quicklink-desktop-size;
		height: $quicklink-desktop-size;

		&__wrapper {
			flex-direction: row;
		}

		&__logo {
			// position: absolute;
			// top: 5%;
			// left: 50%;
			// width: auto;
			// transform: translateX(-50%);
		}

		&__button {
			&::before {
				background-size: 1.75rem;
			}
		}

		&__items {
			justify-content: center;

			a {
				flex-shrink: 1;
				flex-grow: 0;
				flex-basis: 50%;
				font-size: 2.25rem;
				margin: 0 0 1.5em;
				width: auto;
			}
		}
	}

	.quicklinks--open {
		.quicklinks__wrapper {
			&::after {
				// transform: scale(8, 6.5) rotate(45deg);
				transform: scale(1, 1);
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // 992px
	.quicklinks {
		&__items {
			a {
				flex-basis: 33%;
				margin-bottom: 6.25rem;
			}
		}
	}
}