/**
  * Responsive areas styling
  *
  * Inserts bootstrap containers into WYSIWYG areas
  * Requires module (CKeditor WYSIWYG Responsive Plugin)
  *
*/

.ckeditor-col-container {
    @include container-fixed();
    @include pad-x-reset;
    margin-bottom: 1em;

    .ckeditor-row {
        @include pad-x-reset;
    }

    &::before,
    &::after {
        content: none;
    }

    &.centered {
        justify-content: center;
    }

    div[class^="grid-"],
    div[class*="col"] {
        position: relative;
        width: auto;
    }
}

@media screen and (min-width: $screen-sm) {  // 768px
    .ckeditor-col-container {
        max-width: $screen-sm;

        .ckeditor-row {
            @include make-row;
            // @include pad-x-base;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            overflow: visible;
        }

        div[class^="grid-"],
        div[class*="col"] {  // assumes 12-column grid
            padding-left: $padding-base-horizontal;
            padding-right: $padding-base-horizontal;
            flex-grow: 0;
            flex-shrink: 1;
        }

        .twocol,
        .grid-2 {
            flex-basis: 16.6%;
            flex-basis: calc(100% * 1/6);
        }

        .threecol,
        .grid-3 {
            flex-basis: 25%;
        }

        .fourcol,
        .grid-4 {
            flex-basis: 33.33%;
            flex-basis: calc(100% * 1/3);
        }

        .fivecol,
        .grid-5 {
            flex-basis: 41.6%;
            flex-basis: calc(100% * 5/12);
        }

        .sixcol,
        .grid-6 {
            flex-basis: 50%;
        }

        .sevencol,
        .grid-7 {
            flex-basis: 14.28%;
            flex-basis: calc(100% * 1/7);
        }

        .eightcol,
        .grid-8 {
            flex-basis: 66.6%;
            flex-basis: calc(100% * 2/3);
        }

        .ninecol,
        .grid-9 {
            flex-basis: 75%;
        }

        .tencol,
        .grid-10 {
            flex-basis: 83.3%;
            flex-basis: calc(100% * 5/6);
        }

        .elevencol,
        .grid-11 {
            flex-basis: 91.6%;
            flex-basis: calc(100% * 11/12);
        }

        .twelvecol,
        .grid-12 {
            flex-basis: 100%;
        }
    }
}

@media screen and (min-width: $screen-md) {
    .ckeditor-col-container {
        max-width: $screen-md;
    }
}

@media screen and (min-width: $screen-lg) {
    .ckeditor-col-container {
        max-width: $screen-lg;
    }
}