{#
/**
 * @file
 * Default theme implementation to display a pager.
 *
 * Available variables:
 * - items: List of pager items.
 *   The list is keyed by the following elements:
 *   - first: Item for the first page; not present on the first page of results.
 *   - previous: Item for the previous page; not present on the first page
 *     of results.
 *   - next: Item for the next page; not present on the last page of results.
 *   - last: Item for the last page; not present on the last page of results.
 *   - pages: List of pages, keyed by page number.
 *   Sub-sub elements:
 *   items.first, items.previous, items.next, items.last, and each item inside
 *   items.pages contain the following elements:
 *   - href: URL with appropriate query parameters for the item.
 *   - attributes: A keyed list of HTML attributes for the item.
 *   - text: The visible text used for the item link, such as "‹ previous"
 *     or "next ›".
 * - current: The page number of the current page.
 * - ellipses: If there are more pages than the quantity allows, then an
 *   ellipsis before or after the listed pages may be present.
 *   - previous: Present if the currently visible list of pages does not start
 *     at the first page.
 *   - next: Present if the visible list of pages ends before the last page.
 *
 * @ingroup templates
 *
 * @see template_preprocess_pager()
 */
#}
{% if items %}
<nav class="pager-nav text-center" aria-labelledby="pagination-heading">
	<h4 id="pagination-heading" class="visually-hidden">{{ 'Pagination'|t }}</h4>
	<ul class="pagination js-pager__items">
		{# Print first item if we are not on the first page. #}
		{% if items.first %}
		<li class="pager__item pager__item--first">
			<a href="{{ items.first.href }}" title="{{ 'Go to first page'|t }}" rel="prev"{{ items.first.attributes }}>
				<span class="visually-hidden">{{ 'First page'|t }}</span>
				<span aria-hidden="true">{{ items.first.text|default('first'|t) }}</span>
			</a>
		</li>
		{% endif %}

		{# Print previous item if we are not on the first page. #}
		{% if items.previous %}
		<li class="pager__item pager__item--previous">
			<a href="{{ items.previous.href }}" title="{{ 'Go to previous page'|t }}" rel="prev"{{ items.previous.attributes }}>
				<span class="visually-hidden">{{ 'Previous page'|t }}</span>
				<span aria-hidden="true">{{ items.previous.text|default('previous'|t) }}</span>
			</a>
		</li>
		{% endif %}

		{# Now generate the actual pager piece. #}
		{% for key, item in items.pages %}
		<li class="pager__item{{ current == key ? ' is-active active' : '' }}">
			{% if current == key %}
				{% set title = 'Current page'|t %}
			{% else %}
				{% set title = 'Go to page @key'|t({'@key': key}) %}
			{% endif %}
			<a href="{{ item.href }}" title="{{ title }}"{{ item.attributes }}>
				<span class="visually-hidden">
					{{ current == key ? 'Current page'|t : 'Page'|t }}
				</span>
				{{- key -}}
			</a>
		</li>
		{% endfor %}

		{# Print next item if we are not on the last page. #}
		{% if items.next %}
		<li class="pager__item pager__item--next">
			<a href="{{ items.next.href }}" title="{{ 'Go to next page'|t }}" rel="next"{{ items.next.attributes }}>
				<span class="visually-hidden">{{ 'Next page'|t }}</span>
				<span aria-hidden="true">{{ items.next.text|default('next'|t) }}</span>
			</a>
		</li>
		{% endif %}

		{# Print last item if we are not on the last page. #}
		{% if items.last %}
		<li class="pager__item pager__item--last">
			<a href="{{ items.last.href }}" title="{{ 'Go to last page'|t }}" rel="last"{{ items.last.attributes }}>
				<span class="visually-hidden">{{ 'Last page'|t }}</span>
				<span aria-hidden="true">{{ items.last.text|default('last'|t) }}</span>
			</a>
		</li>
		{% endif %}
	</ul>
</nav>
{% endif %}
