{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 * - messages: Status and error messages. Should be displayed prominently.
 * - tabs: Tabs linking to any sub-pages beneath the current page (e.g., the
 *   view and edit tabs when displaying a node).
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.header: Items for the header region.
 * - page.navigation: Items for the navigation region.
 * - page.navigation_collapsible: Items for the navigation (collapsible) region.
 * - page.highlighted: Items for the highlighted content region.
 * - page.help: Dynamic help text, mostly for admin pages.
 * - page.content: The main content of the current page.
 * - page.sidebar_first: Items for the first sidebar.
 * - page.sidebar_second: Items for the second sidebar.
 * - page.footer: Items for the footer region.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{% include '@loyola/partials/header.html.twig' %}
{# Main #}
{% block main %}
<main id="main" class="loyola__container loyola__home main-container js-quickedit-main-content">
	{# Content #}
	{% if node.gettype == 'landing_page' %}
		{%
			set content_classes = [
				node.gettype,
			]
		%}
	{% else %}
		{%
			set content_classes = [
				node.gettype,
				'loyola__content__wrapper',
			]
		%}
	{% endif %}

	<article{{ content_attributes.addClass(content_classes) }}>
		{# Header #}
		{% include '@loyola/paragraphs/paragraph--hero_banner.html.twig' %}

		<section class="{{ node.gettype }} loyola__content">
			{# Content #}
			{% block content %}
			<a id="main-content"></a>
			{{ page.content }}
			{% endblock %}
		</section>
	</article>
</main>
{% endblock %}

{% include '@loyola/partials/footer.html.twig' %}
{# {{ attach_library('loyola/pagescroll-scripts') }} #}
