/**
  * Accordion component
  *
  * Displays a headline with expanding/collapsing content area
  *
  * Template reference:
  * `<theme>/templates/paragraphs/paragraph--bp-accordion.html.twig`
  *
*/

.accordion-base {
	&__wrapper {
		padding: $padding-base-horizontal 0;
	}

	&__section {
		padding-bottom: $padding-base-horizontal;

		&:last-child {
			border-bottom: 2px solid $gray-light;
		}

		.paragraph__column {
			float: none;
			padding-bottom: $padding-base-horizontal;
		}
	}

	.accordion-section {
		&__heading {
			border-top: 2px solid $gray-light;
			margin-bottom: $padding-base-horizontal;
			padding-top: ($padding-base-horizontal * 2);
		}

		&__title {
			margin: 0;

			a {
				color: $brand-secondary;
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-family: $font-family-base;
				font-weight: bold;

				span {
					display: block;
				}

				.fa {
					display: block;
					font-size: 1.125rem;
					width: 1.5rem;
					height: 1.5rem;
					line-height: inherit;
					margin-right: $padding-base-vertical;
					position: relative;

					&::before {
						display: block;
						position: absolute;
						top: 50%;
						left: 50%;
						text-align: center;
						transform: translate3d(-50%, -50%, 0);
						transition: transform 0.25s $ease;
						transform-origin: center center;
					}

					&::after {
						border: 2px solid currentColor;
						border-radius: 50%;
						content: '';
						display: block;
						line-height: 1;
						position: absolute;
						top: 50%;
						left: 50%;
						width: 1.5rem;
						height: 1.5rem;
						transform: translate3d(-50%, -50%, 0);
					}
				}

				&[aria-expanded*="true"] {
					.fa {
						&::before {
							transform: translate3d(-50%, -50%, 0) rotate(-180deg);
						}
					}
				}
			}
		}
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.accordion-section {
		&__title {
			font-size: 1.5rem;
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.accordion-section {
		&__body {
			blockquote {
				float: left;
				margin-top: 1.375em;
				margin-bottom: $padding-large-vertical;
				padding-right: 1rem;
				width: 50%;

				&:nth-of-type(even) {
					float: right;
					margin-left: 1.5rem;
					padding-right: 0;
				}
			}
		}
	}
}

