/**
  * Card item base styles
  *
  * Standard styling for content 'card' in views
  *
  * Templates:
  * `<theme>/templates/partials/eventview-card.html.twig`
  * `<theme>/templates/partials/newsview-card.html.twig`
  * `<theme>/templates/partials/peopleview-card.html.twig`
  *
*/

.card-item {
	overflow: hidden;
	padding: 0;
	margin: 0 0 ($padding-base-horizontal * 2);
	background-color: #fff;
	width: 100%;

	&__image {
		display: block;
		height: 0;
		border-bottom: 5px solid $gold;
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;

		&:empty {
			padding: 0;
		}

		img {
			object-fit: cover;
			height: 100%;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			transform: scale(1.03);
			transition: transform 0.2s $ease;
			z-index: 0;
		}

		&::after {
			background-color: rgba(0, 0, 0, 0.08);
			content: '';
			display: block;
			opacity: 0;
			position: absolute;
			pointer-events: none;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 1;
			transition: opacity 0.2s $ease;
		}
	}

	&__body {
		padding: $padding-base-horizontal;
	}

	&__title {
		color: $gray-med;
		font-size: 1.6875rem;
		line-height: 1.1428571429;
		line-height: calc(32/27);
		margin: 0 0 $padding-base-vertical;

		a {
			&:hover {
				color: $brand-secondary;
			}
		}
	}

	&__meta {
		font-size: 0.875rem;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		margin-bottom: $padding-base-vertical;

		time {
			display: inline-block;
			font-family: $font-family-serif;
			line-height: 1;
			margin-right: 0.5rem;
			padding-top: $padding-base-vertical;
			padding-bottom: $padding-base-vertical;
		}
	}

	&__text {
		margin-bottom: 0;
		line-height: 1.5625;
	}

	&__link {
		color: $brand-secondary;
		display: inline-block;
		font-family: $font-family-serif;
		font-size: 0.875rem;
		font-weight: bold;
		margin-top: $padding-base-vertical;
	}

	&:nth-child(2n + 3) {
		.news-item__image {
			border-color: $yellow;
		}
	}

	&:hover,
	&:focus {
		.card-item__image {
			img {
				transform: scale(1.01);
			}

			&::after {
				opacity: 1;
			}
		}
	}

	// listed separately for IE11
	&:focus-within {
		.card-item__image {
			img {
				transform: scale(1.01);
			}

			&::after {
				opacity: 1;
			}
		}
	}

	&--noimage {
		background: transparent;
		border: 5px solid $gold;

		&:nth-child(3n + 1) {
			border-color: $yellow;
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-md) {  // 992px
	.card-item {
		margin-top: ($padding-base-horizontal * 2);
		margin-bottom: 0;
		width: 32.25%;
		width: calc(33.3% - (#{$padding-large-horizontal}));

		&--noimage {
			background-color: #fff;
			border-left: 0;
			border-right: 0;
		}
	}
}

