/**
  * Component base
  *
  * Base styling and utility classes
  *
*/

.component {
	color: $gray-dark;

	/* -------------------------------------------
	* Utility classes
	------------------------------------------- */

	// remove left/right default padding on mobile for full-width display
	&--fullwidth-mobile {
		margin-left: -($padding-base-horizontal);
		margin-right: -($padding-base-horizontal);
	}

	// dark background/border
	&.component--dark {
		background-color: $gray-dark;  // fallback
		color: #fff;
	}

	// white text
	&.text--light,
	&.text--white {
		color: #fff;
	}

	// dark text
	&.text--dark {
		color: inherit;
	}

	// yellow text/border
	&.component--yellow {
		color: $gold;
	}

	// blue text/border
	&.component--blue {
		color: $teal;
	}

	// styling for landing pages *ONLY*
	.landing_page & {
		&--fullwidth {
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			margin-left: -50vw;
			margin-right: -50vw;
		}
	}

	&__wrapper {
		color: inherit;
	}

	/* -------------------------------------------
	* Carousel defaults
	------------------------------------------- */
	.carousel {
		display: block;
		opacity: 0;
		transition: opacity 0.3s $ease;

		&.carousel-active,
		&.flickity-enabled {
			opacity: 1;
		}

		.flickity-page-dots {
			color: $gray-dark;

			.dot {
				background: transparent;
				border: 1px solid currentColor;
				height: 0.6875rem;
				width: 0.6875rem;
				opacity: 0.9;

				&.is-selected {
					background-color: currentColor;
					border-color: currentColor;
				}

				&:only-of-type {
					display: none;
				}
			}
		}

		&.text--light {
			.flickity-page-dots {
				color: #fff;
			}
		}

		&::after {
			content: 'flickity';
			display: none;
		}
	}


	/* -------------------------------------------
	* Grid display
	*
	* Example usage: `<div class="component"><div class="component__grid"><div class="grid__item">`
	* Additional documentation: `docs/grid.md`
	------------------------------------------- */
	&__grid {
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	// standard grid item
	// items are full width at mobile
	.grid__item {
		flex-grow: 0;
		flex-shrink: 1;
		flex-basis: 100%;
		display: flex;

		&__wrapper {
			display: flex;
			padding: $padding-base-horizontal;
		}
	}

	/* -------------------------------------------
	* Gradient overlay
	------------------------------------------- */
	&__overlay {
		position: relative;
		z-index: 0;

		&::after {
			@include image-gradient-overlay();
			content: '';
			display: block;
			opacity: 0.15;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
		}

		&.overlay_fifty,
		&.overlay--medium {
			&::after {
				opacity: 0.35;
			}
		}

		&.overlay_seventy,
		&.overlay--high {
			&::after {
				opacity: 0.55;
			}
		}

		~ .component__wrapper,
		.component__wrapper {
			position: relative;
			z-index: 1;
		}
	}

	/* -------------------------------------------
	* Text styles
	------------------------------------------- */

	// base headline style
	&__headline {
		color: inherit;

		&--image {
			> img {
				display: inline-block;
				margin: 0 auto;
				max-width: 3rem;
			}
		}
	}

	// base subheading style
	&__subheading {
		color: inherit;
	}

	&__text {
		color: inherit;
	}
}

.ie {
	.landing_page {
		.component--fullwidth {
			width: calc(100vw - #{$padding-base-vertical});
		}
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.component {
		&--twelvecol {
			@include pad-x-base;
		}

		&--fullwidth-mobile {
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.component {
		&.has-gutter {
			display: flex;
			align-items: flex-start;
			justify-content: space-between;

			.sidebar {
				flex-grow: 0;
				flex-shrink: 1;
				flex-basis: 25%;
				width: 25%;

				&.sidebar--left {
					margin-top: $padding-large-vertical;
					padding-right: ($padding-base-horizontal * 2);
				}
				&.sidebar--right {
					margin-top: $padding-large-vertical;
					padding-left: ($padding-base-horizontal * 2);
				}
			}

			.component__main {
				flex-grow: 1;
				flex-shrink: 0;
				flex-basis: 75%;
				width: 75%;
			}
		}

		.carousel {
			&.carousel--mobile {
				display: flex;
				opacity: 1;

				&::after {
					content: none;
				}
			}
		}

		/* -------------------------------------------
		* Grid display
		------------------------------------------- */

		&__grid {
			flex-wrap: nowrap;
		}

		.grid__item {
			height: auto;

			&.grid--2 {
				flex-basis: 50%;
			}

			&.grid--3 {
				flex-basis: 33.3%;
				flex-basis: calc(100% / 3);
			}

			&.grid--4 {
				flex-basis: 25%;
			}

			&.grid--5 {
				flex-basis: 20%;
			}

			&.grid--6 {
				flex-basis: 16.6%;
				flex-basis: calc(100% * 1/6);
			}
		}
	}
}

@media screen and (min-width: $screen-xxl) {  // xl desktop
	.landing_page,
	.page {
		.component {
			&--fullwidth {
				max-width: $container-xxl;  // 1920px
				margin-left: auto;
				margin-right: auto;
				left: auto;
				right: auto;
				width: 100%;
			}
		}
	}
}