/**
  * Headline Block component
  *
  * Displays a WYSIWYG area alongside a sidebar with links.
  * Originally designed for 'Popular Destinations' and modified to accomodate varying sidebar items
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--popular-destination-block.html.twig`
  *
*/

.headline-block {
	&__wrapper {
		margin-top: ($padding-base-horizontal * 2);
		margin-bottom: ($padding-base-horizontal * 2);
	}

	&__headline {
		color: $brand-secondary;
	}

	&__sidebar {
		.sidebar__block__title {
			background-color: $brand-primary;
			border-radius: $border-radius-xsmall;
			color: #fff;
			cursor: pointer;
			font-size: 1rem;
			font-family: $font-family-sans-serif;
			font-weight: bold;
			text-align: center;
			margin: 0;
			padding: $padding-base-horizontal;
			position: static !important;
			clip: none;
			height: auto;
			width: auto;
			user-select: none;
		}

		.sidebar__block__content {
			color: $gray-base;

			li {
				margin-bottom: 0.25rem;
			}
		}
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.headline-block {
		&__wrapper {
			display: flex;
			flex-direction: row-reverse;
			align-items: flex-start;
			margin-bottom: ($padding-base-horizontal * 2);
		}

		&__main {
			&.has-sidebar {
				flex-basis: 67%;
				flex-basis: calc(100% * 2/3);
				padding-right: 10%;
			}
		}

		&__sidebar {
			margin-top: ($padding-base-horizontal * 2);
			flex-basis: 33%;
			flex-basis: calc(100% / 3);

			.sidebar__block__title {
				background-color: $brand-primary;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				padding: $padding-base-horizontal;
				color: #fff;
				cursor: default;
				font-family: $font-family-base;
				font-size: 0.875rem;
				font-weight: bold;
				line-height: 1;
				position: static;
				clip: none;
				height: auto;
				width: auto;
				text-align: left;
				margin: 0;
			}

			.sidebar__block__content {
				font-size: 0.875rem;

				li {
					font-size: inherit;
				}

				a {
					color: inherit;
					font-size: inherit;

					&:focus,
					&:hover {
						color: $brand-primary;
					}
				}
			}
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.headline-block {
		&__main {
			&.has-sidebar {
				flex-basis: 75%;
			}
		}

		&__sidebar {
			flex-basis: 25%;
		}
	}
}
