/**
  * Hero component
  *
  * Displays hero banner at page top
  * Allows for varition on image, video, text, and alignment
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--hero_banner.html.twig`
  *
*/

.hero {
	&__wrapper {
		position: relative;

		&.component__wrapper {
			z-index: auto;
		}
	}

	&__content {
		color: $brand-primary;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(-50%, -50%, 0);
		text-align: center;
		z-index: 1;

		h2, h3 {
			color: inherit;
		}

		.text--light &,
		.text--white & {
			color: #fff;
		}
	}

	&__media {
		position: relative;
		z-index: 0;
	}

	&__image {
		height: 0;
		padding-bottom: 75%;

		img {
			object-fit: cover;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
		}
	}

	&__video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 0;
		padding-bottom: 75%;
		pointer-events: none;
		transform: translateY(-3%);
		transform-origin: top center;
		transition: opacity 0.2s $ease, transform 0.3s $ease;
		opacity: 0;
		z-index: -1;

		iframe, > div, video {
			border: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		video {
			object-fit: cover;
		}

		.hero__videoclose {
			position: absolute;
			right: $padding-base-horizontal;
			top: 5%;
			z-index: $zindex-dropdown;
		}

		&.active {
			position: relative;
			transform: translateY(0);
			opacity: 1;
			z-index: 1;

			.hero__videoclose {
				cursor: pointer;
				pointer-events: auto;
				animation: glow 2s $ease forwards;
			}

			iframe, > div, video {
				pointer-events: auto;
				z-index: 0;
			}
		}

		&.video--autoplay {
			pointer-events: none;
			position: relative;
			transform: translateY(0);
			opacity: 1;
			z-index: 0;

			.hero__videoclose {
				display: none;
			}

			video {
				object-fit: cover;
				pointer-events: none;
				z-index: 0;
			}
		}
	}

	&__title {
		color: inherit;
		font-size: 2.9375rem;
		margin-left: auto;
		margin-right: auto;
		max-width: 90vw;

		h1, h2, h3 {
			font-size: inherit;
			margin: 0;
			text-shadow: 0 4px 18px rgba(51, 51, 51, 0.3);
		}
	}

	&__subhead {
		color: inherit;
		margin-left: auto;
		margin-right: auto;
		max-width: 90vw;

		p {
			font-size: inherit;
		}
	}

	&__cta {
		margin-top: 1.5rem;

		.arrow-circle-before {
			color: $brand-secondary;

			span {
				color: $gray-med;
				transition: color 0.15s $ease;
			}

			&:hover {
				span {
					color: $gray-darker;
				}
			}
		}

		.text--light &,
		.text--white & {
			.arrow-circle-before {
				color: $yellow;

				span {
					color: #fff;
				}

				&:hover {
					span {
						color: $yellow;
					}
				}
			}
		}
	}

	&.component--twelvecol {
		.hero__wrapper {
			margin-left: -$padding-base-horizontal;
			margin-right: -$padding-base-horizontal;
		}
	}
}

.ie {
	.hero {
		&__wrapper {
			overflow: hidden;
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-xs) {  // 480px
	.hero {
		&__image {
			padding-bottom: 56.25%;
		}
	}
}


@media screen and (min-width: $screen-sm) {  // 768px
	.hero {
		&__content {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate3d(-50%, -50%, 0);
			width: $container-sm;
			z-index: 1;

			.xalign--left & {
				text-align: left;

				.hero__title,
				.hero__subhead {
					margin-left: 0;
				}
			}

			.xalign--right & {
				text-align: right;

				.hero__title,
				.hero__subhead {
					margin-right: 0;
				}
			}

			.yalign--top & {
				top: 10%;
				transform: translateX(-50%);
			}

			.yalign--bottom & {
				top: auto;
				bottom: 10%;
				transform: translateX(-50%);
			}
		}

		&__image {
			min-height: 33vmax;
			padding-bottom: 28.125%;

			img {
				object-position: 50% 25%;
			}
		}

		&__video {
			padding-bottom: 56.25%;

			.hero__videoclose {
				right: 2.5%;
			}
		}

		&__title {
			font-size: 4.75rem;
			width: auto;

			h1, h2, h3 {
				margin-top: 1rem;
			}

			img {
				max-width: 50%;
			}
		}

		&__subhead {
			font-size: 1.125rem;
			margin-top: 1.75rem;
			width: auto;
		}

		&.component--twelvecol {
			.hero__wrapper {
				margin-left: 0;
				margin-right: 0;
			}

			.hero__image {
				margin-left: -$padding-base-horizontal;
				margin-right: -$padding-base-horizontal;
			}

			.hero__video {
				&.active {
					iframe, video {
						transform: scaleX(1.033);
					}
				}
			}
		}
	}

	@supports (-ms-ime-align:auto) and (-webkit-text-stroke:initial) {  // edge only
		.hero__content {
			width: auto;
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.hero {
		&__content {
			width: $container-md;
		}

		&__image {
			min-height: 0;
			padding-bottom: 28.125%;
		}

		&__title {
			font-size: 5.25rem;
		}
	}

	@supports (-ms-ime-align:auto) and (-webkit-text-stroke:initial) {  // edge only
		.hero__content {
			width: auto;
		}
	}
}


@media screen and (min-width: $screen-lg) {  // large desktop 1200px
	.hero {
		&__title {
			font-size: 6.5rem;
		}
	}
}


@media screen and (min-width: $screen-xxl) {  // xl desktop
	.hero {
		&__image {
			img {
				&.loaded {
					width: 100%;
				}
			}
		}

		&__title,
		&__subhead {
			max-width: none;
		}
	}
}