/**
  * Program View component
  *
  * Displays list of associated programs
  *
  * Templates:
  * `<theme>/templates/views/view--program-view.html.twig`
  *
*/

.program-view {
	.grid__item {
		@include background-pattern('alt', false, 0.75);
		box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14);
		padding: ($padding-base-horizontal * 2);
		margin-bottom: $padding-base-horizontal;
		flex-direction: column;

		&.undergrad {
			@include background-pattern('alt', false, 0.33);
		}
	}

	&__title {
		font-size: 0.875rem;
		font-family: $font-family-base;
		font-weight: bold;
		line-height: 2;
		margin: 0 0 $padding-large-vertical;
		padding-left: $padding-base-horizontal;
	}

	&__list {
		color: $brand-secondary;
		font-size: 0.75rem;
		padding-left: $padding-base-horizontal;

		li {
			font-size: inherit;
		}
	}

	hr {
		border-top: 1px solid $gray-border-light;
		height: auto;
		margin: $padding-large-horizontal 0;
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.program-view {
		&__list {
			columns: 2;
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.program-view {
		.grid__item {
			flex-basis: 33%;
			flex-shrink: 1;
			flex-grow: 0;

			&.undergrad {
				flex-basis: calc(67% - #{$padding-large-vertical});
			}
		}
	}
}

