/**
  * Program Finder component
  *
  * Displays program finder view within a paragraph component
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--program_finder.html.twig`
  *
*/

$results-min-height: 20vmin;

.finder {
	background-color: $gray-lighter;
	.field--item {  // remove base UI list-item styling
		ul {
			> li {
				&::before {
					content: none;
				}
			}
		}
	}

	&__wrapper {
		.form-group {
			margin-bottom: 0;
		}
	}

	// introduction/header section
	&__intro {
		margin-bottom: ($padding-base-horizontal * 2);
		text-align: center;

	}

	.component__headline {
		color: $gray-med;
		font-family: $font-family-base;
		font-weight: bold;
		font-size: 1.75rem;
		line-height: 1.1785714286;
		margin-bottom: $padding-large-vertical;
	}

	.component__subheading {
		color: $gray-dark;
		line-height: 1.5;
	}

	input[type="checkbox"] {
		border: 0;
		height: 1.5rem;
		width: 1.5rem;
		margin: 0;

		&::before {
			border: 2px solid $gold;
			vertical-align: middle;
			transition: border 0.15s $ease;
		}
	}

	// back to top link in program finder body
	&__scroll-link {
		display: flex;
		justify-content: center;
		margin-top: ($padding-large-horizontal * 3);
		margin-bottom: ($padding-base-horizontal * 2);

		.btn {
			border-radius: 3rem;
			display: flex;
			align-items: center;
			justify-content: space-between;

			.fa {
				font-weight: normal;
				font-size: 1rem;
				transform: translateY(-0.05625rem);
			}
		}
	}

	// for future use: underlay to capture clicks
	&__underlay {
		&.active {
			background-color: rgba(0, 0, 0, 0);
			display: block;
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
		}
	}

	// error states for program finder results
	&.error,
	&.empty {
		.finder-view__results {
			&::before {
				background: none;
				font-size: 1rem;
				display: flex;
				justify-content: center;
				align-items: center;
				text-align: center;
				width: 90%;
			}
		}
	}

	&.error {
		.finder-view__results {
			content: 'An error occurred loading this resource. Please reload the page and try again.';
		}
	}

	&.empty {
		.finder-view__results {
			content: 'No results found.';
		}
	}
}

.finder-view {  // primary view container
	transition: opacity 0.5s $ease;

	// filter container
	&__filters {
		transition: opacity 0.3s $ease;

		// filter togglebar
		.fieldset-legend {
			border: 0;
			border-radius: $border-radius-small;
			background-color: $maroon;
			color: white;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: $padding-base-horizontal $padding-large-horizontal;
			user-select: none;
			width: 100%;

			span {
				line-height: 1;
				flex-grow: 0;
				flex-shrink: 0;
			}

			&::after {
				content: '';
				display: block;
				font-family: $icon-font-name;
				background-image: url(../images/icon-plus.svg);
				background-position: center center;
				background-repeat: no-repeat;
				background-size: 1.25rem auto;
				flex-basis: 1.25rem;
				height: 1.25rem;
				width: 1.25rem;
				transition: transform 0.25s $ease;
			}

			.fieldset-legend-text {
				flex-grow: 1;
				flex-basis: auto;
				font-size: 1rem;
				font-weight: bold;
				text-align: left;
			}

			.counter {
				font-size: 0.875rem;
				font-weight: bold;
				flex-basis: 3rem;
				text-transform: uppercase;
			}

			&:focus {
				outline: 1px dotted $maroon;
				outline-offset: 1px;
			}
		}

		// filter checkbox items
		.fieldset-wrapper {
			background-color: $maroon;
			position: absolute;
			border-bottom-left-radius: $border-radius-small;
			border-bottom-right-radius: $border-radius-small;
			left: 0;
			top: 100%;
			width: 100%;
			opacity: 0;
			pointer-events: none;
			transform: translateY(-0.1875rem);
			transition: opacity 0.25s $ease, transform 0.15s $ease;

			&::before {
				/*background-image: linear-gradient(
					to right,
					rgba(254, 208, 36, 0.2) 5%,
					rgba(254, 208, 36, 0.9) 70%
				);*/
				content: '';
				display: none;
				pointer-events: none;
				position: absolute;
				right: 0;
				top: 0;
				height: 100%;
				width: $padding-large-horizontal;
				z-index: 1;
			}

			&::after {
				background-image: url(../images/icon-arrow.svg);  // arrow
				background-repeat: no-repeat;
				background-position: right center;
				background-size: 2.25rem auto;
				content: 'Scroll';
				color: white;
				display: none;
				font-family: $font-family-serif;
				font-weight: bold;
				font-size: 0.75rem;
				padding-right: 4.75rem;
				opacity: 1;
				position: absolute;
				pointer-events: none;
				top: ($padding-large-vertical);
				right: $padding-base-horizontal;
				width: 4rem;
			}

			.bef-toggle {  // select all/none link
				color: white;
				display: inline-block;
				font-size: 0.875rem;
				user-select: none;
				transition: color 0.15s $ease;

				&:hover {
					color: $brand-secondary;
				}
			}

			.checkbox {
				margin-top: $padding-large-vertical;
				flex-basis: 33%;

				label {
					color: white;
				}

				+ .checkbox {
					margin-top: $padding-large-vertical;
				}

				&:hover,
				&:focus,
				&.ally-focus-within {
					label {
						color: $brand-secondary;
					}
				}

				&:focus-within {
					label {
						color: $brand-secondary;
					}
				}
			}

			.form-checkboxes {
				overflow: hidden;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				padding: $padding-large-vertical $padding-large-horizontal;

				.form-composite {
					@include pad-x-reset;
					display: flex;
					flex-wrap: wrap;
					align-items: flex-start;
					width: $container-sm;
				}
			}

			.filter-actions {
				text-align: center;
			}
		}

		// filter buttons
		.fieldset-actions {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-bottom: ($padding-base-horizontal * 2);
			padding-top: $padding-large-vertical;

			button + button {
				margin-left: $padding-large-vertical;
			}
		}

		.btn-primary {
			&:hover {
				background-color: transparent;
				border-color: $gold;
				color: $gold;
			}

			&.btn-solid {
				background-color: $gold;
				border-color: $gold;
				&:hover {
					background-color: transparent;
					border-color: $gold;
					color: white;
				}
			}
		}

		// tab list container
		div[id*="edit-level"] {
			width: 100%;
		}

		// filter list large
		.fieldgroup {
			display: block;
			position: relative;
			margin-bottom: $padding-large-vertical;

			&.expanded,
			&:focus,
			&.ally-focus-within {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				z-index: 1;

				.fieldset-wrapper {
					opacity: 1;
					pointer-events: auto;
					position: relative;
					top: auto;
					left: auto;
					z-index: 0;
					transform: translateY(-$padding-base-vertical);

					.filter-utility {
						padding-top: $padding-large-vertical;
					}

					&::before,
					&::after {
						display: block;
					}
				}

				.fieldset-legend {
					position: relative;
					z-index: 1;

					&::after {
						transform: rotate(-135deg);
					}
				}
			}

			&:focus-within {
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				z-index: 1;

				.fieldset-wrapper {
					opacity: 1;
					pointer-events: auto;
					position: relative;
					top: auto;
					left: auto;
					z-index: 0;
					transform: translateY(-$padding-base-vertical);

					.filter-utility {
						padding-top: $padding-large-vertical;
					}

					&::before,
					&::after {
						display: block;
					}
				}

				.fieldset-legend {
					position: relative;
					z-index: 1;

					&::after {
						transform: rotate(-135deg);
					}
				}
			}
		}

		// filter list small
		.fieldset--filter-by-college {
			.fieldset-wrapper {
				&::before,
				&::after {
					content: none;
				}
			}

			.form-checkboxes {
				.form-composite {
					width: auto;
				}

				.checkbox {
					flex-basis: 100%;
				}
			}
		}

		// tab list container
		.form-type-select {
			width: 100%;
		}

		// tab list items
		.fieldgroup--radios {
			width: 100%;
		}

		.form-radios {
			width: 100%;
			border-bottom: 0;
			list-style-type: none;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			margin-top: $padding-base-horizontal;
			margin-bottom: ($padding-large-horizontal * 2);

			.form-item-level,
			.form-group {
				border-bottom: none;
				color: $gray-border;
				font-size: 0.875rem;
				font-weight: bold;
				letter-spacing: 0.03125rem;
				line-height: 1;
				margin-bottom: 0;
				margin-top: 0;
				font-weight: bold;
				position: relative;
				text-transform: uppercase;
				width: 100%;
				transition: max-width 0.25s $ease, opacity 0.3s $ease;

				&:hover,
				&:focus {
					label,
					> a {
						color: $gray-med;
					}
				}

				input[type=radio] {
					@include sr-only;
					// visibility: hidden;
					opacity: 0;

					&:checked + label {
						max-width: none;

						&::after {
							height: 3px;
							max-width: none;
						}

						&:hover,
						&:focus {
							color: $brand-secondary;
						}
					}

					&:focus {
						+ label {
							color: $gray-med;
						}
					}
				}

				label,
				> a {
					padding: ($padding-base-horizontal * 2) 0 $padding-large-vertical;
					border-radius: 0;
					display: flex;
					align-items: center;
					justify-content: space-between;
					border: 0;
					color: inherit;
					font-family: $font-family-base;
					font-size: inherit;
					font-weight: inherit;
					margin-left: auto;
					margin-right: 0;
					max-width: 90%;
					line-height: inherit;

					&::after {
						background-color: currentColor;
						content: '';
						display: block;
						position: absolute;
						bottom: 0;
						right: 0;
						width: 100%;
						max-width: 90%;
						height: 1px;
						transition: transform 0.25s $ease;
					}

					&:hover,
					&:focus {
						background-color: transparent;
					}
				}
			}
		}

		// apply and reset buttons
		.form-actions {
			visibility: hidden;
			position: absolute;
			pointer-events: none;
		}
	}

	// results container
	&__results {
		min-height: $results-min-height;
		transition: opacity 0.5s $ease;

		&::before {
			content: none;
			pointer-events: none;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate3d(-50%, -50%, 0);
			transition: opacity 0.3s $ease;
			z-index: 1;
		}
	}

	// empty results container
	&__empty {
		min-height: $results-min-height;
		padding: $padding-base-horizontal;
		text-align: center;

		button {
			margin-top: $padding-large-horizontal;
		}
	}

	// filter item styling
	.card-item {
		backface-visibility: hidden;
		display: flex;
		align-items: stretch;
		justify-content: stretch;
		padding: 0;
		background-color: #fff;
		box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
		color: $gray-base;
		font-family: $font-family-serif;
		font-size: 0.875rem;
		margin-bottom: $padding-large-vertical;
		margin-top: 0;
		overflow: visible;
		position: relative;
		z-index: 0;
		transition: transform 0.15s $ease;
		width: auto;

		&::after {
			background-color: transparent;
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			transition: transform 0.2s $ease;
			will-change: transform;
			z-index: -1;
		}

		&__title {
			color: inherit;
			font-size: 1.5rem;
			font-weight: inherit;
			height: 100%;
			margin: 0;
			padding: $padding-large-vertical;
			padding-bottom: 0;
			margin-bottom: $padding-large-vertical;
			line-height: 1.1;
		}

		&__concentrations {
			background-color: $gray-lighter;
			color: $gray-base;
			font-family: $font-family-serif;
			font-weight: bold;
			font-size: 0.75rem;
			margin: 0;
			padding: $padding-large-vertical;
			position: relative;
			user-select: none;

			&::before {
				content: 'Concentrations:';
				color: $brand-secondary;
				display: block;
				line-height: 1;
				margin-bottom: 0.375rem;
				opacity: 1;
				transition: color 0.05s $ease;
			}

			.concentration-item {
				font-family: $font-family-serif;
				font-size: 0.875rem;
				list-style-type: disc;
				line-height: calc(20/14);
				margin: 0.3125rem 0 0 $padding-base-horizontal;
				padding-left: 0;
			}
		}

		&__link {
			color: inherit;
			display: flex;
			flex-direction: column;
			font-weight: normal;
			margin: 0;
			padding: 0;
			position: relative;
			transition: none;
			width: 100%;
			min-height: 75px;
			border-bottom: 4px solid $brand-secondary;

			&:focus {
				outline-offset: $padding-base-vertical;
			}
		}

		&:hover,
		&:focus,
		&.ally-focus-within {
			color: #fff;

			.card-item__concentrations {
				background-color: transparent;
				color: inherit;

				&::before {
					color: $brand-primary;
				}
			}

			&::after {
				background-color: $brand-secondary;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
			}
		}

		&:focus-within {
			color: #fff;

			.card-item__concentrations {
				background-color: transparent;
				color: inherit;

				&::before {
					color: $brand-primary;
				}
			}

			&::after {
				background-color: $brand-secondary;
				box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
			}
		}
	}

	// program finder loading status
	&.loading {
		pointer-events: none;
		cursor: wait;

		.finder-view {
			&__filters {
				@include spinner($brand-secondary);
				opacity: 0.33;
				pointer-events: none;
			}

			&__results,
			&__empty {
				opacity: 0.33;
			}
		}
	}
}

.ie {
	.finder-view {
		&__intro {
			&.js-is-sticky {
				position: static !important;
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: 40rem) {  // 640px
	.finder-view {
		.card-item {
			font-size: 1.125rem;
			margin-bottom: 30px;

			&__link {
				display: flex;
				flex-direction: column;
				align-items: stretch;
				justify-content: flex-end;
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: $screen-sm) {  // 768px
	.finder {
		&__grid {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			margin-left: -$padding-base-horizontal / 2;
			margin-right: -$padding-base-horizontal / 2;
			padding-top: ($padding-base-horizontal * 2);

			.card-item {
				flex-basis: calc(25% - #{$padding-base-horizontal});
				margin-right: $padding-base-horizontal / 2;
				margin-left: $padding-base-horizontal / 2;
				margin-bottom: $padding-base-horizontal;
			}

			@supports (display: grid) {
				display: grid;
				grid-gap: $padding-base-horizontal;
				grid-template-columns: repeat(auto-fill, minmax(calc(50% - #{$padding-base-horizontal}), 1fr));
				margin-left: auto;
				margin-right: auto;

				.card-item {
					margin: 0;
					flex-basis: auto;

					&.grid--3,
					&.grid--4 {
						flex-basis: auto;
					}
				}
			}
		}

		&__scroll-link {
			display: none;
		}
	}

	.finder-view {
		&__filters {
			.form-elements {
				display: flex;
				flex-wrap: wrap;
			}

			.fieldgroup {
				flex-basis: 48.25%;
				flex-basis: calc(50% - #{$padding-large-vertical});
				margin-right: $padding-large-vertical;
				overflow: hidden;

				.fieldset-wrapper {
					z-index: 1;
				}

				+ .fieldgroup {
					margin-right: 0;
					margin-left: $padding-large-vertical;
				}

				legend {
					&::after {
						content: '';
						display: block;
						width: 100%;
						height: $padding-large-horizontal;
						position: absolute;
						pointer-events: none;
						top: 100%;
						left: 0;
						opacity: 0;
						background-color: $maroon;
						transition: opacity 0.15s $ease;
					}
				}

				.bef-toggle {  // select all/none
					opacity: 0;
					transform: translateY(-$padding-base-horizontal);
					transition: opacity 0.15s $ease;
				}

				&.expanded {
					overflow: visible;

					legend {
						&::after {
							opacity: 1;
						}
					}

					.fieldset-legend {
						padding-bottom: $padding-base-horizontal;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}

					.fieldset-wrapper {
						padding-bottom: $padding-large-horizontal;
						position: absolute;
						transform: translateY($padding-large-horizontal);
						width: calc(#{$container-sm} - (#{$padding-base-horizontal} * 2));

						.form-checkboxes {
							.form-composite {
								width: $container-md;
							}
						}

						.checkbox {
							label {
								color: white;
								transition: none;
							}
							flex-basis: 23.5%;
							flex-basis: calc(25% - 1.25rem);
							margin-right: 1.25rem;
							flex-shrink: 0;
						}
					}

					.fieldset-actions {
						padding-bottom: $padding-large-vertical;
						padding-top: $padding-large-horizontal;
					}

					.bef-toggle {
						opacity: 1;
					}
				}
				&:focus-within {
					overflow: visible;

					legend {
						&::after {
							opacity: 1;
						}
					}

					.fieldset-legend {
						padding-bottom: $padding-base-horizontal;
						border-bottom-left-radius: 0;
						border-bottom-right-radius: 0;
					}

					.fieldset-wrapper {
						padding-bottom: $padding-large-horizontal;
						position: absolute;
						transform: translateY($padding-large-horizontal);
						width: calc(#{$container-sm} - (#{$padding-base-horizontal} * 2));

						.form-checkboxes {
							.form-composite {
								width: $container-md;
							}
						}

						.checkbox {
							flex-basis: 23.5%;
							flex-basis: calc(25% - 1.25rem);
							margin-right: 1.25rem;
							flex-shrink: 0;
						}
					}

					.fieldset-actions {
						padding-bottom: $padding-large-vertical;
						padding-top: $padding-large-horizontal;
					}

					.bef-toggle {
						opacity: 1;
					}
				}
			}

			.fieldset--filter-by-college {
				&.expanded {
					.fieldset-wrapper {
						width: 100%;

						.form-checkboxes {
							height: auto;

							.form-composite {
								width: auto;
							}
						}

						.checkbox {
							flex-basis: 100%;
						}
					}
				}
				&:focus-within {
					.fieldset-wrapper {
						width: 100%;

						.form-checkboxes {
							.form-composite {
								width: auto;
							}
						}

						.checkbox {
							flex-basis: 100%;
						}
					}
				}
			}
		}

		&__intro {
			z-index: 1;
			&::after {
				-webkit-filter: blur(15px);
				-moz-filter: blur(15px);
				-o-filter: blur(15px);
				-ms-filter: blur(15px);
				filter: blur(15px);
			}
		}

		&__results {
			margin-bottom: ($padding-large-horizontal * 3);

			.card-item {
				min-height: 7.5rem;

				&__link {
					font-size: 1.3125rem;
				}
			}
		}

		.card-item {
			&__concentrations {
				font-size: 0.875rem;
			}

			&:hover,
			&:focus {
				&::after {
					transform: scale(1.025);
				}
			}
			&:focus-within {
				&::after {
					transform: scale(1.025);
				}
			}
		}
	}

	.ie {
		.finder-view {
			&__intro {
				&.js-is-sticky {
					left: auto;
					right: auto;
					top: 0;
					width: $container-sm;

					&::after {
						top: 0;
						height: 100%;
					}
				}
			}

			input[type="checkbox"] {
				&:focus {
					~ label {
						outline: 1px dotted $gray-border;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.finder {
		background-image: url("../images/About_Marquette.png");
		background-color: white;
		background-attachment: fixed;
		background-position: 50% 50%;
		&__intro {
			text-align: left;
		}

		.component__headline {
			font-size: 3.125rem;
		}

		.component__subheading {
			font-size: 1.375rem;
		}

		&__grid {
			@supports (display: grid) {
				grid-template-columns: repeat(auto-fill, minmax(calc(25% - #{$padding-base-horizontal}), 1fr));
			}
		}
	}

	.finder-view {
		&__filters {
			.fieldgroup {
				.fieldset-wrapper {
					transition: transform 0.15s $ease;
				}

				&.expanded {
					.fieldset-wrapper {
						width: calc(#{$container-md} - (#{$padding-base-horizontal} * 2));

						&::before {
							/*background-image: linear-gradient(
								to bottom,
								rgba(254, 208, 36, 0) 7%,
								rgba(254, 208, 36, 0.86) 100%
							);*/
							right: auto;
							left: 0;
							width: 100%;
							top: calc(50vmin - #{$padding-base-horizontal * 2});
							height: ($padding-base-horizontal * 2);
						}

						&::after {
							right: -($padding-base-horizontal);
							top: ($padding-base-horizontal * 3);
							transform: rotate(90deg);
							z-index: 2;
						}

						.form-checkboxes {
							@include overflow-scroll;
							height: 50vmin;

							.form-composite {
								width: 100%;
								height: auto;
								overflow: visible;
							}
						}

						.bef-toggle {
							background-color: $maroon;
							top: 0;
							left: auto;
							padding-bottom: $padding-base-vertical;
							transform: translateY(calc(#{$padding-base-vertical} * -2));
							z-index: 1;
						}
					}
				}

				&:focus-within {
					.fieldset-wrapper {
						width: calc(#{$container-md} - (#{$padding-base-horizontal} * 2));
					}
				}

				&.loading {
					legend {
						&::after {
							opacity: 0;
						}
					}

					.fieldset-wrapper {
						visibility: hidden;
					}
				}

				&.fieldset--filter-by-college {
					&.expanded {
						.fieldset-wrapper {
							width: 100%;
						}
					}
					&:focus-within {
						.fieldset-wrapper {
							width: 100%;
						}
					}
				}
			}

			.form-radios {
				flex-direction: row;
				justify-content: space-between;
				margin-bottom: $padding-base-horizontal;
				margin-top: ($padding-base-horizontal * 2);
				transition: transform 0.15s $ease;

				.form-item-level {
					flex-grow: 1;
					width: auto;

					label,
					> a {
						justify-content: center;
						margin-left: auto;
						margin-right: auto;
						max-width: none;
						padding-bottom: $padding-large-horizontal;
						padding-top: $padding-large-vertical;

						.count {
							&::after {
								height: 1.875rem;
								width: 1.875rem;
							}
						}

						&::after {
							max-width: none;
						}
					}
				}

				.form-group {
					font-size: 1rem;
					max-width: none;
					width: auto;

					&::after {
						height: 0;
						transform: none;
					}

					label,
					> a {
						padding-left: $padding-base-vertical;
						padding-right: $padding-base-vertical;
						justify-content: center;
					}
				}
			}
		}

		&__intro {
			position: sticky;
			padding-top: $padding-large-horizontal;
			top: 9.25rem;
			z-index: 1;

			&::after {
				content: '';
				background-color: $gray-lighter;
				position: absolute;
				pointer-events: none;
				top: -$padding-base-vertical;
				left: -$padding-large-vertical;
				right: -$padding-large-vertical;
				height: 100%;
				z-index: -1;
				transition: opacity 0.15s $ease;
			}

			&.js-is-sticky {
				&::after {
					opacity: 1;
					height: 85%;
				}

				.finder-view__filters {
					.form-radios {
						transform: translateY((calc(-#{$padding-base-horizontal} * 2)));
					}
				}
			}
		}

		&__results {
			.card-item {
				.views-field-title {
					font-size: 1.5rem;
				}
			}
		}
	}

	.ie {
		.finder-view {
			&__intro {
				&.js-is-sticky {
					position: fixed !important;
					width: calc(#{$container-md} - #{$padding-base-horizontal} * 2);
				}
			}
		}
	}
}

@media screen and (min-width: $screen-lg) {  // lg desktop 1200
	.finder-view {
		&__filters {
			.fieldgroup {
				&.expanded {
					.fieldset-wrapper {
						width: calc(#{$container-lg} - (#{$padding-base-horizontal} * 2));

						.form-checkboxes {
							.form-composite {
								width: 100%;
							}
						}
					}
				}
				&:focus-within {
					.fieldset-wrapper {
						width: calc(#{$container-lg} - (#{$padding-base-horizontal} * 2));

						.form-checkboxes {
							.form-composite {
								width: 100%;
							}
						}
					}
				}
			}
		}

		.card-item {
			&__title {
				padding: $padding-large-horizontal;
				padding-bottom: 0;
				margin-bottom: $padding-large-horizontal;
			}

			&__concentrations {
				font-size: 0.875rem;
				padding: $padding-large-horizontal;
			}
		}
	}

	.ie {
		.finder-view {
			&__intro {
				&.js-is-sticky {
					width: calc(#{$container-lg} - #{$padding-base-horizontal} * 2);
				}
			}
		}
	}
}

@media screen and (min-height: $screen-md) {  // 992 tall screens
	.finder-view {
		&__filters {
			.fieldgroup {
				&.expanded {
					.fieldset-wrapper {
						.form-checkboxes {
							height: auto;
						}

						&::before,
						&::after {
							content: none;
						}
					}
				}
				&:focus-within {
					.fieldset-wrapper {
						.form-checkboxes {
							height: auto;
						}

						&::before,
						&::after {
							content: none;
						}
					}
				}
			}
		}
	}
}