/**
  * Carousel/slider component
  *
  * Stylized carousel (uses flickity JS)
  *
  * Template:
  * `<theme>/templates/paragraph/paragraph--carousel-slider.html.twig`
  *
*/

.slider {
	.component__wrapper {
		margin-top: ($padding-base-horizontal * 2);
		padding: 0 0 ($padding-base-horizontal * 3);
		position: relative;
		text-align: center;
		z-index: 0;

		&::after {
			background-image: url('../images/pattern-full.jpg');
			background-position: center;
			background-size: 500px;
			background-repeat: repeat;
			content: '';
			display: block;
			position: absolute;
			top: 34%;
			height: 66%;
			left: 0;
			width: 100%;
			z-index: -1;
		}
	}

	.component__headline {
		color: inherit;
		font-family: $font-family-sans-serif;
		font-size: 1.75rem;
		font-weight: bold;
		line-height: 1;
		margin: 0 auto $padding-base-horizontal;
	}

	.component__subheading {
		font-size: 1rem;
	}

	&__intro {
		color: $gray-med;
		margin-bottom: ($padding-base-horizontal * 3);
		text-align: center;
	}

	&__controls {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__count {
		flex-grow: 0;
		flex-shrink: 0;
		flex-basis: 60%;
		font-family: $font-family-base;
		font-size: 1rem;
		font-weight: bold;
		color: $gray-base;
		letter-spacing: 0.03125em;
		text-transform: uppercase;

		.slide--current {
			color: inherit;
		}

		.slide--total {
			color: $gray-border;
		}
	}

	&__button {
		flex-basis: auto;
		flex-grow: 0;
		flex-shrink: 0;
		appearance: none;
		background: transparent;
		border: 2px solid currentColor;
		border-radius: 50%;
		color: $brand-secondary;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: none;
		height: 2.375rem;
		width: 2.375rem;
		transition: transform 0.15s $ease, color 0.15s $ease;

		&::before {
			content: '';
			display: block;
			font-family: $icon-font-name;
			font-size: 1.875rem;
			line-height: 1;
			margin-top: -0.125rem;
		}

		&.prev {
			&::before {
				content: '\f104';
				margin-left: -0.125rem;
			}

			&:active {
				transform: translate3d(-1px, 0, 0);
			}
		}

		&.next {
			&::before {
				content: '\f105';
				margin-right: -0.125rem;
			}

			&:active {
				transform: translate3d(1px, 0, 0);
			}
		}

		&:focus,
		&:active {
			outline: 1px dotted $gray-light;
		}

		&:active {
			color: $gray-border;
		}
	}

	.component__grid {
		flex-wrap: nowrap;
		align-items: stretch;
		padding-bottom: ($padding-base-horizontal * 3);

		&.flickity-enabled {
			.flickity-viewport {
				box-sizing: content-box;
				padding-bottom: $padding-large-vertical;
			}

			.flickity-slider {
				display: flex;
				align-items: stretch;
			}

			.flickity-page-dots {
				color: $gray-med;
				bottom: 0;
			}
		}
	}

	.slider-item {
		display: block;
		flex-basis: 90%;
		padding: 0 $padding-large-vertical;
		width: 85%;

		&__wrapper {
			background-color: #fff;
			box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
			margin: auto;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			height: 100%;
			padding: 0;
		}

		&__text {
			font-size: 0.875rem;
			line-height: 1.2857142857;
			line-height: calc(9/7);
			margin: 0 auto;
			padding: $padding-base-horizontal $padding-base-horizontal 12.5%;
			text-align: left;
			width: 100%;

			h2, h3, h4, h5 {
				font-size: 1.375rem;
				margin-bottom: $padding-large-vertical;
				margin-top: 0;

				> span {
					font-family: $font-family-base;
					font-weight: normal;
				}
			}

			h3, h4, h5 {
				color: $brand-secondary;
				font-weight: bold;
			}

			p, li, dt, dd, td {
				font-size: inherit;
				line-height: inherit;
				margin-bottom: $padding-large-vertical;
				padding: 0;

				a {
					color: $brand-secondary;
				}
			}

			.arrow-angle-before,
			.arrow-angle-after {
				font-weight: bold;
			}
		}

		&__image {
			display: flex;
			width: 100%;

			img {
				object-fit: contain;
				max-width: none;
				height: 100%;
				width: 100%;
			}

			&.lazyload {
				min-height: 200px;
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-xxs) {  // 360px
	.slider {
		&__count {
			flex-basis: 50%;
		}

		.slider-item {
			&__text {
				font-size: 1rem;
			}
		}
	}
}


@media screen and (min-width: $screen-sm) {  // 768px
	.slider {
		.component__subheading {
			line-height: 1.1818181818;
			line-height: calc(13/11);
		}

		&__cta {
			> a {
				white-space: normal;
			}
		}

		&__controls {
			max-width: 40rem;
		}

		.slider-item {
			flex-basis: auto;
			max-width: 60rem;
			width: 75%;

			&__wrapper {
				background-color: transparent;
				box-shadow: none;
			}

			&__image {
				width: 90%;
			}

			&__text {
				background-color: #fff;
				box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.15);
				font-size: 1rem;
				margin-top: -10%;
				margin-right: 0;
				padding: $padding-large-horizontal ($padding-base-horizontal * 2) ($padding-base-horizontal * 3);
				width: 90%;
				z-index: 1;
			}
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.slider {
		&__intro {
			margin-bottom: ($padding-base-horizontal * 5);
		}

		.component__headline {
			font-size: 3.125rem;
		}

		.component__grid {
			align-items: flex-start;
		}

		.slider-item {
			flex-basis: auto;
			max-width: 60rem;
			width: 75%;

			&__wrapper {
				background-color: transparent;
				box-shadow: none;
				width: 43.75rem;
			}

			&__text {
				margin-right: -5%;
				padding-bottom: $padding-large-horizontal;

				h2, h3, h4, h5 {
					font-size: 1.75rem;
					margin-bottom: $padding-large-vertical;
				}
			}
		}
	}
}


@media screen and (min-width: $screen-lg) {  // large desktop 1200px
	.slider {
		.slider-item {
			&__image {
				width: 100%;
			}

			&__text {
				margin-right: -10%;
				width: 97.5%;

				h2, h3, h4, h5 {
					font-size: 2.5rem;
				}
			}
		}
	}
}


@media screen and (min-width: $screen-xxl) {  // xl desktop
	.slider {
		.component__grid {
			max-width: $screen-lg;
			margin-left: auto;
			margin-right: auto;
		}
	}
}