/**
  * Steps component
  *
  * Displays a numbered list block of content
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--steps-component.html.twig`
  *
*/

.loyola__content .region {
	counter-reset: steps;
}

.steps {
	&__count {
		counter-increment: steps;
	}

	&__wrapper {
		@include pad-x-reset;
		display: flex;
		flex-direction: column;
	}

	.component__headline {
		font-size: 1.5rem;
		font-family: $font-family-base;
		font-weight: $font-semi;
		line-height: 1;
		position: relative;

		&::before {
			content: 'Step ' counter(steps);
			color: inherit;
			display: block;
			font-size: 5.375rem;
			line-height: 1;
			margin-bottom: $padding-base-horizontal;
			font-family: $font-family-script-alt;
		}
	}

	.component__subheading {
		color: inherit;
	}

	&__header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: ($padding-large-horizontal * 2) $padding-base-horizontal;
		position: relative;
		text-align: center;

		&.dark-blue {
			background-color: $indigo;
			color: $indigo;

			.component__headline,
			.component__subheading {
				color: #fff;

				&::before {
					color: $yellow;
				}
			}
		}

		&.light-blue {
			background-color: $teal;
			color: $teal;

			.component__headline,
			.component__subheading {
				color: #fff;

				&::before {
					color: $indigo;
				}
			}
		}

		&::after {
			content: '';
			display: block;
			border-top: 1.5rem solid currentColor;
			border-left: 1.25rem solid transparent;
			border-right: 1.25rem solid transparent;
			position: absolute;
			height: 0;
			width: 0;
			left: 50%;
			bottom: -1.25rem;
			transform: translateX(-50%);
		}
	}

	&__body {
		padding: ($padding-large-horizontal * 3) ($padding-large-horizontal * 2) ($padding-large-horizontal * 2);
		font-family: $font-family-base;

		&.texture {
			background-color: $gray-lighter;
		}

		p, li, dt, dd, td {
			font-family: inherit;
			font-size: 0.875rem;
			font-weight: normal;
		}

		ul {
			list-style-type: none;
			padding: 0;

			li {
				padding-left: 0.875em;
				position: relative;

				+ li {
					margin-top: $padding-base-vertical;
				}

				&::before {
					content: '';
					background-color: $brand-secondary;
					display: inline-block;
					height: 0.25rem;
					width: 0.25rem;
					border-radius: 50%;
					position: absolute;
					left: 0;
					top: 0.5625rem;
				}
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.steps {
		&__count {
			&.dark-blue {
				background: linear-gradient(
					to right,
					$indigo 0%,
					$indigo 35vw,
					#fff 35vw,
					#fff 100vw
				);
			}
			&.dark-blue.texture {
				background: linear-gradient(
					to right,
					$indigo 0%,
					$indigo 35vw,
					$gray-lighter 35vw,
					$gray-lighter 100vw
				);
			}

			&.light-blue {
				background: linear-gradient(
					to right,
					$teal 0%,
					$teal 35vw,
					#fff 35vw,
					#fff 100vw
				);
			}
			&.light-blue.texture {
				background: linear-gradient(
					to right,
					$teal 0%,
					$teal 35vw,
					$gray-lighter 35vw,
					$gray-lighter 100vw
				);
			}
		}

		&__wrapper {
			@include pad-x-base;
			flex-direction: row;
			justify-content: stretch;
			align-items: stretch;
		}

		&__header {
			@include pad-x-reset;
			flex-basis: 35vw;
			align-items: center;
			padding-left: 0;
			padding-right: 5vw;

			&::after {
				border-bottom: 1.5rem solid transparent;
				border-top: 1.5rem solid transparent;
				border-left: 1.5rem solid currentColor;
				left: 100%;
				top: 50%;
				transform: translateY(-50%);
			}
		}

		&__body {
			flex-basis: 65%;
			padding-left: ($padding-large-horizontal * 3);
			padding-right: $padding-large-horizontal;

			p, li, dt, dd, td {
				font-size: 1rem;
			}
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.steps {
		&__body {
			flex-basis: 62.5%;
			padding-left: ($padding-large-horizontal * 4);
		}
	}
}


@media screen and (min-width: $screen-xxl) {  // xl desktop
	.steps {
		&__count {
			&.dark-blue,
			&.dark-blue.texture,
			&.light-blue,
			&.light-blue.texture {
				background: transparent;
			}
		}
	}
}