/**
  * Webform styles
  *
*/

.webform-submission-form {
	/*padding-top: ($padding-base-horizontal * 3);
	padding-bottom: ($padding-large-horizontal * 4);*/
	display: flex;
	flex-direction: column;

	.webform__wrapper {
		display: flex;
		flex-direction: column;
	}

	h4, h5, h6 {
		font-weight: bold;
		margin: $padding-large-horizontal 0 0;
	}

	p, li, dt, dd, td {
		color: inherit;

		a[href^="tel"] {
			color: inherit;
		}
	}

	label {
		font-family: $font-family-serif;
	}

	.form-type-processed-text {  // descriptive text content
		text-align: center;
	}

	.form-wrapper {
		border: 0;

		.form-type-processed-text {
			text-align: left;
		}
	}

	.webform-actions {  // form submission group
		.btn {
			color: inherit;
			border-color: inherit;
		}
	}

	.webform-confirmation {
		@include pad-x-base;
		background-color: #fff;
		border: 3px solid $brand-primary;
		color: $gray-med;
		font-size: 0.875rem;
		margin-left: auto;
		margin-right: auto;

		&__message {
			margin-bottom: $padding-base-horizontal;
			text-align: center;

			h3 {
				color: $brand-primary;
				font-weight: bold;
			}
		}

		&__back {
			display: none;
		}
	}

	&[class*="-contact-form"],
	&.webform-submission-contact-form {
		background-color: $brand-primary;
		opacity: 0.9;
		color: #fff;

		.webform-actions {
			color: #fff;
			margin-top: $padding-large-horizontal;

			.btn {
				margin-right: auto;
				margin-left: auto;
				width: 100%;

				&:hover {
					border-color: $brand-secondary;
				}
			}
		}

		.alert {
			margin-bottom: $padding-base-horizontal;
			width: 100%;

			&.alert-danger {
				text-transform: none;
			}
		}
	}

	.has-error {
		label,
		.control-label {
			color: $brand-danger;
		}
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.webform-submission-form {
		flex-direction: row;
		flex-wrap: wrap;

		.webform__wrapper {
			flex-direction: row;
			flex-wrap: wrap;

			.form-wrapper {
				border: 0;
				flex-grow: 0;
				flex-shrink: 0;
				flex-basis: 48%;
				align-items: flex-start;

				+ .form-wrapper {
					padding-left: ($padding-base-horizontal * 2);
				}

				.form-item {
					flex-basis: 100%;
					flex-shrink: 0;
					flex-grow: 0;

					+ .form-item:not(.form-type-radio):not(.form-type-checkbox) {
						padding-left: 0;
					}
				}

				&.column-contact-info {
					padding-top: $padding-large-horizontal;

					.form-item {
						columns: 2;
						column-gap: $padding-base-vertical;

						h4, h5, h6 {
							&:first-of-type {
								margin-top: 0;
							}
						}
					}
				}


				&.webform-actions {
					margin-top: $padding-large-vertical;
					padding-left: 0;
					text-align: center;
					flex-basis: auto;
					justify-content: center;

					.btn {
						margin-right: 0;
						margin-left: 0;
						width: auto;
					}
				}
			}
		}
	}

	.ie {
		form[class*="-contact-form"],
		.webform-submission-contact-form {
			.webform__wrapper {
				.form-column {
					flex-shrink: 1;
					flex-basis: 47.5%;
				}
			}
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.webform-submission-contact-form {
		.webform__wrapper {
			margin-left: auto;
			margin-right: auto;
			max-width: $container-md;
		}

		.form-column {
			flex-grow: 0;
			flex-shrink: 0;
			flex-basis: 50%;

			&.column-contact-info {
				.form-item {
					column-gap: ($padding-base-horizontal * 2);
				}
			}
		}
	}
}
