/**
  * Content Tout - Two Column
  *
  * Two column (horizontal) WYSIWYG content with image or video
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--content-touts-display-text-throu.html.twig`
  *
*/

.wysiwyg-twocol {
	padding-top: ($padding-base-horizontal * 2);
	padding-bottom: ($padding-base-horizontal * 2);

	&.bg--texture {
		@include background-pattern('base', false, 0.25);
	}

	.component__headline {
		color: $indigo;
		font-size: 1.75rem;
		margin-top: 0;
	}

	&__text {
		margin-bottom: ($padding-base-horizontal * 2);
	}

	&__link {
		display: block;
		margin-top: ($padding-base-horizontal * 2);
	}

	&__image {
		margin-bottom: $padding-base-horizontal;
		margin-left: auto;
		margin-right: auto;
		display: block;
		width: 50%;
	}

	&__video {
		margin-bottom: $padding-base-horizontal;
		cursor: pointer;
		position: relative;
		z-index: 0;

		.video__inline--button{
			appearance: none;
			background: transparent;
			border: 0;
			box-shadow: 0;
			outline: none;
			color: $yellow;
			font-family: $icon-font-name;
			font-size: 4rem;
			pointer-events: none;
			position: absolute;
			left: 50%;
			top: 50%;
			opacity: 1;
			transform: translate3d(-50%, -50%, 0);
			transition: opacity 0.2s $ease;
			z-index: 1;

			.fa-pause-circle {
				color: #fff;
				opacity: 0.7;
			}
		}

		video {
			max-width: 100%;
			z-index: 0;
		}

		&.playing {
			.video__inline--button {
				opacity: 0;
			}

			&:hover {
				.video__inline--button {
					opacity: 1;
				}
			}
		}
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.wysiwyg-twocol {
		padding-top: ($padding-base-horizontal * 3);
		padding-bottom: ($padding-base-horizontal * 3);
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.wysiwyg-twocol {
		padding-top: ($padding-large-horizontal * 3);
		padding-bottom: ($padding-large-horizontal * 3);

		.component__headline {
			font-size: 3.25rem;
			line-height: 1.0576923077;
			line-height: calc(55/52);
		}

		&__text {
			margin-bottom: $padding-base-horizontal;
		}

		&__image {
			margin-bottom: 0;
		}
	}
}

