/**
  * Icon Tout component
  *
  * Displays a horizontal row (desktop) or carousel (mobile) of 1-4 SVG or text icons
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--icon-tout.html.twig`
  *
*/

.icon-tout {
	background-color: $soylent;
	border-top: 7px solid $brand-secondary;
	border-bottom: 7px solid $brand-secondary;

	.component__wrapper {
		color: $indigo;
		padding: $padding-base-horizontal 0;
		position: relative;
		text-align: center;
	}

	.component__headline {
		font-family: $font-family-sans-serif;
		font-size: 2.25rem;
		font-weight: bold;
		line-height: 0.9;
		line-height: calc(11/12);
		margin: 0 auto $padding-base-horizontal;
	}

	&__intro {
		@include pad-x-base;
		margin: ($padding-base-horizontal * 3) auto 0;
		text-align: center;
	}

	&__cta {
		text-align: center;

		> a {
			color: inherit;
			margin-top: ($padding-large-vertical * 2);
			margin-bottom: 0;
			white-space: nowrap;
		}
	}

	.component__grid {
		margin: ($padding-base-horizontal * 2) 0 ($padding-large-horizontal * 3);
		padding-bottom: ($padding-base-horizontal * 2);

		&.flickity-enabled {
			.flickity-page-dots {
				bottom: 0;

				.dot.is-selected {
					border-color: #fff;
					background-color: #fff;
				}
			}
		}
	}

	.btn-secondary {
		background-color: transparent;
		border-color: $brand-secondary;
		color: $brand-secondary;
		&:hover {
			background-color: $brand-secondary;
			border-color: $brand-secondary;
			color: white;
		}
	}

	.tout-item {
		color: #fff;
		display: block;
		padding: $padding-large-vertical;
		width: 100%;

		&__wrapper {
			background-color: $brand-secondary;
			border-radius: 50%;
			margin: auto;
			height: 80vmin;
			width: 80vmin;
			text-align: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding: ($padding-base-horizontal * 3);
		}

		&__headline {
			color: #fff;
			font-family: $font-family-script-alt;
			font-weight: normal;
			font-size: 14.5vmin;
			line-height: 1;
			margin: 0 auto;
			padding: 0;
		}

		&__text {
			color: #fff;
			font-size: 0.875rem;
			line-height: 1.2857142857;
			line-height: calc(9/7);
			margin: $padding-base-horizontal auto 0;
			width: 100%;

			p {
				font-size: inherit;
				line-height: inherit;
				margin: 0;
				padding: 0;
			}
		}

		&__link {
			color: $brand-secondary;
		}

		&__image {
			display: inline-block;
			object-fit: contain;
			height: 100%;
			max-width: 100%;
			max-height: 33%;
			position: relative;

			@supports not (object-fit: contain) {
				max-width: 65%;
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-xxs) {  // 360px
	.icon-tout {
		.tout-item {
			&__text {
				font-size: 1rem;
			}
		}
	}
}


@media screen and (min-width: $screen-sm) {  // 768px
	.icon-tout {
		.component__wrapper {
			padding-bottom: ($padding-base-horizontal * 2);
		}

		.component__grid {
			justify-content: center;
			margin-top: ($padding-base-horizontal * 3);
		}

		.component__headline {
			font-size: 3.125rem;
		}

		.component__subheading {
			font-size: 1.25rem;
			line-height: 1.1818181818;
			line-height: calc(13/11);
		}

		&__intro {
			max-width: $container-sm;
		}

		&__cta {
			> a {
				white-space: normal;
			}
		}

		.tout-item {
			flex-basis: 50%;
			width: 50%;

			&__wrapper {
				padding-left: ($padding-base-horizontal * 2);
				padding-right: ($padding-base-horizontal * 2);
				width: 12.5rem;
				height: 12.5rem;
			}

			&__headline {
				font-size: 2.3125rem;
			}

			&__image {
				max-height: 3.5rem;
				max-width: 100%;
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.icon-tout {
		&__intro {
			max-width: none;
		}

		.component__headline {
			max-width: $container-md;
		}

		.component__subheading {
			font-size: 1.375rem;
			max-width: $container-sm;
			margin-left: auto;
			margin-right: auto;
		}

		.tout-item {
			max-width: 23.125rem;

			&__wrapper {
				padding: $padding-large-horizontal;
			}
		}
	}
}

@media screen and (min-width: $screen-lg) {  // large desktop 1200px
	.icon-tout {
		.tout-item {
			&__wrapper {
				width: 15rem;
				height: 15rem;
			}
		}
	}
}