/**
  * Image Tout - Full Width - Two Column Text
  *
  * Two column text sections with a shared background image
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--two-up-tout.html.twig`
  *
*/

.image-tout {
	@include background-pattern('base', true, 1);

	.component__wrapper {
		color: #fff;
		padding: $padding-base-horizontal 0;
		position: relative;
		text-align: center;

		&.has__cta {
			padding-bottom: ($padding-large-horizontal * 4.5);
		}
	}

	.component__headline {
		font-family: $font-family-sans-serif;
		font-size: 1.5rem;
		font-weight: bold;
		text-shadow: 0 0 2px rgba(0,0,0,.6);
	}

	&__intro {
		text-align: center;
	}

	&__cta {
		position: absolute;
		bottom: ($padding-large-horizontal * 3.5);
		left: 50%;
		transform: translateX(-50%);
		text-align: center;
		width: 90%;

		> a {
			color: inherit;
			white-space: nowrap;
		}
	}

	.component__grid {
		margin: ($padding-base-horizontal * 2) 0;

		&.flickity-enabled {
			.flickity-page-dots {
				bottom: -($padding-large-horizontal * 4);
			}
		}
	}

	.tout-item {
		display: block;
		padding: $padding-large-vertical;
		width: 100%;

		&__wrapper {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-between;
			padding: ($padding-large-horizontal * 2) $padding-base-horizontal ($padding-base-horizontal * 2);
			text-align: center;
		}

		&__headline {
			color: $gray-med;
			font-weight: bold;
			font-size: 1.25rem;
			line-height: 1.25;
			margin-top: 0;
			width: 100%;
		}

		&__text {
			color: $gray;
			margin-bottom: 1.5rem;
			width: 100%;
		}

		&__link {
			color: $brand-secondary;
		}

		&__image {
			margin-bottom: $padding-base-horizontal;
			position: relative;

			> img {
				border-radius: 50%;
				height: 12.5rem;
				width: 12.5rem;
				object-fit: cover;
			}
		}

		&__badge {
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.375rem;
			font-weight: lighter;
			line-height: 1;
			min-width: 2.125em;
			position: absolute;
			top: 10%;
			right: $padding-base-vertical;
			z-index: 1;

			&::after {
				background-color: $brand-secondary;
				content: '';
				display: block;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				padding-bottom: 100%;
				transform: translate3d(0, -50%, 0);
				z-index: -1;
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.image-tout {
		.component__wrapper {
			padding-bottom: ($padding-base-horizontal * 2);

			&.has__cta {
				padding-bottom: ($padding-base-horizontal * 2);
			}
		}

		.component__grid {
			justify-content: center;
		}

		.component__headline {
			font-size: 2.375rem;
		}

		&__intro {
			max-width: $container-sm;
		}

		&__cta {
			margin-bottom: ($padding-large-vertical);
			position: static;
			transform: none;
			width: auto;

			> a {
				white-space: normal;
			}
		}

		.tout-item {
			display: flex;

			&__wrapper {
				padding-left: ($padding-large-horizontal * 2);
				padding-right: ($padding-large-horizontal * 2);
				width: 100%;
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.image-tout {
		.tout-item {
			max-width: 23.125rem;

			&__image {
				> img {
					height: 14.375rem;
					width: 14.375rem;
				}
			}
		}
	}
}