/**
  * Image Tout - Full Width
  *
  * Full width headline, subhead, and CTA overlaid on a background image.
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--one-up-tout.html.twig`
  *
*/

$onecol-icon-size: 9.375rem; // 150px;

.one-col {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.component__wrapper {
		padding-top: ($padding-base-horizontal * 2);
		padding-bottom: ($padding-large-horizontal * 3);
		text-align: center;
	}

	.component__headline {
		font-size: 1.75rem;
		line-height: 1.0714285714;
		line-height: calc(15/14);
		margin: 0 auto 1.25rem;
		font-weight: bold;

		&--image {
			color: inherit;
			margin-bottom: 1rem;

			> img {
				max-height: $onecol-icon-size;
				max-width: $onecol-icon-size;
				width: auto;
			}
		}
	}

	.component__subheading {
		max-width: 37.5rem;
		margin: 0 auto 1rem;
		font-weight: bold;
	}

	&.text--light {
		.component__headline, .component__subheading {
			text-shadow: 0 0 2px rgba(0,0,0,.6);
		}

		.arrow-circle-before {
			color: $yellow;
		}
	}

	&.text--dark {
		.component__headline, .component__subheading {
			text-shadow: 0 0 2px rgba(255,255,255,1);
		}

		.arrow-circle-before {
			color: $coral;
		}
	}
}

