/**
  * Image Tout - Two Column
  *
  * Two column tout with individual background images or colors
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--two-up-image-tout.html.twig`
  *
*/

$twocol-icon-size: 9.375rem; // 150px;

.two-col {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	.component__wrapper {
		text-align: center;
	}

	.grid__item {
		align-items: center;
		justify-content: center;
		text-align: center;

		&__wrapper {
			flex-direction: column;
			align-items: stretch;
			justify-content: flex-start;
			padding: ($padding-large-horizontal * 2) $padding-large-horizontal;
		}
	}

	&.bg__image {
		color: #fff;
	}

	&.bg__color {
		.bkgd--dark-blue {
			background-color: $indigo;
			color: #fff;
		}

		.bkgd--light-blue {
			background-color: $indigo;
			opacity: 0.9;
			color: #fff;
		}
	}

	.component__headline {
		font-size: 1.75rem;
		line-height: 1.0714285714;
		line-height: calc(15/14);
		margin: 0 auto 0.75rem;
		font-weight: bold;
		text-shadow: 0 0 2px rgba(0,0,0,.6);

		&--image {
			color: inherit;
			margin-bottom: 1rem;

			> img {
				max-height: $onecol-icon-size;
				max-width: $onecol-icon-size;
				width: auto;
			}
		}
	}

	.component__subheading {
		max-width: 37.5rem;
		margin: 0 auto 1.25rem;
		font-weight: bold;
		text-shadow: 0 0 2px rgba(0,0,0,.6);
	}

	&--image {
		.component__grid {
			height: 100%;
		}

		.grid__item {
			color: #fff;
			height: 100%;
			position: relative;

			&__wrapper {
				height: 100%;
				padding: 12.5% $padding-large-horizontal;
				padding: 12.5vh $padding-large-horizontal; // percentage padding fix for ff < 60
				position: relative;
				z-index: 1;
			}

			&__image {
				object-fit: cover;
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}
		}
	}

	.item--overlay {
		&::after {
			@include image-gradient-overlay();
			content: '';
			display: block;
			opacity: 0.25;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 0;
		}

		&.overlay_fifty,
		&.overlay--medium {
			&::after {
				opacity: 0.5;
			}
		}

		&.overlay_seventy,
		&.overlay--high {
			&::after {
				opacity: 0.7;
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.two-col {
		.grid__item {
			align-items: stretch;

			&__wrapper {
				width: 100%;
				max-width: 25rem;
			}
		}

		&--image {
			.component__grid {
				height: 100%;
				flex-wrap: nowrap;
				align-items: stretch;
			}

			.grid__item {
				height: auto;

				&__wrapper {
					height: 100%;
					padding: 16.67% $padding-large-horizontal;
					padding: calc(100vw / 6) $padding-large-horizontal;  // percentage padding fix for ff < 60
				}
			}
		}
	}
}


@media screen and (min-width: $screen-xxl) {  // xl desktop
	.two-col {
		&.bg__color {
			.component__grid {
				padding-left: $padding-base-horizontal;
				padding-right: $padding-base-horizontal;
			}
		}
	}
}