/**
  * Image Accordion
  *
  * Horizontally-expanding image content sections
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--image-tout-gallery.html.twig`
  *
*/

.gallery-tout {
	width: 100%;

	&__wrapper {
		display: flex;
		min-height: 20rem;
		align-items: stretch;
		justify-content: center;
		overflow: hidden;
	}

	.tout-item {
		background-color: $gray-lighter;
		cursor: ew-resize;
		display: flex;
		flex-wrap: wrap;
		flex-basis: 2rem;
		flex-grow: 1;
		flex-shrink: 1;
		transition: flex-basis 0.2s ease-out;
		transform: translateZ(0);
		width: 0;
		will-change: flex-basis;

		.tout-teaser {
			position: fixed;
			color: white;
			z-index: 1;
			line-height: 1.0;
			padding-left: 15px;
			padding-top: 15px;
		}


		&.active {
			.tout-teaser {
				display: none;
			}
		}

		&__wrapper {
			text-align: center;
			width: 100%;
		}

		&__content {
			opacity: 0;
			pointer-events: none;
			visibility: hidden;
			transition: opacity 0.15s $ease 0.3s;
		}

		&__image {
			height: 100%;
			width: 100%;
			margin: auto;
			position: relative;

			&::before {
				background-color: #000;
				content: '';
				display: block;
				opacity: 0.8;
				pointer-events: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			img {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				opacity: 0.65;
				object-fit: cover;
				will-change: opacity;
				transition: opacity 0.6s $ease;

				&:hover {
					opacity: 1;
					transition-duration: 0.3s;
				}
			}
		}

		&__callout {
			background-color: $brand-secondary;
			color: #fff;
			display: flex;
			flex-direction: column;
			font-size: 1rem;
			align-items: center;
			justify-content: center;
			border-radius: 50%;
			line-height: 1;
			height: 1.625rem;
			width: 1.625rem;
			opacity: 0;
			pointer-events: none;
			position: absolute;
			right: 0.5rem;
			top: 2.5%;
			transform: scale(0.8);
			transition: opacity 0.15s $ease, transform 0.3s $ease;
			z-index: 1;

			span {
				color: #fff;
			}
		}

		&__heading {
			color: $brand-secondary;
			font-size: 1.125rem;
			font-weight: bold;
			line-height: 1.3;
			margin: $padding-large-horizontal 0 0;
		}

		&__subheading {
			p {
				margin: $padding-base-vertical 0;
			}
		}

		&__cta {
			margin-top: $padding-large-horizontal;
		}

		&:focus {
			outline: 1px dotted $gray-light;
		}

		&:focus,
		&.active {
			cursor: default;
			flex-basis: 13.75rem;

			.tout-item {
				&__wrapper {
					padding: ($padding-base-horizontal * 3) ($padding-base-horizontal * 2);
				}

				&__image {
					height: 7.8125rem; // 125px
					width: 7.8125rem;

					&::before {
						opacity: 0;
					}

					img {
						border-radius: 50%;
						position: static;
						opacity: 1;

						@supports (filter: contrast(1)) {
							filter: contrast(1);
						}
					}
				}

				&__callout {
					opacity: 1;
					transform: scale(1);
				}

				&__content {
					opacity: 1;
					visibility: visible;
					max-height: none;
					max-width: none;
					pointer-events: auto;
				}
			}
		}
	}
}

.ie {
	.gallery-tout {
		.tout-item {
			min-height: 22.5rem;
			height: auto !important;
		}
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.gallery-tout {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;

		.tout-item {
			flex-basis: 8rem;

			&__callout {
				font-size: 1.3125rem;
				height: 2.5rem;
				width: 2.5rem;
			}

			&:focus,
			&.active {
				flex-basis: 30rem;

				.tout-item {
					&__image {
						height: 12.5rem; // 200px
						width: 12.5rem;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.gallery-tout {
		.tout-item {
			&__heading {
				font-size: 2.3125rem;
				line-height: 1.1;
				margin-bottom: $padding-base-vertical;
			}

			&__callout {
				height: 3.875rem;
				width: 3.875rem;
				font-size: 1.5625rem;
				font-weight: lighter;
				letter-spacing: -0.04375rem;
				right: 1rem;
				top: 1rem;
			}

			.tout-teaser {
				font-size: 1.5rem;
			}

			&:focus,
			&:focus-within,
			&.active {
				.tout-item {
					&__wrapper {
						padding: ($padding-large-horizontal * 3) ($padding-large-horizontal * 2);
					}

					&__image {
						height: 18.75rem; // 300px
						width: 18.75rem;
					}
				}
			}
		}
	}

	.ie {
		.gallery-tout {
			.tout-item {
				min-height: 30rem;
			}
		}
	}
}

@media screen and (min-width: $screen-lg) {  // lg desktop 1200
	.gallery-tout {
		.tout-item {
			&__callout {
				font-size: 2.25rem;
				right: 1.375rem;
			}

			&:focus,
			&.active {
				.tout-item {
					&__wrapper {
						padding: ($padding-large-horizontal * 4) ($padding-large-horizontal * 3);
					}

					&__image {
						height: 21.875rem; // 350px
						width: 21.875rem;
					}
				}
			}
		}
	}
}

@media screen and (min-width: $screen-xxl) {  // xl desktop
	.gallery-tout {
		max-width: $container-xxl;
		margin-left: auto;
		margin-right: auto;
		left: auto;
		right: auto;
		width: 100%;
	}
}
