/**
  * Containers and system styling
  *
*/


.loyola {
	&.scroll-lock {
		position: fixed;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	.toolbar-tray-open {
		&.toolbar-vertical.toolbar-fixed {
			margin-left: 0;
		}

		.loyola__main {
			position: relative;
			z-index: 0;
		}
	}
}

