/**
  * Form base styling
  *
*/

$formfield-height: 2.75rem;

// input field placeholders
::-webkit-input-placeholder {
	color: $placeholder-color;
	transition: color 0.15s $ease;
}
::placeholder {
	color: $placeholder-color;
	transition: color 0.15s $ease;
}
:-ms-input-placeholder,
::-ms-input-placeholder {
	color: $placeholder-color;
	transition: color 0.15s $ease;
}

// text fields
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="url"],
textarea {
	appearance: none;
}


// checkboxes
input[type="checkbox"] {
	appearance: none;

	&::before {
		content: '';
		cursor: pointer;
		background: transparent;
		background-position: center center;
		background-size: cover;
		border: 1px solid $gray-border-light;
		display: inline-block;
		vertical-align: baseline;
		height: 1.5rem;
		width: 1.5rem;
		transition: background 0.2s $ease, border 0.15s $ease;
	}

	&:hover {
		&::before {
			border-color: $brand-secondary;
		}
	}

	&:checked {
		&::before {
			background: $brand-secondary url("../images/checkbox.svg") no-repeat;
			border-color: $brand-secondary;
		}
	}
}


// radio buttons
input[type="radio"] {
	appearance: none;
	background: transparent;

	&::before {
		color: #fff;
		content: '';
		cursor: pointer;
		background: transparent;
		border: 1px solid $gray-border-light;
		border-radius: 50%;
		display: inline-block;
		font-size: 1.75rem;
		line-height: 1;
		height: 1.5rem;
		width: 1.5rem;
		transition: background 0.2s $ease, border 0.15s $ease;
	}

	&:hover {
		&::before {
			border-color: $brand-secondary;
		}
	}

	&:checked {
		&::before {
			background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 18%, $brand-secondary 24%);
			border-color: $brand-secondary;
		}
	}

	&:disabled {
		&::before {
			background: $gray-lighter;
			border-color: $gray-border;
		}
	}
}


// form wrappers
.form-control {
	border-color: $gray-border-light;
	box-shadow: none;

	&.form-email,
	&.form-text,
	&.form-password {
		height: $formfield-height;

		&:disabled {
			background-color: $gray-lighter;
			border-color: $gray-lighter;
		}
	}

	&.form-textarea {
		min-height: $formfield-height;
		max-height: 30rem;  // 480px

		&:disabled {
			background-color: $gray-lighter;
			border-color: $gray-lighter;
		}
	}

	&.required,
	&:required {
		background-repeat: no-repeat;
		background-position: 97% 0.8125rem;
		background-size: 1rem auto;
		border-color: $gray-border-light;
		box-shadow: none;
		transition: background 0.15s $ease, border 0.15s $ease;

		@supports (background-position: calc(100% - 0.75rem)) {
			background-position: calc(100% - 0.75rem) 0.8125rem;
		}
	}

	// input field placeholders
	&::-webkit-input-placeholder {
		color: $placeholder-color;
	}
	&::placeholder {
		color: $placeholder-color;
	}
	&:-ms-input-placeholder,
	&::-ms-input-placeholder {
		color: $placeholder-color;
	}

	&:required:valid:not([type="password"]) {  // valid entry
		background-image: url(../images/icon-input-valid.svg);
		border-color: $brand-success;
		box-shadow: none;
		padding-right: 2rem;
	}

	&:focus,
	&:active {
		border-color: $active-field-border;
		box-shadow: none;

		// input field placeholders
		&::-webkit-input-placeholder {
			color: #fff;
		}
		&::placeholder {
			color: #fff;
		}
		&:-ms-input-placeholder,
		&::-ms-input-placeholder {
			color: #fff;
		}
	}
}

// text groups
.form-type-textfield,
.form-type-textarea {

	.form-control {
		position: relative;
	}
}

// grouped inputs
.input-group {
	.form-control {
		border-radius: $border-radius-base;
		z-index: 0;
	}

	.input-group-btn {
		.btn {
			min-width: 3.25rem;
			padding: 9px 14px;

			&:hover {
				box-shadow: none;
			}
		}
	}

	.input-group-addon {
		position: relative;

		.icon {
			font-size: 0.75em;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}


// checkbox and radio groups
.checkbox,
.radio {
	color: $gray;
	font-family: $font-family-serif;
	font-size: 1rem;
	margin-top: 0.625rem;
	margin-bottom: 1rem;
	vertical-align: middle;
	transition: background 0.15s $ease;

	label {
		transition: color 0.15s $ease;
		padding-left: 2em;
		user-select: none;

		&:hover {
			color: inherit;
		}
	}

	input[type="radio"],
	input[type="checkbox"] {
		border: 0;
		margin: 0;

		&:focus,
		&:active {
			outline: 1px dotted $gray-lighter;
			outline-offset: 0;
		}

		&:disabled {
			color: $gray-light;
		}

		&:checked {
			color: $brand-secondary;

			+ label {
				color: $brand-secondary;
				font-weight: bold;
			}
		}
	}
}

.webform-options-display-side-by-side {
	> div {
		margin-right: 0;
	}

	.radio + .radio,
	.checkbox + .checkbox {
		margin-left: 1.3125rem;
		margin-right: 0;
		margin-top: 0.625rem;
	}
}


// select dropdowns
.select-wrapper {
	color: $gray-med;
	position: relative;

	.has-glyphicons & {
		&::after {
			content: '';
		}
	}

	&::after {
		border-top: 0.375em solid $brand-secondary;
		border-left: 0.375em solid transparent;
		border-right: 0.375em solid transparent;
		content: '';
		display: inline-block;
		font-weight: normal;
		margin-top: 0;
		padding: 0;
		pointer-events: none;
		position: absolute;
		right: 0.9375rem;
		top: 50%;
		height: 0;
		width: 0;
		transform: translateY(-50%);
	}

	> select {
		appearance: none;
		color: inherit;
		font-size: 1rem;
		height: $formfield-height;
		line-height: 1.75;
		padding: 0.5rem 2rem 0.5rem 1rem;

		&::-ms-expand {
			display: none;
		}

		&.form-select,
		&.form-control {
			background-color: transparent;
			border-color: $gray-light;
			box-shadow: none;

			&:focus,
			&:active {
				border-color: $active-field-border;
			}

			&:empty,
			&:required:valid,
			&:required:invalid:not(:empty) {
				background-color: transparent;
				border-color: $gray-light;
				box-shadow: none;
			}
		}
	}

	.chosen-container {
		background-color: #fff;
		height: 2.75rem;
		line-height: 1.75;
		width: 100% !important;

		.chosen-single {
			background: transparent;
			border: none;
			box-shadow: none;
			color: $gray-med;
			padding: 0;
			height: auto;
			line-height: inherit;

			span {
				margin-right: 0;
			}

			> div {
				display: none;
			}
		}

		.chosen-drop {
			border: 1px solid $gray-border-light;
			border-top: 0;
			position: absolute;
			left: 0;
			top: 100%;
			width: 100%;
			display: none;
			border-bottom-left-radius: $border-radius-base;
			border-bottom-right-radius: $border-radius-base;
			transition: border-color 0.15s $ease;

			.chosen-results {
				.active-result {
					list-style-type: none;

					&::before {
						content: none;
					}
				}
			}
		}

		&.chosen-container-active {
			border-color: $active-field-border;
		}

		&:focus-within {
			border-color: $active-field-border;
		}

		&.chosen-with-drop {
			.chosen-drop {
				display: block;
			}
		}
	}
}


// validation enabled on form focus
.validate {
	.form-control {
		// &:required.error,
		&:required:invalid:not(:placeholder-shown) {  // invalid entry but not empty
			background-image: url(../images/icon-input-error.svg);
			border-color: $red;
			box-shadow: none;
			color: $red;
			padding-right: 2rem;
		}
	}
}


.ie {  // IE 11
	.select-wrapper {
		> select {
			width: 100%;
		}
	}

	.validate {
		.form-control {
			&:required {
				background-size: 1rem 1rem;
				padding-right: 1.75rem;

				&:invalid {
					background-image: url(../images/icon-input-error.svg);
					border-color: $red;
					box-shadow: none;
					color: $red;
				}
			}
		}
	}
}

//  -----------------------------
//  Overrides
//  -----------------------------
.form-required {
	&::after {
		content: '*';
		background: transparent;
		color: $brand-secondary;
		display: inline-block;
		font-size: 1.25em;
		font-weight: normal;
		line-height: 1;
		vertical-align: baseline;
		height: auto;
		width: auto;
	}
}


//  -----------------------------
//  Webform base
//  -----------------------------
.webform-submission-form {
	.webform__wrapper {
		margin-top: ($padding-base-horizontal * 2);
		margin-bottom: ($padding-base-horizontal * 2);

		.form-actions {
			margin-top: $padding-large-horizontal;
			width: 100%;
			text-align: center;

			button {
				&:only-of-type {
					width: 100%;
				}
			}
		}

		.form-wrapper {
			border-bottom: 1px solid $gray-light;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: ($padding-base-horizontal * 2);
			margin-top: ($padding-base-horizontal * 2);
			padding: 0 0 ($padding-base-horizontal * 2);

			.form-item {
				width: 100%;
			}

			.webform-options-display-side-by-side,
			.webform-options-display-two-columns,
			.webform-options-display-three-columns {
				.form-item {
					margin-bottom: $padding-base-horizontal;

					&.checkbox,
					&.radio {
						label {
							width: 87%;
							width: calc(100% - 2em);
							overflow: hidden;
							text-overflow: ellipsis;
						}
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}

			.webform-options-display-two-columns,
			.webform-options-display-three-columns {
				display: flex;
				flex-wrap: wrap;
			}

			.webform-options-display-side-by-side {
				display: flex;
				flex-wrap: wrap;

				.checkbox + .checkbox,
				.radio + .radio {
					margin-left: 0;
				}

				.form-item {
					margin-right: $padding-base-horizontal;
				}
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-xs) {
	.webform-submission-form {
		.webform__wrapper {
			.form-wrapper {
				.webform-options-display-side-by-side,
				.webform-options-display-two-columns,
				.webform-options-display-three-columns {
					.form-item {
						margin-bottom: 0.375rem;
					}
				}

				.webform-options-display-side-by-side {
					justify-content: flex-start;

					.form-item {
						flex-basis: auto;
						flex-grow: 0;
						min-width: 9em;
						width: auto;
					}
				}

				.webform-options-display-two-columns,
				.webform-options-display-three-columns {
					columns: 2;

					.form-item {
						flex-basis: 48.25%;
						flex-basis: calc(50% - #{$padding-base-horizontal});
						flex-grow: 0;
					}
				}
			}
		}
	}
}


@media screen and (min-width: $screen-sm) {
	.webform-submission-form {
		.webform__wrapper {
			.form-item {
				display: block;
				width: 100%;
			}

			.form-wrapper {
				margin-bottom: $padding-large-horizontal;
				margin-top: $padding-large-horizontal;
				padding: $padding-large-vertical 0 $padding-large-horizontal;
				justify-content: space-between;

				.form-item {
					flex-shrink: 1;
					flex-grow: 1;
					flex-basis: 25%;

					+ .form-item:not(.form-type-radio):not(.form-type-checkbox) {
						padding-left: $padding-large-horizontal;
					}

					&:last-child {
						margin-bottom: $padding-base-horizontal;
					}
				}

				.webform-options-display-side-by-side,
				.webform-options-display-two-columns,
				.webform-options-display-three-columns {
					.form-item {
						margin-bottom: $padding-base-horizontal;

						&.checkbox,
						&.radio {
							label {
								width: auto;
								overflow: visible;
							}
						}
					}
				}


				.webform-options-display-three-columns {
					columns: 3;

					.form-item {
						flex-basis: 30%;
					}
				}

				&.form-actions {
					justify-content: center;
					padding-bottom: 0;
					border-bottom: 0;

					button {
						margin-right: 0;
						width: auto;

						+ button {
							margin-left: $padding-large-horizontal;
						}
					}
				}
			}
		}
	}
}