/**
  * Media base styling
  *
  *
*/


img {
	display: inline-block;
	max-width: 100%;
	object-fit: cover;
	height: auto;

	&[src$=".svg"] {
		width: 100%;
	}

	&.lazyload {
		@include spinner($gray-border-light, 1.5rem, 2px, 1);
		opacity: 0.4;
		transition: opacity 0.4s $ease;
		position: relative;

		&.loaded {
			opacity: 1;

			&::before {
				opacity: 0;
				visibility: hidden;
			}
		}
	}

	&.align-left,
	&.align-right {
		display: inline-block;
		margin-bottom: 0.75em;
		margin-top: 0.25em;
	}
	&.align-left {
		margin-right: $padding-large-horizontal;
	}
	&.align-right {
		margin-left: $padding-large-horizontal;
	}
}

svg {
	height: 100%;
	width: 100%;
	display: inline-block;
	margin: 0;
}