/**
  * Mixins and extends
  *
*/

// padding for locked widescreen aspect ratio
%ratio-widescreen {
	padding-bottom: 56.25%;
}

// padding for locked square aspect ratio
%ratio-square {
	padding-bottom: 100%;
}


// apply base horizontal padding
@mixin pad-x-base {
	padding-left: $padding-base-horizontal;
	padding-right: $padding-base-horizontal;
}

// apply large horizontal padding
@mixin pad-x-large {
	padding-left: $padding-large-horizontal;
	padding-right: $padding-large-horizontal;
}

// reset horizontal padding
@mixin pad-x-reset {
	padding-left: 0;
	padding-right: 0;
}

// set thin font antialiasing for supported browsers
@mixin font-alias-smooth {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// set default font aliasing for browsers
@mixin font-alias-default {
	-webkit-font-smoothing: auto;
	-moz-osx-font-smoothing: auto;
}

// hides text onscreen (keeps visible for screenreaders)
%hide-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

// overflow scroll for use in media queries
@mixin overflow-scroll {
	overflow: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

// prevent scroll from cascading to parent
@mixin overflow-scroll-contain {
	@supports(overscroll-behavior: contain) {
		overscroll-behavior-y: contain;
	}
}

// gradient overlay
@mixin image-gradient-overlay($start_fill_color: rgba(0, 0, 0, 0), $start_fill_offset: 0%, $end_fill_color: rgba(0, 0, 0, 1), $end_fill_offset: 90%) {
	background: rgba(0, 0, 0, 0.8);
	background: linear-gradient(
		to bottom,
		$start_fill_color $start_fill_offset,
		$end_fill_color $end_fill_offset
	);
}

// background image tile
//		** options **
// 		pattern: can be set to base ('base') or alternative ('alt')
//		tint: true or false for teal color overlay
//		alpha: opacity value defined from 0 to 1
@mixin background-pattern($pattern: 'base', $usetint: false, $alpha: 1) {
	$bkgd_teal: rgba(0, 174, 199, $alpha);

	@supports (mix-blend-mode: multiply) {
		background-image: url('../images/pattern-full.jpg');
		background-position: center;
		background-size: 500px;
		background-repeat: repeat;
		mix-blend-mode: multiply;
		position: relative;

		&::after {
			@if $usetint == true {
				background-color: $bkgd_teal;
			} @else {
				background-color: $gray-lighter;
			}
			opacity: $alpha;
			content: '';
			display: block;
			mix-blend-mode: screen;
			pointer-events: none;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
		}
	}

	@if $pattern == 'alt' and $usetint == true {
		background: $bkgd_teal url('../images/pattern-alt--teal.jpg') center / 500px repeat;
		@supports (mix-blend-mode: multiply) {
			background-color: $bkgd_teal;
			background-image: url('../images/pattern-alt.jpg');
			background-position: center;
			background-size: 500px;
			background-repeat: repeat;

			&::after {
				mix-blend-mode: multiply;
			}
		}
	} @else if $pattern == 'alt' and $usetint != true and $alpha != 1 {
		&::after {
			background: url('../images/pattern-alt.jpg') center / 500px repeat;
			opacity: $alpha;
		}
	} @else if $pattern == 'alt' and $usetint != true {
		&::after {
			background: url('../images/pattern-alt.jpg') center / 500px repeat;
			mix-blend-mode: multiply;
		}
	} @else if $usetint == true {
		background: $bkgd_teal url('../images/pattern-full--teal.jpg') center / 500px repeat;
		@supports (mix-blend-mode: multiply) {
			background-color: $bkgd_teal;
			background-image: url('../images/pattern-full.jpg');
			background-position: center;
			background-size: 500px;
			background-repeat: repeat;
			opacity: $alpha;

			&::after {
				mix-blend-mode: multiply;
			}
		}
	} else {
		&::after {
			background-image: url('../images/pattern-full.jpg');
			background-position: center;
			background-size: 500px;
			background-repeat: repeat;
			opacity: $alpha;
		}
	}
}

@mixin lhCrop($line-height) {
	&::before {
		content: '';
		display: block;
		height: 0;
		width: 0;
		margin-top: calc((1 - #{$line-height}) * 0.5em);
	}
}

// generates randomized background color
@mixin random-background-color() {
	$imgKey: random(3);
	$list: $gold, $teal, $brand-secondary;
	$nth: nth($list, $imgKey);
	background-color: $nth;
}

// lock media to aspect ratio
@mixin aspect-ratio($width, $height) {
	position: relative;

	&::before {
		display: block;
		content: "";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}

	> .content {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

// generate CSS loading icon
@mixin spinner($color: $gray-border-light, $size: 2rem, $border-width: 2px, $zidx: 0) {
	&::before {
		content: '';
		border-radius: 50%;
		border: $border-width solid transparent;
		border-top-color: $color;
		border-bottom-color: $color;
		pointer-events: none;
		position: absolute;
		z-index: $zidx;
		top: 50%;
		left: 50%;
		width: $size;
		height: $size;
		margin-top: -($size / 2);
		margin-left: -($size / 2);
		animation: spinner 0.8s $ease infinite;
	}
}

// adds 'drawn' underline hover on links (not intended for multi-line text)
@mixin textlink-underline {
    display: inline-block;
    position: relative;
    text-decoration: none;

    &::before {
        content: '';
        background-color: currentColor;
        display: block;
        position: absolute;
        bottom: 0;
        height: 1px;
        left: 0;
        width: 100%;
        transform: scaleX(0);
        transform-origin: left bottom;
        transition: transform 0.2s ease-out;
    }

	&:hover,
	&:focus {
        text-decoration: none;

        &::before {
            transform: scaleX(1);
        }
    }
}
