/**
  * Tables
  *
*/

.table,
table {
	border: none;
	border-color: $gray-light;

	th, td {
		border-color: $gray-light;
		font-size: 0.875rem;
		line-height: 1;
		padding: $table-cell-padding;
	}

	thead {
		color: #fff;

		tr {
			> th,
			> td {
				background-color: $brand-secondary;
				color: inherit;
				font-weight: normal;
				padding-left: 2.25em;
				padding-right: 2.25em;
				text-align: center;
			}
		}
	}

	tbody {
		tr {
			border: 1px solid $gray-light;
		}
	}

	&.striped {
		tbody {
			tr {
				&:nth-child(even) {
					> td {
						background-color: $gray-lighter;
					}
				}
			}
		}
	}
}

.field--item { // WYSIWYG container
	.table-responsive {  // responsive (scrolling) table inner wrapper
		border: none;
		-webkit-overflow-scrolling: touch;
		position: relative;
		z-index: 0;
	}

	.table--wrap {  // outer table wrapper (required for 'fade' effect)
		position: relative;
		width: 100%;
		overflow: hidden;

		&::after {
			content: '';
			display: block;
			background:linear-gradient(
				to right,
				rgba(255, 255, 255, 0) 0%,
				rgba(255, 255, 255, 0.5) 50%,
				rgba(255, 255, 255, 1) 90%
			);
			position: absolute;
			right: -$padding-base-vertical;
			top: 0;
			bottom: 0;
			width: $padding-large-horizontal;
			z-index: 1;
		}
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-md) {  // 992px
	.field--item {
		.table-responsive {
			width: auto;
		}
	}
}
