/**
  * Typography base styles
  *
*/

html,
body {
	@include font-alias-smooth;
	font-size: $font-size-base;
	scroll-behavior: smooth;

	::selection {
		background: $brand-secondary;
		color: #fff;
	}
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {  // primary headings
	font-family: $font-family-serif;
	font-weight: lighter;

	&.display {  // faith and glory display headings
		font-family: $font-family-script;
	}

	&.subhead {  // proxima nova subheadings
		font-family: $font-family-sans-serif;
		font-weight: bold;
	}

	a {
		color: inherit;
	}
}

h1, .h1 {
	font-size: 1.875rem;  // 30px
	line-height: 1.1666666667;
	line-height: calc(7/5);

	&.display {
		font-size: 2.5rem;  // 40px
		line-height: 1.35;

		span,
		i, em {
			font-family: $font-family-script-alt;
		}
	}

	&.subhead {
		font-size: 1.125rem;  // 18px
		line-height: 1.3333333333;
		line-height: calc(4/3);
	}
}

h2, .h2 {
	font-size: 1.625rem;  // 26px
	line-height: 1.0769230769;
	line-height: calc(14/13);

	&.display {
		font-family: $font-family-script;
		font-size: 5.375rem;  // 86px
		font-weight: normal;
		line-height: 1.1;
		text-transform: none;

		span, i, em {
			font-family: $font-family-script-alt;
			text-transform: uppercase;
		}
	}

	&.subhead {
		font-size: 1rem;  // 16px
		line-height: 1.75;
	}
}

h3, .h3 {
	font-size: 1.25rem;  // 20px
	line-height: 1.3;

	&.display {
		font-family: $font-family-script;
		font-size: 2.5rem;  // 40px
		font-weight: normal;
		line-height: 1.1;
		text-transform: none;

		span, i, em {
			font-family: $font-family-script-alt;
			text-transform: uppercase;
		}
	}

	&.subhead {
		font-size: 0.75rem;  // 12px
		line-height: 2;
	}
}

h4, .h4 {
	font-size: 1.125rem;  // 18px
	line-height: 1.2222222222;
	line-height: calc(11/9);
}

h5, .h5 {
	font-size: 1.0625rem;  // 17px
	line-height: 1.2222222222;
	line-height: calc(11/9);
}

h6, .h6 {
	font-size: 1rem;  // 16px
	line-height: 1.375;
}

hr {
	margin-top: ($padding-base-horizontal * 2);
	margin-bottom: ($padding-base-horizontal * 2);
}

p, li, dt, dd, td {
	font-family: $font-family-sans-serif;
	font-size: 1rem;

	&.serif {
		font-family: $font-family-serif;
	}
}

small {
	font-family: $font-family-sans-serif;

	&.serif {
		font-family: $font-family-serif;
	}
}

p {
	font-size: 1rem;  // 14px
	line-height: 1.375;
}

blockquote, q {
	color: $maroon;
	margin: 1.25rem 0;
	padding: 0;
	border-left: none;
	font-family: $font-family-serif;
	font-size: 1.5rem;
	font-style: normal;
	font-weight: normal;
	line-height: 1.75;
	position: relative;

	&::before {
		background-color: currentColor;
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 90%;
		height: calc(100% - 1.25em);
		width: 0.5rem;
	}

	p {
		color: inherit;
		font-family: inherit;
		font-size: inherit;
		font-style: italic;
		font-weight: inherit;
		margin-bottom: 0;
		margin-top: 0.75rem;
		line-height: inherit;
		padding-left: 1.5rem;
		padding-right: 0.75rem;
		transform: translateY(-0.5em);

		&:last-child {
			margin-top: 0;
		}
	}

	p > em,
	.cite,
	.quote-author {
		color: $gray;
		font-family: inherit;
		font-size: 0.875rem;
		font-style: normal;
	}
}

.field {  // WYSIWYG text styles
	&--item {
		ul,
		ol {
			list-style-type: none;
			margin: 1rem 0;
			padding: 0;

			li {
				line-height: 1.5625;
				padding-left: 0.875rem;
				position: relative;

				&::before {
					color: $red;
					content: '';
					display: inline-block;
					position: absolute;
					left: 0;
				}

				ul, ol {
					margin: 0.1875rem 0;
				}

				ol {
					counter-reset: sub_counter;

					> li {
						&::before {
							content: counter(sub_counter) '. ';
							counter-increment: sub_counter;
						}
					}
				}
			}
		}

		ul {
			> li {
				&::before {
					background-color: currentColor;
					border-radius: 50%;
					height: 0.25rem;
					width: 0.25rem;
					top: 0.625em;
				}
			}
		}

		ol {
			counter-reset: red_numbers;

			> li {
				&::before {
					content: counter(red_numbers) '. ';
					counter-increment: red_numbers;
					font-size: 0.75em;
					font-weight: bold;
					top: 0.3125em;
				}
			}
		}
	}
}



/* ---------------------------
	Special classes
--------------------------- */

.lead-in {  // lead-in paragraph style used in article intro component
	font-size: 1.125rem;  // 18px
	line-height: 2.1111111111;
	line-height: calc(38/18);
}

.call-out {
	font-size: 0.8125rem; // 13px;
	letter-spacing: 0.036em;
	line-height: 1.3076923077;
	line-height: calc(17/13);
	text-transform: uppercase;
	font-weight: bold;
}

.article-tag {
	background-color: $gray-lighter;
	border-radius: 2rem;
	color: $gray-dark;
	display: inline-block;
	font-size: 0.8125rem;
	line-height: 1;
	padding: $padding-base-vertical $padding-large-vertical;
	user-select: none;

	&.tag--link {
		color: $gray-dark;
		transition: color 0.15s $ease, background 0.15s $ease;

		&:hover {
			color: #fff;
			background-color: $brand-secondary;
		}
	}

	&.tag--square {
		background-color: transparent;
		border: 1px solid $gray-border;
		border-radius: $border-radius-small;
		color: $gray-base;
	}
}

//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-sm) {  // 768px
	h1, .h1 {
		font-size: 3.25rem;  // 52px
		line-height: 1.0769230769;
		line-height: calc(14/13);

		&.display {
			font-size: 6.5rem;  // 104px
			line-height: 1.0192307692;
			line-height: calc(53/52);
		}

		&.subhead {
			font-size: 1.375rem;  // 22px
			line-height: 1.1818181818;
			line-height: calc(13/11);
		}
	}

	h2, .h2 {
		font-size: 2.5rem;  // 40px
		line-height: 1.05;

		&.display {
			font-size: 7.875rem;  // 126px
		}
	}

	h3, .h3 {
		font-size: 1.875rem;  // 30px
		line-height: 1.1333333333;
		line-height: calc(17/15);

		&.display {
			font-size: 3.9375rem;  // 63px
		}
	}

	h4, .h4 {
		font-size: 1.5rem;  // 24px
		line-height: 1.25;
	}

	/* ---------------------------
		text styles
	--------------------------- */

	.lead-in {
		font-family: inherit;
		font-size: 1.375rem;  // 22px
		line-height: 1.3181818182;
		line-height: calc(29/22);
	}

	.article-tag {
		font-size: 0.6875rem;
		white-space: nowrap;
	}
}


@media screen and (min-width: $screen-md) {  // 992px
	.article-tag {
		font-size: 0.875rem;
	}
}