/**
  * News Card component
  *
  * Displays a featured news item alongside two stacked news item cards
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--news_card.html.twig`
  *
*/

.content-card--news {
	.component__wrapper {
		margin-top: ($padding-base-horizontal * 2);
		margin-bottom: ($padding-base-horizontal * 2);
		padding-top: 0;
		padding-bottom: 0;
	}

	.card-item {
		flex-direction: column;
		margin-bottom: $padding-base-horizontal;

		&__content {
			@include pad-x-large;
			padding-top: $padding-large-horizontal;
		}

		&__image {
			img {
				object-fit: cover;
				object-position: top center;
			}
		}

		&__headline {
			font-size: 1.6875rem;
			line-height: 1.1851851852;
			line-height: calc(32/27);

			h3 {
				color: $gray-dark;
				font-size: inherit;
				font-weight: lighter;
				line-height: inherit;
				margin-top: 0;
			}

			a {
				color: $gray-dark;

				&:hover {
					color: $brand-secondary;
				}
			}
		}

		&__meta {
			display: flex;
			flex-wrap: wrap;
		}

		&__date {
			font-family: $font-family-serif;
			width: 100%;
		}

		&__tags {
			margin-top: $padding-base-vertical;
		}

		&.card--noimage {
			border: 5px solid $gold;
			padding: $padding-base-horizontal $padding-base-horizontal $padding-large-horizontal;

			.card-item__content {
				padding: 0;
			}
		}
	}

	.article-tag {
		display: inline-block;
		margin-right: $padding-base-vertical;
		margin-top: $padding-base-vertical;
	}
}



//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.content-card--news {
		.component__grid {
			flex-basis: 100%;
			padding-left: 60%;
			position: relative;

			.card-item {
				flex-basis: 100%;
				padding: 0;
			}
		}

		.card-item {
			margin-bottom: ($padding-base-horizontal * 2);

			&:first-of-type,
			&:last-of-type {
				margin-bottom: 0;
			}

			&__image {
				border-bottom: 0;
				padding-bottom: 0;
				height: auto;
				position: relative;

				> a {
					display: block;
					height: 0;
					padding-bottom: 75%;
					position: relative;
				}

				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}

			&__headline {
				font-size: 1.375rem;
			}

			&__description {
				min-height: 3rem;

				p {
					&:empty {
						display: none;
					}
				}
			}

			&__content {
				background-color: #fff;
				border-top: 5px solid $gold;
				margin-top: -35%;
				width: 90%;
				position: relative;
				z-index: 1;
			}

			&__tags {
				margin-top: 0;
				margin-bottom: $padding-base-vertical;
			}

			&__date {
				margin-right: $padding-base-vertical;
				margin-bottom: $padding-base-vertical;
				width: auto;
			}

			&.featured {
				width: 55%;
				width: calc(60% - (#{$padding-base-horizontal} * 2));
				position: absolute;
				left: 0;
				top: 0;

				.card-item__headline {
					font-size: 1.875rem;
				}
			}

			&.card--noimage {
				.card-item__content {
					border: 0;
					padding: ($padding-base-horizontal * 2) $padding-base-horizontal;
					margin: 0;
					width: auto;
				}
			}
		}

		.article-tag {
			margin-top: 0;
		}

		@supports (display: grid) {
			.component__grid {
				display: grid;
				padding-left: 0;
				grid-gap: $padding-base-horizontal;
				grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));

				.card-item {
					flex-basis: auto;
					grid-row: auto;
					height: 100%;
					margin-bottom: 0;

					&__description {
						min-height: 0;
					}

					&__image {
						> a {
							padding-bottom: 100%;
						}
					}

					&.featured {
						grid-column: auto / span 2;
						grid-row: auto / span 2;
						width: auto;
						position: static;
					}
				}
			}
		}
	}

	.ie {
		.content-card--news {
			.component__grid {
				.card-item {
					flex-basis: 100%;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.content-card--news {
		.component__grid {
			flex-basis: 100%;
			align-items: flex-start;
			padding-bottom: 0;
			width: 100%;

			.card-item {
				padding: 0;

				&__headline {
					font-size: 1.875rem;
				}
			}

			.card-item {
				&__image {
					> a {
						padding-bottom: 66.7%;
						padding-bottom: calc(100% * 2/3);
					}
				}

				&.featured {
					position: absolute;
					flex-basis: 50%;

					.card-item__headline {
						font-size: 2.5rem;
						line-height: 1;
					}
				}
			}
		}

		@supports (display: grid) {
			.component__grid {
				display: grid;
				padding-left: 0;
				grid-gap: $padding-large-horizontal;
				grid-template-columns: repeat(auto-fill, minmax(25%, 1fr));

				.card-item {
					flex-basis: auto;
					grid-row: auto;
					height: 100%;

					&__image {
						> a {
							padding-bottom: 100%;
						}
					}

					&.featured {
						grid-column: auto / span 2;
						grid-row: auto / span 2;
						width: auto;
						position: static;
					}
				}
			}
		}
	}

	.ie {
		.content-card--news {
			.component__grid {
				.card-item {
					flex-basis: 100%;
				}
			}
		}
	}
}