/**
  * Content card component
  *
  * Displays one of two variations depending on content available:
  * ## If WYSIWYG text is entered, a vertical stack of cards two-across is displayed alongside the text.
  * ## Without WYSIWYG text, a horizontal list of cards is shown.
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--content-card-ctas.html.twig`
  *
*/

.content-card {
	position: relative;

	.component__background {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		z-index: -1;

		img {
			object-fit: cover;
			object-position: bottom center;
			width: 100%;
			height: 100%;
		}
	}

	.component__wrapper {
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 10%;
		padding-top: 10%;
		position: relative;
		z-index: 0;
	}

	.component__intro {
		.component__headline {
			color: $indigo;
			font-size: 1.75rem;
			margin-bottom: $padding-large-horizontal;
			line-height: 1.07;
		}

		.component__subheading {
			color: $gray-med;
			margin-bottom: ($padding-base-horizontal * 3);

			p, li, dt, dd {
				margin-bottom: $padding-large-horizontal;
			}

			a {
				color: $brand-secondary;

				&.arrow-circle-before,
				&.arrow-circle-after {
					color: $gray-med;

					&::before,
					&::after {
						color: $brand-secondary;
					}
				}

				&.arrow-angle-before,
				&.arrow-angle-after {
					color: $brand-secondary;
					font-weight: bold;
				}

				&:hover {
					color: $brand-primary;

					&.arrow-circle-before,
					&.arrow-circle-after {
						color: $brand-secondary;
					}
				}
			}
		}
	}

	.component__grid {
		flex-direction: column;
		width: 100%;
	}

	.card-item {
		background-color: transparent;
		display: flex;
		margin: 0;
		padding: 0 0 $padding-large-vertical;
		width: 100%;

		&__wrapper {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: center;
			justify-content: stretch;
			background-color: #fff;
			box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
			padding: $padding-large-horizontal ($padding-base-horizontal * 2);
			text-align: center;
			width: 100%;
		}

		&__headline {
			color: $indigo;
			font-family: $font-family-base;
			font-size: 1.25rem;
			font-weight: bold;
			line-height: 1.3;
			margin: 0;

			+ .card-item__subheading {
				margin-top: $padding-base-horizontal;
			}
		}

		&__subheading {
			color: $gray-base;
			margin: 0;

			+ .card-item__cta {
				margin-top: $padding-base-horizontal;
			}
		}

		&__cta {
			color: $brand-secondary;
		}
	}


	&.collapsed {
		@include background-pattern('base', false, 0.25);

		.component__wrapper {
			padding-top: ($padding-base-horizontal * 2);
			padding-bottom: ($padding-base-horizontal * 2);
		}

		.grid--nointro {
			padding-bottom: 0;
		}
	}

	&.text--light {
		.component__headline,
		.component__subheading {
			color: inherit;
		}

		.component__intro {

			.component__subheading {
				a {
					color: #fff;

					&.arrow-angle-before,
					&.arrow-angle-after,
					&.arrow-circle-before,
					&.arrow-circle-after {
						color: inherit;

						&::before,
						&::after {
							color: $gold;
						}
					}

					&:hover {
						color: $gold;
					}
				}
			}
		}

		.card-item {
			&__headline {
				color: $gold;
			}
		}
	}
}

.ie {
	.content-card {
		.card-item {
			&__wrapper {
				display: block;
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.content-card {
		.component__intro {
			.component__headline {
				font-size: 2.5rem;
				letter-spacing: -0.0625rem;
				line-height: 1;
			}
		}

		.component__grid {
			flex-direction: row;

			.card-item {
				flex-shrink: 1;
				flex-grow: 0;
				flex-basis: 50%;
				padding: 0 9px $padding-base-horizontal;

				&__wrapper {
					padding: ($padding-large-horizontal * 2) ($padding-base-horizontal * 2);
				}
			}

			&.grid--nointro {
				flex-grow: 1;
				flex-wrap: nowrap;
				justify-content: center;

				.card-item {
					flex-shrink: 1;
				}
			}
		}

		&.collapsed {
			.component__wrapper {
				padding-top: ($padding-base-horizontal * 3);
				padding-bottom: ($padding-base-horizontal * 2);
			}
		}
	}

	.ie {
		.component__grid {
			.card-item {
				flex-basis: 46.5%;
			}

			&.grid--nointro {
				.card-item {
					flex-basis: 22.75%;
				}
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.content-card {
		.component__wrapper {
			flex-wrap: nowrap;
			padding-bottom: 0;
		}

		.component__intro {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 42.5%;
			padding-right: ($padding-base-horizontal * 3);

			.component__headline {
				font-size: 3.25rem;
			}
		}

		.component__grid {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: 57.5%;
			flex-wrap: wrap;
			justify-content: flex-end;
			padding-bottom: 10%;

			&.grid--fullwidth {
				flex-grow: 1;
			}

			.card-item {
				flex-grow: 0;
			}
		}

		&.collapsed {
			.component__wrapper {
				padding-top: ($padding-large-horizontal * 3);
				padding-bottom: ($padding-base-horizontal * 3);
			}
		}
	}
}