/**
  * Content Tout with Image
  *
  * Formerly named Content Card/Tout with Image component
  * Displays a text block overlaid and staggered on top of a large image
  *
  * Template:
  * `<theme>/templates/paragraphs/paragraph--content-card-with-focal-image.html.twig`
  *
*/

.content-card--focal-image {
	.component__wrapper {
		background-color: $gray-lighter;
		border-top: 7px solid currentColor;
		color: inherit;
	}

	.component__headline {
		color: inherit;
		font-size: 1.875rem;
		font-weight: lighter;
		letter-spacing: 0.0125em;
		line-height: 1.07;
		margin: 0 0 0.75rem;
	}

	.component__subheading {
		color: $gray-dark;
		font-size: 0.875rem;
		line-height: 1.4285714286;
		line-height: calc(10/7);
		margin-bottom: 1.25rem;

		> * {
			font-size: inherit;
		}
	}

	.content-card {
		&__text {
			background-color: #fff;
			border-bottom: 7px solid currentColor;
			margin: -1.5rem 1.5rem 0 0;
			padding: ($padding-large-vertical * 2.5);
			padding-bottom: ($padding-large-horizontal * 2);
			position: relative;
			z-index: 1;
			transform: translateY(-2rem);

			a {
				color: $gray-med;

				&::before,
				&::after {
					color: $gold
				}
			}
		}

		&__image {
			border-bottom: 7px solid currentColor;
			z-index: 0;

			.image-wrap {
				height: 0;
				padding-bottom: 56.25%;
				position: relative;

				> img {
					position: absolute;
					top: 0;
					left: 0;
					height: 100%;
					width: 100%;
				}

				&::before {
					background: linear-gradient(
						to bottom,
						rgba(0, 0, 0, 0) 0%,
						rgba(0, 0, 0, 0.5) 100%
					);
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					height: 50%;
					left: 0;
					width: 100%;
				}
			}
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------
@media screen and (min-width: $screen-sm) {  // 768px
	.content-card--focal-image {
		.component__wrapper {
			display: flex;
			align-items: flex-start;
		}

		+ .content-card--focal-image {
			.component__wrapper {
				border-bottom: 7px solid currentColor;
			}
		}

		.component__headline {
			font-size: 2rem;
		}

		.component__subheading,
		.component__cta {
			padding-left: 0.5rem;
		}

		.content-card {
			&__text {
				flex-grow: 0;
				flex-shrink: 1;
				flex-basis: 37.5%;
				margin: 0 0 0 -7.5vw;
				max-width: 31.25rem;
				padding: ($padding-large-horizontal * 2);
				transform: none;
			}

			&__image {
				align-self: stretch;
				flex-grow: 0;
				flex-shrink: 1;
				flex-basis: 62.5%;
				border-bottom: 0;

				.image-wrap {
					height: 0;
					padding-bottom: 75%;

					&::before {
						background: linear-gradient(
							to right,
							rgba(0, 0, 0, 0) 0%,
							rgba(0, 0, 0, 0.25) 65%
						);
						top: 0;
						height: 100%;
					}
				}
			}
		}

		&.content--right-align {
			.component__wrapper {
				flex-direction: row-reverse;
			}

			.content-card {
				&__text {
					margin: 0 -7.5vw 0 0;
				}

				&__image {
					&::before {
						background: linear-gradient(
							to left,
							rgba(0, 0, 0, 0) 0%,
							rgba(0, 0, 0, 0.25) 65%
						);
					}
				}
			}
		}
	}
}

@media screen and (min-width: $screen-md) {  // med desktop 992
	.content-card--focal-image {
		.component__headline {
			font-size: 2.5rem;
		}

		.content-card {
			&__text {
				padding-top: ($padding-large-horizontal * 3);
				padding-bottom: ($padding-large-horizontal * 3);
			}
		}
	}
}

@media screen and (min-width: $screen-lg) {  // large desktop 1200px
	.content-card--focal-image {
		.component__headline {
			font-size: 3.25rem;
			line-height: 1.0769230769;
			line-height: calc(14/13);
		}

		.component__subheading,
		.component__cta {
			font-size: 1rem;
		}

		.content-card {
			&__text {
				margin-left: -5rem;
				padding: ($padding-large-horizontal * 4) ($padding-large-horizontal * 3);
			}
		}
	}
}

@media screen and (min-width: $screen-xxl) {  // xl desktop
	.content-card--focal-image {
		.component__wrapper {
			background-color: transparent;
			max-width: $container-xxl;
			margin-left: auto;
			margin-right: auto;
		}

		.content-card {
			&__text {
				box-shadow: 2px 4px 22px 0 rgba(20, 20, 20, 0.12);
			}
		}
	}
}