{#
/**
 * @file
 * Bootstrap theme implementation for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the textarea element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @ingroup templates
 *
 * @see template_preprocess_textarea()
 */
#}
{%
	set classes = [
		'form-textarea',
		'form-control',
		resizable ? 'resize-' ~ resizable,
		required ? 'required',
	]
%}
<div{{ wrapper_attributes.addClass('form-textarea-wrapper') }}>
	<textarea{{ attributes.addClass(classes) }}>{{ value }}</textarea>
</div>
