{# NOTE: this template expects an opening div in page.html.twig for sidebar structure #}

{# Assign sidebar items with block machine names #}
{%- set nav_block = 'mainnavigation_2' -%}
{%- set linkList = content.field_popular_destinations -%}
{%-
	set classes = [
		'content--' ~ node.bundle|clean_class,
		node.isPromoted() ? 'is-promoted',
		node.isSticky() ? 'is-sticky',
		not node.isPublished() ? 'is-unpublished',
		view_mode ? view_mode|clean_class,
		'loyola__content',
		'program__main',
	]
-%}
<div class="program__secondary has-gutter gutter--left gutter--right container">
	<aside class="sidebar sidebar--left sidebar--programs">
		<div class="region region-sidebar-first">
		{{ render_block(nav_block) }}
		</div>
	</aside>

	<article{{ attributes.addClass(classes) }}>
		<h1>{{ node.title.value }}</h1>
		{{ content.body }}
	</article>
	{%- if linkList.0 -%}
	<aside class="sidebar program__sidebar sidebar--right">
		<div class="sidebar__menu">
			<nav>
				<h2 class="sidebar__block__title">Popular Destinations</h2>
				<ul class="sidebar__block__content">
				{%- if linkList.0['#title'] -%}
					{%- for item in linkList -%}
						{%- if item['#title'] -%}
					<li><a href="{{ item['#url'] }}" class="serif arrow-angle-after">{{ item['#title'] }}</a></li>
						{%- endif -%}
					{%- endfor -%}
				{%- endif -%}
				</ul>
			</nav>
		</div>
	</aside>
	{%- endif -%}
</div><!-- .program__secondary -->

</div><!-- .region -->

<div class="program__components">
{%- for key, item in content.field_components if key|first != '#' -%}
	{{ item }}
{%- endfor -%}
</div><!-- .program__components -->

