{#
	Event detail content type
#}
{%-
	set classes = [
		node.bundle|clean_class,
		node.isPromoted() ? 'is-promoted',
		node.isSticky() ? 'is-sticky',
		not node.isPublished() ? 'is-unpublished',
		view_mode ? view_mode|clean_class,
		'event-item',
	]
-%}
{# assign events sidebar block machine names #}
{%- set sidebar_items = { 'upcoming_events' : 'views_block__upcoming_events_block_1', 'social_share' : 'social_sharing_block' } -%}
<article{{ attributes.addClass(classes) }}>
	<div class="event-item__wrapper container">
	{% include '@loyola/partials/event-detail.html.twig' with sidebar_items %}
	</div>
</article>
