{#
	Landing page content type
#}
{%
	set classes = [
		node.bundle|clean_class,
		node.isPromoted() ? 'is-promoted',
		node.isSticky() ? 'is-sticky',
		not node.isPublished() ? 'is-unpublished',
		view_mode ? view_mode|clean_class,
		'clearfix',
	]
%}
<article{{ attributes.addClass(classes) }}>
	{{ title_prefix }}
	{% if not page %}
		<h2{{ title_attributes }}>
			<a href="{{ url }}" rel="bookmark">{{ label }}</a>
		</h2>
	{% endif %}
	{{ title_suffix }}

	{% if display_submitted and is_admin %}
		<footer class="article__details container">
			{{ author_picture }}
			<div{{ author_attributes.addClass('author') }}>
				{% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
				{{ metadata }}
			</div>
		</footer>
	{% endif %}

	<div{{ content_attributes.addClass('content') }}>
		{{ content }}
	</div>

</article>
