{#
	News article content type
	** Requires layout regions 'primary' and 'secondary' defined in content type
#}
{%-
	set classes = [
		node.bundle|clean_class,
		node.isPromoted() ? 'is-promoted',
		node.isSticky() ? 'is-sticky',
		not node.isPublished() ? 'is-unpublished',
		view_mode ? view_mode|clean_class,
		'news-item',
	]
-%}
{# assign related news block machine name #}
{%- set sidebar_items = { 'news_block' : 'views_block__related_news_block_2', 'social_share' : 'social_sharing_block' } -%}

{%- set primary = content.group_news_primary -%}
{%- set secondary = content.group_news_secondary -%}
	{%- set image = primary.field_featured_image -%}
	{%- set author_url = '/user/' ~ node.getOwnerId() -%}
	{%- set news_types = content.field_news_type -%}
<article{{ attributes.addClass(classes) }}>
	{{ image }}
	{% include '@loyola/system/breadcrumb.html.twig' %}
	<div class="news-item__wrapper container">
	{% include '@loyola/partials/news-detail.html.twig' with sidebar_items %}
	</div>
</article>
