/**
  * Sidebar base styles
  *
*/

.sidebar {
	&__block {
		.sidebar__block__title {
			margin-top: 0;
			color: $brand-secondary;
			font-size: 1.875rem;
			line-height: 1.166;
			line-height: calc(7/6);
		}

		.field {
			p, li, td, dt, dd {
				> a {
					color: $brand-danger;
					display: inline-block;
					font-family: $font-family-serif;
					font-weight: bold;

					&::after {
						content: '\f105';
						display: inline-block;
						font-family: $icon-font-name;
						font-size: 1em;
						font-weight: normal;
						padding-left: 0.3125em;
						transition: transform 0.15s $ease;
					}

					&:hover {
						color: $brand-primary;

						&::after {
							transform: translateX(2px);
						}
					}
				}
			}
		}
	}

	nav {
		h2 {
			&::after {
				content: '\f107';
				display: inline-block;
				vertical-align: middle;
				font-family: $icon-font-name;
				font-weight: normal;
				margin: -0.125em 0 0 0.25em;
				transform-origin: center center;
				transition: transform 0.2s $ease;
				user-select: none;
			}
		}

		&.menu-active {
			h2 {
				&::after {
					transform: rotate(-180deg);
				}
			}
		}
	}

	.region {
		margin-bottom: ($padding-large-horizontal * 2);

		> nav,
		> section {
			margin-bottom: ($padding-large-horizontal * 2);
		}

		// default sidebar nav
		nav:not(.sidebar__menu) {
			background-color: $gray-lighter;
			overflow: hidden;

			h2,
			.sidebar__block__title {
				background-color: $gold;
				border-radius: $border-radius-xsmall;
				color: $gray-dark;
				cursor: pointer;
				font-size: 1rem;
				font-family: $font-family-sans-serif;
				font-weight: bold;
				line-height: 1;
				text-align: center;
				text-transform: capitalize;
				margin: 0;
				padding: $padding-base-horizontal;
				position: relative;
				user-select: none;

				&.visually-hidden {  // force menu title visibility
					position: static !important;
					clip: none;
					height: auto;
					width: auto;
				}
			}

			.sidebar__block__link {  // disable anchor link for mobile toggle
				pointer-events: none;
			}

			.menu {
				list-style: none;
				height: auto;
				max-height: 0;
				margin: 0;
				opacity: 0;
				overflow: hidden;
				transition: opacity 0.25s $ease, transform 0.15s $ease;
				width: 100%;

				.dropdown-menu {
					background-color: transparent;
					border: none;
					border-radius: 0;
					box-shadow: none;
					float: none;
					list-style-type: none;
					min-width: 0;
					margin: 0;
					padding: 0;
					position: static;

					ul {
						padding-left: $padding-large-vertical;
					}
				}

				.dropdown-wrap {
					width: auto;
				}

				.navlevel--0 {
					float: none;
					margin-bottom: 0.75rem;

					.parent--anchor {
						color: $gray-dark;
						display: block;
						font-weight: bold;
						margin: 0;
						padding: $padding-large-vertical;

						.menu-link-icon {
							display: none;
						}
					}

					&.active-item {
						.parent--anchor {
							color: $gray-border;
							padding-left: $padding-base-horizontal;
							position: relative;
						}
					}
				}

				.navlevel--1 {
					color: $gray-dark;
					margin: 0;
					padding: 0;

					.secondary--link {
						color: inherit;
						display: block;
						padding: $padding-large-vertical $padding-large-horizontal;

						.menu-link-icon {
							display: none;
						}

						&:hover {
							color: inherit;
							text-decoration: underline;
						}
					}


					&.active-item {
						color: $brand-secondary;
						font-weight: bold;

						> .secondary--link {
							position: relative;

							&::before {
								content: '\f105';
								display: inline-block;
								font-family: $icon-font-name;
								position: absolute;
								left: $padding-large-vertical;
								line-height: 1;
								top: 50%;
								transform: translateY(-50%);
							}
						}
					}
				}

				// program content type only
				.navlevel--2 {
					.tertiary--link {
						color: $gray-base;
						display: block;
						font-size: 0.875rem;
						letter-spacing: 0.025em;
						line-height: 1;
						padding: $padding-base-vertical $padding-large-horizontal;
						position: relative;

						&::before {
							content: '\2013';
							display: inline-block;
							left: $padding-large-vertical;
							line-height: 1;
							padding-right: 0.1875em;
						}

						&:hover {
							color: $gray-darker;
							text-decoration: underline;
						}
					}
				}
			}

			// active mobile page menu
			&.menu-active {
				border-bottom-left-radius: $border-radius-xsmall;
				border-bottom-right-radius: $border-radius-xsmall;
				border-bottom: 1px solid $gray-light;
				position: relative;
				z-index: 0;

				&::after {  // overflow scroll gradient
					content: '';
					background-image: linear-gradient(
						to bottom,
						rgba(247, 247, 247, 0.05) 0%,
						rgba(247, 247, 247, 0.9) 85%,
						rgba(247, 247, 247, 1) 95%
					);
					border-bottom-left-radius: $border-radius-xsmall;
					border-bottom-right-radius: $border-radius-xsmall;
					display: block;
					overflow: hidden;
					pointer-events: none;
					position: absolute;
					left: 1px;
					width: calc(100% - 2px);
					height: $padding-large-horizontal * 2;
					z-index: 1;
					bottom: 0;
				}

				h2,
				.sidebar__block__title {
					border-bottom-left-radius: 0;
					border-bottom-right-radius: 0;
					margin-bottom: 0;
				}

				.sidebar__block__content {
					@include overflow-scroll;
					@include overflow-scroll-contain;
					border-bottom-left-radius: $border-radius-xsmall;
					border-bottom-right-radius: $border-radius-xsmall;
					max-height: 55vmax;
					position: relative;
					z-index: 0;
				}

				.menu {
					border: 1px solid $gray-light;
					border-bottom-left-radius: 3px;
					border-bottom-right-radius: 3px;
					border-top: 0;
					padding: $padding-base-horizontal $padding-base-horizontal ($padding-base-horizontal * 2);
					opacity: 1;
					max-height: none;
					position: relative;
					backface-visibility: hidden;

					.dropdown-menu {
						display: block;
						list-style-type: none;
						padding: 0;
						border: 0;
						max-height: none;
					}
				}
			}

			// mobile page menu toggled by keyboard
			&:focus-within {
				position: relative;
				z-index: 0;

				&::after {  // overflow scroll gradient
					content: '';
					background-image: linear-gradient(
						to bottom,
						rgba(247, 247, 247, 0.05) 0%,
						rgba(247, 247, 247, 0.9) 85%,
						rgba(247, 247, 247, 1) 95%
					);
					display: block;
					pointer-events: none;
					position: absolute;
					left: 1px;
					width: calc(100% - 2px);
					height: $padding-large-horizontal * 2;
					z-index: 1;
					bottom: 0;
				}

				.sidebar__block__content {
					@include overflow-scroll;
					max-height: 55vmax;
					position: relative;
					z-index: 0;

					@supports(overscroll-behavior-y: contain) {
						overscroll-behavior-y: contain;
					}
				}

				.menu {
					border: 1px solid $gray-light;
					border-top: 0;
					border-bottom-left-radius: $border-radius-xsmall;
					border-bottom-right-radius: $border-radius-xsmall;
					padding: $padding-base-horizontal $padding-base-horizontal ($padding-base-horizontal * 2);
					opacity: 1;
					max-height: none;
					position: relative;
					backface-visibility: hidden;

					.dropdown-menu {
						display: block;
						list-style-type: none;
						padding: 0;
						border: 0;
						max-height: none;
					}
				}
			}
		}
	}
}

.ie {
	.sidebar {
		.region {
			nav:not(.sidebar__menu) {
				> nav,
				> .nav,
				> .menu {
					-ms-scroll-chaining: none;
				}
			}
		}
	}
}


// -----------------------------
//  Breakpoints
// -----------------------------

@media screen and (min-width: $screen-xs) {  // 480px
	.sidebar {
		.region {
			nav:not(.sidebar__menu) {
				&.menu-active {
					&::after {
						height: 7.5%;
					}
				}
			}
		}
	}
}


@media screen and (min-width: $screen-sm) {  // 768px
	.sidebar {
		&__block {
			.sidebar__block__title {
				background-color: $brand-primary;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				padding: $padding-base-horizontal;
				font-family: $font-family-base;
				font-size: 0.875rem;
				font-weight: bold;
				line-height: 1;
				margin: 0;
			}

			.sidebar__block__content {
				border: 1px solid $gray-light;
				border-top: 0;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				padding: $padding-base-horizontal;
			}
		}
	}
}


@media screen and (min-width: $screen-md) {  // med desktop 992
	.sidebar {
		.region {
			margin-bottom: $padding-base-horizontal;

			nav:not(.sidebar__menu) {
				border: 1px solid $gray-light;
				border-radius: $border-radius-small;
				max-height: none;

				h2,
				.sidebar__block__title {  // hidden from view on desktop
					background-color: transparent;
					border-radius: 0;
					border-bottom: 1px solid $gray-light;
					cursor: default;
					font-family: $font-family-serif;
					font-size: 1.2875rem;
					padding: $padding-base-horizontal $padding-large-vertical;
					text-align: left;
					text-transform: capitalize;
				}

				.sidebar__block__link {
					@include textlink-underline;
					pointer-events: all;

					&:focus,
					&:hover {
						color: $brand-secondary;
					}
				}

				.menu {
					border-radius: inherit;
					border-color: transparent;
					padding: 0;
					max-height: none;
					opacity: 1;
					overflow: visible;

					.navlevel--0 {  // primary level
						border-top: 1px solid $gray-light;
						font-size: 0.875rem;
						font-weight: bold;
						line-height: inherit;
						margin-bottom: 0;
						text-transform: uppercase;

						&:first-child {
							border-top: 0;
						}

						.parent--anchor {
							color: $gray-dark;
							letter-spacing: 0.025em;
							line-height: 1;
							padding: $padding-large-vertical;
							transition: color 0.15s $ease, background-color 0.15s $ease;

							.menu-link-text {
								display: inline-block;
								vertical-align: middle;
							}

							&:focus {
								outline: 1px dotted $gray-border-light;
							}
						}

						.dropdown-menu {  // secondary level
							display: block;
							padding: 0;
							margin: 0;
							max-height: 0;
							list-style-type: none;
							opacity: 0;
							pointer-events: none;
							transition: max-height 0.15s $quick, opacity 0.2s $quick;

							.dropdown-wrap {
								padding: 0;
							}

							> .active {
								a {
									background-color: transparent;
								}
							}
						}

						&.dropdown {
							.parent--anchor {
								padding-right: $padding-large-horizontal;

								&::after {
									content: '\f107';
									border: 0;
									color: $gray-border;
									font-family: $icon-font-name;
									height: auto;
									width: auto;
									transition: transform 0.2s $ease;
									transform-origin: center center;
									position: absolute;
									right: 0.5rem;
									top: 50%;
									display: inline-block;
									transform: translateY(-50%);
								}
							}

							&:focus {
								outline: 1px dotted $gray-border-light;
							}

							&.active-item {
								> .dropdown-menu {
									background-color: lighten($gray-light, 2.5%);
									max-height: none;
									padding-bottom: $padding-large-vertical;
									opacity: 1;
									pointer-events: all;
								}
							}
						}

						&:hover {
							> a {
								color: $brand-secondary;
							}
						}

						&.dropdown-open {
							> a {
								color: $gray-darker;
							}
						}

						&:focus,
						&.focus-nav,
						&.dropdown-open {
							.parent--anchor {
								&::after,
								.caret {
									transform: translateY(-50%) rotate(-180deg);
								}
							}

							> .dropdown-menu {
								max-height: none;
								padding-bottom: $padding-large-vertical;
								position: static;
								pointer-events: all;
								opacity: 1;
							}

							&.active-item {
								> a {
									color: $gray-dark;
								}
							}
						}

						&:focus-within {
							.parent--anchor {
								color: $brand-secondary;

								&::after,
								.caret {
									transform: translateY(-50%) rotate(-180deg);
								}
							}

							> .dropdown-menu {
								max-height: 24rem;
								padding-bottom: $padding-large-vertical;
								position: static;
								pointer-events: all;
								opacity: 1;
							}


							&.active-item {
								> a {
									color: $gray-dark;
								}
							}
						}

						&.active-item {
							.parent--anchor {
								background-color: $gold;
								color: $gray-dark;
								pointer-events: none;
								position: relative;

								&::after {
									content: none;
									color: inherit;
									transform: translateY(-50%) rotate(180deg);
								}
							}
						}
					}

					.navlevel--1 {
						border: none;
						font-size: 0.875rem;
						font-weight: normal;
						text-transform: none;

						.secondary--link {
							color: $gray-base;
							letter-spacing: 0.03125em;
							padding: $padding-base-vertical ($padding-base-horizontal * 2);
							position: relative;

							.caret {
								display: none;
							}

							> .dropdown-menu {
								display: none;
								visibility: hidden;
							}

							&:hover {
								background-color: transparent;
								color: $gray-dark;
								text-decoration: underline;
							}

							&:focus {
								color: $gray-dark;
								outline: 1px dotted $gray-border-light;
								background-color: transparent;
								text-decoration: underline;
							}
						}

						&.open,
						&.focus-nav {
							background-color: transparent;
							font-weight: normal;

							.secondary--link {
								background-color: transparent;
								position: relative;

								&::before {
									content: '';
									left: $padding-base-horizontal;
									background-color: $brand-secondary;
									border-radius: 50%;
									margin-top: -0.05625rem;
									height: 0.3125rem;
									width: 0.3125rem;
								}
							}
						}

						&:hover {
							.secondary--link {
								background-color: transparent;
							}
						}
					}

					.navlevel--2 {
						visibility: hidden;

						.tertiary--link {
							color: $gray-base;
							font-size: 0.875rem;
							letter-spacing: 0.02875em;
						}
					}
				}

				&:focus-within {
					.menu {
						border: none;
						padding: 0;
					}

					.sidebar__menucontent {
						max-height: none;
						overflow: visible;
						position: static;
					}

					&::after {
						content: none;
					}
				}
			}
		}

		nav {
			h2 {
				&::after {
					content: none;
				}
			}
		}
	}
}


@media screen and (min-width: $screen-lg) {  // lg desktop 1200
	.sidebar {
		.region {
			nav:not(.sidebar__menu) {
				h2,
				.sidebar__block__title {
					padding-left: $padding-base-horizontal;
					padding-right: $padding-base-horizontal;
				}

				.menu {
					.navlevel--0 {
						.parent--anchor {
							padding-left: $padding-base-horizontal;
							padding-right: $padding-base-horizontal;
						}
					}
				}
			}
		}
	}
}