/**
  * Sidebar List block
  * @parent `_sidebar.scss`
  *
  * Template reference:
  * `<themeroot>/templates/block/block--populardestinations.html.twig
  *
*/

.sidebar__menu {
	overflow: hidden;

	.sidebar__block__title {
		background-color: $brand-primary;
		border-radius: $border-radius-xsmall;
		color: #fff;
		cursor: pointer;
		font-size: 1rem;
		font-family: $font-family-sans-serif;
		font-weight: bold;
		text-align: center;
		margin: 0;
		padding: $padding-base-horizontal;
		position: relative;
		user-select: none;
	}

	.menu {
		> li {
			font-family: $font-family-serif;
			line-height: 1.4;

			+ li {
				margin-top: 1em;
			}

			> a {
				color: $gray-med;
				font-family: inherit;
				padding: 0;

				&:hover {
					background-color: transparent;
				}
			}
		}
	}

	.sidebar__block__content {
		display: block;
		height: auto;
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		transition: opacity 0.25s $ease, transform 0.15s $ease;
	}

	nav.menu-active {
		.sidebar__block__content {
			border: 1px solid $gray-light;
			border-top: 0;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			padding: $padding-base-horizontal;
			max-height: 100vh;
			opacity: 1;
		}
	}
}


//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-sm) {  // 768px
	.sidebar__menu {
		overflow: visible;

		.sidebar__block__title {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
			cursor: default;
			pointer-events: none;
			text-align: left;
			user-select: auto;

			&::after {
				content: none;
			}
		}

		.menu {
			> li {
				font-size: 0.875rem;
				font-weight: bold;
				line-height: 1.7142857143;
				line-height: calc(12/7);

				+ li {
					margin-top: 0;
				}

				> a {
					&::after {
						content: '\f105';
						display: inline-block;
						font-family: $icon-font-name;
						font-size: 1em;
						font-weight: normal;
						padding-left: 0.3125em;
						transition: transform 0.15s $ease;
					}

					&:hover {
						background-color: transparent;
						color: $brand-primary;

						&::after {
							transform: translateX(2px);
						}
					}
				}
			}
		}

		.sidebar__block__content {
			display: block;
			border: 1px solid $gray-light;
			border-top: 0;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			height: auto;
			max-height: none;
			opacity: 1;
			overflow: visible;
			padding: $padding-base-horizontal;
			transform: none;
			transition: none;
		}
	}
}
