/**
  * Sidebar News & Events blocks
  * @parent `_sidebar.scss`
  *
*/

.block[class*="block-views-blockrelated"],
.block[class*="block-views-blockupcoming"] {
	font-size: 0.875rem;
	margin: $padding-large-horizontal 0;
	padding: 0;
	width: 100%;

	.block-title {
		background-color: $brand-primary;
		color: #fff;
		border-top-left-radius: $border-radius-small;
		border-top-right-radius: $border-radius-small;
		font-family: $font-family-base;
		font-size: 1rem;
		font-weight: bold;
		line-height: 1;
		margin: 0;
		padding: $padding-large-vertical $padding-large-horizontal;
	}

	.form-group {
		border: 1px solid $gray-light;
		border-top: 0;
		border-bottom-left-radius: $border-radius-small;
		border-bottom-right-radius: $border-radius-small;
		padding: 0;
	}

	.views-row {
		color: $gray-base;
		display: flex;
		padding: $padding-base-horizontal $padding-large-horizontal $padding-base-vertical;
		flex-wrap: wrap;

		+ .views-row {
			border-top: 1px solid $gray-light;
			margin-top: $padding-base-vertical;
		}

		.views-field {
			color: inherit;
			flex-shrink: 1;

			a {
				color: inherit;

				&:hover {
					color: $brand-secondary;
				}
			}
		}

		.views-field-created {
			float: left;
			font-size: 0.75rem;
			font-weight: bold;
			padding-right: 0.25rem;
			text-transform: uppercase;
			white-space: nowrap;

			&::after {
				content: '|';
				display: inline-block;
				padding-left: 0.375em;
			}
		}

		.views-field-field-event-start-date {
			flex-grow: 0;
			flex-shrink: 1;
			font-size: 0.75rem;
			font-weight: bold;
			padding-bottom: 0.25rem;
			text-transform: uppercase;
			white-space: nowrap;

			&::after {
				content: '|';
				display: inline-block;
				padding-left: 0.375em;
			}
		}

		.views-field-field-news-type {
			display: flex;
			flex-basis: calc(100% - 9ch);
			flex-grow: 1;
			flex-shrink: 0;
			font-size: 0.75rem;
			font-weight: bold;
			text-transform: uppercase;
			margin-bottom: 0.25rem;
			position: relative;
		}

		.views-field-field-featured-image {
			float: left;
			max-width: 32.5%;

			a {
				display: inline-block;
			}

			img {
				padding-right: $padding-large-vertical;
				margin-bottom: $padding-large-vertical;
			}

			&:empty {
				display: none;
			}
		}

		.views-field-title {
			flex-basis: 66%;
			flex-grow: 1;
			font-size: 0.8125rem;
			font-weight: bold;
			line-height: 1.33;
			margin-top: 0;
			width: 100%;
		}
	}

	.more-link {
		border: 0;
		border-top: 1px solid $gray-light;
		color: $gray-border;
		font-size: 0.625rem;
		font-weight: bold;
		margin-bottom: 0;
		padding: 0;
		text-align: center;
		text-transform: uppercase;

		a {
			color: inherit;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: inherit;
			line-height: 1;
			padding: $padding-large-vertical;
			position: relative;
			transition: background 0.15s $ease;

			&::after {
				content: '\f105';
				font-family: $icon-font-name;
				display: block;
				font-size: 0.875em;
				opacity: 0;
				pointer-events: none;
				transform: translate3d(0, -0.05625rem, 0);
				transition: opacity 0.15s $ease, transform 0.25s $ease;
			}

			&:hover {
				background-color: $gray-lighter;

				&::after {
					opacity: 1;
					transform: translate3d(0.375rem, -0.05625rem, 0);
				}
			}
		}
	}

	.view-empty {
		padding: $padding-large-vertical $padding-large-horizontal;

		p {
			color: $gray-border;
			margin: 0;
			font-size: inherit;
			text-align: center;
		}
	}

	.article-tag {
		margin-right: 0.25rem;
		margin-bottom: $padding-large-vertical;

		&:only-child {
			margin-bottom: $padding-base-vertical;
		}
	}

	.view-upcoming-events,
	.view-related-events {
		.views-row {
			align-items: center;
			padding-bottom: $padding-base-horizontal;

			+ .views-row {
				border-top: 1px solid $gray-light;
				margin-top: 0;
			}
		}

		.views-field {
			&.views-field-field-event-start-date {
				background-color: $gold;
				color: $brand-primary;
				padding: 0;
				height: 3rem;
				width: 3rem;

				&::after {
					content: none;
				}

				.field-content {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					font-family: $font-family-serif;
					line-height: 1;
					height: 100%;
				}

				.event-date {
					&__month {
						font-weight: normal;
					}

					&__day {
						font-size: 1.5rem;
					}
				}
			}

			&.views-field-title {
				font-size: 1rem;
				font-weight: normal;
				padding-left: 0.5rem;
			}
		}
	}
}



//  -----------------------------
//  Breakpoints
//  -----------------------------
