/**
  * Sidebar Expert Guide block
  * @parent `_sidebar.scss`
  *
  * Template reference:
  * `<themeroot>/templates/block/block--expertguide.html.twig`
  *
*/

.sidebar__expert-guide {
	display: none;

	h2,
	.sidebar__block__title {
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		color: #fff;
		font-family: $font-family-base;
		font-size: 0.875rem;
		font-weight: bold;
		line-height: 1;
		margin: 0;
		position: relative;

		&::before {
			content: '\f005';
			font-family: $icon-font-name;
			padding-right: 0.5em;
		}
	}

	.field--name-body {
		border: 1px solid $gray-light;
		border-top: 0;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}
}



//  -----------------------------
//  Breakpoints
//  -----------------------------

@media screen and (min-width: $screen-md) {  // med desktop 992
	.sidebar__expert-guide {
		@include pad-x-base;
		display: block;

		h2,
		.sidebar__block__title {
			padding: $padding-base-horizontal;
			background-color: $brand-secondary;
		}

		.field--name-body {
			padding: $padding-base-horizontal;
		}
	}
}
