{%- set heading_id = attributes.id ~ '-menu'|clean_id -%}
{%- set parent_level = drupal_token('current-page:url:args:first')|replace({'-': ' ', '_': ' '})|lower -%}
<nav aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }}>
	{# Label. If not displayed, we still provide it for screen readers. #}
	{% if not configuration.label_display %}
		{% set title_attributes = title_attributes.addClass('visually-hidden') %}
	{% endif %}
	{{ title_prefix }}
	<h2{{ title_attributes.setAttribute('id', heading_id).addClass('sidebar__block__title') }}><a class="sidebar__block__link" href="/{{ drupal_token('current-page:url:args:first') }}">{{ parent_level|capitalize }}</a></h2>
	{{ title_suffix }}
	{# Menu. #}
	{% block content %}
	{{ content }}
	{% endblock %}
</nav>
