{%- set heading_id = attributes.id ~ '-menu'|clean_id -%}
{%- set parent_level = drupal_token('current-page:url:args:first')|replace({'-': ' ', '_': ' '})|lower -%}
<nav aria-labelledby="{{ heading_id }}"{{ attributes|without('role', 'aria-labelledby') }}>
	<h2 class="sidebar__block__title"><a class="sidebar__block__link" href="/{{ parent_level }}">{{ parent_level|capitalize }}</a></h2>
	{# Menu. #}
	<div class="sidebar__block__content">
	{% block content %}
	{{ content }}
	{% endblock %}
	</div>
</nav>
