{% extends "block--bare.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup templates
 */
#}
{% block content %}
	{% if site_logo %}
		<a class="logo navbar-btn" href="{{ path('<front>') }}" title="{{ site_name ? site_name ~ ' Home' : 'Loyola University New Orleans Home'|t }}" rel="home">
			<img src="{{ site_logo }}" alt="{{ site_name ? site_name : 'Loyola University New Orleans logo' | t }}" height="80">
		{# {% include '@loyola/partials/logo.html.twig' %} #}
		</a>
	{% endif %}
	{% if site_name %}
		<a class="name navbar-brand" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">{{ site_name }}</a>
	{% endif %}
	{% if site_slogan %}
		<p class="navbar-text">{{ site_slogan }}</p>
	{% endif %}
{% endblock %}
