{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup templates
 */
#}
{% import _self as menus %}

{#
	We call a macro which calls itself to render the full tree.
	@see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
	{% import _self as menus %}
	{% if items %}
		{% if menu_level == 0 %}
			<ul{{ attributes.addClass('menu', 'nav', 'navbar-nav') }}>
		{% elseif menu_level == 1 %}
			<div class="menu dropdown-menu">
				<ul class="dropdown-wrap container">
		{% else %}
			<div class="menu dropdown-menu">
				<ul class="overflow-wrap">
		{% endif %}
		{% for item in items %}
			{%
				set item_classes = [
					item.is_expanded ? 'dropdown',
					item.is_expanded and menu_level == 0 ? 'dropdown--main',
					item.in_active_trail ? 'active-item open',
					'navlevel--' ~ menu_level,
				]
			%}
			{% if menu_level == 0 and item.is_expanded %}
				<li{{ item.attributes.addClass(item_classes) }}>
				<a href="{{ item.url }}" class="parent--anchor"><span class="menu-link-text">{{ item.title }}</span> <span class="menu-link-icon caret"></span></a>
			{% elseif menu_level == 0 %}
				<li{{ item.attributes.addClass(item_classes) }}>
				<a href="{{ item.url }}" class="parent--anchor">{{ item.title }}</a>
			{% elseif menu_level == 1 and item.is_expanded %}
				<li{{ item.attributes.addClass(item_classes) }}>
				<a href="{{ item.url }}" class="secondary--anchor secondary--link"><span class="menu-link-text">{{ item.title }}</span> <span class="menu-link-icon caret"></span></a>
			{% else %}
				<li{{ item.attributes.addClass(item_classes) }}>
				<a href="{{ item.url }}" class="secondary--link"><span class="menu-link-text">{{ item.title }}</span></a>
			{% endif %}
			{% if item.below %}
				{{ menus.menu_links(item.below, attributes.removeClass('nav', 'navbar-nav'), menu_level + 1) }}
			{% endif %}
			</li>
		{% endfor %}
		{% if menu_level != 0 %}
				</ul>
			</div>
		{% else %}
			</ul>
		{% endif %}
	{% endif %}
{% endmacro %}
